@charset "utf-8";

/********************************************************************************/
/* _layout.scss
/********************************************************************************/
/* common */
// body {
// 	overflow-x: hidden;
// 	overflow-y: auto;
// 	&.no-scr {
// 		overflow-y: hidden;
// 	}
// }
.div-abs {
	position: absolute;
}
.div-wrap {
	position: relative; 
	width: 100%; 
	min-width: 1200px; 
	text-align: center; 
	margin: 0 auto;
}
.div-cont {
	position: relative; 
	max-width: 100%; 
	min-width: 100%; 
	text-align: left; 
	margin: 0 auto;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
i {
	font-style: normal;
}
.break {
	display: block;
}

/* content */
#container-wrap {
	position: relative; 
	padding-left: 220px; 
	background: #fff;
	z-index: 56;
	&:after {
		content: ""; 
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 220px;
		height: 100%;
		background: #555;
		z-index: -1;
	}
}

/* side-wrap */
#side-wrap {
	position: fixed; 
	left: 0; 
	top: 0; 
	bottom: 0; 
	display: block; 
	width: 220px; 
	height: 100%; 
	background: #555;
	box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.3);
	z-index: 900;
	.logo {
		width: auto; 
		padding: 20px; 
		text-align: center; 
		//border-right: 1px solid #cecece; 
		background: #fff; 
		// box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
		a {
			display: block;
		}
		img {
			max-width: 70%;
		}
	}
	.info {
		display: block; 
 		padding: 15px;
		text-align: center; 
		color: #fff;
		font-size: 15px;
		font-weight: 300;
		line-height: 110%;
		background: #222;
		& > span {
			position: relative;
			display: inline-block; 
			letter-spacing: -0.03em;
			&:after {
				content: ""; 
				position: absolute;
				left: -30px;
				top: 50%;
				display: block;
				width: 22px;
				height: 22px;
				margin-top: -11px; 
				border-radius: 100%;
				background: rgba(0,0,0,0.2) url(../img/layout/project-icon.png) no-repeat center center;
			}
		}
		.logout-btn {  
			display: block; 
			width: 80%;
			margin: 15px auto 0;
			border: 1px solid rgba(255,255,255,0.1);
			background: #1e1e1e;
			transition: background .3s border-color .3s;
			&:hover {
				border: 1px solid rgba(255,255,255,0.2);
				background: #2e2e2e;
			}
			span {
				display: block;
				padding: 8px 0;
				color: #fff;
				font-size: 12px;
				font-weight: 300;
				letter-spacing: -0.03em;
				line-height: 110%;
			}
		}
	}
}

#contents {
	position: relative;
	display: block;
	min-height: 830px; 
	font-size: 14px; 
	letter-spacing: -0.03em;
	word-break: keep-all;
	word-wrap: break-word;
	padding: 45px 60px 65px 60px;
	z-index: 1001;
}

.cont-top {
	position: relative; 
	height: 50px;
	.cont-tit {
		h2 {
			display: block;
			padding-left: 20px;
			color: #111;
			font-size: 22px;
			letter-spacing: -0.03em;
			line-height: 110%;
			font-weight: 700;
			background: url(../img/layout/blt-tit01.jpg) no-repeat 0 1px;
		}
	}
}

/* footer */
#footer-wrap {
	position: fixed;
	bottom: 0;
	left: 220px;
	right: 0;
	display: block; 
	background: #3c3c3c;
	z-index: 56;
	p {
		text-align: right; 
		padding: 10px 60px; 
		color: #aaa; 
		font-size: 11px;
	}
}