@charset "utf-8";

/********************************************************************************/
/* _leftmenuWizard7.scss
/********************************************************************************/
/* leftmenu : wizard7 custom; */
.leftmenu {
	position: relative;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 3;
	nav {
		& > div {
			& > ul {
				position: relative;
				text-align: left;
				line-height: 130%;
				&:after {
					content: "";
					display: block;
					clear: both;
				}
				& > li {
					position: relative;
					vertical-align: top;
					& > a {
						position: relative;
						display: block;
						padding: 14px 14px 14px 24px;
						color: rgba(255,255,255,0.8);
						font-size: 15px;
						font-weight: 300;
						letter-spacing: -0.03em;
						border-bottom: 1px solid rgba(0,0,0,0.1);
						z-index: 1;
						&:hover {
							text-decoration: underline;
						}
					}
					&._menuOn {
						& > a {
							color: #fff;
							background: #333;
						}
					}
					&.has-sub {
						& > a {
							&:before,
							&:after {
								position: absolute;
								display: block; 
								content: "";
								width: 11px;
								height: 11px;
								background: #aaa;
							}
							&:before { 
								height: 1px; 
								right: 15px; 
								top: 22px;
							}
							&:after {
								width: 1px;  
								right: 20px; 
								top: 17px;
							}
						}
						&._menuOn {
							& > a {
								color: #fff;
								background: #333;
								&:before,
								&:after {
									background: #fff;
								}
								&:after {
									display: none;
								}
							}
							& > div {
								& > ul {
									display: block;
								}
							}
						}
					}
					& > div {
						& > ul {
							display: none;
							height: 100%;
							padding: 12px 20px;
							font-size: 14px;
							border-bottom: 0px solid #ddd;
							background: #f2f2f2;
							& > li {
								& > a {
									position: relative;
									display: block;
									padding: 4px 5px 4px 15px;
									font-size: 14px;
									font-weight: 400;
									word-break: keep-all;
									&:after {
										content: "-";
										position: absolute;
										left: 5px;
										top: 50%;
										display: block;
										width: 5px;
										height: 5px;
										margin-top: -4px;
										color: #666;
										font-size: 11px;
										line-height: 10px;
									}
									&:hover {
										color: #20b05a;
									}
									&._active {
										color: #333;
										&:hover {
											color: #20b05a;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}