@charset "utf-8";

/********************************************************************************/
/* _leftmenu.scss
/********************************************************************************/
.leftmenu {
	position: relative;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 3;
}
.leftmenu ul {position:relative;line-height:130%;text-align:left;}
.leftmenu ul:after {clear:both;content:"";display:block;}
.leftmenu ul li {}
.leftmenu ul.depth1 {}
.leftmenu ul .lm_l1 {position:relative;vertical-align:top;}
.leftmenu ul .lm_a1 {transition:background .3s;border-bottom:1px solid rgba(0,0,0,0.1);letter-spacing:-0.03em;display:block;z-index:1;font-weight:300;font-size:15px;background-repeat:repeat;padding:14px 14px 14px 18px;}
.leftmenu ul .over .lm_a1{} 
.leftmenu ul .has-sub.is-open .lm_a1 .isMask {background-position:center 25px;}
.leftmenu ul .has-sub.is-close.is-open .lm_a1 .isMask {background-position:center 25px;}
.leftmenu ul .over .lm_a1{background:#1e5fc9; color:#fff; font-weight:300}
.leftmenu ul .is-open .lm_a1{background:#333; color:#fff; font-weight:300}
.leftmenu ul .has-sub .lm_a1 .isMask{ position:absolute; right:15px; width:13px; height:13px; }
.leftmenu ul .has-sub .lm_a1 .isMask:before{display:block; content:"";width:13px; height:1px; position:absolute; left:0; top:6px;background:#aaa;}
.leftmenu ul .has-sub .lm_a1 .isMask:after{display:block; content:"";width:1px; height:13px; position:absolute; left:6px; top:0;background:#aaa;}
.leftmenu ul .has-sub.is-open .lm_a1 .isMask:before, .leftmenu ul .has-sub.is-open .lm_a1 .isMask:after{background:#fff}
.leftmenu ul .has-sub.is-open .lm_a1 .isMask:after{display:none;}

.leftmenu ul .lm_a1 span.isTxt {color:rgba(255,255,255,0.8);position:relative;z-index:20;position:relative;}
.leftmenu ul .over .lm_a1 span.isTxt, .leftmenu ul .is-open .lm_a1 span.isTxt{color:#fff}
.leftmenu ul .lm_a1 span.sico-nwin {display:block;position:absolute;right:5px;top:1.2em;z-index:30;width:15px;height:15px;background:url(/_Img/Common/sicon_nwin_g.gif) no-repeat center center;overflow:hidden;}
.leftmenu ul .lm_a1:hover span.isTxt {text-decoration:underline;}
.leftmenu ul .over .lm_a1 {background:#20b05a /* url(/_Img/Layout/lm-ico.png) no-repeat 92% center; */}
.leftmenu ul .over.has-sub.is-close .lm_a1 .isMask {background-position:-100px 0;} 
.leftmenu ul .over.has-sub.is-close.is-open .lm_a1 .isMask {background-position:0 5px;}
.leftmenu ul .lm_l1.over.has-sub .isMask {display:none}

.leftmenu ul .over .lm_a1 span.isTxt {color:#fff; font-weight:300}
.leftmenu ul .over .lm_a1 span.sico-nwin {background-image:url(/_Img/Common/sicon_nwin_w.gif)}

.leftmenu ul .over .depth2 {display:block;}
.leftmenu ul.depth2 {display:none;height:100%;background:#f2f2f2; padding:12px 20px;font-size:14px;border-bottom:0px solid #ddd;}
.leftmenu ul .lm_a2 {display:block;width:100%;word-break:keep-all;font-weight:400;}
.leftmenu ul .lm_a2 span.isTxt {padding:2px 5px 2px 15px;display:block; position:relative; font-size:14px;}
.leftmenu ul .lm_a2 span.isTxt:after{display:block; content:"-"; font-size:11px;color:#666; position:absolute; left:5px;top:50%;margin-top:-6px;width:5px; line-height:10px;  height:5px;}
.leftmenu .depth2 .over .lm_a2 span.isText:after{color:#20b05a}

.leftmenu .depth2 .over .lm_a2, .leftmenu .depth2 .lm_a2:hover, .leftmenu .depth2 .lm_a2:focus, .leftmenu .depth2 .lm_a2:active  {}
.leftmenu .depth2 .over .lm_a2 span, .leftmenu ul .lm_a2:hover span, .leftmenu ul .lm_a2:focus span, .leftmenu ul .lm_a2:active span{ font-weight:400;color:#20b05a}