@charset "utf-8";

/********************************************************************************/
/* _styleDefault.scss
/********************************************************************************/
/*반응형 추가*/
i {font-style: normal;}

.break {display: block;}/*  데스크탑 : block -> 모바일화면 : inline*/
.plump {}	/*  데스크탑 : 속성없음 -> 모바일화면 : block */
.block {display: block;}	/*  데스크탑 : block -> 모바일화면 : block */
@media all and (max-width:480px) {
	.break {display: inline;}
	.plump {display: block;}
	.block {display: block;}
}
@media all and (max-width:1024px) {
	.m-none {display: none}
}

/* 스킵네비게이션 */
#skipNavi {
	height: 0;
	.skipLink {
		position: absolute;
		overflow: hidden;
		top: -1000px;
		left: -1000px;
		z-index: 5000;
		&:focus,
		&:active {
			top: 0;
			left: 0;
			padding: 10px 20px;
			color: #fff;
			background: #1e64ba;
		}
	}
}


/* 컨텐츠 타이틀*/
.u-tit01 {
	margin-bottom: 15px;
	color: #111;
	font-size: 28px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: -0.03em;
}
.u-tit02 {
	margin-bottom: 12px;
	padding-left: 20px;
	color: #111;
	font-size: 18px;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: -0.03em;
	background: url(../img/content/u-tit02.jpg) no-repeat 0 5px;
}
.u-tit03 {
	margin-bottom: 5px;
	padding-left: 12px;
	color: #111;
	font-size: 15px;
	font-weight: 500;
	line-height: 130%;
	background: url(../img/content/u-tit03.jpg) no-repeat 0 0.38em;
}
.u-tit04 {
	margin-bottom: 5px;
	padding-left: 12px;
	color: #111;
	font-size: 1em;
	font-weight: 400;
	line-height: 130%;
}
.siteCode-name {
	margin-bottom: 6px;
	color: #111;
	font-weight: 400;
	font-size: 19px;
	letter-spacing: -0.04em;
}
.c-in1 {
	padding-left: 17px;
}
.c-in2 {
	padding-left: 34px;
}
.c-in3 {
	padding-left: 51px;
}
.no-icon {
	padding-left: 0;
	background: none;
}

/* 탭메뉴 */
// .u-tab01 {
// 	position: relative; 
// 	overflow: hidden; 
// 	margin-bottom: 30px; 
// 	font-size: 14px; 
// 	border-left: 1px solid #dadada;
// 	ul{
// 		text-align: center;
// 		font-size: 0;
// 		letter-spacing: -1px;	
// 	}
// 	li {
// 		float: left;
// 		font-size: 14px;
// 		letter-spacing: -0.03em;
// 		a {
// 			display: block; 
// 			text-align: center; 
// 			line-height: 48px; 
// 			border: solid #dadada; 
// 			border-width: 1px 1px 1px 0; 
// 			background: #fff; 
// 			transform: all .5s ease; 
// 			transition: background .3s, border-color .3s;
// 			span {
// 				display: block;
// 				padding: 0 16px; 
// 				text-align: center; 
// 				color: #333;
// 				white-space: nowrap; 
// 				overflow: hidden; 
// 				text-overflow: ellipsis; 
// 			}
// 		}
// 		&.first-row {
// 			a {
// 				border-top: 1px solid #dadada; 
// 			}
// 		}
// 		&:hover {
// 			a {
// 				background: #eee;
// 			}
// 		}
// 		&.over {
// 			a {
// 				margin-top: 0;
// 				border-color: #f65b3f;
// 				background: #f65b3f;
// 				span {
// 					color: #fff; 
// 					font-weight: 500; 
// 					text-decoration: none; 
// 				}
// 			}
// 		}
// 	}
// }
// @media only screen and (max-width:1024px) {
// 	.u-tab01 {
// 		li {
// 			a {
// 				line-height: 48px; 
// 				border-top: 0;
// 			}
// 		}
// 	}
// }

// .u-tab02 {
// 	height: 40px;
// 	padding: 0 0;
// 	margin-bottom: 25px;
// 	border-bottom: 1px solid #ddd;
// 	background: #fff;
// 	&:after {
// 		clear: both;
// 		content: "";
// 		display: block;
// 	}
// 	li {
// 		float: left;
// 		display: inline-block;
// 		vertical-align: top;
// 		*display: inline;
// 		*zoom: 1;
// 		a {
// 			display: block;
// 			padding: 0px 0px 5px 0px;
// 			color: #353e49;
// 			background: url(../img/content/ctab02-vbar.gif) no-repeat 0 15px;
// 			span {
// 				display: block;
// 				height: 15px;
// 				padding: 10px 20px 23px 20px;
// 			}
// 			&:hover {
// 				span {
// 					color: #028f95;
// 					text-decoration: underline;
// 				}
// 			}
// 		}
// 		&:first-child {
// 			a {
// 				background: none;
// 			}
// 		}
// 		&.over {
// 			a {
// 				span {
// 					color: #028f95;
// 					font-weight: 600;
// 					background: url(../img/content/ctab02-bar.png) no-repeat center 40px;
// 				}
// 			}
// 		}
// 	}
// }

// .u-tab03 {
// 	position: relative;
// 	margin-bottom: 30px;
// 	border: 1px solid #ddd;
// 	ul {
// 		overflow: hidden;
// 		margin-top: 1px;
// 		padding: 10px 15px 10px 15px;
// 		background: #f9f9f9;
// 	}
// 	li {
// 		float: left;
// 		a {
// 			display: block;
// 			padding: 5px 15px 4px;
// 			text-align: center;
// 			background: url(../img/content/ctab03-vbar.gif) no-repeat right 7px;
// 			span {
// 				padding-right: 18px;
// 				font-weight: 500;
// 				background: url(../img/content/blt-ctab03.gif) no-repeat right 9px;
// 			}
// 		}
// 		&.over,
// 		&:hover,
// 		&:focus,
// 		&:active {
// 			a {
// 				span {
// 					color: #028f95;
// 					text-decoration: underline;
// 					background: url(../img/content/blt-ctab03-o.gif) no-repeat right 7px;
// 				}
// 			}
// 		}
// 	}
// }

// .u-tab04 {
// 	position: relative;
// 	overflow: hidden;
// 	margin-bottom: 25px;
// 	font-size: 14px;
// 	ul {
// 		overflow: hidden;
// 		text-align: left;
// 		font-size: 0;
// 		letter-spacing: -1px;
// 	}
// 	li {
// 		float: left;
// 		font-size: 14px;
// 		letter-spacing: -0.03em;
// 		a {
// 			display: block;
// 			height: 20px;
// 			padding: 7px 0 7px 0;
// 			text-align: center;
// 			border: solid #dadada;
// 			border-width: 1px 1px 1px 0;
// 			background: #fff;
// 			transform: all .5s ease;
// 			transition: background .3s, border-color .3s;
// 			span {
// 				display: block;
// 				padding: 0 36px;
// 				color: #191931;
// 			}
// 		}
// 		&.first-row {
// 			a {
// 				padding-top: 13px;
// 				border-top: 1px solid #cfd7d7;
// 			}
// 		}
// 		&:hover {
// 			a {
// 				background: #eee;
// 			}
// 		}
// 		&.over {
// 			a {
// 				margin-top: 0;
// 				color: #fff;
// 				border-color: #191931;
// 				background: #191931;
// 				span {
// 					color: #fff;
// 					font-weight: 500;
// 					text-decoration: none;
// 				}
// 			}
// 		}
// 		&:first-child {
// 			a {
// 				border-left: 1px solid #dadada;
// 			}
// 			&.over {
// 				a {
// 					border-left: 1px solid #191931;
// 				}
// 			}
// 		}
// 	}
// }
// @media only screen and (max-width:1024px) {
// 	.u-tab04 {
// 		ul {
// 			border-top: 1px solid #dadada;
// 		}
// 		li {
// 			float: left;
// 			width: 50%;
// 			a {
// 				border-width: 0 1px 1px 0;
// 			}
// 			&:nth-child(odd) {
// 				a {
// 					border-left: 1px solid #dadada;
// 				}
// 			}
// 			&.over {
// 				&:nth-child(odd) {
// 					a {
// 						border-left: 1px solid #191931;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

/* 카테고리 탭스타일 */
.b-tab01 {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	background: #f7f7f7;
	li {
		float: left;
		width: 20%;
		text-align: center;
		font-size: 13px;
		a {
			display: block;
			padding: 7px 0 6px;
			line-height: 38px;
			background: url(../img/content/btab01_vbar.gif) no-repeat 0 18px;
			&:hover,
			&:focus,
			&:active {
				color: #d22100;
				text-decoration: none;
				font-weight: 700;
			}
		}
		&.over,
		&:hover,
		&:focus,
		&:active {
			a {
				padding: 6px 0;
				color: #495d68;
				font-weight: 700;
				text-decoration: none;
				line-height: 39px;
				background: none;
			}
		}
		&.first {
			a {
				background: none;
			}
		}
		&.over {
			a {
				color: #fff;
				background-color: #d22100;
				span {
					color: #fff;
				}
			}
		}
	}
	button {
		position: absolute;
		width: 51px;
		height: 50px;
		text-indent: -9999px;
		border: 0;
		background: #f8f8f8 url(../img/content/btab01_btn.png) no-repeat;
		cursor: pointer;
		&.btn-prev {
			left: 0;
			top: 0;
			border-right: 1px solid #ddd;
			&:hover,
			&:focus,
			&:active {
				background-position: -102px 0;
			}
		}
		&.btn-next {
			right: 0;
			top: 0;
			border-left: 1px solid #ddd;
			background-position: -51px 0;
			&:hover,
			&:focus,
			&:active {
				background-position: -153px 0;
			}
		}
	}
}

/* 탭스타일 추가 2020-01-21-lim */
.c-tab,
.f-tab,
.s-tab {
	position: relative;
	overflow: hidden; 
	width: 100%;
	ul {
		&:after {
			content: ""; 
			display: block; 
			clear: both; 
		}
	}
	li {
		float: left;
		a {
			position: relative; 
			display: block;
			margin-left: -1px; 
			text-align: center; 
			color: #444; 
			font-weight: 400; 
			letter-spacing: -0.03em; 
			border: 1px solid #dadada;
			z-index: 1; 
		}
		&:first-child {
			a {
			 margin-left: 0; 
			}
		}
		&:hover {
			a {
				background: #eee; 
			}
		}
		&.over {
			a {
				color: #fff; 
				border: 1px solid #191931; 
				background: #191931; 
				z-index: 2; 
			}
		}
		.disabled {
			position: relative; 
			display: block;
			margin-left: -1px; 
			padding: 12px 0;
			text-align: center; 
			color: #444;
    	font-size: 15px;
			font-weight: 400; 
			letter-spacing: -0.03em; 
			border: 1px solid #dadada;
			background: #eee;
			z-index: 1; 
			opacity: .5;
		}
	}
	@for $i from 1 through 10 {
		&.col#{$i}{
			li {
				width: 100% * (1 / $i);
			}
		}
	}
}
.c-tab,
.f-tab {
	margin-bottom: 25px;
	li {
		a {
			padding: 12px 0; 
			font-size: 15px;
		}
	}
}
.s-tab {
	margin-bottom: 9px;
	li {
		a {
			padding: 4px 0; 
			font-size: 12px;
		}
	}
}

/*라인, 추가는 전체 공용으로*/
.u-line {
	overflow: hidden;
	display: block;
	height: 2px;
	border-width: 0px;
	&.line-p {
		background: #20b05a;
	}
	&.line-dp {
		background: #26466f;
	}
	&.line-g {
		background: #666;
	}
	&.line-dg {
		background: #444;
	}
}

.i-line {
	width: 100%;
	height: 5px;
	margin: 1em 0;
	&.line-dia {
		background: url(../img/content/conven-vline.gif) repeat 0 0;
	}
	&.line-ver {
		background: url(../img/content/conven-verline.gif) repeat 0 0;
	}
	&.line-dt {
		background: url(../img/content/conven-dtline.gif) repeat 0 0;
	}
}

/* 박스 스타일 */ 
.w-box {
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
	background: #fff;
}
.g-box {
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
	background: #f8f8f8;
}
.r-box {
	overflow: hidden;
	position: relative;
	border: 1px dashed #d1001d;
	background: #fbf0e6;
}

/* 라인박스 + 이미지 */
.line-box {
	position: relative;
	padding: 3px;
	background: url(../img/content/line_box_bg.gif) repeat 0 0;
	.inner {
		padding: 45px 45px 45px 145px;
		color: #333;
		font-size: 14px;
		line-height: 1.6;
		background: #fff;
		.photo {
			overflow: hidden;
			position: absolute;
			top: 50%;
			left: 30px;
			display: block;
			width: 86px;
			height: 86px;
			margin-top: -43px;
			border: 1px solid #ddd;
			border-radius: 50%;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

/* 안내문 */
.info-box {
	position: relative;
	padding: 20px 20px 20px 145px;
	border: 1px solid #ddd;
	background: #fafafa;
	.photo {
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 30px;
		display: block;
		width: 80px;
		height: 80px;
		margin-top: -40px;
		border: 1px solid #ddd;
		border-radius: 50%;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.info-tit {
		padding: 0 0 8px;
		font-size: 16px;
		color: #444;
		font-weight: 500;
	}
	ul  {
		li {
			padding-left: 10px;
			color: #666;
			font-size: 1em;
			background: url(../img/content/blt07.gif) no-repeat 0 0.7em;
		}
	}
}
.info-box02 {
	padding: 7px 20px 7px 48px;
	background: url(../img/content/ico_ex05.png) no-repeat 0 10px;
}
.info-box03 {
	padding: 30px 50px 30px 78px;
	color: #555;
	border: 1px solid #ddd;
	background: #fafafa url(../img/content/ico_ex05.png) no-repeat 30px 29px;
	.info-stit {
		padding: 5px 0;
	}
	.info-txt {
		padding: 5px 0 10px;
		font-weight: 500;
	}
}

.info-ex {
	margin-top: 7px;
	padding: 0 0 10px 22px;
	font-size: 13px;
	background: url(../img/content/ico_ex.png) no-repeat 0 3px;
	&.ico-ex02 {
		color: #777;
		background-image: url(../img/content/ico_ex02.png);
	}
	&.ico-ex03 {
		color: #3e75be;
		background-image: url(../img/content/ico_ex03.png);
	}
	&.ico-ex04 {
		color: #f33d19;
		background-image: url(../img/content/ico_ex04.png);
	}
	&.no {
		padding-left: 0;
		background: none;
	}
}

.winfo-box {
	overflow: hidden;
	margin-top: 20px;
	padding: 10px 15px;
	border: 1px solid #ddd;
	background: #fff;
	&.info-ex {
		margin-top: 5px;
	}
}

/* 링크 스타일 */
.sico-nwin {color: #us-dpoint1;background: url(../img/content/ico_nw.png) no-repeat right 4px;padding-right: 17px;letter-spacing: -0.05em;margin-right: 3px;}

/* 목록 스타일 */
/* ul */
.u-ullist {
	padding: 3px 0;
	li {
		margin: 3px 0;
		padding-left: 12px;
		line-height: 150%;
	}
	&.ul-list01 {
		li {
			color: #444;
			background: url(../img/content/blt04.png) no-repeat 1px 8px;
		}
	}
	&.ul-list02 {
		li {
			color: #444;
			background: url(../img/content/blt05.gif) no-repeat 1px 10px;
		}
	}
	&.ul-list03 {
		li {
			color: #555;
			background: url(../img/content/blt06.gif) no-repeat 1px 10px;
		}
	}
}
/* dl */
.u-dllist {
	margin-bottom: 20px;
	dt {
		margin-bottom: 0px;
		color: #333;
		font-weight: 500;
		line-height: 130%;
	}
	dd {
		margin: 5px 0;
	}
	&.dl-list01 {
		dt {
			padding-left: 15px;
			background: url(../img/content/blt03.png) no-repeat 1px 0.4em;
			font-size: 1.077em;
		}
		dd {
			padding-left: 15px;
		}
	}
	&.dl-list02 {
		position: relative;
		padding-bottom: 20px;
		border-bottom: 1px dotted #ddd;
		dt {
			padding-left: 12px;
			background: url(../img/content/blt05.gif) no-repeat 1px 0.5em;
		}
		dd {
			padding-left: 12px;
		}
	}
}

/* 컨텐츠버튼 */
/* btn common */
.kca-btn {
	display: inline-block; 
	text-align: center; 
	vertical-align: middle;
	font-weight: 400;
	letter-spacing: -0.03em;
	border: 1px solid;
	box-sizing: border-box;
	span {
		display: block; 
		text-align: center; 
		line-height: 1em;
	}
	&.disabled {
		opacity: .5;
	}
	/* btn size */
	&.ss {
		height: 30px;
		font-size: 12px;
		span {
			padding: 8px 8px;
		}
	}
	&.sc {
		height: 35px;
		font-size: 13px;
		span {
			padding: 10px 10px;
		}
	}
	&.sb {
		height: 45px;
		font-size: 14px;
		span {
			padding: 14px 20px;
		}
	}
	&.sl {
		height: 50px;
		font-size: 18px;
		span {
			padding: 15px 30px;
		}
	}
	/* btn color */
	&.cw {
		color: #111;
		border-color: #64676c;
		background: #fff;
	}
	&.cdw {
		color: #111;
		border-color: #64676c;
		background: #dee1e5;
	}
	&.cp {
		color: #fff;
		font-weight: 300;
		border-color: #1e5fc9;
		background: #1e5fc9;
	}
	&.cdp {
		color: #fff;
		font-weight: 300;
		border-color: #191931;
		background: #191931;
	}
	&.cg {
		color: #fff;
		font-weight: 300;
		border-color: #64676c;
		background: #64676c;
	}
	&.cdg {
		color: #fff;
		font-weight: 300;
		border-color: #3e4248;
		background: #3e4248;
	}
	&.clg {
		color: #fff;
		font-weight: 300;
		border-color: #92969d;
		background: #92969d;
	}
	&.cge {
		color: #fff;
		font-weight: 300;
		border-color: #20b05a;
		background: #20b05a;
	}
	/* icon btn */
	&.icon-btn {
		height: 35px;
		color: #333;
		font-size: 13px;
		font-weight: 400;
		border-color: #999;
		background: #fff;
		span {
			padding: 10px 10px;
			padding-right: 35px;
			&.down {
				background: url(../img/content/ico_down.png) no-repeat right center;
			}
			&.link {
				background: url(../img/content/ico_link.png) no-repeat right center;
			}
			&.win {
				background: url(../img/content/ico_win.gif) no-repeat right center;
			}
			&.filter {
				background: url(../img/content/ico_filter.gif) no-repeat right center;
			}
		}
		&.ss {
			height: 30px;
			span {
				padding: 8px 8px;
				padding-right: 35px;
			}
		}
		&.move-up,
		&.move-down {
			display: inline-block;
			width: 22px;
			height: 22px;
			margin: 1px;
			border-color: #ccc;
			background: #dee1e5;
			box-sizing: border-box;
			span {
				padding: 11px 0;
				opacity: .7;
			}
			&:hover {
				span {
					opacity: 1;
				}
			}
			&.disabled,
			&:disabled {
				cursor: default;
				opacity: .4;
			}
		}
		&.move-up {
			span {
				background: url(../img/board/arrow-up2.png) no-repeat center center;
			}
		}
		&.move-down {
			span {
				background: url(../img/board/arrow-down2.png) no-repeat center center;
			}
		}
	}
	&.file-btn {
		height: 30px;
		color: #333;
		font-size: 13px;
		font-weight: 400;
		border-color: #999;
		background: #fff;
		span {
			padding: 8px 8px;
			padding-right: 40px;
			&.doc {
				background:url(../img/fileicon/ico_doc_b.gif) no-repeat right 0;
			}
			&.hwp {
				background:url(../img/fileicon/ico_hwp_b.gif) no-repeat right 0;
			}
			&.xls {
				background:url(../img/fileicon/ico_xls_b.gif) no-repeat right 0;
			}
			&.pdf {
				background:url(../img/fileicon/ico_pdf_b.gif) no-repeat right 0;
			}
			&.wav {
				background:url(../img/fileicon/ico_wav_b.gif) no-repeat right 0;
			}
			&.zip {
				background:url(../img/fileicon/ico_zip_b.gif) no-repeat right 0;
			}
			&.vod {
				background:url(../img/fileicon/ico_vod_b.gif) no-repeat right 0;
			}
			&.word {
				background:url(../img/fileicon/ico_word_b.gif) no-repeat right 0;
			}
			&.ppt {
				background:url(../img/fileicon/ico_ppt_b.gif) no-repeat right 0;
			}
		}
	}
}
a.kca-btn {
	letter-spacing: -0.012em;
}

/* 테이블 */
.u-table {
	.bd-line {
		display: block;
		height: 0;
		text-indent:-20000px;
		&.light {
			border-top: 1px solid #dedede;
		}
		&.bold {
			border-top: 2px solid #333;
		}
	}
	.inner {
		overflow: hidden;
		&.over-x {
			overflow-x: auto;
		}
		&.over-y {
			overflow-y: auto;
		}
	}
	table {
		width: 99.9999%;
	}
	tr {
		& > *:first-child {
			border-width: 0 0 1px 0;
		}
	}
	th,
	td {
		padding: 9px 15px;
		font-size: 14px;
		text-align: center;
		border: solid #dedede;
		border-width: 0 0 1px 1px;
		word-break: keep-all;
	}
	th {
		color: #333;
		font-weight: 500;
		background: #f5f5f5;
	}
	td {
		color: #666;
	}
	.in-inp,
	.in-btn {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.in-chk {
		& * {
			display: inline-block;
			vertical-align: middle;
		}
		& > * {
			margin-right: 20px;
		}
		input[type=radio],
		input[type=checkbox] {
			& + label {
				padding-left: 4px;
			}
		}
	}
	&.td-l {
		td {
			text-align: left;
		}
	}
	&.al-c {
		th,
		td {
			text-align: center !important;
			&.l {
				text-align: left !important;
			}
		}
	}
}

/* 태그박스 */
.u-tag {
	display: inline-block;
	min-width: 62px;
	padding: 2px 8px !important;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	border: none;
	background: #333;
	border-radius: 1em;
	&.tag-red {
		background: #f74124;
	}
	&.tag-orange {
		background: #fb7a0c;
	}
	&.tag-green {
		background: #44a015;
	}
	&.tag-navy {
		background: #191931;
	}
	&.tag-blue {
		background: #2375da;
		&.line {
			color: #2375da;
			font-weight: 400;
			border: 1px solid #2375da;
			background: #fff;
		}
	}
	&.tag-gray {
		background: #999;
	}
	&.tag-dark {
		background: #555;
	}
	&.tag-interest {
		color: #000;
		font-weight: 400;
		background: #dedede;
		&:before {
			content: '';
			display: inline-block;
			width: 12px;
			height: 10px;
			margin: -1px 4px 0 0;
			vertical-align: middle;
			background: url(../img/board/icon-interest.png) no-repeat center center;
		}
	}
}
button {
	&.u-tag {
		padding: 2px 8px 3px !important;
	}
}