@charset "utf-8";
/* ================================== Common ================================== */
// img { max-width: 100%; height: auto; }
a, a:hover, a:focus, a:active {
	text-decoration: none;
}

#skipNav {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
	a {
		overflow: hidden;
		display: block;
		width: 1px;
		height: 1px;
		margin-bottom: -1px;
		color: #444;
		font-size: 0;
		text-decoration: none;
		&:hover,
		&:active,
		&:focus {
			width: 100%;
			height: auto;
			padding: 5px 0;
			background: #303030;
			font-size: 14px;
			text-align: center;
			color: #fff;
		}
	}
}

caption,
.hidden {
	position: absolute;
	top: -9999;
	left: -9999;
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}
caption {
	font-size: 0;
	height: 0;
	visibility: hidden;
	overflow:hidden;
}
.hidden,
legend {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

// Placeholder Text Color
input[placeholder] {
	&::-webkit-input-placeholder{ color: #777; }
	&:-moz-placeholder { color: #777;}
	&::-moz-placeholder { color: #777;}
	&:-ms-input-placeholder { color: #777; }
	&.placeholder{color: #777;}
}
html {
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	position: relative;
	min-height: 100%;
	overflow-y: auto;
}
body {
	@include NotoSansKR-Regular;
	@include font-size(1.6);
	line-height: 1.5;
	letter-spacing: -0.02em;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: hidden;
}
html, body {
	overflow-x: hidden;
	//height: 100%;
}
.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.webOnly {
	display: inline-block;
}
.mobOnly {
	display: none;
}

button {
	cursor: pointer;
}


h1, h2, h3, h4, h5, h6 {
	@include NotoSansKR-Regular;
}


table {
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}
		

.f72 {
	@include font-size(7.2);
}
.f22 {
	@include font-size(2.2);
}


// Slick Style Custom
/** Arrows **/
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);
	display: block;
	padding: 0;
	cursor: pointer;
	color: transparent;
	outline: none;
	background: transparent;
	z-index: 999;
}
.slick-disabled {
	opacity: 0;
}
/** Dot **/
.slick-dots {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	@include translate(-50%, -50%);
	z-index: 999;
	li {
		position: relative;
		display: block;
		padding: 0;
		cursor: pointer;
		button {
			position: relative;
			display: block;
			cursor: pointer;
			color: transparent;
			font-size: 0;
			line-height: 0;
			border: 0;
			outline: none;
			&:hover,
			&:focus {
				outline: none;
				&:before {
					opacity: 1;
				}
			}
			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				content: '';
				text-align: center;
				@include border-radius(50%);
				@include translate(-50%, -50%);
			}
		}
	}
}

.conLineBox {
	padding: 30px;
	word-break: keep-all;
	border: 1px solid #dbdcdc;
	@include box-sizing(border-box);
}

// button
.btnWrap {
	margin: 25px 0 45px;
	@include clearfix;
	&.alL,
	&.alR {
		& > .inner {
			float: left;
			.nkBtn {
				float: left;
				margin-left: 20px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	&.alR {
		& > .inner {
			float: right;
		}
	}
	&.alLR {
		& > .innerL,
		& > .innerR {
			float: left;
			.nkBtn {
				float: left;
				margin-left: 20px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
		& > .innerR {
			float: right;
		}
	}
	&.alC {
		text-align: center;
		.nkBtn {
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
.nkBtn {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	& > * {
		min-width: 160px;
		display: inline-block;
		margin: 5px 0;
		padding: 0 20px;
		text-align: center;
		color: #fff;
		@include NotoSansKR-Medium;
		@include font-size(1.8);
		@include lh(50px);
		@include box-sizing(border-box);
		background: #1f99df;
		border: 1px solid #1f99df;
		@include transition(all, .3s, ease);
	}
	&:hover {
		& > * {
			background: #0b86cd;
			border: 1px solid #0b86cd;
		}
	}
	&.line {
		& > * {
			color: #1f99df;
			background: #fff;
			border: 1px solid #1f99df;
		}
		&:hover {
			& > * {
				color: #0b86cd;
				background: #fff;
				border: 1px solid #0b86cd;
			}
		}
	}
	&.gray {
		& > * {
			color: #666;
			background: #fff;
			border: 1px solid #999;
		}
		&:hover {
			& > * {
				color: #333;
				background: #fff;
				border: 1px solid #333;
			}
		}
	}
	&.goSite {
		& > * {
			min-width: 260px;
			@include font-size(1.6);
		}
	}
}
// input
input[type="text"],
input[type="password"],
textarea {
	width: 100%;
	appearance:none ;
	-webkit-appearance:none;
	-moz-appearance:none;
	@include border-radius(0);
  font-family: inherit;
	border: 1px solid #ccc;
	@include box-sizing(border-box);
}

input[type="text"],
input[type="password"] {
	padding: 0 10px;
	@include lh(39px);
}
textarea {
	height: auto;
	padding: 10px;
}
select {
  height: 39px;
  padding: 4px 5px 4px 5px;
  font-family: inherit;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 0px;
}


/* ================================== Common media query ================================== */
@include respond-to('sm') {
	html {
		font-size: 62.5% * 7/10;
	}
	.webOnly {
		display: none;
	}
	.mobOnly {
		display: inline-block;
	}
	.btnWrap {
		margin: 15px 0 30px;
		&.alL,
		&.alR {
			& > .inner {
				.nkBtn {
					margin-left: 14px;
				}
			}
		}
		&.alLR {
			& > .innerL,
			& > .innerR {
				.nkBtn {
					margin-left: 14px;
				}
			}
		}
		&.alC {
			.nkBtn {
				margin-left: 14px;
			}
		}
	}
	.nkBtn {
		& > * {
			min-width: auto;
			padding: 0 14px;
			@include font-size(1.8);
			@include lh(35px);
		}
		&.goSite {
			& > * {
				@include font-size(1.8);
			}
		}
	}
	input[type="text"],
	input[type="password"],
	textarea,
	select {
	 	@include font-size(1.8);
	}
	input[type="text"],
	input[type="password"] {
		padding: 0 7px;
		@include lh(30px);
	}
	textarea {
		height: auto;
		padding: 7px;
	}
	select {
	  height: 30px;
	}
}
