@charset "utf-8";
/* ================================== Font ================================== */

// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

// Web Font
.rbtThin {
  @include Roboto-Thin;
}
.rbtLight {
  @include Roboto-Light;
}
.rbtRegular {
  @include Roboto-Regular;
}
.rbtMedium {
  @include Roboto-Medium;
}
.rbtBold {
  @include Roboto-Bold;
}
.nskThin {
  @include NotoSansKR-Thin;
}
.nskLight {
  @include NotoSansKR-Light;
}
.nskRegular {
  @include NotoSansKR-Regular;
}
.nskMedium {
  @include NotoSansKR-Medium;
}
.nskBold {
  @include NotoSansKR-Bold;
}
.nskBlack {
  @include NotoSansKR-Black;
}