/** Filename : event_style.css color **/
/* ================================== Font ================================== */
@import url(../font/AritaBuri.css);
@import url(../font/NotoSansKR.css);
/* ================================== Reset ================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, article, aside, canvas, details, embed, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

img, fieldset, form, label, legend, figure, figcaption, input, button { margin: 0; padding: 0; border: 0; vertical-align: middle; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

button::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner { padding: 0; border: 0; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; }

img { line-height: 0; font-size: 0; }

a { text-decoration: none; color: inherit; }

table { border-collapse: collapse; padding: 0; margin: 0; width: 100%; border: 0; }

/* ================================== Common ================================== */
a, a:hover, a:focus, a:active { text-decoration: none; }

#skipNav { position: absolute; left: 0; top: 0; width: 100%; z-index: 99999; }
#skipNav a { overflow: hidden; display: block; width: 1px; height: 1px; margin-bottom: -1px; color: #444; font-size: 0; text-decoration: none; }
#skipNav a:hover, #skipNav a:active, #skipNav a:focus { width: 100%; height: auto; padding: 9px 0; background: #303030; font-size: 20px; font-size: 2rem; text-align: center; color: #fff; }

caption, .hidden { position: absolute; top: -9999; left: -9999; font-size: 0 !important; line-height: 0 !important; padding: 0 !important; margin: 0 !important; }

caption { font-size: 0; height: 0; visibility: hidden; overflow: hidden; }

.hidden, legend { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }

input[placeholder]::-webkit-input-placeholder { color: #777; }
input[placeholder]:-moz-placeholder { color: #777; }
input[placeholder]::-moz-placeholder { color: #777; }
input[placeholder]:-ms-input-placeholder { color: #777; }
input[placeholder].placeholder { color: #777; }

html { font-size: 62.5%; /* Sets up the Base 10 stuff */ position: relative; min-height: 100%; overflow-y: auto; }

body { font-family: "AritaBuri", sans-serif; font-weight: 400; font-style: normal; color: #444; font-size: 18px; font-size: 1.8rem; line-height: 1.6; letter-spacing: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow-y: hidden; }

html, body { overflow-x: hidden; }

.srOnly { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.webOnly { display: inline-block; }

.mobOnly { display: none; }

button { font-family: inherit; cursor: pointer; background: transparent; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

table { width: 100%; border: 0; padding: 0; margin: 0; border-collapse: collapse; }

input[type="text"], input[type="password"], textarea { width: 100%; appearance: none; -webkit-appearance: none; -moz-appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; font-family: inherit; border: 1px solid #ddd; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

input[type="text"], input[type="password"] { padding: 0 10px; height: 40px; line-height: 40px; }

input[type="file"] { width: 100%; font-family: inherit; }

textarea { height: auto; padding: 10px; }

select { width: 100%; height: 40px; line-height: 34px; padding: 4px 5px; font-family: inherit; vertical-align: middle; border: 1px solid #ddd; background: #fff; border-radius: 0px; }

input[type="text"], input[type="password"], input[type="file"], textarea, select { color: #666; font-size: 16px; font-size: 1.6rem; line-height: 1.6; letter-spacing: -0.02em; }

input[type="checkbox"].custom, input[type="radio"].custom { opacity: 0; position: absolute; width: 20px; height: 20px; margin-top: 4px; }
input[type="checkbox"].custom + label, input[type="radio"].custom + label { position: relative; display: inline-block; height: 24px; padding-left: 29px; color: #666; }
input[type="checkbox"].custom + label i, input[type="radio"].custom + label i { position: absolute; left: 0; top: 2px; display: block; width: 20px; height: 20px; border: 1px solid #ddd; background: #fff; cursor: pointer; }
input[type="checkbox"].boxOnly + label, input[type="radio"].boxOnly + label { padding-left: 20px; }

input[type="checkbox"].custom:checked + label i { background: #fff url("/kedi_eng/res/img/common/icon_checkbox.png") no-repeat center center; }

input[type="radio"].custom + label { line-height: 24px; }
input[type="radio"].custom + label i { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; }
input[type="radio"].custom:checked + label i { background: #fff url("/kedi_eng/res/img/common/icon_radio.png") no-repeat center center; }

.modalOverlay { display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; min-width: 100%; min-height: 100%; background: rgba(0, 0, 0, 0.7); }
.modalOverlay.gnbDim { z-index: 9; }
.modalOverlay.layerDim { z-index: 998; }

.viewBtn { display: inline-block; margin: 3px 0 4px; padding: 0 8px 0 7px; color: #fff; font-size: 15px; font-size: 1.5rem; height: 25px; line-height: 25px; font-weight: 900; background: #000; }
.viewBtn.end { background: #484848; }

.buyBtn { display: inline-block; min-width: 90px; margin: 0; padding: 0 8px 0 7px; color: #fff; font-size: 16px; font-size: 1.6rem; height: 29px; line-height: 29px; font-weight: 900; background: #006835; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
.buyBtn.end { background: #484848; }

.participateBtn { display: inline-block; min-width: 110px; margin: 0; padding: 0 8px 0 7px; color: #fff; font-size: 18px; font-size: 1.8rem; height: 39px; line-height: 39px; font-weight: 900; background: #006835; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
.participateBtn.end { background: #484848; }

.arrowBtn { position: relative; display: inline-block; width: 100%; max-width: 580px; margin: 0; padding: 16px 18px 15px; color: #fff; font-size: 28px; font-size: 2.8rem; font-weight: 900; line-height: 1.4; background: #00a235; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
.arrowBtn:after { content: ''; display: inline-block; width: 8px; height: 14px; vertical-align: middle; margin: -2px 0 0 28px; background: url("../img/content/view_btn_arrow.png") no-repeat center center; }
.arrowBtn.end { background: #484848; }

.ottBtn { position: relative; display: inline-block; vertical-align: top; margin: 5px 0; }
.ottBtn > * { display: inline-block; min-width: 138px; height: 40px; line-height: 38px; padding: 0 10px; text-align: center; color: #fff; font-size: 16px; font-size: 1.6rem; font-weight: 600; background: #666; border: 1px solid #666; cursor: pointer; }
.ottBtn.btnLight > * { color: #666; background: #f4f4f4; border: 1px solid #f4f4f4; }
.ottBtn.btnDark > * { background: #999999; border: 1px solid #999999; }
.ottBtn.btnGray > * { background: #666; border: 1px solid #666; }
.ottBtn.btnBlue > * { background: #157cb6; border: 1px solid #157cb6; }
.ottBtn.btnLine > * { color: #666; background: #fff; border: 1px solid #ddd; }
.ottBtn.btnLg > * { height: 50px; line-height: 48px; font-size: 18px; font-size: 1.8rem; font-weight: 700; }
.ottBtn.btnSm > * { min-width: 104px; height: 30px; line-height: 28px; font-size: 15px; font-size: 1.5rem; }

/* custom */
.flL { float: left !important; }

.flR { float: right !important; }

.taL { text-align: left !important; }

.taC { text-align: center !important; }

.taR { text-align: right !important; }

.mgt10 { margin-top: 10px !important; }

.mgt20 { margin-top: 20px !important; }

.mgt25 { margin-top: 25px !important; }

.mgt30 { margin-top: 30px !important; }

.mgt40 { margin-top: 40px !important; }

.mgt45 { margin-top: 45px !important; }

.mgtm20 { margin-top: -20px !important; }

.mgb40 { margin-bottom: 40px !important; }

/* ================================== media query ================================== */
@media only screen and (max-width: 767px) { body { font-size: 16px; font-size: 1.6rem; }
  .webOnly { display: none; }
  .mobOnly { display: inline-block; }
  .arrowBtn { padding: 13px 15px 12px; font-size: 20px; font-size: 2rem; }
  .arrowBtn:after { margin-left: 22px; } }
/* ================================== Event ================================== */
.evBg1 { background: #fff87a url("../img/event/ev_bg1.gif") repeat center center; }

.evBg2 { background: #03a66c url("../img/event/ev_bg2.gif") repeat center center; }

.evBg3 { background: #039b66 url("../img/event/ev_bg3.gif") repeat center center; }

.evBg4 { background: #057a43 url("../img/event/ev_bg4.gif") repeat center center; }

.evBg5 { background: #035330 url("../img/event/ev_bg5.gif") repeat center center; }

#evTop { height: 60px; background: #222; }
#evTop > .inner { position: relative; max-width: 1068px; width: 100%; margin: 0 auto; padding: 0 30px; }
#evTop > .inner:before, #evTop > .inner:after { content: ""; display: table; }
#evTop > .inner:after { clear: both; }
#evTop .goCenter { float: left; }
#evTop .goCenter a { display: block; width: 154px; height: 60px; background: url("../img/event/logo_sejong_center.png") no-repeat center center; }
#evTop .goSeason { float: right; }
#evTop .goSeason a { display: block; width: 72px; height: 60px; background: url("../img/event/logo_sejong_season.png") no-repeat center center; }

#evHeader .title > .inner { position: relative; max-width: 1068px; width: 100%; min-height: 616px; margin: 0 auto; padding: 0 30px; }
#evHeader .title > .inner:before, #evHeader .title > .inner:after { content: ""; display: table; }
#evHeader .title > .inner:after { clear: both; }
#evHeader .title .object .objTit { position: absolute; left: -30px; top: 17px; display: block; width: 576px; height: 550px; background: url("../img/event/ev_header_title.png") no-repeat center center; background-size: cover; z-index: 3; }
#evHeader .title .object .obj1 { position: absolute; left: -399px; bottom: -75px; display: block; width: 410px; height: 691px; background: url("../img/event/ev_header_obj1.png") no-repeat center center; background-size: cover; z-index: 2; }
#evHeader .title .object .obj2 { position: absolute; right: -141px; bottom: 0; display: block; width: 660px; height: 578px; background: url("../img/event/ev_header_obj2.png") no-repeat center center; background-size: cover; z-index: 2; }
#evHeader .title .object .obj3 { position: absolute; left: -576px; top: 132px; display: block; width: 334px; height: 342px; background: url("../img/event/ev_header_obj3.png") no-repeat center center; background-size: cover; z-index: 1; }
#evHeader .title .object .obj4 { position: absolute; right: -538px; top: 149px; display: block; width: 314px; height: 320px; background: url("../img/event/ev_header_obj4.png") no-repeat center center; background-size: cover; z-index: 1; }
#evHeader .schedule > .inner { position: relative; max-width: 980px; width: 100%; margin: 0 auto; padding: 40px 30px 60px; text-align: center; }
#evHeader .schedule .scheduleText:before, #evHeader .schedule .scheduleText:after { content: ""; display: table; }
#evHeader .schedule .scheduleText:after { clear: both; }
#evHeader .schedule .scheduleText > * { float: left; }
#evHeader .schedule .scheduleText > * img { width: 100%; }
#evHeader .schedule .scheduleText .txt { width: 65.65%; }
#evHeader .schedule .scheduleText .txt img { max-width: 604px; }
#evHeader .schedule .scheduleText .btn { width: 34.35%; padding-left: 0.87%; }
#evHeader .schedule .scheduleText .btn a { display: inline-block; }
#evHeader .schedule .scheduleText .btn img { max-width: 308px; }
#evHeader .schedule .scheduleList { margin: -35px 0 0 -40px; }
#evHeader .schedule .scheduleList:before, #evHeader .schedule .scheduleList:after { content: ""; display: table; }
#evHeader .schedule .scheduleList:after { clear: both; }
#evHeader .schedule .scheduleList > li { float: left; width: 33.3333333333%; padding: 35px 0 0 40px; text-align: center; }
#evHeader .schedule .scheduleList > li img { width: 100%; max-width: 280px; }

#evContainer { -ms-word-break: keep-all; word-break: keep-all; }

.evContent > .inner { position: relative; max-width: 1024px; width: 100%; margin: 0 auto; padding: 0 9px; text-align: center; }
.evContent > .inner:before, .evContent > .inner:after { content: ""; display: table; }
.evContent > .inner:after { clear: both; }

.evBtnWrap { margin-bottom: 40px; }

.evBtn { display: inline-block; }
.evBtn.submit { padding: 0 21px; }
.evBtn.submit img { width: 100%; max-width: 511px; }
.evBtn.close { position: absolute; right: 7%; top: 12%; display: block; width: 6%; height: auto; }
.evBtn.close img { width: 100%; max-width: 40px; }

.evTitle { text-align: center; }
.evTitle h2 img { width: 100%; max-width: 774px; }
.evTitle ul { margin-top: 15px; display: inline-block; }
.evTitle ul li { display: inline-block; text-align: left; }
.evTitle ul li img { width: 100%; max-width: 389px; }

.event1 { padding-top: 50px; background: #039b66 url("../img/event/ev1_bg.gif") repeat center top; }
.event1 .crosswordWrap { position: relative; padding: 25px 0 40px; text-align: center; }
.event1 .crosswordWrap:before, .event1 .crosswordWrap:after { content: ""; display: table; }
.event1 .crosswordWrap:after { clear: both; }
.event1 .crosswordWrap .object .obj1 { position: absolute; left: -71px; top: 263px; display: block; width: 105px; height: 95px; background: url("../img/event/ev_crossword_obj1.png") no-repeat center center; background-size: cover; z-index: 2; }
.event1 .crosswordWrap .object .obj2 { position: absolute; right: 0; top: -38px; display: block; width: 90px; height: 96px; background: url("../img/event/ev_crossword_obj2.png") no-repeat center center; background-size: cover; z-index: 2; }
.event1 .crosswordWrap .object .obj3 { position: absolute; right: -111px; top: 272px; display: block; width: 161px; height: 240px; background: url("../img/event/ev_crossword_obj3.png") no-repeat center center; background-size: cover; z-index: 2; }
.event1 .crosswordWrap .crosswordBox { position: relative; display: block; float: left; width: 619px; height: 619px; background: url("../img/event/bg_crossword_619.png") no-repeat center center; }
.event1 .crosswordWrap .crosswordCell { position: absolute; left: auto; top: auto; display: block; width: 102px; height: 102px; text-align: center; background-color: #fff883; }
.event1 .crosswordWrap .crosswordCell.posX1 { left: 1px; }
.event1 .crosswordWrap .crosswordCell.posY1 { top: 1px; }
.event1 .crosswordWrap .crosswordCell.posX2 { left: 104px; }
.event1 .crosswordWrap .crosswordCell.posY2 { top: 104px; }
.event1 .crosswordWrap .crosswordCell.posX3 { left: 207px; }
.event1 .crosswordWrap .crosswordCell.posY3 { top: 207px; }
.event1 .crosswordWrap .crosswordCell.posX4 { left: 310px; }
.event1 .crosswordWrap .crosswordCell.posY4 { top: 310px; }
.event1 .crosswordWrap .crosswordCell.posX5 { left: 413px; }
.event1 .crosswordWrap .crosswordCell.posY5 { top: 413px; }
.event1 .crosswordWrap .crosswordCell.posX6 { left: 516px; }
.event1 .crosswordWrap .crosswordCell.posY6 { top: 516px; }
.event1 .crosswordWrap .crosswordCell .num { position: absolute; left: -1px; top: -1px; display: block; width: 104px; height: 104px; border: 4px solid transparent; z-index: 2; }
.event1 .crosswordWrap .crosswordCell .num em { position: absolute; left: 4px; top: 4px; display: block; width: 16px; height: 16px; background: url("../img/event/crossword_num.png") no-repeat 0 0; }
.event1 .crosswordWrap .crosswordCell .num em.hrzN1 { background-position: 0px 0; }
.event1 .crosswordWrap .crosswordCell .num em.vrtN1 { background-position: 0px -20px; }
.event1 .crosswordWrap .crosswordCell .num em.hrzN2 { background-position: -20px 0; }
.event1 .crosswordWrap .crosswordCell .num em.vrtN2 { background-position: -20px -20px; }
.event1 .crosswordWrap .crosswordCell .num em.hrzN3 { background-position: -40px 0; }
.event1 .crosswordWrap .crosswordCell .num em.vrtN3 { background-position: -40px -20px; }
.event1 .crosswordWrap .crosswordCell .num em.hrzN4 { background-position: -60px 0; }
.event1 .crosswordWrap .crosswordCell .num em.vrtN4 { background-position: -60px -20px; }
.event1 .crosswordWrap .crosswordCell .num em.hrzN5 { background-position: -80px 0; }
.event1 .crosswordWrap .crosswordCell .num em.vrtN5 { background-position: -80px -20px; }
.event1 .crosswordWrap .crosswordCell .num em.hrzN6 { background-position: -100px 0; }
.event1 .crosswordWrap .crosswordCell .num em.vrtN6 { background-position: -100px -20px; }
.event1 .crosswordWrap .crosswordCell .num em.hrzN7 { background-position: -120px 0; }
.event1 .crosswordWrap .crosswordCell .num em.vrtN7 { background-position: -120px -20px; }
.event1 .crosswordWrap .crosswordCell .num em.hrzN8 { background-position: -140px 0; }
.event1 .crosswordWrap .crosswordCell .num em.vrtN8 { background-position: -140px -20px; }
.event1 .crosswordWrap .crosswordCell .num em.hrzN9 { background-position: -160px 0; }
.event1 .crosswordWrap .crosswordCell .num em.vrtN9 { background-position: -160px -20px; }
.event1 .crosswordWrap .crosswordCell .num + .num em { top: 21px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC1 { width: 104px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC1 { height: 104px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC2 { width: 207px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC2 { height: 207px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC3 { width: 310px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC3 { height: 310px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC4 { width: 413px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC4 { height: 413px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC5 { width: 516px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC5 { height: 516px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC6 { width: 619px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC6 { height: 619px; }
.event1 .crosswordWrap .crosswordCell.on .num { border-color: #006835; }
.event1 .crosswordWrap .crosswordCell.wrong input[type="text"] { color: #ff0c00; }
.event1 .crosswordWrap .crosswordCell input[type="text"] { position: absolute; left: 3px; top: 3px; display: block; width: 96px; height: 96px; line-height: 96px; text-align: center; vertical-align: middle; padding: 6px 0 0; font-family: "AritaBuri", sans-serif; color: #222; font-size: 36px; font-size: 3.6rem; font-weight: 900; border: none; outline: none; background-color: transparent; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; z-index: 3; }
.event1 .crosswordWrap .questionBox { display: block; float: right; background: #017c3f url("../img/event/bg_question.gif") repeat center center; }
.event1 .crosswordWrap .questionBox img { width: 100%; max-width: 362px; }

.event2 { padding-top: 50px; }
.event2 > .inner .txt { padding-top: 10px; padding-bottom: 45px; }
.event2 > .inner .txt img { width: 100%; max-width: 720px; }
.event2 .evSlideWrap .slick-arrow { overflow: hidden; width: 37px; height: 60px; background: url("../img/event/ev_slide_arrow.png") no-repeat 0 center; }
.event2 .evSlideWrap .slick-prev { margin-left: -460px; background-position: 0 center; }
.event2 .evSlideWrap .slick-next { margin-left: 460px; background-position: -50px center; }
.event2 .commentWrap { font-family: "Noto Sans KR", sans-serif; font-weight: 400; font-style: normal; color: #000; font-size: 18px; font-size: 1.8rem; }
.event2 .commentWrap > .inner { position: relative; max-width: 1068px; width: 100%; margin: 0 auto; padding: 0 47px; text-align: center; }
.event2 .commentWrap > .inner:before, .event2 .commentWrap > .inner:after { content: ""; display: table; }
.event2 .commentWrap > .inner:after { clear: both; }
.event2 .commentWrap .commentWrite { position: relative; height: 145px; margin-bottom: 47px; padding: 21px 335px 21px 75px; -webkit-border-radius: 73px; -moz-border-radius: 73px; -ms-border-radius: 73px; border-radius: 73px; background: #fff; }
.event2 .commentWrap .commentWrite textarea { width: 100%; height: 100%; padding: 4px 0; border: none; resize: none; color: #000; line-height: 1.5; overflow-y: auto; }
.event2 .commentWrap .commentWrite .commentBtn { position: absolute; right: -2px; top: 0; display: block; width: 320px; height: 145px; background: url("../img/event/ev2_comment_btn.gif") no-repeat center center; -webkit-border-radius: 73px; -moz-border-radius: 73px; -ms-border-radius: 73px; border-radius: 73px; box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.36); -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.36); -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.36); }
.event2 .commentWrap .commentList { margin: -25px 0 0 -30px; }
.event2 .commentWrap .commentList:before, .event2 .commentWrap .commentList:after { content: ""; display: table; }
.event2 .commentWrap .commentList:after { clear: both; }
.event2 .commentWrap .commentList > li { float: left; width: 33.3333333333%; padding: 25px 0 0 30px; }
.event2 .commentWrap .commentUnit { position: relative; height: 100%; padding: 16px 42px 68px; text-align: left; color: #000; font-size: 16px; font-size: 1.6rem; line-height: 1.3; background: #fff883; -webkit-border-radius: 73px; -moz-border-radius: 73px; -ms-border-radius: 73px; border-radius: 73px; }
.event2 .commentWrap .commentUnit .num { color: #057844; font-weight: 700; }
.event2 .commentWrap .commentUnit .info { position: absolute; left: 0; bottom: 0; display: block; width: auto; height: auto; right: 0; padding: 16px 42px; font-size: 15px; font-size: 1.5rem; }
.event2 .commentWrap .commentPaging { overflow: hidden; margin-top: 55px; margin-bottom: 15px; text-align: center; font-size: 0; }
.event2 .commentWrap .commentPaging:before, .event2 .commentWrap .commentPaging:after { content: ""; display: table; }
.event2 .commentWrap .commentPaging:after { clear: both; }
.event2 .commentWrap .commentPaging li { display: inline-block; padding: 0 7px; }
.event2 .commentWrap .commentPaging li a { overflow: hidden; display: block; width: 30px; height: 30px; line-height: 30px; color: #fff; font-size: 14px; font-size: 1.4rem; text-decoration: none; }
.event2 .commentWrap .commentPaging li.first, .event2 .commentWrap .commentPaging li.prev, .event2 .commentWrap .commentPaging li.next, .event2 .commentWrap .commentPaging li.last { padding: 0; }
.event2 .commentWrap .commentPaging li.first a, .event2 .commentWrap .commentPaging li.prev a, .event2 .commentWrap .commentPaging li.next a, .event2 .commentWrap .commentPaging li.last a { width: 20px; }
.event2 .commentWrap .commentPaging li.first a:before, .event2 .commentWrap .commentPaging li.prev a:before, .event2 .commentWrap .commentPaging li.next a:before, .event2 .commentWrap .commentPaging li.last a:before { content: ''; display: inline-block; width: 20px; height: 30px; background: url("../img/event/comment_paging_arrow.gif") no-repeat 0 center; }
.event2 .commentWrap .commentPaging li.first a:before { background-position: 0px center; }
.event2 .commentWrap .commentPaging li.prev { padding-right: 27px; }
.event2 .commentWrap .commentPaging li.prev a { width: 34px; }
.event2 .commentWrap .commentPaging li.prev a:before { width: 34px; background-position: -40px center; }
.event2 .commentWrap .commentPaging li.next { padding-left: 27px; }
.event2 .commentWrap .commentPaging li.next a { width: 34px; }
.event2 .commentWrap .commentPaging li.next a:before { width: 34px; background-position: -80px center; }
.event2 .commentWrap .commentPaging li.last a:before { background-position: -120px center; }
.event2 .commentWrap .commentPaging li.currentPage a { color: #097646; background: #fff883; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; }

.evSchedule { padding-top: 100px; }
.evSchedule li { padding: 5px 0; color: #222; font-size: 26px; font-size: 2.6rem; font-weight: 700; line-height: 1.4; }
.evSchedule li strong { font-weight: 900; }

.evGift > .inner { position: relative; max-width: 1068px; width: 100%; margin: 0 auto; padding: 0 30px; text-align: center; }
.evGift > .inner:before, .evGift > .inner:after { content: ""; display: table; }
.evGift > .inner:after { clear: both; }
.evGift h3 { padding-bottom: 30px; color: #006835; font-size: 36px; font-size: 3.6rem; font-weight: 900; }
.evGift.ev1Gift { padding-top: 35px; }
.evGift.ev1Gift .txt { padding-bottom: 35px; }
.evGift.ev1Gift .txt img { width: 100%; max-width: 450px; }
.evGift.ev1Gift .giftList > li { width: 20%; }
.evGift.ev1Gift .giftList > li img { width: 100%; max-width: 178px; }
.evGift.ev2Gift { padding-top: 50px; padding-bottom: 50px; }
.evGift.ev2Gift .giftWrap { max-width: 883px; }
.evGift.ev2Gift .giftList > li { width: 33.3333333333%; }
.evGift.ev2Gift .giftList > li img { width: 100%; max-width: 260px; }

.giftWrap { position: relative; overflow: hidden; display: inline-block; width: 100%; }

.giftList { margin: -20px 0 0 -20px; }
.giftList:before, .giftList:after { content: ""; display: table; }
.giftList:after { clear: both; }
.giftList > li { width: 20%; padding: 20px 0 0 20px; float: left; text-align: center; }

.evNote { padding: 25px 0 45px; }
.evNote > .inner { position: relative; max-width: 1068px; width: 100%; margin: 0 auto; padding: 0 30px; text-align: center; }
.evNote > .inner:before, .evNote > .inner:after { content: ""; display: table; }
.evNote > .inner:after { clear: both; }
.evNote > .inner img { width: 100%; max-width: 983px; }

.modalOverlay { display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; min-width: 100%; min-height: 100%; background: rgba(0, 0, 0, 0.7); }
.modalOverlay.evDim { z-index: 998; }

.msgWrap { display: none; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); width: 100%; max-width: 735px; padding: 0 30px; z-index: 999; }
.msgWrap .msgBox { position: relative; width: 100%; margin: 0 auto; padding-bottom: 112%; }
.msgWrap .msgBox.msgRight { background: url("../img/event/ev1_msg_right.png") no-repeat center top; background-size: 100% auto; }
.msgWrap .msgBox.msgWrong0 { background: url("../img/event/ev1_msg_wrong0.png") no-repeat center top; background-size: 100% auto; }
.msgWrap .msgBox.msgWrong1 { background: url("../img/event/ev1_msg_wrong1.png") no-repeat center top; background-size: 100% auto; }
.msgWrap .msgBox.msgWrong2 { background: url("../img/event/ev1_msg_wrong2.png") no-repeat center top; background-size: 100% auto; }
.msgWrap .msgBox.msgWrong3 { background: url("../img/event/ev1_msg_wrong3.png") no-repeat center top; background-size: 100% auto; }
.msgWrap .msgBox.msgWrong4 { background: url("../img/event/ev1_msg_wrong4.png") no-repeat center top; background-size: 100% auto; }
.msgWrap .msgBox.msgWrong5 { background: url("../img/event/ev1_msg_wrong5.png") no-repeat center top; background-size: 100% auto; }
.msgWrap .msgBox .evBtnWrap { position: absolute; left: 0; bottom: 15%; display: block; width: auto; height: auto; right: 0; margin-bottom: 0; }
.msgWrap .msgBox .evBtn.again, .msgWrap .msgBox .evBtn.hint { width: 35.5%; }
.msgWrap .msgBox .evBtn.again img, .msgWrap .msgBox .evBtn.hint img { width: 100%; max-width: 239px; }

/* ================================== media query ================================== */
@media only screen and (max-width: 1024px) { #evHeader .title > .inner { width: 100%; min-height: 0; padding: 0; padding-bottom: 60%; background: url("../img/event/bg_header_1024.jpg") no-repeat center center; background-size: cover; }
  #evHeader .title .object { display: none; }
  #evHeader .schedule .scheduleText > * { float: none; }
  #evHeader .schedule .scheduleText .txt { width: 100%; }
  #evHeader .schedule .scheduleText .btn { width: 100%; margin: 20px 0 40px; padding: 0 28%; }
  #evHeader .schedule .scheduleList { margin-left: -30px; }
  #evHeader .schedule .scheduleList > li { padding-left: 30px; }
  .evContent > .inner { padding: 0 30px; }
  .evGift.ev1Gift .giftList > li { width: 25%; }
  .event1 .crosswordWrap { width: 619px; margin: 0 auto; }
  .event1 .crosswordWrap .object .obj2 { top: 0; right: -40px; }
  .event1 .crosswordWrap .object .obj3 { top: 450px; }
  .event1 .crosswordWrap .crosswordBox { float: none; width: 619px; height: 619px; }
  .event1 .crosswordWrap .questionBox { float: none; width: 100%; margin-top: 20px; }
  .event1 .crosswordWrap .questionBox img { width: 100%; max-width: 362px; }
  .event2 .commentWrap > .inner { padding: 0 30px; }
  .event2 .commentWrap .commentWrite { padding-right: 275px; }
  .event2 .commentWrap .commentWrite .commentBtn { width: 260px; }
  .event2 .commentWrap .commentList > li { width: 50%; } }
@media only screen and (max-width: 767px) { #evHeader .schedule .scheduleText .btn { margin: 10px 0 20px; }
  #evHeader .schedule .scheduleList { margin-left: -20px; }
  #evHeader .schedule .scheduleList > li { padding-left: 20px; }
  .evGift.ev1Gift .giftList > li { width: 33.3333333333%; }
  .evGift.ev2Gift .giftList > li img { max-width: 178px; }
  .evBtn.submit img { max-width: 427px; }
  .event1 .crosswordWrap { width: 427px; }
  .event1 .crosswordWrap .object { display: none; }
  .event1 .crosswordWrap .crosswordBox { width: 427px; height: 427px; background: url("../img/event/bg_crossword_427.png") no-repeat center center; }
  .event1 .crosswordWrap .crosswordCell { position: absolute; left: auto; top: auto; display: block; width: 70px; height: 70px; }
  .event1 .crosswordWrap .crosswordCell.posX1 { left: 1px; }
  .event1 .crosswordWrap .crosswordCell.posY1 { top: 1px; }
  .event1 .crosswordWrap .crosswordCell.posX2 { left: 72px; }
  .event1 .crosswordWrap .crosswordCell.posY2 { top: 72px; }
  .event1 .crosswordWrap .crosswordCell.posX3 { left: 143px; }
  .event1 .crosswordWrap .crosswordCell.posY3 { top: 143px; }
  .event1 .crosswordWrap .crosswordCell.posX4 { left: 214px; }
  .event1 .crosswordWrap .crosswordCell.posY4 { top: 214px; }
  .event1 .crosswordWrap .crosswordCell.posX5 { left: 285px; }
  .event1 .crosswordWrap .crosswordCell.posY5 { top: 285px; }
  .event1 .crosswordWrap .crosswordCell.posX6 { left: 356px; }
  .event1 .crosswordWrap .crosswordCell.posY6 { top: 356px; }
  .event1 .crosswordWrap .crosswordCell .num { position: absolute; left: -1px; top: -1px; display: block; width: 72px; height: 72px; border: 3px solid transparent; }
  .event1 .crosswordWrap .crosswordCell .num em { position: absolute; left: 3px; top: 3px; display: block; width: 11px; height: 11px; background-size: auto 28px; }
  .event1 .crosswordWrap .crosswordCell .num em.hrzN1 { background-position: 0px 0; }
  .event1 .crosswordWrap .crosswordCell .num em.vrtN1 { background-position: 0px -14px; }
  .event1 .crosswordWrap .crosswordCell .num em.hrzN2 { background-position: -14px 0; }
  .event1 .crosswordWrap .crosswordCell .num em.vrtN2 { background-position: -14px -14px; }
  .event1 .crosswordWrap .crosswordCell .num em.hrzN3 { background-position: -28px 0; }
  .event1 .crosswordWrap .crosswordCell .num em.vrtN3 { background-position: -28px -14px; }
  .event1 .crosswordWrap .crosswordCell .num em.hrzN4 { background-position: -42px 0; }
  .event1 .crosswordWrap .crosswordCell .num em.vrtN4 { background-position: -42px -14px; }
  .event1 .crosswordWrap .crosswordCell .num em.hrzN5 { background-position: -56px 0; }
  .event1 .crosswordWrap .crosswordCell .num em.vrtN5 { background-position: -56px -14px; }
  .event1 .crosswordWrap .crosswordCell .num em.hrzN6 { background-position: -70px 0; }
  .event1 .crosswordWrap .crosswordCell .num em.vrtN6 { background-position: -70px -14px; }
  .event1 .crosswordWrap .crosswordCell .num em.hrzN7 { background-position: -84px 0; }
  .event1 .crosswordWrap .crosswordCell .num em.vrtN7 { background-position: -84px -14px; }
  .event1 .crosswordWrap .crosswordCell .num em.hrzN8 { background-position: -98px 0; }
  .event1 .crosswordWrap .crosswordCell .num em.vrtN8 { background-position: -98px -14px; }
  .event1 .crosswordWrap .crosswordCell .num em.hrzN9 { background-position: -112px 0; }
  .event1 .crosswordWrap .crosswordCell .num em.vrtN9 { background-position: -112px -14px; }
  .event1 .crosswordWrap .crosswordCell .num + .num em { top: 15px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC1 { width: 72px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC1 { height: 72px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC2 { width: 143px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC2 { height: 143px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC3 { width: 214px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC3 { height: 214px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC4 { width: 285px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC4 { height: 285px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC5 { width: 356px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC5 { height: 356px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC6 { width: 427px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC6 { height: 427px; }
  .event1 .crosswordWrap .crosswordCell input[type="text"] { position: absolute; left: 2px; top: 2px; display: block; width: 66px; height: 66px; line-height: 66px; padding: 4px 0 0; font-size: 26px; font-size: 2.6rem; }
  .event2 .commentWrap .commentWrite { height: auto; margin-bottom: 160px; padding-left: 42px; padding-right: 42px; }
  .event2 .commentWrap .commentWrite .commentBtn { right: auto; top: auto; left: 5%; bottom: -110px; width: 90%; height: 90px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); }
  .event2 .commentWrap .commentList > li { width: 100%; } }
@media only screen and (max-width: 640px) { #evTop > .inner { padding: 0 4.6875%; }
  #evHeader .title > .inner { padding-bottom: 96%; background: url("../img/event/bg_header_640.jpg") no-repeat center center; background-size: cover; }
  #evHeader .schedule > .inner { padding: 40px 4.6875% 60px; }
  .evContent > .inner { padding: 0 4.6875%; }
  .evGift > .inner { padding: 0 4.6875%; }
  .evNote > .inner { padding: 0 4.6875%; }
  .msgWrap { padding: 0 4.6875%; } }
@media only screen and (max-width: 480px) { .evGift.ev1Gift .giftList > li, .evGift.ev2Gift .giftList > li { width: 50%; }
  .evBtn.submit img { max-width: 313px; }
  .event1 .crosswordWrap { width: 313px; }
  .event1 .crosswordWrap .crosswordBox { width: 313px; height: 313px; background: url("../img/event/bg_crossword_313.png") no-repeat center center; }
  .event1 .crosswordWrap .crosswordCell { position: absolute; left: auto; top: auto; display: block; width: 51px; height: 51px; }
  .event1 .crosswordWrap .crosswordCell.posX1 { left: 1px; }
  .event1 .crosswordWrap .crosswordCell.posY1 { top: 1px; }
  .event1 .crosswordWrap .crosswordCell.posX2 { left: 53px; }
  .event1 .crosswordWrap .crosswordCell.posY2 { top: 53px; }
  .event1 .crosswordWrap .crosswordCell.posX3 { left: 105px; }
  .event1 .crosswordWrap .crosswordCell.posY3 { top: 105px; }
  .event1 .crosswordWrap .crosswordCell.posX4 { left: 157px; }
  .event1 .crosswordWrap .crosswordCell.posY4 { top: 157px; }
  .event1 .crosswordWrap .crosswordCell.posX5 { left: 209px; }
  .event1 .crosswordWrap .crosswordCell.posY5 { top: 209px; }
  .event1 .crosswordWrap .crosswordCell.posX6 { left: 261px; }
  .event1 .crosswordWrap .crosswordCell.posY6 { top: 261px; }
  .event1 .crosswordWrap .crosswordCell .num { position: absolute; left: -1px; top: -1px; display: block; width: 53px; height: 53px; border: 2px solid transparent; }
  .event1 .crosswordWrap .crosswordCell .num em { left: 1px; top: 1px; }
  .event1 .crosswordWrap .crosswordCell .num + .num em { top: 13px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC1 { width: 53px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC1 { height: 53px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC2 { width: 105px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC2 { height: 105px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC3 { width: 157px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC3 { height: 157px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC4 { width: 209px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC4 { height: 209px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC5 { width: 261px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC5 { height: 261px; }
  .event1 .crosswordWrap .crosswordCell .num.hrzC6 { width: 313px; }
  .event1 .crosswordWrap .crosswordCell .num.vrtC6 { height: 313px; }
  .event1 .crosswordWrap .crosswordCell input[type="text"] { position: absolute; left: 1px; top: 1px; display: block; width: 49px; height: 49px; line-height: 49px; padding: 2px 0 0; font-size: 22px; font-size: 2.2rem; }
  .event2 .commentWrap .commentWrite { margin-bottom: 140px; }
  .event2 .commentWrap .commentWrite .commentBtn { bottom: -90px; height: 70px; background-size: auto 130px; } }
/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/*********** custom ***********/
.slideWrap { position: relative; }

.slick-slide { outline: none; }
.slick-slide img { width: 100%; }

/** Arrows **/
.slick-prev, .slick-next { outline: none; position: absolute; left: 50%; top: 50%; display: block; width: auto; height: auto; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); background: transparent; z-index: 999; }

.slick-disabled { opacity: 0; }

/** Dot **/
.slick-dots li { position: relative; display: block; padding: 0; cursor: pointer; }
.slick-dots li button { position: relative; display: block; cursor: pointer; color: transparent; font-size: 0; line-height: 0; border: 0; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { content: ''; position: absolute; top: 50%; left: 50%; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }

/*# sourceMappingURL=season_event_style.css.map */
