/** Filename : style.css color **/
/* ================================== Font ================================== */
@import url(../font/AritaBuri.css);
/* ================================== Reset ================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, article, aside, canvas, details, embed, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

img, fieldset, form, label, legend, figure, figcaption, input, button { margin: 0; padding: 0; border: 0; vertical-align: middle; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

button::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner { padding: 0; border: 0; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; }

img { line-height: 0; font-size: 0; }

a { text-decoration: none; color: inherit; }

table { border-collapse: collapse; padding: 0; margin: 0; width: 100%; border: 0; }

/* ================================== Common ================================== */
a, a:hover, a:focus, a:active { text-decoration: none; }

#skipNav { position: absolute; left: 0; top: 0; width: 100%; z-index: 99999; }
#skipNav a { overflow: hidden; display: block; width: 1px; height: 1px; margin-bottom: -1px; color: #444; font-size: 0; text-decoration: none; }
#skipNav a:hover, #skipNav a:active, #skipNav a:focus { width: 100%; height: auto; padding: 9px 0; background: #303030; font-size: 20px; font-size: 2rem; text-align: center; color: #fff; }

caption, .hidden { position: absolute; top: -9999; left: -9999; font-size: 0 !important; line-height: 0 !important; padding: 0 !important; margin: 0 !important; }

caption { font-size: 0; height: 0; visibility: hidden; overflow: hidden; }

.hidden, legend { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }

input[placeholder]::-webkit-input-placeholder { color: #777; }
input[placeholder]:-moz-placeholder { color: #777; }
input[placeholder]::-moz-placeholder { color: #777; }
input[placeholder]:-ms-input-placeholder { color: #777; }
input[placeholder].placeholder { color: #777; }

html { font-size: 62.5%; /* Sets up the Base 10 stuff */ position: relative; min-height: 100%; overflow-y: auto; }

body { font-family: "AritaBuri", sans-serif; font-weight: 400; font-style: normal; color: #444; font-size: 18px; font-size: 1.8rem; line-height: 1.6; letter-spacing: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow-y: hidden; }

html, body { overflow-x: hidden; }

.srOnly { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.webOnly { display: inline-block; }

.mobOnly { display: none; }

button { font-family: inherit; cursor: pointer; background: transparent; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

table { width: 100%; border: 0; padding: 0; margin: 0; border-collapse: collapse; }

input[type="text"], input[type="password"], textarea { width: 100%; appearance: none; -webkit-appearance: none; -moz-appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; font-family: inherit; border: 1px solid #ddd; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

input[type="text"], input[type="password"] { padding: 0 10px; height: 40px; line-height: 40px; }

input[type="file"] { width: 100%; font-family: inherit; }

textarea { height: auto; padding: 10px; }

select { width: 100%; height: 40px; line-height: 34px; padding: 4px 5px; font-family: inherit; vertical-align: middle; border: 1px solid #ddd; background: #fff; border-radius: 0px; }

input[type="text"], input[type="password"], input[type="file"], textarea, select { color: #666; font-size: 16px; font-size: 1.6rem; line-height: 1.6; letter-spacing: -0.02em; }

input[type="checkbox"].custom, input[type="radio"].custom { opacity: 0; position: absolute; width: 20px; height: 20px; margin-top: 4px; }
input[type="checkbox"].custom + label, input[type="radio"].custom + label { position: relative; display: inline-block; height: 24px; padding-left: 29px; color: #666; }
input[type="checkbox"].custom + label i, input[type="radio"].custom + label i { position: absolute; left: 0; top: 2px; display: block; width: 20px; height: 20px; border: 1px solid #ddd; background: #fff; cursor: pointer; }
input[type="checkbox"].boxOnly + label, input[type="radio"].boxOnly + label { padding-left: 20px; }

input[type="checkbox"].custom:checked + label i { background: #fff url("/kedi_eng/res/img/common/icon_checkbox.png") no-repeat center center; }

input[type="radio"].custom + label { line-height: 24px; }
input[type="radio"].custom + label i { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; }
input[type="radio"].custom:checked + label i { background: #fff url("/kedi_eng/res/img/common/icon_radio.png") no-repeat center center; }

.modalOverlay { display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; min-width: 100%; min-height: 100%; background: rgba(0, 0, 0, 0.7); }
.modalOverlay.gnbDim { z-index: 9; }
.modalOverlay.layerDim { z-index: 998; }

.viewBtn { display: inline-block; margin: 3px 0 4px; padding: 0 8px 0 7px; color: #fff; font-size: 15px; font-size: 1.5rem; height: 25px; line-height: 25px; font-weight: 900; background: #000; }
.viewBtn.end { background: #484848; }

.buyBtn { display: inline-block; min-width: 90px; margin: 0; padding: 0 8px 0 7px; color: #fff; font-size: 16px; font-size: 1.6rem; height: 29px; line-height: 29px; font-weight: 900; background: #006835; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
.buyBtn.end { background: #484848; }

.participateBtn { display: inline-block; min-width: 110px; margin: 0; padding: 0 8px 0 7px; color: #fff; font-size: 18px; font-size: 1.8rem; height: 39px; line-height: 39px; font-weight: 900; background: #006835; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
.participateBtn.end { background: #484848; }

.arrowBtn { position: relative; display: inline-block; width: 100%; max-width: 580px; margin: 0; padding: 16px 18px 15px; color: #fff; font-size: 28px; font-size: 2.8rem; font-weight: 900; line-height: 1.4; background: #00a235; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
.arrowBtn:after { content: ''; display: inline-block; width: 8px; height: 14px; vertical-align: middle; margin: -2px 0 0 28px; background: url("../img/content/view_btn_arrow.png") no-repeat center center; }
.arrowBtn.end { background: #484848; }

.ottBtn { position: relative; display: inline-block; vertical-align: top; margin: 5px 0; }
.ottBtn > * { display: inline-block; min-width: 138px; height: 40px; line-height: 38px; padding: 0 10px; text-align: center; color: #fff; font-size: 16px; font-size: 1.6rem; font-weight: 600; background: #666; border: 1px solid #666; cursor: pointer; }
.ottBtn.btnLight > * { color: #666; background: #f4f4f4; border: 1px solid #f4f4f4; }
.ottBtn.btnDark > * { background: #999999; border: 1px solid #999999; }
.ottBtn.btnGray > * { background: #666; border: 1px solid #666; }
.ottBtn.btnBlue > * { background: #157cb6; border: 1px solid #157cb6; }
.ottBtn.btnLine > * { color: #666; background: #fff; border: 1px solid #ddd; }
.ottBtn.btnLg > * { height: 50px; line-height: 48px; font-size: 18px; font-size: 1.8rem; font-weight: 700; }
.ottBtn.btnSm > * { min-width: 104px; height: 30px; line-height: 28px; font-size: 15px; font-size: 1.5rem; }

/* custom */
.flL { float: left !important; }

.flR { float: right !important; }

.taL { text-align: left !important; }

.taC { text-align: center !important; }

.taR { text-align: right !important; }

.mgt10 { margin-top: 10px !important; }

.mgt20 { margin-top: 20px !important; }

.mgt25 { margin-top: 25px !important; }

.mgt30 { margin-top: 30px !important; }

.mgt40 { margin-top: 40px !important; }

.mgt45 { margin-top: 45px !important; }

.mgtm20 { margin-top: -20px !important; }

.mgb40 { margin-bottom: 40px !important; }

/* ================================== media query ================================== */
@media only screen and (max-width: 767px) { body { font-size: 16px; font-size: 1.6rem; }
  .webOnly { display: none; }
  .mobOnly { display: inline-block; }
  .arrowBtn { padding: 13px 15px 12px; font-size: 20px; font-size: 2rem; }
  .arrowBtn:after { margin-left: 22px; } }
/* ================================== Layout ================================== */
#wrap { position: relative; }

#container { padding-top: 160px; -ms-word-break: keep-all; word-break: keep-all; background: url("../img/common/content_bg.gif") repeat center center; }
#container > .inner { position: relative; max-width: 1260px; width: 100%; margin: 0 auto; padding: 0 30px; }
#container > .inner:before, #container > .inner:after { content: ""; display: table; }
#container > .inner:after { clear: both; }
#container.main { padding-top: 0; background: #fff none; }

.content > .inner { position: relative; max-width: 1260px; width: 100%; margin: 0 auto; padding-left: 30px; padding-right: 30px; }
.content > .inner:before, .content > .inner:after { content: ""; display: table; }
.content > .inner:after { clear: both; }
.content.subCont > .inner { padding-bottom: 103px; text-align: center; }
.content h2 { margin-bottom: 30px; color: #222; font-size: 46px; font-size: 4.6rem; font-weight: 900; line-height: 1.3; }
.content h3 { margin-bottom: 6px; color: #222; font-size: 26px; font-size: 2.6rem; font-weight: 900; line-height: 1.4; }
.content h3 i { display: block; margin-bottom: 6px; font-size: 46px; font-size: 4.6rem; font-style: normal; }
.content h3 i.fc1 { color: #11a878; }
.content h3 i.fc2 { color: #6ba20b; }
.content h3 i.fc3 { color: #bfa307; }
.content .conBox { margin-top: 62px; }
.content .conBox p + p { margin-top: 19px; }
.content .conBox strong { color: #333; font-weight: 900; }

.subTab { display: table; width: 100%; max-width: 740px; margin: 0 auto; margin-bottom: 20px; }
.subTab li { display: table-cell; color: #666; font-size: 26px; font-size: 2.6rem; line-height: 1.4; }
.subTab li span { display: block; padding: 0 11px 3px; text-align: center; }
.subTab li.isActive { color: #275d33; font-weight: 900; }
.subTab li.isActive span { background: url("../img/content/subtab_underline.png") no-repeat center bottom; background-size: 100% 18px; }

.titleBox { position: relative; min-height: 360px; padding-top: 77px; padding-right: 26%; padding-bottom: 44px; text-align: center; border-bottom: 2px solid #275d33; }
.titleBox h2 { margin-bottom: 15px; }
.titleBox p { font-size: 26px; font-size: 2.6rem; font-weight: 900; line-height: 1.4; }
.titleBox .guideList { display: inline-block; max-width: 750px; }
.titleBox .subIllust { position: absolute; right: 11.67%; bottom: -2px; display: block; width: 250px; height: 370px; transition: right 0.2s ease; -webkit-transition: right 0.2s ease; -moz-transition: right 0.2s ease; -o-transition: right 0.2s ease; }
.titleBox .subIllust.packageM { background: url("../img/content/title_illust_packagem.png") no-repeat 0 0; }
.titleBox .subIllust.packageY { background: url("../img/content/title_illust_packagey.png") no-repeat 0 0; }
.titleBox .subIllust.packageS { background: url("../img/content/title_illust_packages.png") no-repeat 0 0; }

.guideList { display: block; }
.guideList li { position: relative; display: block; margin-top: 7px; padding-left: 12px; text-align: left; font-size: 16px; font-size: 1.6rem; font-style: normal; }
.guideList li:before { content: ''; position: absolute; left: 0; top: 8px; display: block; width: 6px; height: 6px; background: url("../img/content/bul_dot.png") no-repeat 0 0; }
.guideList li i { display: inline-block; padding: 2px 4px 0 3px; color: #fff; font-style: normal; background: #000; }
.guideList li strong { color: #275d33; font-weight: 900; }
.guideList li em { color: #ff6c00; font-weight: 900; font-style: normal; text-decoration: underline; }

/* ================================== media query ================================== */
@media only screen and (max-width: 1280px) { .titleBox .subIllust { right: 5%; } }
@media only screen and (max-width: 1024px) { .titleBox { padding-right: 250px; text-align: left; }
  .titleBox .subIllust { right: 0; } }
@media only screen and (max-width: 767px) { #container > .inner { padding-left: 4.6875%; padding-right: 4.6875%; }
  #container.main { padding-top: 0; }
  .content > .inner { padding-left: 4.6875%; padding-right: 4.6875%; }
  .content.subCont > .inner { padding-bottom: 73px; }
  .content h2 { font-size: 36px; font-size: 3.6rem; }
  .content h3 { font-size: 20px; font-size: 2rem; }
  .content h3 i { font-size: 36px; font-size: 3.6rem; }
  .content .conBox { margin-top: 42px; }
  .subTab li { font-size: 24px; font-size: 2.4rem; }
  .subTab li span { padding: 0 8px 2px; }
  .subTab li.isActive span { background-size: 100% 15px; }
  .titleBox { min-height: 0; padding-top: 38px; padding-right: 0; }
  .titleBox p { font-size: 20px; font-size: 2rem; }
  .titleBox .subIllust { display: none; } }
@media only screen and (max-width: 480px) { .subTab li { font-size: 18px; font-size: 1.8rem; } }
/* ================================== Header ================================== */
#header { position: absolute; left: 0; right: 0; background: transparent; z-index: 90; }
#header * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#header .headerTop { position: absolute; left: 0; right: 0; z-index: 30; }
#header .headerTop > .inner { position: relative; max-width: 1606px; width: 100%; min-height: 155px; margin: 0 auto; padding: 0 30px; }
#header .headerLogo { position: absolute; left: 30px; top: 30px; display: block; width: auto; height: auto; }
#header .headerLogo a { position: relative; display: block; width: 154px; padding-bottom: 106px; }
#header .headerLogo a:before, #header .headerLogo a:after { content: ''; position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; right: 0; bottom: 0; background: url("../img/common/header_logo.png") no-repeat center 0; background-size: 100% auto; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; }
#header .headerLogo a:before { opacity: 1; }
#header .headerLogo a:after { opacity: 0; background-position: center -120px; }
#header .menuBtn { position: absolute; right: 100px; top: 27px; display: block; width: auto; height: auto; text-align: center; color: #275d33; font-size: 15px; font-size: 1.5rem; font-weight: 700; transition: color 0.2s ease; -webkit-transition: color 0.2s ease; -moz-transition: color 0.2s ease; -o-transition: color 0.2s ease; }
#header .menuBtn .hamburger { cursor: pointer; position: relative; display: inline-block; vertical-align: middle; width: 62px; height: 23px; }
#header .menuBtn .hamburger > i { background: #275d33; position: absolute; left: 50%; top: 50%; display: block; width: 44px; height: 4px; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transition: background 0.2s ease; -webkit-transition: background 0.2s ease; -moz-transition: background 0.2s ease; -o-transition: background 0.2s ease; }
#header .menuBtn .hamburger > i.line1 { margin-top: -5px; }
#header .menuBtn .hamburger > i.line2 { margin-top: 5px; }
#header.isActive .headerLogo a:before { opacity: 0; }
#header.isActive .headerLogo a:after { opacity: 1; }
#header.isActive .menuBtn { color: #fff; }
#header.isActive .menuBtn .hamburger { height: 41px; }
#header.isActive .menuBtn .hamburger > i { background: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; }

.headerGnb { position: absolute; left: 0; right: 0; background: #286035 url("../img/common/gnb_bg.gif") repeat center center; z-index: 20; }
.headerGnb > .inner { position: relative; max-width: 1260px; width: 100%; margin: 0 auto; padding: 0 30px; }

#gnb { display: none; padding: 160px 0 120px; }
#gnb .gnbTop, #gnb .gnbBtm { display: table; width: 100%; }
#gnb .item { display: table-cell; padding: 33px 0; }
#gnb .item a { position: relative; display: block; width: 196px; margin: 0 auto; text-align: center; }
#gnb .item a:before { content: ''; display: block; width: 100%; padding-bottom: 100%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; background: #fff; }
#gnb .item a > span { display: block; width: 100%; margin-top: 5%; padding-bottom: 14.286%; }
#gnb .item a:after { content: ''; position: absolute; left: 50%; top: -100vh; display: block; width: 3px; height: 100vh; background: rgba(255, 255, 255, 0.2); z-index: -1; }
#gnb .item a:hover:before { box-shadow: 4px 13px 23px rgba(0, 0, 0, 0.4); -moz-box-shadow: 4px 13px 23px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 4px 13px 23px rgba(0, 0, 0, 0.4); }
#gnb .item.menu1 a:before { background: url("../img/common/gnb_menu1_bg.jpg") no-repeat center center; background-size: cover; }
#gnb .item.menu1 a > span { background: url("../img/common/gnb_manu1.png") no-repeat center center; background-size: cover; }
#gnb .item.menu2 a:before { background: url("../img/common/gnb_menu2_bg.jpg") no-repeat center center; background-size: cover; }
#gnb .item.menu2 a > span { background: url("../img/common/gnb_manu2.png") no-repeat center center; background-size: cover; }
#gnb .item.menu3 a:before { background: url("../img/common/gnb_menu3_bg.jpg") no-repeat center center; background-size: cover; }
#gnb .item.menu3 a > span { background: url("../img/common/gnb_manu3.png") no-repeat center center; background-size: cover; }
#gnb .item.menu4 a:before { background: url("../img/common/gnb_menu4_bg.jpg") no-repeat center center; background-size: cover; }
#gnb .item.menu4 a > span { background: url("../img/common/gnb_manu4.png") no-repeat center center; background-size: cover; }
#gnb .item.menu5 a:before { background: url("../img/common/gnb_menu5_bg.jpg") no-repeat center center; background-size: cover; }
#gnb .item.menu5 a > span { background: url("../img/common/gnb_manu5.png") no-repeat center center; background-size: cover; }
#gnb .item.menu6 a:before { background: url("../img/common/gnb_menu6_bg.jpg") no-repeat center center; background-size: cover; }
#gnb .item.menu6 a > span { background: url("../img/common/gnb_manu6.png") no-repeat center center; background-size: cover; }
#gnb .item.menu7 a:before { background: url("../img/common/gnb_menu7_bg.jpg") no-repeat center center; background-size: cover; }
#gnb .item.menu7 a > span { background: url("../img/common/gnb_manu7.png") no-repeat center center; background-size: cover; }
#gnb .gnbtopWrap { display: block; margin: 0 14.16%; }
#gnb .gnbTop .item:nth-child(1) a { margin-left: 0; }
#gnb .gnbTop .item:nth-child(3) a { margin-right: 0; }
#gnb .gnbBtm .item:nth-child(1) a { margin-left: 0; }
#gnb .gnbBtm .item:nth-child(4) a { margin-right: 0; }

/* ================================== media query ================================== */
@media only screen and (max-width: 1280px) { #header .menuBtn { right: 30px; } }
@media only screen and (max-width: 1024px) { #gnb { padding: 170px 0 70px; }
  #gnb:before, #gnb:after { content: ""; display: table; }
  #gnb:after { clear: both; }
  #gnb .gnbTop, #gnb .gnbBtm { display: inline; width: auto; }
  #gnb .item { float: left; display: block; width: 33.3333333333%; padding: 23px 5%; }
  #gnb .item a { width: 100%; margin: 0 auto; }
  #gnb .item a:after { display: none; }
  #gnb .gnbtopWrap { display: inline; margin: auto; }
  #gnb .gnbTop .item:nth-child(1) a { margin-left: auto; }
  #gnb .gnbTop .item:nth-child(3) a { margin-right: auto; }
  #gnb .gnbBtm .item:nth-child(1) a { margin-left: auto; }
  #gnb .gnbBtm .item:nth-child(4) a { margin-right: auto; } }
@media only screen and (max-width: 767px) { #header .headerTop > .inner, #header .headerGnb > .inner { padding-left: 4.6875%; padding-right: 4.6875%; }
  #header .headerLogo { left: 4.6875%; }
  #header .headerLogo a { width: 123px; padding-bottom: 84px; }
  #header .headerLogo a:after { background-position: center -96px; }
  #header .menuBtn { right: 4.6875%; }
  #gnb .item { width: 50%; padding-left: 7%; padding-right: 7%; } }
/* ================================== Footer ================================== */
#footer { position: relative; background: #343434; }
#footer * { color: #fff; font-size: 14px; font-size: 1.4rem; font-weight: 100; font-style: normal; }
#footer > .inner { position: relative; max-width: 1260px; width: 100%; margin: 0 auto; padding: 25px 30px 27px; }
#footer address p { margin-top: 2px; }
#footer address p.contectInfo span { position: relative; display: inline-block; padding-left: 23px; }
#footer address p.contectInfo span:before { content: ''; position: absolute; left: 9px; top: 5px; display: block; width: 1px; height: 12px; background: #676767; }
#footer address p.contectInfo span:first-child { padding-left: 0; }
#footer address p.contectInfo span:first-child:before { display: none; }
#footer address p.copyright { margin-top: 14px; opacity: .4; }
#footer .snsLink { position: absolute; right: 30px; top: 30px; }
#footer .snsLink:before, #footer .snsLink:after { content: ""; display: table; }
#footer .snsLink:after { clear: both; }
#footer .snsLink li { float: left; margin-left: 10px; }
#footer .snsLink li:first-child { margin-left: 0; }
#footer .snsLink li a { display: block; width: 30px; height: 30px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; background: #fff; }
#footer .snsLink li a:before { content: ''; display: block; width: 30px; height: 30px; background: url("../img/common/icon_sns.png") no-repeat 0 center; }
#footer .snsLink li.Instagram a:before { background-position: 0px center; }
#footer .snsLink li.facebook a:before { background-position: -40px center; }
#footer .snsLink li.twitter a:before { background-position: -80px center; }
#footer .snsLink li.blog a:before { background-position: -120px center; }
#footer .snsLink li.youtube a:before { background-position: -160px center; }
#footer .snsLink li.tiktok a:before { background-position: -200px center; }
#footer .arita { position: absolute; right: 30px; bottom: 26px; color: #403f3f; font-size: 6px; font-weight: 100; }

/* ================================== media query ================================== */
@media only screen and (max-width: 1024px) { #footer > .inner { text-align: center; padding-bottom: 12px; }
  #footer address p.contectInfo { display: inline-block; margin: 0 auto; }
  #footer address p.contectInfo span:nth-child(3) { display: block; }
  #footer address p.contectInfo span:nth-child(3):before { display: none; }
  #footer address p.copyright { margin-top: 4px; }
  #footer .snsLink { position: relative; right: auto; top: auto; display: inline-block; margin: 25px auto 0; }
  #footer .arita { position: relative; right: auto; bottom: auto; margin-top: 20px; } }
@media only screen and (max-width: 767px) { #footer > .inner { padding-left: 4.6875%; padding-right: 4.6875%; text-align: center; }
  #footer address { text-align: center; }
  #footer address p.contect span { padding: 0 6px; }
  #footer .snsLink { position: relative; right: auto; top: auto; margin: 20px auto 0; } }
/* ================================== board Contents ================================== */
.boardTop { margin-bottom: 20px; }
.boardTop:before, .boardTop:after { content: ""; display: table; }
.boardTop:after { clear: both; }
.boardTop .boardTit { float: left; padding: 4px 0; font-size: 15px; font-size: 1.5rem; }
.boardTop .boardSort { float: right; }
.boardTop .boardSort:before, .boardTop .boardSort:after { content: ""; display: table; }
.boardTop .boardSort:after { clear: both; }
.boardTop .boardSort > * { float: left; display: inline-block; margin-left: 10px; }
.boardTop .boardSort > *:first-child { margin-left: 0; }
.boardTop .boardSort select { min-width: 125px; height: 32px; line-height: 26px; font-size: 15px; font-size: 1.5rem; }
.boardTop .boardSort .ottBtn { margin: 0; vertical-align: middle; }
.boardTop .boardSort .ottBtn > * { height: 32px; padding: 0 10px; color: #157cb6; font-size: 15px; font-size: 1.5rem; font-weight: 400; line-height: 30px; background: #fff; border: 1px solid #157cb6; }
.boardTop .boardLegend { float: right; }
.boardTop.guide { margin-top: -5px; margin-bottom: 10px; }

.boardList { border-top: 2px solid #46474c; }
.boardList tr > * { text-align: center; }
.boardList thead { background: #f4f4f4; }
.boardList thead th { position: relative; padding: 13px 10px 12px; color: #333; font-weight: 700; border-left: 1px solid #ddd; border-bottom: 1px solid #46474c; }
.boardList thead th:first-child { border-left: none; }
.boardList tbody th, .boardList tbody td { padding: 13px 10px 12px; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.boardList tbody th:first-child, .boardList tbody td:first-child { border-left: none; }
.boardList .subject { padding-left: 20px; text-align: left; }
.boardList .process { padding-left: 20px; text-align: left; }
.boardList .file { min-width: 70px; }
.boardList .file > * { margin-left: 6px; }
.boardList .file > *:first-child { margin-left: 0; }
.boardList.typeBlue thead th { color: #157cb6; }
.boardList.bdLight { border-top: 1px solid #ddd; }
.boardList.bdLight thead th { font-weight: 600; border-bottom: 1px solid #ddd; }
.boardList.scroll { overflow-x: auto; width: 100%; }
.boardList.scroll table { width: 135%; }

.cardList ul { overflow: hidden; margin: -20px 0 0 -20px; }
.cardList ul:before, .cardList ul:after { content: ""; display: table; }
.cardList ul:after { clear: both; }
.cardList ul li { float: left; width: 50%; padding: 20px 0 0 20px; }
.cardList .itemBox { position: relative; height: 100%; min-height: 162px; padding: 20px 20px; padding-left: 142px; text-align: left; border: 1px solid #ddd; }
.cardList .itemBox .thumb { position: absolute; left: 20px; top: 20px; display: block; width: auto; height: auto; }
.cardList .itemBox .thumb span { overflow: hidden; position: relative; display: inline-block; width: 100px; padding-bottom: 120px; vertical-align: top; }
.cardList .itemBox .thumb span img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; }
.cardList .itemBox .editerInfo { margin-top: -3px; }
.cardList .itemBox .editerInfo p { font-size: 14px; font-size: 1.4rem; }
.cardList .itemBox .editerInfo p.name { padding-top: 10px; padding-bottom: 2px; color: #333; font-size: 16px; font-size: 1.6rem; }
.cardList .itemBox .editerInfo p:first-child { padding-top: 0; }

.galleryList ul { overflow: hidden; margin: -20px 0 0 -20px; }
.galleryList ul:before, .galleryList ul:after { content: ""; display: table; }
.galleryList ul:after { clear: both; }
.galleryList ul li { float: left; width: 25%; padding: 20px 0 0 20px; }
.galleryList .itemBox { padding: 20px 10px; text-align: center; border: 1px solid #ddd; }
.galleryList .itemBox .thumb span { overflow: hidden; position: relative; display: inline-block; width: 100px; padding-bottom: 120px; vertical-align: top; }
.galleryList .itemBox .thumb span img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; }
.galleryList .itemBox .year { padding: 4px 0; font-size: 15px; font-size: 1.5rem; }

.boardDetail { border-top: 2px solid #46474c; border-bottom: 1px solid #46474c; }
.boardDetail .detailTop, .boardDetail .detailList { text-align: left; }
.boardDetail .detailTop > *, .boardDetail .detailList > * { position: relative; display: block; width: 100%; padding-left: 190px; border-top: 1px solid #ddd; background: #f4f4f4; transition: padding 0.2s ease; -webkit-transition: padding 0.2s ease; -moz-transition: padding 0.2s ease; -o-transition: padding 0.2s ease; }
.boardDetail .detailTop > *:first-child, .boardDetail .detailList > *:first-child { border-top: none; }
.boardDetail .detailTop dt, .boardDetail .detailList dt { position: absolute; left: 0; top: 0; bottom: 0; display: table; width: 190px; height: 100%; padding: 13px 0 12px; transition: width 0.2s ease; -webkit-transition: width 0.2s ease; -moz-transition: width 0.2s ease; -o-transition: width 0.2s ease; }
.boardDetail .detailTop dt span, .boardDetail .detailList dt span { display: table-cell; width: 100%; text-align: center; vertical-align: middle; color: #333; font-weight: 600; line-height: 1.2; }
.boardDetail .detailTop dd, .boardDetail .detailList dd { padding: 13px 0 12px 18px; border-left: 1px solid #ddd; background: #fff; }
.boardDetail .detailTop dd img, .boardDetail .detailList dd img { margin-top: -2px; }
.boardDetail .detailTop .file > *, .boardDetail .detailList .file > * { margin-left: 6px; }
.boardDetail .detailTop .file > *:first-child, .boardDetail .detailList .file > *:first-child { margin-left: 0; }
.boardDetail .detailList .file.inFile2 { padding-top: 32px; padding-bottom: 31px; }
.boardDetail .detailContent { padding: 50px 30px; border-top: 1px solid #46474c; }

.boardWrite { border: solid #46474c; border-width: 2px 0 1px; }
.boardWrite .fieldWrap { position: relative; display: block; width: 100%; padding-left: 190px; border-top: 1px solid #ddd; background: #f4f4f4; }
.boardWrite .fieldWrap:first-child { border-top: none; }
.boardWrite .fieldWrap > * { padding: 10px 0; line-height: 1.2; }
.boardWrite .labBox { position: absolute; left: 0; top: 0; bottom: 0; display: table; width: 190px; height: 100%; font-weight: 600; }
.boardWrite .labBox > * { display: table-cell; width: 100%; color: #333; text-align: center; vertical-align: middle; }
.boardWrite .labBox i:before { content: '*'; display: inline-block; }
.boardWrite .inpBox { padding-left: 10px; border-left: 1px solid #ddd; background: #fff; }
.boardWrite .inpBox:before, .boardWrite .inpBox:after { content: ""; display: table; }
.boardWrite .inpBox:after { clear: both; }
.boardWrite .inpBox > * { display: block; float: left; }
.boardWrite .inpBox.inFile1 { padding-top: 14px; padding-bottom: 14px; }
.boardWrite .inpBox.inFile2 { padding-top: 26px; padding-bottom: 26px; }
.boardWrite .inpBox.inTable { padding-top: 15px; padding-bottom: 15px; }
.boardWrite .inpBox.inTable > * { float: none; }
.boardWrite .inpBox.inTable .ottButton { margin-top: 10px; }
.boardWrite .inpBox.inTable .ottBtn { margin: 0; }
.boardWrite .em { color: #157cb6; }
.boardWrite .dem { width: 30px; height: 40px; line-height: 40px; text-align: center; }
.boardWrite .adj { margin-left: 10px; }
.boardWrite input[type="text"], .boardWrite input[type="password"], .boardWrite input[type="file"], .boardWrite select { max-width: 470px; }
.boardWrite input[type="text"].widFull, .boardWrite input[type="password"].widFull, .boardWrite input[type="file"].widFull, .boardWrite select.widFull { max-width: none; }
.boardWrite input[type="text"].widHalf, .boardWrite input[type="password"].widHalf, .boardWrite input[type="file"].widHalf, .boardWrite select.widHalf { max-width: 220px; }
.boardWrite input[type="text"].widCustom1, .boardWrite input[type="password"].widCustom1, .boardWrite input[type="file"].widCustom1, .boardWrite select.widCustom1 { max-width: 240px; }
.boardWrite.typeBlue .labBox > * { color: #157cb6; }
.boardWrite.bdLight { border: solid #ddd; border-width: 1px 0 1px; }

.boardSearch { margin-top: 20px; }
.boardSearch .inner { position: relative; max-width: 336px; margin: 0 auto; }
.boardSearch input { width: calc(100% - 36px); height: 35px; line-height: 35px; }
.boardSearch .btnSearch { position: absolute; right: 0; top: 0; display: block; width: auto; height: auto; }
.boardSearch .btnSearch:before { content: ''; display: block; width: 36px; height: 35px; background: #157cb6 url("/kedi_eng/res/img/board/icon_search.png") no-repeat center center; cursor: pointer; }

.pagination { overflow: hidden; margin-top: 20px; text-align: center; font-size: 0; }
.pagination:before, .pagination:after { content: ""; display: table; }
.pagination:after { clear: both; }
.pagination li { display: inline-block; }
.pagination li a:hover { text-decoration: underline; }
.pagination li em { font-style: normal; }
.pagination li > * { overflow: hidden; display: block; width: 29px; height: 29px; margin-left: -1px; vertical-align: top; color: #666; font-size: 16px; font-size: 1.6rem; line-height: 29px; text-decoration: none; border: 1px solid #ddd; background: #fff; }
.pagination li.first span, .pagination li.prev span, .pagination li.next span, .pagination li.end span { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.pagination li.first > *:before, .pagination li.prev > *:before, .pagination li.next > *:before, .pagination li.end > *:before { content: ''; display: inline-block; width: 27px; height: 27px; background: #fff url("/kedi_eng/res/img/board/icon_pagination.png") no-repeat 0 center; background-size: auto 100%; }
.pagination li.first > *:before { background-position: 0px center; }
.pagination li.prev > *:before { background-position: -30px center; }
.pagination li.next > *:before { background-position: -60px center; }
.pagination li.end > *:before { background-position: -90px center; }
.pagination li.active > * { color: #fff; text-decoration: underline; background: #157cb6; }

.bbsPrevNext { margin-top: -1px; border-top: 1px solid #46474c; }
.bbsPrevNext li { position: relative; padding: 13px 0 12px 190px; border-bottom: 1px solid #ddd; transition: padding 0.2s ease; -webkit-transition: padding 0.2s ease; -moz-transition: padding 0.2s ease; -o-transition: padding 0.2s ease; }
.bbsPrevNext li span { position: absolute; left: 0; top: 0; display: block; width: 190px; height: auto; bottom: 0; padding: 13px 0 12px; text-align: center; color: #333; font-weight: 600; background: #f4f4f4; transition: width 0.2s ease; -webkit-transition: width 0.2s ease; -moz-transition: width 0.2s ease; -o-transition: width 0.2s ease; }
.bbsPrevNext li a { padding-left: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; }

.ottButton { margin-top: 15px; text-align: center; }
.ottButton:before, .ottButton:after { content: ""; display: table; }
.ottButton:after { clear: both; }
.ottButton .ottBtn { margin-left: 5px; }
.ottButton .ottBtn:first-child { margin-left: 0; }
.ottButton > .floatL, .ottButton > .floatR { float: left; }
.ottButton > .floatL .ottBtn, .ottButton > .floatR .ottBtn { float: left; }
.ottButton > .floatR { float: right; }

.boardTitle { margin-top: 10px; }
.boardTitle:before, .boardTitle:after { content: ""; display: table; }
.boardTitle:after { clear: both; }
.boardTitle h4 { float: left; }
.boardTitle h4 + p { float: right; padding-top: 19px; }
.boardTitle h5 { float: left; }
.boardTitle h5 + p { float: right; padding-top: 15px; }

.boardGuide { padding: 25px 25px 23px; border: 1px solid #dfdfdf; }
.boardGuide li { position: relative; padding-left: 14px; }
.boardGuide li:before { content: ''; position: absolute; left: 4px; top: 11px; display: block; width: 3px; height: 3px; background: #157cb6; }

.boardOutline { margin-top: -6px; padding-bottom: 27px; }

.required { color: #ef3e61; font-weight: 700; font-style: normal; }

.acknowledge { margin-top: 10px; padding: 12px 0; }
.acknowledge:before, .acknowledge:after { content: ""; display: table; }
.acknowledge:after { clear: both; }
.acknowledge > * { float: right; padding: 4px 0; }
.acknowledge > *:first-child { float: left; }
.acknowledge .acknTit { margin-top: -3px; color: #333; font-size: 18px; font-size: 1.8rem; font-weight: 700; }
.acknowledge .acknCont { position: relative; display: none; width: 100%; margin: 8px 0; padding: 25px 30px; border: 1px solid #ddd; }
.acknowledge .acknOpen { display: inline-block; width: 24px; height: 23px; margin: -2px 0 0 6px; border: 1px solid #d9d9d9; background: url("/kedi_eng/res/img/content/icon_ackn_open.png") no-repeat center center; }
.acknowledge .acknClose { position: absolute; top: 10px; right: 10px; display: inline-block; width: 33px; height: 30px; background: url("/kedi_eng/res/img/content/icon_ackn_close.png") no-repeat center center; }

/* ================================== media query ================================== */
@media only screen and (max-width: 1024px) { .boardDetail .detailTop > * { padding-left: 150px; }
  .boardDetail .detailTop dt { width: 150px; }
  .bbsPrevNext li { padding-left: 150px; }
  .bbsPrevNext li span { width: 150px; } }
@media only screen and (max-width: 767px) { .boardTop .boardTit { float: none; }
  .boardTop .boardSort { float: none; margin-top: 8px; }
  .boardList table { table-layout: fixed; }
  .boardList colgroup, .boardList thead { display: none; }
  .boardList tbody tr { display: block; padding: 18px 0; padding-left: 4.0625%; border-bottom: 1px solid #ddd; }
  .boardList tbody th, .boardList tbody td { display: block; width: 100%; height: auto; padding: 2px 0; text-align: left; font-size: 14px; font-size: 1.4rem; border-left: none; border-bottom: none; }
  .boardList .subject { padding: 0; }
  .boardList .subject a { color: #333; font-size: 16px; font-size: 1.6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; }
  .boardList .process { padding-left: 0; }
  .boardList .mobInline { display: inline-block; width: auto; }
  .boardList .mobInline + .mobInline { padding-left: 15px; }
  .boardList .mobInline + .file { padding-left: 10px; }
  .boardList .file { padding: 0; }
  .boardList.scroll { width: 100%; }
  .boardList.scroll table { width: 100%; }
  .cardList ul li { float: none; width: 100%; }
  .galleryList ul li { width: 50%; }
  .boardWrite .inpBox > * + * { margin-top: 10px; }
  .boardWrite .dem, .boardWrite input[type="hidden"] { margin-top: 0; }
  .boardWrite .adj { margin-left: 0; }
  .boardWrite input[type="text"], .boardWrite input[type="password"], .boardWrite input[type="file"] { max-width: none; }
  .boardWrite input[type="text"].widHalf, .boardWrite input[type="password"].widHalf, .boardWrite input[type="file"].widHalf { max-width: none; }
  .boardWrite input[type="text"].widHalf.adjDim, .boardWrite input[type="password"].widHalf.adjDim, .boardWrite input[type="file"].widHalf.adjDim { width: calc(100% - 30px) !important; }
  .boardWrite select.widHalf { max-width: none; }
  .boardWrite select.widCustom1 { max-width: none; }
  .boardWrite.bdLight { padding: 10px 0 11px; border: solid #ddd; border-width: 1px 0 1px; }
  .boardWrite.bdLight .fieldWrap { padding-left: 0; border-top: none; background: #fff; }
  .boardWrite.bdLight .labBox { position: relative; left: auto; top: auto; bottom: auto; display: block; width: auto; height: auto; padding: 8px 0; }
  .boardWrite.bdLight .labBox > * { display: block; text-align: left; }
  .boardWrite.bdLight .inpBox { padding-top: 0; padding-left: 0; border-left: none; }
  .boardWrite.bdLight .inpBox.inFile1, .boardWrite.bdLight .inpBox.inFile2 { padding-top: 6px; padding-bottom: 16px; } }
@media only screen and (max-width: 640px) { .boardDetail .detailTop > * { padding-left: 120px; }
  .boardDetail .detailTop dt { width: 120px; }
  .boardDetail .detailContent { padding: 30px 4.6875%; }
  .boardWrite { border: solid #46474c; border-width: 2px 0 1px; }
  .boardWrite .fieldWrap { position: relative; display: block; width: 100%; padding-left: 190px; border-top: 1px solid #ddd; background: #f4f4f4; }
  .boardWrite .fieldWrap:first-child { border-top: none; }
  .boardWrite .fieldWrap > * { padding: 10px 0; color: #333; line-height: 1.2; }
  .boardWrite .labBox { position: absolute; left: 0; top: 0; bottom: 0; display: table; width: 190px; height: 100%; font-weight: 600; }
  .boardWrite .labBox > * { display: table-cell; width: 100%; text-align: center; vertical-align: middle; }
  .boardWrite .labBox i { color: #ef3e61; font-style: normal; }
  .boardWrite .labBox i:before { content: '*'; display: inline-block; }
  .boardWrite .inpBox { padding-left: 10px; border-left: 1px solid #ddd; background: #fff; }
  .boardWrite .inpBox:before, .boardWrite .inpBox:after { content: ""; display: table; }
  .boardWrite .inpBox:after { clear: both; }
  .boardWrite .inpBox > * { display: block; float: left; }
  .bbsPrevNext li { padding-left: 120px; }
  .bbsPrevNext li span { width: 120px; }
  .acknowledge > * { float: left; } }
@media only screen and (max-width: 480px) { .boardTop .boardSort > * { float: none; display: block; margin-left: 0; margin-top: 10px; }
  .boardTop .boardSort > *:first-child { margin-top: 0; }
  .boardTop .boardSort select { width: 100%; }
  .boardTop .boardSort .ottBtn { width: 100%; }
  .boardTop .boardSort .ottBtn > * { display: block; }
  .boardDetail .detailContent { padding: 30px 0; }
  .boardWrite { padding: 10px 0 11px; }
  .boardWrite .fieldWrap { padding-left: 0; border-top: none; background: #fff; }
  .boardWrite .labBox { position: relative; left: auto; top: auto; bottom: auto; display: block; width: auto; height: auto; padding: 8px 0; }
  .boardWrite .labBox > * { display: block; text-align: left; }
  .boardWrite .inpBox { padding-top: 0; padding-left: 0; border-left: none; }
  .boardWrite .inpBox.inFile1, .boardWrite .inpBox.inFile2 { padding-top: 6px; padding-bottom: 16px; }
  .boardTitle { margin-top: 10px; margin-bottom: 12px; }
  .boardTitle h4 { float: none; }
  .boardTitle h4 + p { float: none; padding-top: 0; padding-bottom: 2px; }
  .boardTitle h5 { float: none; }
  .boardTitle h5 + p { float: none; padding-top: 0; padding-bottom: 2px; } }
/* ================================== Main ================================== */
.visualArea { overflow: hidden; position: relative; width: 100%; height: 800px; transition: height 0.2s ease; -webkit-transition: height 0.2s ease; -moz-transition: height 0.2s ease; -o-transition: height 0.2s ease; }
.visualArea .scene, .visualArea .layer { display: block; width: 100%; height: 100%; padding: 0; margin: 0; }
.visualArea .visualObject { position: absolute; left: 50%; bottom: 0; display: table; width: 164%; max-width: 2945px; transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transition: bottom 0.2s ease; -webkit-transition: bottom 0.2s ease; -moz-transition: bottom 0.2s ease; -o-transition: bottom 0.2s ease; z-index: 2; }
.visualArea .visualObject > * { display: table-cell; text-align: center; vertical-align: bottom; }
.visualArea .visualObject > * > * { position: relative; display: block; z-index: 5; }
.visualArea .visualObject > * > *:before { content: ''; position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; right: 0; bottom: 0; z-index: 4; }
.visualArea .visualObject > * > *:after { content: ''; position: absolute; left: 50%; top: 0; display: block; width: 3px; height: 100vh; background: #006835; z-index: 30; }
.visualArea .visualObject > *.item1 > * { width: 372px; padding-bottom: 180px; margin: 0 33px 300px; }
.visualArea .visualObject > *.item1 > *:before { background: url("../img/main/visual_object_item1.png") no-repeat center center; background-size: cover; }
.visualArea .visualObject > *.item1 > *:after { margin: 174px 0 0 -38px; }
.visualArea .visualObject > *.item2 > * { width: 196px; padding-bottom: 331px; margin: 0 0 55px; }
.visualArea .visualObject > *.item2 > *:before { background: url("../img/main/visual_object_item2.png") no-repeat center center; background-size: cover; }
.visualArea .visualObject > *.item2 > *:after { margin: 312px 0 0 0; }
.visualArea .visualObject > *.item3 > * { width: 367px; padding-bottom: 444px; margin: 0 -5px 197px; }
.visualArea .visualObject > *.item3 > *:before { background: url("../img/main/visual_object_item3.png") no-repeat center center; background-size: cover; }
.visualArea .visualObject > *.item3 > *:after { margin: 252px 0 0 50px; }
.visualArea .visualObject > *.item4 > * { width: 161px; padding-bottom: 451px; margin: 0 35px 0; }
.visualArea .visualObject > *.item4 > *:before { background: url("../img/main/visual_object_item4.png") no-repeat center center; background-size: cover; }
.visualArea .visualObject > *.item4 > *:after { margin: 408px 0 0 44px; }
.visualArea .visualObject > *.item5 > * { width: 212px; padding-bottom: 363px; margin: 0 85px 32px; }
.visualArea .visualObject > *.item5 > *:before { background: url("../img/main/visual_object_item5.png") no-repeat center center; background-size: cover; }
.visualArea .visualObject > *.item5 > *:after { margin: 348px 0 0 50px; }
.visualArea .visualObject > *.item6 > * { width: 151px; padding-bottom: 269px; margin: 0 20px 257px; }
.visualArea .visualObject > *.item6 > *:before { background: url("../img/main/visual_object_item6.png") no-repeat center center; background-size: cover; }
.visualArea .visualObject > *.item6 > *:after { margin: 266px 0 0 0; }
.visualArea .visualObject > *.item7 > * { width: 132px; padding-bottom: 392px; margin: 0 125px 97px; }
.visualArea .visualObject > *.item7 > *:before { background: url("../img/main/visual_object_item7.png") no-repeat center center; background-size: cover; }
.visualArea .visualObject > *.item7 > *:after { margin: 390px 0 0 -25px; }
.visualArea .visualObject > *.item8 > * { width: 241px; padding-bottom: 352px; margin: 0 -26px 45px; }
.visualArea .visualObject > *.item8 > *:before { background: url("../img/main/visual_object_item8.png") no-repeat center center; background-size: cover; }
.visualArea .visualObject > *.item8 > *:after { margin: 348px 0 0 42px; }
.visualArea .visualObject > *.item9 > * { width: 296px; padding-bottom: 393px; margin: 0 44px 186px; }
.visualArea .visualObject > *.item9 > *:before { background: url("../img/main/visual_object_item9.png") no-repeat center center; background-size: cover; }
.visualArea .visualObject > *.item9 > *:after { margin: 376px 0 0 52px; }
.visualArea .visualObject > *.item10 > * { width: 87px; padding-bottom: 301px; margin: 0 51px 58px; }
.visualArea .visualObject > *.item10 > *:before { background: url("../img/main/visual_object_item10.png") no-repeat center center; background-size: cover; }
.visualArea .visualObject > *.item10 > *:after { margin: 298px 0 0 -3px; }
.visualArea .visualBg { position: absolute; left: 50%; top: 0; display: block; width: 105%; height: 100%; transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); background: url("../img/main/visual_bg.jpg") no-repeat center center; background-size: cover; z-index: 1; }

#open { background: #23542e url("../img/main/open_bg.jpg") no-repeat center center; }
#open .mOpenInfo:before, #open .mOpenInfo:after { content: ""; display: table; }
#open .mOpenInfo:after { clear: both; }
#open .mOpenInfo li { float: left; padding-left: 5.84%; background: url("../img/main/open_shadow.png") no-repeat left center; }
#open .mOpenInfo li:nth-child(1) { width: 30.25%; padding-left: 0; background: none; }
#open .mOpenInfo li:nth-child(2) { width: 36.34%; }
#open .mOpenInfo li:nth-child(3) { width: 33.41%; }
#open .mOpenInfo li .infoBox { position: relative; padding: 55px 0 55px 50px; color: #fff; font-size: 20px; font-size: 2rem; line-height: 1.3; text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
#open .mOpenInfo li .infoBox .year { position: absolute; left: -13px; top: 80px; display: block; width: auto; height: auto; font-size: 14px; font-size: 1.4rem; text-shadow: none; transform: rotate(-90deg); -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }
#open .mOpenInfo li .infoBox .year i { position: relative; padding: 4px 14px 5px 13px; font-style: normal; }
#open .mOpenInfo li .infoBox .year i:before, #open .mOpenInfo li .infoBox .year i:after { content: ''; position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; border: 1px solid #fff; opacity: .35; }
#open .mOpenInfo li .infoBox .year i:after { left: -3px; top: -3px; }
#open .mOpenInfo li .infoBox strong { display: block; margin: 0 0 8px; color: #d4d72a; font-size: 30px; font-size: 3rem; font-weight: 900; letter-spacing: -0.04em; line-height: 1.2; }

#package { background: url("../img/common/rhombus_bg.jpg") repeat center center; }
#package > .inner { padding-top: 50px; padding-bottom: 54px; }
#package .packageList { overflow: hidden; margin: -42px 0 0 -42px; }
#package .packageList:before, #package .packageList:after { content: ""; display: table; }
#package .packageList:after { clear: both; }
#package .packageList > * { float: left; width: 33.3333333333%; padding: 42px 0 0 42px; }
#package .packageList .unit { position: relative; display: block; width: 100%; padding-bottom: 133.335%; }
#package .packageList .unit > * { position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; right: 0; bottom: 0; }
#package .packageList .unit .front { opacity: 1; }
#package .packageList .unit .back { opacity: 0; }
#package .packageList .unit.package1 .front { background: url("../img/main/package1_front.png") no-repeat center top; background-size: cover; }
#package .packageList .unit.package1 .back { background: url("../img/main/package1_back.png") no-repeat center top; background-size: cover; }
#package .packageList .unit.package2 .front { background: url("../img/main/package2_front.png") no-repeat center top; background-size: cover; }
#package .packageList .unit.package2 .back { background: url("../img/main/package2_back.png") no-repeat center top; background-size: cover; }
#package .packageList .unit.package3 .front { background: url("../img/main/package3_front.png") no-repeat center top; background-size: cover; }
#package .packageList .unit.package3 .back { background: url("../img/main/package3_back.png") no-repeat center top; background-size: cover; }

/* ================================== media query ================================== */
@media only screen and (min-width: 2000px) { .visualArea .visualBg { background-size: 100% 800px; } }
@media only screen and (max-width: 1024px) { #open { background-size: cover; }
  #open .mOpenInfo:before, #open .mOpenInfo:after { content: ""; display: table; }
  #open .mOpenInfo:after { clear: both; }
  #open .mOpenInfo li .infoBox { padding-right: 30px; } }
@media only screen and (max-width: 767px) { .visualArea { height: 700px; }
  .visualArea .visualObject { bottom: 70px; }
  .visualArea .visualObject > * > *:after { width: 2px; }
  .visualArea .visualObject > *.item1 > * { width: 297px; padding-bottom: 144px; margin: 0 13px 264px; }
  .visualArea .visualObject > *.item1 > *:after { margin: 140px 0 0 -30px; }
  .visualArea .visualObject > *.item2 > * { width: 156px; padding-bottom: 264px; margin: 0 -20px -12px; }
  .visualArea .visualObject > *.item2 > *:after { margin: 250px 0 0 0; }
  .visualArea .visualObject > *.item3 > * { width: 293px; padding-bottom: 355px; margin: 0 -25px 108px; }
  .visualArea .visualObject > *.item3 > *:after { margin: 200px 0 0 38px; }
  .visualArea .visualObject > *.item4 > * { width: 128px; padding-bottom: 361px; margin: 0 15px -90px; }
  .visualArea .visualObject > *.item4 > *:after { margin: 328px 0 0 30px; }
  .visualArea .visualObject > *.item5 > * { width: 169px; padding-bottom: 290px; margin: 0 65px -41px; }
  .visualArea .visualObject > *.item5 > *:after { margin: 278px 0 0 40px; }
  .visualArea .visualObject > *.item6 > * { width: 120px; padding-bottom: 215px; margin: 0 -20px 203px; }
  .visualArea .visualObject > *.item6 > *:after { margin: 214px 0 0 0; }
  .visualArea .visualObject > *.item7 > * { width: 105px; padding-bottom: 313px; margin: 0 105px 18px; }
  .visualArea .visualObject > *.item7 > *:after { margin: 312px 0 0 -18px; }
  .visualArea .visualObject > *.item8 > * { width: 192px; padding-bottom: 281px; margin: 0 -46px -26px; }
  .visualArea .visualObject > *.item8 > *:after { margin: 276px 0 0 28px; }
  .visualArea .visualObject > *.item9 > * { width: 236px; padding-bottom: 314px; margin: 0 24px 107px; }
  .visualArea .visualObject > *.item9 > *:after { margin: 300px 0 0 40px; }
  .visualArea .visualObject > *.item10 > * { width: 69px; padding-bottom: 240px; margin: 0 31px -3px; }
  .visualArea .visualObject > *.item10 > *:after { margin: 238px 0 0 0; }
  .visualArea .visualBg { height: 105%; }
  #open { background: #23542e url("../img/main/open_bg_m.jpg") no-repeat center center; background-size: cover; }
  #open .mOpenInfo { margin: 0 -4.6875%; }
  #open .mOpenInfo li { float: none; min-height: 0; background: url("../img/main/open_shadow_m.png") no-repeat center top; background-size: cover; }
  #open .mOpenInfo li:nth-child(1), #open .mOpenInfo li:nth-child(2), #open .mOpenInfo li:nth-child(3) { padding: 0 4.6875%; width: auto; }
  #open .mOpenInfo li .infoBox { padding: 35px 30px 30px 82px; }
  #open .mOpenInfo li .infoBox .year { position: absolute; left: 3px; top: 43px; display: block; width: auto; height: auto; transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); }
  #package > .inner { padding-top: 50px; padding-bottom: 54px; }
  #package .packageList { margin-top: -30px; }
  #package .packageList > * { float: none; width: 100%; padding-top: 30px; }
  #package .packageList .unit { padding-bottom: 44.655%; }
  #package .packageList .unit.package1 .front { background: url("../img/main/package1_front_m.png") no-repeat center top; background-size: cover; }
  #package .packageList .unit.package1 .back { background: url("../img/main/package1_back_m.png") no-repeat center top; background-size: cover; }
  #package .packageList .unit.package2 .front { background: url("../img/main/package2_front_m.png") no-repeat center top; background-size: cover; }
  #package .packageList .unit.package2 .back { background: url("../img/main/package2_back_m.png") no-repeat center top; background-size: cover; }
  #package .packageList .unit.package3 .front { background: url("../img/main/package3_front_m.png") no-repeat center top; background-size: cover; }
  #package .packageList .unit.package3 .back { background: url("../img/main/package3_back_m.png") no-repeat center top; background-size: cover; } }
/* ================================== Intro ================================== */
.loadingWrap .loadingLogo { position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); opacity: 1; z-index: 99999; }
.loadingWrap .loadingLogo span { position: relative; display: block; width: 268px; padding-bottom: 62%; transition: width 0.2s ease; -webkit-transition: width 0.2s ease; -moz-transition: width 0.2s ease; -o-transition: width 0.2s ease; }
.loadingWrap .loadingLogo span img { position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; right: 0; bottom: 0; }
.loadingWrap .modalOverlay.loadingDim { display: block; opacity: 1; background: #fff; z-index: 99998; }

.videoWrap .videoBox { position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); width: 90%; max-width: 1200px; background: #000; opacity: 1; z-index: 9999; }
.videoWrap .videoBox > .inner { position: relative; width: 100%; padding-bottom: 56.25%; }
.videoWrap .videoBox > .inner video { position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; }
.videoWrap .videoBox > .inner .videoClose { position: absolute; right: 0; top: -47px; display: block; width: 47px; height: 47px; background: url("../img/common/icon_layer_close.png") no-repeat center center; }
.videoWrap .modalOverlay.videoDim { display: block; opacity: 1; z-index: 9998; }

/* ================================== media query ================================== */
@media only screen and (max-width: 767px) { .loadingWrap .loadingLogo span { width: 214px; } }
@media only screen and (max-width: 480px) { .loadingWrap .loadingLogo span { width: 160px; } }
/* ================================== Contents ================================== */
.gridWrap { position: relative; }

.gridList { margin: -30px 0 0 -30px; }
.gridList:before, .gridList:after { content: ""; display: table; }
.gridList:after { clear: both; }
.gridList > li { padding: 30px 0 0 30px; float: left; text-align: center; }
.gridList > li .unit { position: relative; display: block; width: 100%; transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.gridList > li .unit:before { content: ''; position: absolute; left: 0; top: 0; display: block; width: auto; height: auto; right: 0; bottom: 0; border: 1px solid rgba(255, 255, 255, 0.6); opacity: 0; transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; z-index: 2; }
.gridList > li .unit:hover { box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4); -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4); }
.gridList > li .unit:hover:before { top: 10px; right: 10px; bottom: 10px; left: 10px; opacity: 1; }
.gridList > li .unit .cont { text-align: center; transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; letter-spacing: -0.05em; z-index: 3; }
.gridList > li .unit .cont dl { margin-top: -4px; }
.gridList > li .unit .cont dt { padding-bottom: 6px; font-size: 26px; font-size: 2.6rem; font-weight: 900; line-height: 1.4; }
.gridList > li .unit .cont dd { font-weight: 700; }
.gridList > li .unit .cont .price strong { font-weight: 900; }
.gridList.typeCont > li { width: 50%; }
.gridList.typeCont .unit { display: table; height: 100%; padding: 10px; border: 1px solid #e3ead3; background: #fff url("../img/package/bg_type_cont.png") repeat-y center center; }
.gridList.typeCont .unit:before { border-color: #a6cab8; }
.gridList.typeCont .unit > * { display: table-cell; width: 50%; text-align: center; vertical-align: middle; }
.gridList.typeCont .unit .thumb img { width: 100%; max-width: 278px; margin: 0 auto; }
.gridList.typeCont .unit .cont { position: relative; color: #000; padding: 20px; }
.gridList.typeCont .unit .cont .price { color: #ff6c00; font-size: 26px; font-size: 2.6rem; }
.gridList.typeCont .unit .cont em { font-style: normal; font-size: 16px; font-size: 1.6rem; font-weight: 900; }
.gridList.typeCont .unit .cont .benefit { margin-top: 2px; color: #666; font-size: 16px; font-size: 1.6rem; line-height: 1.5; }
.gridList.typeCont .unit .cont .buyBtn { margin-top: 8px; }
.gridList.typeGallery > li { width: 33.3333333333%; }
.gridList.typeGallery .unit:before { border-color: rgba(255, 255, 255, 0.6); }
.gridList.typeGallery .unit:after { content: ''; position: absolute; left: 0; top: 0; display: block; width: auto; height: auto; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.6); opacity: 0; transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; z-index: 1; }
.gridList.typeGallery .unit .thumb { overflow: hidden; position: relative; width: 100%; padding-bottom: 100%; }
.gridList.typeGallery .unit .thumb img { position: absolute; left: 0; top: 0; display: block; width: 100%; height: auto; }
.gridList.typeGallery .unit .cont { position: absolute; left: 0; bottom: 30px; display: block; width: 100%; height: auto; }
.gridList.typeGallery .unit .cont dt { color: #fff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); }
.gridList.typeGallery .unit .cont dd { color: #fff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); }
.gridList.typeGallery .unit .cont .price { color: #ffe699; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); }
.gridList.typeGallery .unit .cont .price .delText { text-decoration: line-through; }
.gridList.typeGallery .unit .cont .buyBtn { display: none; margin-top: 14px; }
.gridList.typeGallery .unit:hover:after { opacity: 1; }
.gridList.typeGallery .unit:hover .cont { bottom: auto; top: 50%; transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); }
.gridList.typeGallery .unit:hover .cont .buyBtn { display: inline-block; }

.eventWrap { position: relative; }

.eventList { margin: -50px 0 0 -50px; }
.eventList:before, .eventList:after { content: ""; display: table; }
.eventList:after { clear: both; }
.eventList > li { width: 100%; padding: 50px 0 0 50px; float: left; text-align: center; }
.eventList .unit { position: relative; width: 100%; padding: 37px 0 17px; }
.eventList .unit > .inner .thumb img, .eventList .unit > .inner .thumb .noThumb { display: block; width: 336px; height: 292px; margin: 0 auto 18px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.eventList .unit > .inner .thumb .noThumb { background: #fff url("../img/common/no_thumb_logo.png") no-repeat center center; }
.eventList .unit > .inner .cont { text-align: center; padding: 0 10px; }
.eventList .unit > .inner .cont .tag { position: absolute; left: 50%; top: 0; display: block; width: auto; height: auto; transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); margin-top: -8px; color: #006835; font-size: 22px; font-size: 2.2rem; font-weight: 900; font-style: normal; }
.eventList .unit > .inner .cont h3 { font-size: 26px; font-size: 2.6rem; font-weight: 900; line-height: 1.4; }
.eventList .unit > .inner .cont h3 span { display: inline-block; }
.eventList .unit > .inner .cont .date { margin-top: -4px; color: #666; }
.eventList .unit > .inner .cont .participateBtn { margin-top: 14px; }
.eventList.col2 > li { width: 50%; }

.openInfo { max-width: 894px; margin: 0 auto; padding-bottom: 20px; }
.openInfo:before, .openInfo:after { content: ""; display: table; }
.openInfo:after { clear: both; }
.openInfo li { float: left; display: block; width: 33.3333333333%; font-size: 20px; font-size: 2rem; line-height: 1.4; }
.openInfo li .dateBox { display: block; width: 228px; height: 228px; margin: 0 auto; margin-bottom: 14px; padding: 13px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; }
.openInfo li .dateBox > * { display: table; width: 100%; height: 100%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; background: #fff; }
.openInfo li .dateBox > * > * { display: table-cell; text-align: center; vertical-align: middle; font-size: 28px; font-size: 2.8rem; font-weight: 900; line-height: 1.15; }
.openInfo li .dateBox > * > * em { font-style: normal; font-size: 46px; font-size: 4.6rem; }
.openInfo li .dateBox.item1 { background: #29b085 url("../img/content/datebox_bg1.jpg") no-repeat center center; background-size: cover; }
.openInfo li .dateBox.item1 > * > * { color: #11a878; }
.openInfo li .dateBox.item2 { background: #7fb029 url("../img/content/datebox_bg2.jpg") no-repeat center center; background-size: cover; }
.openInfo li .dateBox.item2 > * > * { color: #6ba20b; }
.openInfo li .dateBox.item3 { background: #d0b311 url("../img/content/datebox_bg3.jpg") no-repeat center center; background-size: cover; }
.openInfo li .dateBox.item3 > * > * { color: #bfa307; }

.limited { margin-top: 70px; margin-bottom: 40px; border: 2px solid #e3ead3; background: rgba(252, 251, 234, 0.5); }
.limited .tit { width: 100%; height: 55px; line-height: 55px; text-align: center; color: #000; font-size: 26px; font-size: 2.6rem; font-weight: 900; background: #e3ead3; }
.limited .ltCont { padding: 28px; }
.limited .ltBg { width: 100%; margin-top: 28px; padding-bottom: 100.88%; background: #fff url("../img/package/limited_package.jpg") no-repeat center center; background-size: 100% 100%; }

#benefit { margin-top: -43px; background: #275d33; }
#benefit > .inner { padding-top: 40px; padding-bottom: 50px; }
#benefit .tit { width: 100%; height: 55px; line-height: 55px; text-align: center; color: #fff; font-size: 26px; font-size: 2.6rem; font-weight: 900; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); background: #1d4025; }
#benefit .benefitList { margin: -30px 0 0 -38px; }
#benefit .benefitList:before, #benefit .benefitList:after { content: ""; display: table; }
#benefit .benefitList:after { clear: both; }
#benefit .benefitList li { float: left; width: 20%; padding: 30px 0 0 38px; text-align: center; color: #fff; font-size: 22px; font-size: 2.2rem; font-weight: 900; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
#benefit .benefitList li .thumb { overflow: hidden; position: relative; display: block; width: 100%; padding-bottom: 100%; margin-bottom: 15px; background: #fff url("../img/content/no_thumb.gif") no-repeat center center; background-size: cover; box-shadow: 0 0 1px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4); transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
#benefit .benefitList li .thumb img { position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; right: 0; bottom: 0; }
#benefit .benefitList li:hover { color: #d4d72a; }
#benefit .benefitList li:hover .thumb { box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4); -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4); }

#down { border: solid #e3ead3; border-width: 1px 0; background: url("../img/common/rhombus_bg.jpg") repeat center center; }
#down > .inner { padding-top: 20px; padding-bottom: 20px; text-align: right; }
#down > .inner:before { content: ''; position: absolute; left: 30px; bottom: -1px; display: block; width: 214px; height: 214px; background: url("../img/content/quick_illust.png") no-repeat center center; background-size: cover; }

.downLinkWrap { display: table; height: 125px; margin-left: auto; }

.downLink { display: table-cell; vertical-align: middle; }
.downLink p { display: inline-block; }
.downLink p a { display: inline-block; padding: 4px 0 3px; font-size: 20px; font-size: 2rem; font-weight: 900; letter-spacing: -0.04em; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; }
.downLink p a i { display: inline-block; height: 23px; margin-top: -2px; margin-right: 8px; vertical-align: middle; background: url("../img/common/icon_down.png") no-repeat 0 0; }
.downLink p a.item1 { padding-right: 60px; }
.downLink p a.item1 i { width: 30px; background-position: 0 0px; }
.downLink p a.item2 { padding-right: 60px; }
.downLink p a.item2 i { width: 23px; background-position: 0 -50px; }
.downLink p a.item3 { padding-right: 60px; }
.downLink p a.item3 i { width: 21px; background-position: 0 -100px; }
.downLink p a.item4 { padding-right: 0; }
.downLink p a.item4 i { width: 24px; background-position: 0 -150px; }

#note { background: #fff; }
#note > .inner { padding-top: 46px; padding-bottom: 45px; }
#note > .inner:before, #note > .inner:after { content: ""; display: table; }
#note > .inner:after { clear: both; }
#note > .inner > * { float: left; display: block; }
#note h2 { width: 25%; padding-top: 1px; color: #343434; font-size: 30px; font-size: 3rem; font-weight: 900; line-height: 1.2; }
#note ul { width: 75%; }
#note ul li { position: relative; margin-top: 5px; padding-left: 12px; color: #444; font-size: 14px; font-size: 1.4rem; }
#note ul li:first-child { margin-top: 0; }
#note ul li:before { content: ''; position: absolute; left: 0; top: 7px; display: block; width: 6px; height: 6px; background: url("../img/content/bul_dot.png") no-repeat 0 0; }

.layerWrap { display: none; position: fixed; left: 50%; top: 0; transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); width: 100%; max-width: 1260px; padding: 0 30px; z-index: 999; }
.layerWrap .layerBox { position: relative; background: #fff; }
.layerWrap .layerHeader { padding: 19px 10px 14px; text-align: center; background: #275d33; }
.layerWrap .layerHeader h3 { color: #fff; font-size: 30px; font-size: 3rem; font-weight: 900; line-height: 1.25; letter-spacing: -0.04em; text-shadow: 0 0 1px rgba(0, 0, 0, 0.4); }
.layerWrap .layerContent { overflow-y: auto; padding: 47px 50px 43px; font-size: 18px; font-size: 1.8rem; }
.layerWrap .layerContent .conBox { margin-top: 40px; }
.layerWrap .layerContent .conBox:first-child { margin-top: 0; }
.layerWrap .layerContent strong { font-weight: 900; }
.layerWrap .layerContent strong span { font-weight: 400; }
.layerWrap .layerContent em { color: #e0282c; font-weight: 900; font-style: normal; }
.layerWrap .layerContent h4 { padding-bottom: 10px; color: #222; font-size: 26px; font-size: 2.6rem; font-weight: 900; line-height: 1.3; letter-spacing: -0.04em; }
.layerWrap .layerContent .dotUl li { position: relative; margin-top: 3px; padding-left: 10px; }
.layerWrap .layerContent .dotUl li:first-child { margin-top: 0; }
.layerWrap .layerContent .dotUl li:before { content: ''; position: absolute; left: 0; top: 10px; display: block; width: 4px; height: 4px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; background: #343434; }
.layerWrap .layerContent .dotUl li.indent70 { padding-left: 80px; }
.layerWrap .layerContent .dotUl li.indent70 strong { position: absolute; left: 10px; top: 0; display: block; width: auto; height: auto; }
.layerWrap .layerContent .chamgo { position: relative; padding-left: 22px; }
.layerWrap .layerContent .chamgo > i { position: absolute; left: 0; top: 0; display: block; width: auto; height: auto; font-style: normal; }
.layerWrap .layerContent .processBox { margin: 5px 0 7px; padding: 20px; background: #f4f4f4; }
.layerWrap .layerContent .processBox > .inner { max-width: 878px; margin: 0 auto; }
.layerWrap .layerContent .processList { margin-left: -16px; transition: margin 0.2s ease; -webkit-transition: margin 0.2s ease; -moz-transition: margin 0.2s ease; -o-transition: margin 0.2s ease; }
.layerWrap .layerContent .processList:before, .layerWrap .layerContent .processList:after { content: ""; display: table; }
.layerWrap .layerContent .processList:after { clear: both; }
.layerWrap .layerContent .processList li { position: relative; float: left; width: 20%; padding-left: 16px; text-align: center; font-size: 16px; font-size: 1.6rem; line-height: 1.4; transition: padding 0.2s ease; -webkit-transition: padding 0.2s ease; -moz-transition: padding 0.2s ease; -o-transition: padding 0.2s ease; }
.layerWrap .layerContent .processList li > span { position: relative; display: block; width: 100%; height: 100%; text-align: center; }
.layerWrap .layerContent .processList li > span > i { display: block; width: 110px; height: 110px; margin: 0 auto 10px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; background: #fff url("../img/content/icon_process.png") no-repeat 0 center; }
.layerWrap .layerContent .processList li.item1 > span > i { background-position: 0px center; }
.layerWrap .layerContent .processList li.item2 > span > i { background-position: -110px center; }
.layerWrap .layerContent .processList li.item3 > span > i { background-position: -220px center; }
.layerWrap .layerContent .processList li.item4 > span > i { background-position: -330px center; }
.layerWrap .layerContent .processList li.item5 > span > i { background-position: -440px center; }
.layerWrap .layerContent .processList li:before { content: ''; position: absolute; left: 0; top: 40px; display: block; width: 16px; height: 29px; background: url("../img/content/process_arrow.png") no-repeat center center; }
.layerWrap .layerContent .processList li:first-child:before { display: none; }
.layerWrap .layerClose { position: absolute; right: 0; top: 0; display: block; width: 67px; height: 70px; background: url("../img/common/icon_layer_close.png") no-repeat center center; }

.packageTit { display: table; width: 100%; height: 100%; min-height: 300px; border: 2px solid; border-color: #275b34 #e2ead3 #e2ead3; background: #fff url("../img/package/bg_type_cont.png") repeat-y 68% center; }
.packageTit > * { display: table-cell; text-align: center; vertical-align: middle; }
.packageTit .thumb { width: 33%; }
.packageTit .thumb img { width: 100%; max-width: 318px; margin: 0 auto; }
.packageTit .cont { position: relative; width: 67%; padding: 30px 20px; }
.packageTit .cont strong { font-weight: 900; }
.packageTit .cont h2 { margin-bottom: 16px; color: #000; font-size: 36px; font-size: 3.6rem; }
.packageTit .cont .discount { margin-top: 8px; color: #ff6c00; font-size: 28px; font-size: 2.8rem; font-weight: 900; line-height: 1.1; }
.packageTit .cont .discount i { display: inline-block; padding: 3px 7px 0; color: #fff; font-style: normal; background: #ff6c00; }
.packageTit .cont .price { margin-top: 6px; color: #000; font-size: 20px; font-size: 2rem; }
.packageTit .cont .price .delText { text-decoration: line-through; }

.packageInfo { margin-top: 30px; padding: 48px 28px; border: 2px solid #e3ead3; background: rgba(252, 251, 234, 0.8); }
.packageInfo .legend { margin-top: -23px; text-align: right; }
.packageInfo .legend li { display: inline-block; vertical-align: middle; color: #000; }
.packageInfo .legend li em { color: #275d33; font-weight: 900; font-style: normal; }
.packageInfo .legend li:before { content: ''; display: inline-block; width: 1px; height: 16px; vertical-align: middle; margin: -4px 20px 0 14px; background: #ddd; }
.packageInfo .legend li:first-child:before { display: none; }
.packageInfo .benefitBox { margin: 45px 15px 0; padding: 20px; border: 1px solid #e3ead3; background: #fff; }
.packageInfo .benefitBox dl { color: #666; font-size: 20px; font-size: 2rem; }
.packageInfo .benefitBox dl > * { display: inline-block; vertical-align: middle; }
.packageInfo .benefitBox dl dt { color: #275d33; font-weight: 900; }
.packageInfo .benefitBox dl dt:after { content: ''; display: inline-block; width: 1px; height: 20px; vertical-align: middle; margin: -4px 12px 0 18px; background: #ddd; }
.packageInfo .benefitBox dl dd span { display: inline-block; padding-right: 4px; }
.packageInfo .benefitBox dl + .guideList { margin-top: 8px; }
.packageInfo .benefitBox .guideList { display: inline-block; }
.packageInfo + .arrowBtn { max-width: 100%; margin-top: -2px; }

.noteBox { margin: 45px 15px 0; padding: 15px 15px 14px; color: #666; font-size: 18px; font-size: 1.8rem; border: 1px solid #e3ead3; background: #fff; }

.performanceWrap { position: relative; overflow: hidden; margin: 0 auto; }
.performanceWrap.col2 { max-width: 1025px; }
.performanceWrap.col2 .performanceList > li { width: 50%; }
.performanceWrap.col2 .performanceList > li .cont { max-width: 420px; }
.performanceWrap.col3 .performanceList > li { width: 33.3333333333%; }
.performanceWrap.col3 .performanceList > li .cont { max-width: 350px; }

.performanceList { margin-left: -15px; }
.performanceList:before, .performanceList:after { content: ""; display: table; }
.performanceList:after { clear: both; }
.performanceList > li { padding: 45px 0 0 15px; float: left; text-align: center; }
.performanceList > li .thumb { overflow: hidden; position: relative; max-width: 290px; margin: 0 auto 20px; padding-bottom: 290px; }
.performanceList > li .thumb img { position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; }
.performanceList > li .cont { margin: 0 auto; }
.performanceList > li .cont h3 { color: #275d33; line-height: 1.2; }
.performanceList > li .cont .date { color: #666; font-size: 18px; font-size: 1.8rem; }
.performanceList > li .cont .price { color: #000; font-size: 18px; font-size: 1.8rem; font-weight: 900; }
.performanceList > li .cont .price span { text-decoration: underline; }
.performanceList > li .cont .price .tag { display: inline-block; margin-right: 5px; padding: 3px 8px 2px; color: #fff; font-style: normal; font-weight: 400; line-height: 1.2; text-shadow: 0 0 1px rgba(0, 0, 0, 0.4); background: #ff9c00; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
.performanceList > li .cont .note { margin-top: 2px; color: #999; }

/* ================================== media query ================================== */
@media only screen and (max-width: 1180px) { .downLink p a.item1 { padding-right: 15px; }
  .downLink p a.item2 { padding-right: 15px; }
  .downLink p a.item3 { padding-right: 15px; }
  .downLink p a.item4 { padding-right: 0; } }
@media only screen and (max-width: 1024px) { .gridList.typeCont > li { width: 100%; }
  .gridList.typeGallery > li { width: 50%; }
  .eventList > li { width: 100%; }
  .eventList .unit { padding: 0; }
  .eventList .unit > .inner { display: table; width: 100%; height: 100%; }
  .eventList .unit > .inner > * { display: table-cell; width: 50%; text-align: center; vertical-align: middle; }
  .eventList .unit > .inner .thumb img, .eventList .unit > .inner .thumb .noThumb { position: static; left: auto; top: auto; width: 100%; max-width: 336px; height: auto; margin: 0 auto; }
  .eventList .unit > .inner .cont { padding: 0; }
  .eventList .unit > .inner .cont .tag { position: relative; left: auto; top: auto; transform: translate(0, 0); -ms-transform: translate(0, 0); -webkit-transform: translate(0, 0); margin-top: -8px; margin-bottom: 16px; }
  .eventList.col2 > li { width: 100%; }
  #benefit .benefitList li { width: 33.3333333333%; }
  .downLinkWrap { margin-left: 240px; }
  .downLink p { display: block; }
  .downLink p a.item1 { padding-right: 79px; }
  .downLink p a.item2 { padding-right: 43px; }
  .downLink p a.item3 { padding-right: 60px; }
  .downLink p a.item4 { padding-right: 0; }
  .layerWrap .layerContent .processList { margin-left: 0; }
  .layerWrap .layerContent .processList li { float: none; width: 100%; padding-left: 0; padding-top: 36px; }
  .layerWrap .layerContent .processList li br { display: none; }
  .layerWrap .layerContent .processList li:before { position: absolute; left: 50%; top: 10px; display: block; width: 29px; height: 16px; margin-left: -15px; background: url("../img/content/process_arrow_v.png") no-repeat center center; }
  .layerWrap .layerContent .processList li:first-child { padding-top: 0; }
  .performanceWrap.col3 .performanceList > li { width: 50%; }
  .performanceWrap.col3 .performanceList > li .cont { max-width: 420px; } }
@media only screen and (max-width: 767px) { .gridList > li .unit .cont dt { font-size: 20px; font-size: 2rem; }
  .gridList > li .unit .cont dd { font-size: 16px; font-size: 1.6rem; }
  .gridList > li .unit .cont .price { font-size: 16px; font-size: 1.6rem; }
  .gridList.typeCont .unit .cont .price { font-size: 20px; font-size: 2rem; }
  .gridList.typeCont .unit .cont .benefit { font-size: 14px; font-size: 1.4rem; }
  .gridList.typeGallery > li { width: 100%; }
  .gridList.typeGallery .unit > .inner > * { padding-bottom: 50%; }
  .gridList.typeGallery .unit .thumb { padding-bottom: 65.5172413793%; }
  .gridList.typeGallery .unit .thumb img { position: absolute; left: 0; top: 0; display: block; width: 100%; height: auto; }
  .eventList .unit > .inner .cont .tag { margin-top: -4px; margin-bottom: 8px; font-size: 18px; font-size: 1.8rem; }
  .eventList .unit > .inner .cont h3 { font-size: 20px; font-size: 2rem; }
  .eventList .unit > .inner .cont .date { font-size: 16px; font-size: 1.6rem; }
  .limited { margin-top: 56px; margin-bottom: 32px; }
  .limited .tit { height: 45px; line-height: 45px; font-size: 20px; font-size: 2rem; }
  .limited .ltCont { padding: 22px; }
  .limited .ltBg { margin-top: 22px; padding-bottom: 403.51%; background: #fff url("../img/package/limited_package_m.jpg") no-repeat center center; background-size: 100% 100%; }
  #benefit > .inner { padding-top: 32px; padding-bottom: 32px; }
  #benefit .tit { height: 45px; line-height: 45px; font-size: 20px; font-size: 2rem; }
  #benefit .benefitList { margin: -24px 0 0 -30px; }
  #benefit .benefitList li { width: 50%; padding: 24px 0 0 30px; font-size: 18px; font-size: 1.8rem; }
  #benefit .benefitList li .thumb { margin-bottom: 12px; }
  .openInfo li { font-size: 16px; font-size: 1.6rem; }
  .openInfo li .dateBox { width: 114px; height: 114px; padding: 6px; }
  .openInfo li .dateBox > * > * { font-size: 18px; font-size: 1.8rem; }
  .openInfo li .dateBox > * > * em { font-size: 26px; font-size: 2.6rem; }
  #down > .inner:before { left: auto; right: 4.6875%; width: 192px; height: 192px; }
  .downLinkWrap { margin-left: 0; }
  .downLink p a { display: block; font-size: 16px; font-size: 1.6rem; }
  .downLink p a.item1 { padding-right: 48px; }
  .downLink p a.item2 { padding-right: 33px; }
  .downLink p a.item3 { padding-right: 33px; }
  .downLink p a.item4 { padding-right: 0; }
  #note > .inner { padding-top: 46px; padding-bottom: 45px; }
  #note > .inner > * { float: none; }
  #note h2 { width: 100%; margin-bottom: 10px; padding-top: 1px; font-size: 24px; font-size: 2.4rem; }
  #note h2 br { display: none; }
  #note ul { width: 100%; }
  .layerWrap { padding: 0 4.6875%; }
  .layerWrap .layerHeader h3 { color: #fff; font-size: 24px; font-size: 2.4rem; }
  .layerWrap .layerContent { padding: 30px 7.8125% 26px; font-size: 16px; font-size: 1.6rem; }
  .layerWrap .layerContent .conBox { margin-top: 25px; }
  .layerWrap .layerContent h4 { font-size: 20px; font-size: 2rem; }
  .layerWrap .layerClose { width: 60px; height: 63px; }
  .packageTit { min-height: 0; background: none; }
  .packageTit .thumb { display: none; }
  .packageTit .cont { width: 100%; }
  .packageTit .cont h2 { font-size: 28px; font-size: 2.8rem; }
  .packageTit .cont .discount { font-size: 22px; font-size: 2.2rem; }
  .packageTit .cont .price { font-size: 18px; font-size: 1.8rem; }
  .packageInfo { margin-top: 24px; padding: 38px 22px; }
  .packageInfo .legend { margin-top: -18px; text-align: center; }
  .packageInfo .legend li { padding: 0 1%; width: 38%; }
  .packageInfo .legend li:before { display: none; }
  .packageInfo .benefitBox { margin: 36px 12px 0; padding: 16px; }
  .packageInfo .benefitBox dl { font-size: 18px; font-size: 1.8rem; }
  .packageInfo .benefitBox dl > * { display: block; }
  .packageInfo .benefitBox dl dt:after { display: none; }
  .performanceWrap.col2 .performanceList > li, .performanceWrap.col3 .performanceList > li { width: 100%; }
  .performanceList { margin-left: 0; }
  .performanceList > li { padding: 36px 0 0 0; } }
@media only screen and (max-width: 480px) { .gridList > li .unit .cont dt { letter-spacing: -0.08em; }
  .gridList > li .unit .cont dd { letter-spacing: -0.06em; }
  .gridList.typeCont .unit { padding: 4px; }
  .gridList.typeCont .unit .cont dt { letter-spacing: -0.08em; }
  .gridList.typeCont .unit .cont dd { letter-spacing: -0.06em; }
  #benefit > .inner { padding-top: 30px; padding-bottom: 26px; }
  #down > .inner:before { width: 150px; height: 150px; }
  .performanceList > li .thumb { max-width: 75%; padding-bottom: 75%; } }
/* ================================== Event ================================== */
#evHeader { height: 54px; background: #222; }
#evHeader > .inner { position: relative; max-width: 1260px; width: 100%; margin: 0 auto; padding: 0 30px; }
#evHeader > .inner:before, #evHeader > .inner:after { content: ""; display: table; }
#evHeader > .inner:after { clear: both; }
#evHeader .goCenter { float: left; }
#evHeader .goCenter a { display: block; width: 152px; height: 54px; background: url("../img/event/logo_sejong_center.png") no-repeat left center; }
#evHeader .goSeason { float: right; }
#evHeader .goSeason a { display: block; height: 54px; line-height: 54px; color: #eee; font-size: 16px; font-size: 1.6rem; font-weight: 500; }

#evContainer { -ms-word-break: keep-all; word-break: keep-all; }

.evContent > .inner { position: relative; max-width: 1260px; width: 100%; margin: 0 auto; padding: 0 30px; text-align: center; }
.evContent > .inner:before, .evContent > .inner:after { content: ""; display: table; }
.evContent > .inner:after { clear: both; }

.evBtnWrap { position: relative; margin-top: 50px; }

.evBtn { display: inline-block; min-width: 110px; margin: 0; padding: 0 8px 0 7px; color: #fff; font-size: 18px; font-size: 1.8rem; height: 39px; line-height: 39px; font-weight: 700; background: #006835; text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
.evBtn.submit { min-width: 260px; font-size: 26px; font-size: 2.6rem; height: 59px; line-height: 59px; }

.evTitle { margin-bottom: 50px; }
.evTitle h2 { margin-bottom: 10px; color: #222; font-size: 46px; font-size: 4.6rem; font-weight: 900; line-height: 1.3; }
.evTitle h2 i { display: block; margin-bottom: 20px; color: #006835; font-size: 22px; font-size: 2.2rem; font-style: normal; }
.evTitle h2 span { color: #006835; }

.event1 { padding-top: 100px; padding-bottom: 100px; background: #fff; }
.event1 .crosswordWrap { text-align: center; }
.event1 .crosswordWrap .crosswordBox { position: relative; display: inline-block; width: 433px; height: 433px; background: url("../img/event/crossword_bg.png") no-repeat center center; }
.event1 .crosswordWrap .crosswordCell { position: absolute; left: auto; top: auto; display: block; width: 73px; height: 73px; border: 1px solid #e0e3e6; text-align: center; background-color: #fff; }
.event1 .crosswordWrap .crosswordCell.posX1 { left: 0px; }
.event1 .crosswordWrap .crosswordCell.posY1 { top: 0px; }
.event1 .crosswordWrap .crosswordCell.posX2 { left: 72px; }
.event1 .crosswordWrap .crosswordCell.posY2 { top: 72px; }
.event1 .crosswordWrap .crosswordCell.posX3 { left: 144px; }
.event1 .crosswordWrap .crosswordCell.posY3 { top: 144px; }
.event1 .crosswordWrap .crosswordCell.posX4 { left: 216px; }
.event1 .crosswordWrap .crosswordCell.posY4 { top: 216px; }
.event1 .crosswordWrap .crosswordCell.posX5 { left: 288px; }
.event1 .crosswordWrap .crosswordCell.posY5 { top: 288px; }
.event1 .crosswordWrap .crosswordCell.posX6 { left: 360px; }
.event1 .crosswordWrap .crosswordCell.posY6 { top: 360px; }
.event1 .crosswordWrap .crosswordCell .num { position: absolute; left: -1px; top: -1px; display: block; width: 73px; height: 73px; border: 3px solid transparent; z-index: 2; }
.event1 .crosswordWrap .crosswordCell .num em { position: absolute; left: 7px; top: 3px; display: block; width: auto; height: auto; font-style: normal; color: #275d33; font-size: 14px; font-size: 1.4rem; font-weight: 900; }
.event1 .crosswordWrap .crosswordCell .num.hrzC1 { width: 73px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC1 { height: 73px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC2 { width: 145px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC2 { height: 145px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC3 { width: 217px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC3 { height: 217px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC4 { width: 289px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC4 { height: 289px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC5 { width: 361px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC5 { height: 361px; }
.event1 .crosswordWrap .crosswordCell .num.hrzC6 { width: 433px; }
.event1 .crosswordWrap .crosswordCell .num.vrtC6 { height: 433px; }
.event1 .crosswordWrap .crosswordCell.on .num { border-color: #275d33; }
.event1 .crosswordWrap .crosswordCell.wrong input[type="text"] { color: #ff0c00; }
.event1 .crosswordWrap .crosswordCell input[type="text"] { position: absolute; left: 2px; top: 2px; display: block; width: 67px; height: 67px; line-height: 67px; text-align: center; vertical-align: middle; padding: 6px 0 0; color: #222; font-size: 28px; font-size: 2.8rem; font-weight: 700; border: none; outline: none; background-color: transparent; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; z-index: 3; }
.event1 .crosswordWrap .questionBox { position: relative; display: inline-block; width: 433px; height: 433px; padding: 0 30px; text-align: left; overflow-x: hidden; overflow-y: auto; }
.event1 .crosswordWrap .questionBox p { padding-top: 30px; padding-bottom: 15px; color: #275d33; font-size: 22px; font-size: 2.2rem; font-weight: 900; line-height: 1.4; }
.event1 .crosswordWrap .questionBox p:first-child { padding-top: 0; }
.event1 .crosswordWrap .questionBox li { position: relative; margin-top: 10px; padding-left: 20px; font-weight: 700; line-height: 1.5; }
.event1 .crosswordWrap .questionBox li:first-child { margin-top: 0; }
.event1 .crosswordWrap .questionBox li > span { position: absolute; left: 0; top: 0; display: block; width: auto; height: auto; }
.event1 .crosswordWrap .questionBox li i { display: none; margin-top: 2px; color: #ff6c00; font-size: 15px; font-size: 1.5rem; font-style: normal; }
.event1 .crosswordWrap .questionBox li i > span { color: #275d33; }
.event1 .crosswordWrap .questionBox li.hint i { display: block; }

.event2 { padding-top: 100px; padding-bottom: 100px; background: #eee; }

.evSchedule { padding-top: 100px; }
.evSchedule li { padding: 5px 0; color: #222; font-size: 26px; font-size: 2.6rem; font-weight: 700; line-height: 1.4; }
.evSchedule li strong { font-weight: 900; }

.evGift { padding-top: 100px; }
.evGift > .inner { position: relative; max-width: 1260px; width: 100%; margin: 0 auto; padding: 0 30px; text-align: center; }
.evGift > .inner:before, .evGift > .inner:after { content: ""; display: table; }
.evGift > .inner:after { clear: both; }
.evGift h3 { padding-bottom: 30px; color: #006835; font-size: 36px; font-size: 3.6rem; font-weight: 900; }

.giftWrap { position: relative; overflow: hidden; }

.giftList { margin: -30px 0 0 -30px; }
.giftList:before, .giftList:after { content: ""; display: table; }
.giftList:after { clear: both; }
.giftList > li { width: 20%; padding: 30px 0 0 30px; float: left; text-align: center; }
.giftList > li .unit { position: relative; display: block; width: 100%; }
.giftList > li .unit .thumb { overflow: hidden; position: relative; width: 100%; padding-bottom: 100%; }
.giftList > li .unit .thumb img { position: absolute; left: 0; top: 0; display: block; width: 100%; height: auto; }
.giftList > li .unit .cont { position: absolute; left: 0; bottom: 30px; display: block; width: 100%; height: auto; color: #fff; }

.evNote { padding-top: 100px; }
.evNote > .inner { position: relative; max-width: 1260px; width: 100%; margin: 0 auto; padding: 0 30px; text-align: center; }
.evNote > .inner:before, .evNote > .inner:after { content: ""; display: table; }
.evNote > .inner:after { clear: both; }
.evNote > .inner > * { float: left; display: block; text-align: left; }
.evNote h3 { width: 20%; padding-top: 1px; color: #343434; font-size: 30px; font-size: 3rem; font-weight: 900; line-height: 1.2; }
.evNote ul { width: 80%; }
.evNote ul li { position: relative; margin-top: 5px; padding-left: 12px; color: #444; font-size: 14px; font-size: 1.4rem; }
.evNote ul li:first-child { margin-top: 0; }
.evNote ul li:before { content: ''; position: absolute; left: 0; top: 7px; display: block; width: 6px; height: 6px; background: url("../img/content/bul_dot.png") no-repeat 0 0; }
.evNote ul.num li { padding-left: 14px; }
.evNote ul.num li span { position: absolute; left: 0; top: 0; display: block; width: auto; height: auto; }
.evNote ul.num li:before { display: none; }

#evFooter { position: relative; background: #343434; }
#evFooter * { color: #fff; font-size: 14px; font-size: 1.4rem; font-weight: 100; font-style: normal; }
#evFooter > .inner { position: relative; max-width: 1260px; width: 100%; margin: 0 auto; text-align: center; padding: 7px 30px; }
#evFooter .arita { color: #403f3f; font-size: 6px; }

.modalOverlay { display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; min-width: 100%; min-height: 100%; background: rgba(0, 0, 0, 0.7); }
.modalOverlay.evDim { z-index: 998; }

.msgWrap { display: none; position: fixed; left: 50%; top: 50%; transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); width: 100%; max-width: 1260px; padding: 0 30px; z-index: 999; }
.msgWrap .msgBox { position: relative; max-width: 600px; height: 400px; margin: 0 auto; margin-top: -200px; padding: 80px 50px; background: #fff; }
.msgWrap .msgBox h4 { margin-bottom: 30px; color: #006835; font-size: 30px; font-size: 3rem; font-weight: 900; line-height: 1.25; letter-spacing: -0.04em; }
.msgWrap .msgBox p { color: #222; font-size: 22px; font-size: 2.2rem; font-weight: 700; line-height: 1.4; }
.msgWrap .msgBox .evBtnWrap { margin-top: 30px; }

/* ================================== media query ================================== */
/* ================================== slick custom ================================== */
.slideWrap { position: relative; }

.slick-slide img { width: 100%; }

/** Arrows **/
.slick-prev, .slick-next { position: absolute; left: 50%; top: 50%; display: block; width: auto; height: auto; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); background: transparent; z-index: 999; }

.slick-disabled { opacity: 0; }

/** Dot **/
.slick-dots li { position: relative; display: block; padding: 0; cursor: pointer; }
.slick-dots li button { position: relative; display: block; cursor: pointer; color: transparent; font-size: 0; line-height: 0; border: 0; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { content: ''; position: absolute; top: 50%; left: 50%; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }

/*# sourceMappingURL=season_style.css.map */
