@charset "utf-8";
/* ================================== Footer ================================== */

#footer {
	position: relative;
	border-top: 1px solid #acb1b3;
	background: #2b2c30;
	.inner {
		overflow: hidden;
		position: relative;
		max-width: 1260px;
		margin: 0 auto;
		padding: 43px 30px 67px;
	}
	.footerLink {
		padding-bottom: 30px;
		@include clearfix;
		li {
			float: left;
			padding-left: 44px;
			a {
				display: inline-block;
				color: #fff;
				@include font-size(1.6);
			}
			&:first-child {
				padding-left: 0;
				a {
					color: #2fb8f1;
				}
			}
		}
	}
	.footerText {
		@include clearfix;
		max-width: 1200px;
		width: 100%;
		padding: 22px 0 20px;
		border-top: 1px solid #404145;
		& > p {
			float: left;
			padding: 4px 0;
			padding-left: 36px;
			color: #fff;
			@include NotoSansKR-Light;
			@include font-size(1.6);
			letter-spacing: 0.02;
			line-height: 1.4;
			&:first-child {
				padding-left: 0;
			}
			a {
				color: #fff;
			}
			&.address {
				width: 100%;
				& + p {
					padding-left: 0;
				}
			}
		}
	}
	.footerCopy {
		color: rgba(#fff, .4);
		@include Roboto-Light;
		@include font-size(1.6);
		letter-spacing: 0.02;
	}
	.familySite {
		position: relative;
		float: right;
		margin-top: -96px;
		.familyBtn {
			overflow: hidden;
			position: relative;
			display: inline-block;
			width: 160px;
			padding-left: 15px;
			@include lh(38px);
			color: rgba(#e8e8e8, .8);
			@include Roboto-Light;
			@include font-size(1.1);
			letter-spacing: 0.1em;
			border: 1px solid rgba(#fff,.2);
			@include transition(all, .3s, ease);
			@include box-sizing(border-box);
			&:before {
				content: '';
				@include posAbsoluteRT(16px, 50%, 6px, 4px);
				@include translate(0, -50%);
				background: url("../img/common/icon_family_select.png") repeat 0 0;
			}
		}
		.familyList {
			padding: 10px 15px;
			@include posAbsoluteLB(0, 42px, 160px, auto);
			display: none;
			border: 1px solid rgba(#fff,.2);
			background: #2b2c30;
			li {
				a {
					display: inline-block;
					width: 100%;
					padding: 5px 0;
					color: rgba(#e8e8e8, .8);
					@include NotoSansKR-Light;
					@include font-size(1.4);
				}
			}
		}
		&.familyOpen {
			.familyBtn {
				&:before {
					background-position: 0 -5px;
				}
			}
		}
	}
}

/* ================================== Footer media query ================================== */
@include respond-to('md') {
	#footer {
		.familySite {
			float: none;
			margin-top: 20px;
		}
	}
}

@include respond-to('sm') {
	#footer {
		.inner {
			padding: m-get-half(44px) m-get-per(30px) m-get-half(68px);
		}
		.footerLink {
			padding-bottom: m-get-half(30px);
			li {
				padding-left: m-get-per(18px);
			}
		}
		.footerText {
			padding: m-get-half(22px) 0 m-get-half(20px);
			& > p {
				padding: m-get-half(4px) 0;
				padding-left: 0;
				padding-right: m-get-per(36px);
			}
		}
		.familySite {
			margin-top: m-get-half(30px);
			.familyList {
				bottom: 40px;
			}
		}
	}
}