@charset "utf-8";
/* ================================== Header ================================== */

#header {
	//overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	background: rgba(#316fa9, .7);
	z-index: 9998;
	&.gnbFixed {
		background: rgba(#316fa9, .98);
		box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.35);
		-moz-box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.35);
		-webkit-box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.35);
	}
	&:after {
		content: '';
		position: absolute;
		top: 113px;
		left: 0;
		right: 0;
		height: 0;
		background: #ccc;
	}
	.headerInner {
		position: relative;
		max-width: 1440px;
		width: 100%;
		//height: 112px;
		margin: 0 auto;
		text-align: center;
		@include box-sizing(border-box);
		z-index: 9999;
		.headerLogo {
			position: absolute;
			top: 16px;
			left: 30px;
			@include transition(all, .3s, ease);
			z-index: 82;
			a {
				display: block;
				width: 112px;
				height: 80px;
				font-size: 0;
				background: url("../img/common/header_logo.png") no-repeat 0 -100px;
			}
		}
		#gnb {
			overflow: hidden;
			height: 112px;
			margin: 0;
			padding-top: 36px;
			border-top: none;
			border-bottom: none;
			background: transparent;
			text-align: left;
			z-index: 81;
			.depth1 {
				display: table;
				width: 50%;
				margin: 0 auto;
				margin-left: 15%;
				@include transition(all, .2s, ease);
				& > li {
					position: relative;
					display: table-cell;
					width: 20%;
					padding: 0 25px;
					@include transition(all, .2s, ease);
					& > a {
						position: relative;
						display: block;
						padding: 0 18px;
						@include lh(76px);
						color: #fff;
						@include NotoSansKR-Medium;
						@include font-size(2.0);
						@include box-sizing(border-box);
						@include transition(all, .2s, ease);
						&:after {
							content: '';
							@include posAbsoluteLB(50%, -2px, 0, 3px);
							@include translate(-50%, 0);
							background: #019bdb;
							@include transition(all, .2s, ease);
						}
						&:hover {
							color: #019bdb;
						}
					}
					&:hover {
						& > a {
							color: #019bdb;
							&:after {
								width: 100%;
							}
						}
					}
					&.isActive {
						& > a {
							color: #019bdb;
						}
					}
					.gnbMobileTouch {
						display: none;
					}
				}
			}
			.depth2 {
				padding: 18px 0;
				& > li {
					& > a {
						display: block;
						width: 100%;
						padding: 8px 0;
						color: #fff;
						@include transition(all, .2s, ease);
                        letter-spacing: -1px;
						&:hover {
							color: #019bdb;
							text-decoration: underline;
						}
					}
				}
			}
			.depth3 {
				//display: none;
                margin-top: -0.5rem;
                a {
                    font-size: 1.3rem;
                    color: #777;
                    letter-spacing: -1px;
                    text-indent: -1rem;
                    padding-left: 1rem;
                    //display: block;
                }
			}
		}
		.utilMenu {
			@include posAbsoluteRT(150px, 50px, auto, auto);
			@include clearfix;
			zoom: 1;
			z-index: 81;
			& > li {
				float: left;
				margin-left: 20px;
				&:first-child {
					margin-left: 0;
				}
				& > a {
					display: block;
					padding: 0;
					@include lh(46px);
					color: #fff;
				}
			}
		}
		#tnb {
			float: none;
			@include posAbsoluteRT(30px, 0, auto, auto);
			z-index: 81;
			& > li {
				position: relative;
				margin: 0;
				margin-left: 26px;
				&:before {
					content: '';
					@include posAbsoluteLT(-13px, 50%, 1px, 13px);
					background: #ccc;
					@include translate(0, -50%);
				}
				&:first-child {
					margin-left: 0;
					&:before {
						display: none;
					}
				}
				& > a {
					padding: 0;
					@include lh(46px);
					color: #fff;
					@include font-size(1.5);
					letter-spacing: -0.02em;
				}
			}
		}
		#allMenu {
			position: absolute;
			top: 120px;
			left: 50%;
			@include translate(-50%, 0);
			display: none;
			text-align: left;
			z-index: 99;
			li {
				position: relative;
			}
			a {
				color: #fff;
				display: block;
			}
			.depth1 {
				display: table;
				margin: 0 auto;
				& > li {
					display: table-cell;
					min-width: 300px;
					padding-left: 24px;
					&:before {
						content: '';
						@include posAbsoluteLT(0, 45px, 14px, 3px);
						background: #fff;
					}
					& > a {
						padding: 22px 0;
						@include NotoSansKR-Medium;
						@include font-size(3.2);
					}
					.gnbMobileTouch {
						display: none;
					}
				}
			}
			.depth2 {
				& > li {
					& > a {
						padding: 6px 0;
						@include NotoSansKR-Regular;
						@include font-size(1.8);
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			.depth3 {
				margin: 4px 0 9px 9px;
				& > li {
					padding-left: 9px;
					&:before {
						content: '';
						@include posAbsoluteLT(0, 16px, 5px, 1px);
						background: #fff;
					}
					& > a {
						padding: 3px 0;
						@include NotoSansKR-Light;
						@include font-size(1.6);
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		.langBtn {
			@include posAbsoluteRT(74px, 52px, auto, auto);
			z-index: 81;
			& > a {
				position: relative;
				display: block;
				width: 58px;
				height: 46px;
				padding: 2px 0 0 26px;
				text-align: left;
				color: #fff;
				@include font-size(1.5);
				letter-spacing: -0.02em;
				@include box-sizing(border-box);
				&:before {
					content: '';
					@include posAbsoluteLT(0, 0, 40px, 46px);
					background: url("../img/common/icon_lang_btn.png") no-repeat 0 -50px;
				}
			}
			.langList {
				@include posAbsoluteLT(50%, 46px, auto, auto);
				display: none;
				@include clearfix;
				margin-left: -43px;
				background: #316fa9;
				z-index: 82;
				li {
					border: solid #ccc;
					border-width: 0 1px 1px;
					&:first-child {
						border-width: 1px;
					}
					a {
						display: block;
						width: 100%;
						padding: 6px 10px;
						text-align: center;
						color: #fff;
						@include font-size(1.5);
						font-weight: 300;
						letter-spacing: -0.02em;
						word-break: keep-all;
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
		.allMenuBtn {
			@include posAbsoluteRT(30px, 51px, auto, auto);
			z-index: 99;
			.hamburger {
				cursor: pointer;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 46px;
				height: 46px;
				& > i {
					background: #fff;
					@include posAbsoluteRT(0, 50%, 36px, 2px);
					@include translate(0, -50%);
					&.line1 {
						margin-top: -12px;
					}
					&.line2 {
						width: 28px;
					}
					&.line3 {
						margin-top: 12px;
					}
				}
			}
		}
	}
	&.gnbOpen {
		background: rgba(#fff, 1);
		box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.35);
		-moz-box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.35);
		-webkit-box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.35);
		&:after {
			height: 1px;
		}
		.headerInner {
			.headerLogo a {
				background-position: 0 0;
			}
			#tnb > li > a {
				color: #666;
				&:hover {
					color: #019bdb;
				}
			}
			#gnb {
				.depth1 > li > a {
					color: #333;
					&:hover,
					&:focus {
						color: #019bdb;
					}
				}
				.depth1 > li:hover > a {
					color: #019bdb;
					&:hover {
						color: #019bdb;
					}
				}
				.depth2 > li > a {
					color: #666;
					&:hover {
						color: #019bdb;
					}
				}
			}
			.utilMenu > li > a {
				color: #666;
				&:hover {
					color: #019bdb;
				}
			}
			.langBtn {
				& > a {
					color: #666;
					&:before {
						background-position: 0 0;
					}
				}
				.langList {
					background: #fff;
					li {
						border-color: #ccc;
						a {
							color: #666;
							&:hover {
								color: #019bdb;
							}
						}
					}
				}
			}
			.allMenuBtn {
				.hamburger > i {
					background: #999;
				}
			}
		}
	}
	&.mobileWrap {
		.headerInner {
			#gnb {
				padding-top: 101px;
				.depth1 {
					display: block;
					width: auto;
					margin: 0;
					margin-left: 0;
					padding: 0 30px;
					& > li {
						position: relative;
						display: block;
						width: auto;
						padding: 0;
						text-align: left;
						border-bottom: 1px solid #c6c6c6;
						& > a {
							position: relative;
							display: block;
							padding: 0 10px;
							@include lh(60px);
							&:after {
								display: none;
							}
						}
						&:hover {
							& > a {
								&:after {
									width: 100%;
								}
							}
						}
						&:after {
							content: '';
							@include posAbsoluteRT(20px, 26px, 18px, 10px);
							background: url("../img/common/icon_gnb_open.png") no-repeat 0 0;
						}
						&.isOpen {
							&:after {
								background-position: 0 -20px;
							}
						}
						.gnbMobileTouch {
							display: block;
							@include posAbsoluteLT(0, 0, 100%, 60px);
							cursor: pointer;
							z-index: 1;
						}
					}
				}
				.depth2 {
					border-top: 2px solid #1f99df;
					padding: 10px 30px;
					& > li {
						& > a {
							padding: 5px 0;
							@include font-size(1.8);
						}
					}
				}
				.depth3 {
					display: block;
					margin: 0 0 6px 9px;
					& > li {
						position: relative;
						padding: 3px 0;
						padding-left: 9px;
						&:before {
							content: '';
							@include posAbsoluteLT(0, 15px, 5px, 1px);
							background: #999;
						}
						& > a {
							color: #666;
							@include NotoSansKR-Regular;
							@include font-size(1.6);
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
			.utilMenu {
				display: none;
				margin: 30px 0 15px;
				position: relative;
				top: auto;
				right: auto;
				& > li {
					float: none;
					display: inline-block;
					& > a {
						min-width: 170px;
						padding: 0 20px;
						@include lh(54px);
						@include NotoSansKR-Medium;
						@include font-size(1.8);
						border: 1px solid #999;
						@include border-radius(2px);
					}
				}
			}
			#tnb {
				display: none;
				margin-bottom: 50px;
				position: relative;
				top: auto;
				right: auto;
				& > li {
					float: none;
					display: inline-block;
					& > a {
						padding: 0 4px;
						@include font-size(1.8);
					}
				}
			}
			.langBtn {
				.langList {
					li {
						a {
							@include font-size(1.8);
						}
					}
				}
			}
		}
		&.gnbOpen {
			.utilMenu,
			#tnb {
				display: block;
			}
		}
	}
}
.modalOverlay {
	display: none;
	@include posFixedFull;
	opacity: 0;
	&.allMenuCover {
		background: #316fa9;
		z-index: 98;
	}
	&.gnbCover {
		background: #222;
		z-index: 80;
	}
}

/* ================================== Header media query ================================== */
@include respond-to('lg') {
	#header {
		.headerInner {
			#gnb {
				.depth1 {
					margin-left: 17%;
					& > li {
						padding: 0 5px;
					}
				}
			}
			#allMenu {
				.depth1 {
					& > li {
						min-width: 240px;
					}
				}
			}
		}
	}
}

@include respond-to('xmd') {
	#header {
		&:after {
			top: 101px;
		}
		.headerInner {
			//height: 100px;
			#allMenu {
				display: none;
			}
			.headerLogo {
				top: 10px;
			}
			#gnb {
				height: 100px;
				padding-top: 101px;
			}
			.utilMenu,
			#tnb {
				display: none;
			}
			.langBtn {
				top: 28px;
			}
			.allMenuBtn {
				top: 27px;
			}
		}
		&.mobileWrap {
			.headerInner {
				height: auto;
				#gnb {
					.depth2 {
						display: none;
					}
					.depth3 {
						display: block;
					}
				}
			}
		}
	}
}

@include respond-to('sm') {
	#header {
		&:after {
			top: 71px;
		}
		.headerInner {
			//height: 70px;
			.headerLogo {
				top: m-get-half(14px);
				left: m-get-half(30px);
				a {
					width: 79px;
					height: 56px;
					background-position: 0 -70px;
					background-size: auto 140px;
				}
			}
			#gnb {
				height: 70px;
				padding-top: 71px;
			}
			.langBtn {
				top: 0;
				right: m-get-half(100px);
				& > a {
					width: 42px;
					height: 70px;
					padding: 20px 0 0 19px;
					&:before {
						@include posAbsoluteLT(0, 17px, 32px, 32px);
						background-position: 0 -40px;
						background-size: 32px auto;
					}
				}
				.langList {
					top: 58px;
					margin-left: -35px;
				}
			}
			.allMenuBtn {
				top: 0;
				right: m-get-half(30px);
				.hamburger {
					width: 40px;
					height: 70px;
					& > i {
						width: 26px;
						&.line1 {
							margin-top: -9px;
						}
						&.line2 {
							width: 20px;
						}
						&.line3 {
							margin-top: 9px;
						}
					}
				}
			}
		}
		&.mobileWrap {
			.headerInner {
				#gnb {
					padding-top: 71px;
					.depth1 {
						padding: 0 m-get-per(30px);
						& > li {
							& > a {
								@include lh(42px);
								@include font-size(2.3);
							}
							&:after {
								@include posAbsoluteRT(m-get-half(20px), m-get-half(38px), m-get-half(18px), m-get-half(10px));
								background-size: m-get-half(18px) auto;
							}
							&.isOpen {
								&:after {
									background-position: 0 m-get-half(-20px);
								}
							}
							.gnbMobileTouch {
								height: 42px;
							}
						}
					}
					.depth2 {
						border-top: 1px solid #1f99df;
						padding: 10px 20px;
						& > li {
							& > a {
								@include font-size(2.0);
							}
						}
					}
					.depth3 {
						margin: 0 0 4px 6px;
						& > li {
    					padding-left: 7px;
							&:before {
								@include posAbsoluteLT(0, 12px, 4px, 1px);
							}
							& > a {
								@include font-size(1.8);
							}
						}
					}

				}
				.utilMenu {
					margin: m-get-half(30px) 0  m-get-half(16px);
					& > li {
						& > a {
							min-width: m-get-half(200px);
							padding: 0 m-get-half(20px);
							@include lh(32px);
						}
					}
				}
				#tnb {
					margin-bottom: m-get-half(50px);
				}
			}
		}
	}
}
