@charset "utf-8";
/* ================================== Layout ================================== */

#wrap {
	position: relative;
}

#container {
	float: none;
	padding: 0;
	width: auto;
	min-height: 600px;
	border-right: none;
  -ms-word-break: keep-all;
  word-break: keep-all;
}

.contentTop {
	height: 490px;
	padding-top: 255px;
	text-align: center;
	color: #fff;
	@include NotoSansKR-Bold;
	@include font-size(6.0);
	letter-spacing: 0;
	text-transform: uppercase;
	text-shadow: 0 0 4px rgba(#49589c, .5);
	@include box-sizing(border-box);
	&.company {
		background: url("../img/company/w_visual_company.jpg") no-repeat center center;
	}
	&.technology {
		background: url("../img/technology/w_visual_technology.jpg") no-repeat center center;
	}
	&.business {
		background: url("../img/business/w_visual_business.jpg") no-repeat center center;
	}
	&.investor {
		background: url("../img/investor/w_visual_investor.jpg") no-repeat center center;
	}
	&.enquiry {
		background: url("../img/enquiry/w_visual_enquiry.jpg") no-repeat center center;
	}
	&.media {
		background: url("../img/company/w_visual_company.jpg") no-repeat center center;
	}
}

#lnb {
	border-bottom: 1px solid #ddd;
	position: relative;
	z-index: 5;
	.lnbInner {
		max-width: 1200px;
		width: 100%;
		height: 59px;
		margin: 0 auto;
		@include clearfix;
		& > * {
			position: relative;
			float: left;
			min-width: 255px;
			height: 100%;
			@include box-sizing(border-box);
			background: url("../img/common/icon_lnb_select.png") no-repeat right center;
			a {
				display: block;
				width: 100%;
				padding: 0 28px;
				padding-right: 40px;
				@include lh(59px);
				color: #666;
				@include Roboto-Light;
				//@include font-size(1.8);
				letter-spacing: 0;
				@include box-sizing(border-box);
				&:hover {
					color: #018cdb;
					text-decoration: underline;
				}
			}
			&.current {
				& > a {
					color: #018cdb;
					@include NotoSansKR-Medium;
				}
			}
			&:after {
				content: '';
				@include posAbsoluteRT(0, 50%, 1px, 14px);
				@include translate(0, -50%);
				background: #e6e6e6;
			}
			&:first-child {
				&:before {
					content: '';
					@include posAbsoluteLT(0, 50%, 1px, 14px);
					@include translate(0, -50%);
					background: #e6e6e6;
				}
			}
		}
		.lnbDepth1,
		.lnbDepth2,
		.lnbDepth3 {
			ul {
				visibility: hidden;
				opacity: 0;
			}
			&:hover {
				ul {
					visibility: visible;
					opacity: 1;
				}
			}
		}
		.lnbHome {
			display: block;
			min-width: 86px;
			width: 86px;
			height: 59px;
			padding: 0;
			background: url("../img/common/icon_home.png") no-repeat center center;
		}
		ul {
			padding-bottom: 14px;
			border: 1px solid #ddd;
			border-top: 0;
			background: #fff;
			li {
				a {
					@include lh(44px);
				}
			}
		}
	}
}

.btnTop {
	position: absolute;
	right: 30px;
	bottom: auto;
	@include transition(all, .3s, ease);
	z-index: 80;
	a {
		display: block;
		opacity: .5;
		&:after {
			content: '';
			display: block;
			width: 50px;
			height: 50px;
			border: 1px solid #959698;
			background: url("../img/common/icon_go_top.png") no-repeat 0 -50px;
			@include box-sizing(border-box);
		}
	}
	&.btnTopFixed {
		position: fixed;
		a {
			&:after {
				border: 1px solid #666;
				background-position: 0 0;
			}
		}
	}
}

/* ================================== Layout media query ================================== */
@include respond-to('xlgOver') {
	.contentTop {
		background-size: 100% 490px;
	}
}
@include respond-to('md') {
	#lnb {
		display: none;
		.lnbInner {
			& > * {
				min-width: auto;
			}
		}
	}
}
@include respond-to('sm') {
	.contentTop {
		height: m-get-half(490px);
		padding-top:  m-get-half(256px);
		&.company {
			background-size: cover;
		}
		&.technology {
			background-size: cover;
		}
		&.business {
			background-size: cover;
		}
		&.investor {
			background-size: cover;
		}
		&.enquiry {
			background-size: cover;
		}
	}
	.contentWrap {
		padding: m-get-half(50px) m-get-per(30px) m-get-half(100px);
		.contentTitle {
			margin-bottom: m-get-half(50px);
			padding: m-get-half(6px) 0 m-get-half(12px);
			&:after {
				width: m-get-half(30px);
				height: m-get-half(2px);
			}
		}
	}

	#lnb {
		.lnbInner {
			height: 41px;
			& > * {
				width: auto;
				background-size: 21px auto;
				a {
					padding: 0 m-get-per(40px);
					padding-right: 28px;
					@include lh(41px);
					@include font-size(1.8);
				}
				&:first-child {
					&:before {
						display: none;
					}
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
			.lnbHome {
				min-width: auto;
				width: m-get-per(60px);
				height: 41px;
				background-size: 14px auto;
			}
			ul {
				padding-bottom: 10px;
				li {
					a {
						@include lh(30px);
					}
				}
			}
		}
	}

	.btnTop {
		right: m-get-per(30px);
		a {
			&:after {
				width: m-get-half(50px);
				height: m-get-half(50px);
				background-position: 0 m-get-half(-50px);
				background-size: m-get-half(50px) auto;
			}
		}
	}
}
