@charset "utf-8";

$fontFamily: "Noto Sans KR", "Malgun Gothic", Dotum, sans-serif;

$viewportWidth: 720px;
$viewportHeight: 1280px;

$mainHeight: 1165px;
$gardenHeight: 1416px;
$illusionHeight: 1638px;
$tulipHeight: 1165px;
$brenciaHeight: 1496px;
$hollandHeight: 1276px;
$fairyHeight: 1667px;
$paradeHeight: 2246px;
$fnbHeight: 1816px;
$mdHeight: 1165px;

$paradeContentHeight: 1666px;