@charset "utf-8";
/* ================================== Footer ================================== */

#footer {
	position: relative;
	background: #343434;
	& * {
		color: #fff;
		@include font-size(14);
		font-weight: 100;
		font-style: normal;
	}
	& > .inner {
		position: relative;
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		padding: 25px 30px 27px;
	}
	address {
		p {
			margin-top: 2px;
			&.contectInfo {
				span {
					position: relative;
					display: inline-block;
					padding-left: 23px;
					&:before {
						content: '';
						@include posAbsoluteLT(9px, 5px, 1px, 12px);
						background: #676767;
					}
					&:first-child {
						padding-left: 0;
						&:before {
							display: none;
						}
					}
				}
			}
			&.copyright {
				margin-top: 14px;
				opacity: .4;
			}
		}
	}
	.snsLink {
		position: absolute;
		right: 30px;
		top: 30px;
		@include clearfix;
		li {
			float: left;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
			a {
				display: block;
				width: 30px;
				height: 30px;
				@include border-radius(50%);
				background: #fff;
				&:before {
					content: '';
					display: block;
					width: 30px;
					height: 30px;
					background: url("../img/common/icon_sns.png") no-repeat 0 center;
				}
			}
			$iconSns: (
				1: Instagram,
				2: facebook,
				3: twitter,
				4: blog,
				5: youtube,
				6: tiktok
			);
			@each $number, $value in $iconSns {
				&.#{$value} {
					a {
						&:before {
							background-position: -40px * ($number - 1) center;
						}
					}
				}
			}
		}
	}
	.arita {
		position: absolute;
		right: 30px;
		bottom: 26px;
		color: #403f3f;
		font-size: 6px;
		font-weight: 100;

	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	#footer {
		& > .inner {
			text-align: center;
			padding-bottom: 12px;
		}
		address {
			p {
				&.contectInfo {
					display: inline-block;
					margin: 0 auto;
					span {
						&:nth-child(3) {
							display: block;
							&:before {
								display: none;
							}
						}
					}
				}
				&.copyright {
					margin-top: 4px;
				}
			}
		}
		.snsLink {
			position: relative;
			right: auto;
			top: auto;
			display: inline-block;
			margin: 25px auto 0;
		}
		.arita {
			position: relative;
			right: auto;
			bottom: auto;
			margin-top: 20px;
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	#footer {
		& > .inner {
			padding-left: m-get-per(30px);
			padding-right: m-get-per(30px);
			text-align: center;
		}
		address {
			text-align: center;
			p {
				&.contect {
					span {
						padding: 0 6px;
					}
				}
			}
		}
		.snsLink {
			position: relative;
			right: auto;
			top: auto;
			margin: 20px auto 0;
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {


}