@charset "utf-8";
/* ================================== Header ================================== */

#header {
	//overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 90;
	& * {
		@include box-sizing(border-box);
	}
	.headerTop {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 30;
		& > .inner {
			position: relative;
			max-width: 1606px;
			width: 100%;
			min-height: 155px;
			margin: 0 auto;
			padding: 0 30px;
		}
	}
	.headerLogo {
		@include posAbsoluteLT(30px, 30px, auto, auto);
		a {
			position: relative;
			display: block;
			width: 154px;
			padding-bottom: 106px;
			&:before,
			&:after {
				content: '';
				@include posAbsoluteLT(0, 0, 100%, 100%);
				right: 0;
				bottom: 0;
				background: url("../img/common/header_logo.png") no-repeat center 0;
				background-size: 100% auto;
				@include transition(all, .2s, ease);
			}
			&:before {
				opacity: 1;
			}
			&:after {
				opacity: 0;
				background-position: center -120px;
			}
		}
	}
	.menuBtn {
		@include posAbsoluteRT(100px, 27px, auto, auto);
		text-align: center;
		color: #275d33;
		@include font-size(15);
		font-weight: 700;
		@include transition(color, .2s, ease);
		.hamburger {
			cursor: pointer;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 62px;
			height: 23px;
			& > i {
				background: #275d33;
				@include posAbsoluteLT(50%, 50%, 44px, 4px);
				@include translate(-50%, -50%);
				@include transition(background, .2s, ease);
				&.line1 {
					margin-top: -5px;
				}
				&.line2 {
					margin-top: 5px;
				}
			}
		}
	}
	&.isActive {
		.headerLogo {
			a {
				&:before {
					opacity: 0;
				}
				&:after {
					opacity: 1;
				}
			}
		}
		.menuBtn {
			color: #fff;
			.hamburger {
				height: 41px;
				& > i {
					background: #fff;
					@include border-radius(2px);
				}
			}
		}
	}
}
.headerGnb {
	position: absolute;
	left: 0;
	right: 0;
	background: #286035 url("../img/common/gnb_bg.gif") repeat center center;
	z-index: 20;
	& > .inner {
		position: relative;
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		padding: 0 30px;
	}
}
#gnb {
	display: none;
	padding: 160px 0 120px;
	.gnbTop,
	.gnbBtm {
		display: table;
		width: 100%;
	}
	.item {
		display: table-cell;
		padding: 33px 0;
		a {
			position: relative;
			display: block;
			width: 196px;
			margin: 0 auto;
			text-align: center;
			&:before {
				content: '';
				display: block;
				width: 100%;
				padding-bottom: 100%;
				@include border-radius(50%);
				background: #fff;
			}
			& > span {
				display: block;
				width: 100%;
				margin-top: 5%;
				padding-bottom: 14.286%;
			}
			&:after {
				content: '';
				@include posAbsoluteLT(50%, -100vh, 3px, 100vh);
				background: rgba(#fff, .2);
				z-index: -1;
			}
			&:hover {
				&:before {
					@include boxShadow(4px, 13px, 23px, rgba(#000, .4))
				}
			}
		}
		@for $i from 1 through 7 {
			&.menu#{$i} {
				a {
					&:before {
						background: url("../img/common/gnb_menu#{$i}_bg.jpg") no-repeat center center;
						background-size: cover;
					}
					& > span {
						background: url("../img/common/gnb_manu#{$i}.png") no-repeat center center;
						background-size: cover;
					}
				}
			}
		}
	}
	.gnbtopWrap {
		display: block;
		margin: 0 14.16%;
	}
	.gnbTop {
		.item {
			&:nth-child(1) {
				a {
					margin-left: 0;
				}
			}
			&:nth-child(3) {
				a {
					margin-right: 0;
				}
			}
		}
	}
	.gnbBtm {
		.item {
			&:nth-child(1) {
				a {
					margin-left: 0;
				}
			}
			&:nth-child(4) {
				a {
					margin-right: 0;
				}
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {
	#header {
		.menuBtn {
			right: 30px;
		}
	}
}

// ##Screen = 1024px 이하
@include respond-below(md) {
	#gnb {
		padding: 170px 0 70px;
		@include clearfix;
		.gnbTop,
		.gnbBtm {
			display: inline;
			width: auto;
		}
		.item {
			float: left;
			display: block;
			width: 100% * 1/3;
			padding: 23px 5%;
			a {
				width: 100%;
				margin: 0 auto;
				&:after {
					display: none;
				}
			}
		}
		.gnbtopWrap {
			display: inline;
			margin: auto;
		}
		.gnbTop {
			.item {
				&:nth-child(1) {
					a {
						margin-left: auto;
					}
				}
				&:nth-child(3) {
					a {
						margin-right: auto;
					}
				}
			}
		}
		.gnbBtm {
			.item {
				&:nth-child(1) {
					a {
						margin-left: auto;
					}
				}
				&:nth-child(4) {
					a {
						margin-right: auto;
					}
				}
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	#header {
		.headerTop,
		.headerGnb {
			& > .inner {
				padding-left: m-get-per(30px);
				padding-right: m-get-per(30px);
			}
		}
		.headerLogo {
			left: m-get-per(30px);
			a {
				width: 123px;
				padding-bottom: 84px;
				&:after {
					background-position: center -96px;
				}
			}
		}
		.menuBtn {
			right: m-get-per(30px);
		}
	}
	#gnb {
		.item {
			width: 100% * 1/2;
			padding-left: 7%;
			padding-right: 7%;
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {


}