@charset "utf-8";
/* ================================== Layout ================================== */

#wrap {
	position: relative;
}

#container {
	padding-top: 160px;
	-ms-word-break: keep-all;
	word-break: keep-all;
	background: url("../img/common/content_bg.gif") repeat center center;
	& > .inner {
		position: relative;
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		padding: 0 30px;
		@include clearfix;
	}
	&.main {
		padding-top: 0;
		background: #fff none;
	}
}

.content {
	& > .inner {
		position: relative;
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
		@include clearfix;
	}
	&.subCont {
		& > .inner {
			padding-bottom: 103px;
			text-align: center;
		}
	}
	h2 {
		margin-bottom: 30px;
		color: #222;
		@include font-size(46);
		font-weight: 900;
		line-height: 1.3;
	}
	h3 {
		margin-bottom: 6px;
		color: #222;
		@include font-size(26);
		font-weight: 900;
		line-height: 1.4;
		i {
			display: block;
			margin-bottom: 6px;
			@include font-size(46);
			font-style: normal;
			&.fc1 {
				color: #11a878;
			}
			&.fc2 {
				color: #6ba20b;
			}
			&.fc3 {
				color: #bfa307;
			}
		}
	}
	.conBox {
		margin-top: 62px;
		p {
			& + p {
				margin-top: 19px;
			}
		}
		strong {
			color: #333;
			font-weight: 900;
		}
	}
}

.subTab {
	display: table;
	width: 100%;
	max-width: 740px;
	margin: 0 auto;
	margin-bottom: 20px;
	li {
		display: table-cell;
		color: #666;
		@include font-size(26);
		line-height: 1.4;
		span {
			display: block;
			padding: 0 11px 3px;
			text-align: center;
		}
		&.isActive {
			color: #275d33;
			font-weight: 900;
			span {
				background: url("../img/content/subtab_underline.png") no-repeat center bottom;
				background-size: 100% 18px;
			}
		}
	}
}

.titleBox {
	position: relative;
	min-height: 360px;
	padding-top: 77px;
	padding-right: 26%;
	padding-bottom: 44px;
	text-align: center;
	border-bottom: 2px solid #275d33;
	h2 {
		margin-bottom: 15px;
	}
	p {
		@include font-size(26);
		font-weight: 900;
		line-height: 1.4;
	}
	.guideList {
		display: inline-block;
		max-width: 750px;
	}
	.subIllust {
		@include posAbsoluteRB(11.67%, -2px, 250px, 370px);
		@include transition(right, .2s, ease);
		&.packageM {
			background: url("../img/content/title_illust_packagem.png") no-repeat 0 0;
		}
		&.packageY {
			background: url("../img/content/title_illust_packagey.png") no-repeat 0 0;
		}
		&.packageS {
			background: url("../img/content/title_illust_packages.png") no-repeat 0 0;
		}
	}
}

.guideList {
	display: block;
	li {
		position: relative;
		display: block;
		margin-top: 7px;
		padding-left: 12px;
		text-align: left;
		@include font-size(16);
		font-style: normal;
		&:before {
			content: '';
			@include posAbsoluteLT(0, 8px, 6px, 6px);
			background: url("../img/content/bul_dot.png") no-repeat 0 0;
		}
		i {
			display: inline-block;
			padding: 2px 4px 0 3px;
			color: #fff;
			font-style: normal;
			background: #000;
		}
		strong {
			color: #275d33;
			font-weight: 900;
		}
		em {
			color: #ff6c00;
			font-weight: 900;
			font-style: normal;
			text-decoration: underline;
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {
	.titleBox {
		.subIllust {
			right: 5%;
		}
	}
}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.titleBox {
		padding-right: 250px;
		text-align: left;
		.subIllust {
			right: 0;
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	#container {
		& > .inner {
			padding-left: m-get-per(30px);
			padding-right: m-get-per(30px);
		}
		&.main {
			padding-top: 0;
		}
	}
	.content {
		& > .inner {
			padding-left: m-get-per(30px);
			padding-right: m-get-per(30px);
		}
		&.subCont {
			& > .inner {
				padding-bottom: 73px;
			}
		}
		h2 {
			@include font-size(36);
		}
		h3 {
			@include font-size(20);
			i {
				@include font-size(36);
			}
		}
		.conBox {
			margin-top: 42px;
		}
	}
	.subTab {
		li {
			@include font-size(24);

			span {
				padding: 0 8px 2px;
			}
			&.isActive {
				span {
					background-size: 100% 15px;
				}
			}
		}
	}
	.titleBox {
		min-height: 0;
		padding-top: 38px;
		padding-right: 0;
		p {
			@include font-size(20);
		}
		.subIllust {
			display: none;
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.subTab {
		li {
			@include font-size(18);
		}
	}
}