@charset "utf-8";

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin clearafter {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

@mixin multiline-ellipsis ($max-height, $lines: 2) {
	// Fallback for non-webkit browsers.
	// Fallback does not render ellipsis.
	overflow: hidden;
	max-height: $max-height;

	// ie
	max-height: ($max-height * $lines) + em;
	display: block;

	// Webkit solution for multiline ellipsis
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;  
	
	// Solution for Opera
	text-overflow: -o-ellipsis-lastline;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model; // Safari <= 5
	-moz-box-sizing: $box-model; // Firefox <= 19
	box-sizing: $box-model;
}

@mixin transition($element, $duration, $timing) {
	transition: $element $duration $timing;
	-webkit-transition: $element $duration $timing;
	-moz-transition: $element $duration $timing;
	-o-transition: $element $duration $timing;
}

@mixin translate($translateX, $translateY) {
	transform: translate($translateX, $translateY);
	-ms-transform: translate($translateX, $translateY);
	-webkit-transform: translate($translateX, $translateY);
}

@mixin rotate($angle) {
	transform: rotate($angle + deg);
	-ms-transform: rotate($angle + deg);
	-webkit-transform: rotate($angle + deg);
}

@mixin placeholder {
	$placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
	@each $placeholder in $placeholders {
		&:#{$placeholder}-placeholder {
			@content;
		}
	}
}

@mixin posFixedFull {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
}

@mixin boxShadow($hOffset, $hOffset, $blur, $color) {
	box-shadow: $hOffset $hOffset $blur $color;
	-moz-box-shadow: $hOffset $hOffset $blur $color;
	-webkit-box-shadow: $hOffset $hOffset $blur $color;
}