@charset "utf-8";
/* ================================== Common ================================== */
// img { max-width: 100%; height: auto; }
a, a:hover, a:focus, a:active {
	text-decoration: none;
}

#skipNav {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
	a {
		overflow: hidden;
		display: block;
		width: 1px;
		height: 1px;
		margin-bottom: -1px;
		color: #444;
		font-size: 0;
		text-decoration: none;
		&:hover,
		&:active,
		&:focus {
			width: 100%;
			height: auto;
			padding: 9px 0;
			background: #303030;
			@include font-size(20);
			text-align: center;
			color: #fff;
		}
	}
}

// caption,
// .hidden {
// 	position: absolute;
// 	top: -9999;
// 	left: -9999;
// 	font-size: 0 !important;
// 	line-height: 0 !important;
// 	padding: 0 !important;
// 	margin: 0 !important;
// }
// caption {
// 	font-size: 0;
// 	height: 0;
// 	visibility: hidden;
// 	overflow:hidden;
// }
// .hidden,
// legend {
// 	position:absolute;
// 	left:-10000px;
// 	top:auto;
// 	width:1px;
// 	height:1px;
// 	overflow:hidden;
// }

caption,
.hidden,
legend {
	position: absolute;
	left:-10000px;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}



// Placeholder Text Color
input[placeholder] {
	&::-webkit-input-placeholder{ color: #777; }
	&:-moz-placeholder { color: #777;}
	&::-moz-placeholder { color: #777;}
	&:-ms-input-placeholder { color: #777; }
	&.placeholder{color: #777;}
}
html {
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	position: relative;
	min-height: 100%;
	overflow-y: auto;
}
body {
	font-family: $fontFamily;
	font-weight: 400; // Light:300, Regular:400, Medium:500, Bold:700;
	font-style: normal;
	@include font-size(16);
	line-height: 1.5;
	letter-spacing: -0.02em;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: hidden;
}
html, body {
	overflow-x: hidden;
	//height: 100%;
}
.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
// .webOnly {
// 	display: inline-block;
// }
// .mobOnly {
// 	display: none;
// }

button {
	font-family: inherit;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

table {
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}
// input
input[type="text"],
input[type="password"],
textarea {
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	@include border-radius(0);
  font-family: inherit;
	border: 1px solid #ccc;
	@include box-sizing(border-box);
}
input[type="text"],
input[type="password"] {
	padding: 0 10px;
	@include lh(37px);
}
input[type="file"] {
	width: 100%;
	// appearance: none;
	// -webkit-appearance: none;
	// -moz-appearance: none;
	// @include border-radius(0);
  font-family: inherit;
	// border: 1px solid #ccc;
	// @include box-sizing(border-box);
}
textarea {
	height: auto;
	padding: 10px;
}
select {
	//width: 100%;
	height: 37px;
	line-height: 31px;
	padding: 4px 5px 4px 5px;
	font-family: inherit;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: 0px;
}

input[type="text"],
input[type="password"],
input[type="file"],
textarea,
select {
  color: #222;
  @include font-size(16);
	line-height: 1.5;
	letter-spacing: -0.02em;
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {


}

// ##Screen = 767px 이하
@include respond-below(sm) {


}

// ##Screen = 480px 이하
@include respond-below(xs) {


}
