@charset "utf-8";

// Content Width
$webWidth: 1200px;
$mobileWidth: 640px;

$mapWidth: 1200px;
$mapHeight: 560px;

$breakpoints: (
	'xs':       ( max-width: 360px ), 
	'xxs':      ( max-width: 480px ),
	'sm':       ( max-width: 640px ),
	'md':       ( max-width: 960px ),
	'xmd':      ( max-width: 1024px ),
	'lg':       ( max-width: 1260px ),
	'xlg':      ( max-width: 1440px ),
	'xlgUnder': ( max-width: 1540px ),
	'xlgOver':  ( min-width: 2000px ),
) !default;