@charset "utf-8";

/********************************************************************************/
/* _common.scss
/********************************************************************************/
* {
	font-family: $fontFamilyImportant;
}
body {
	font-family: $fontFamily;
	font-size: 13px;
	color: #555;
	line-height: 150%;
}
select,input,button,textarea,button {
	font-family: $fontFamily;
	color :#555;
}
table {
	width:100%;
	font-size: inherit;
	font: 100%; 
}
pre,code,kbd,samp,tt {
	font-family: monospace;
	*font-size: 108%;
	line-height: 100%;
}
address {
	font-style: normal;
	display: inline;
}

/* 글자 속성 */
a {
	color: #333;
	text-decoration: none;
	&:active {

	}
	&:focus {

	}
}

label {
	cursor: pointer;
}

/* LIST 요소 기본 */
li {
	list-style: none;
}
ul.fllist li,.fllist > * {
	float: left;
}
ul.frlist li,.frlist > * {
	float: right;
}
.fllist,.frlist {
	@include clearafter;
}
ol.onum li,.onum li {
	list-style-type: decimal;
}
.onum {
	padding-left: 22px;
}

/* Form 요소들 기본 */
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
legend {
	display: none;
}
input {
	&::-ms-clear {
		display: none;
	}
	&[type='tel'],
	&[type='url'],
	&[type='number'],
	&[type='time'],
	&[type='date'],
	&[type='week'], 
	&[type='month'],
	&[type='datetime-local'],
	&[type='email'],
	&[type='text'],
	&[type='password'],
	&[type="file"],
	&.text,
	&.password,
	&.file,
	&.num {
		vertical-align: middle;
		font-size: 13px;
		border: 1px solid #ccc;
	}
	&[type='tel'],
	&[type='url'],
	&[type='number'],
	&[type='time'],
	&[type='date'],
	&[type='week'], 
	&[type='month'],
	&[type='datetime-local'],
	&[type='email'],
	&[type='text'],
	&[type='password'],
	&.text,
	&.password {
		height: 1.5em;
		margin: 1px;
		padding: 4px 5px 4px 5px;
		line-height: 1.3em;
		background: #fff;
	}
	&[type="file"],
	&.file {
		height: 2em;
		margin: 0;
		padding: 0.30em 5px 0.4em 5px;
		line-height: 1.1em;
		box-sizing: content-box;
	}
	&.num {
		height: 16px;
		vertical-align: baseline;
		text-align: right;
		padding: 2px;
		line-height: 110%;
	}
	&:-moz-read-only,
	&:read-only,
	&.readonly {
		background-color: #f7f7f7 !important;
	}
	&.disabled {
		background-color: #ededed;
	}
	&[type=radio],
	&[type=checkbox],
	&.radio,
	&.checkbox {
		vertical-align: middle;
		padding: 0;
		margin: 1px;
		line-height: 1em;
		border: none !important;
	}
}
textarea {
	padding: 2px 5px; 
	font-size: 14px;
	border: 1px solid #ccc;
}
select {
	height: 30px;
	padding-left: 3px;
	vertical-align: middle;
	font-size: 13px;
	border: 1px solid #ccc;
	background: #f7f7f7;
}
input[placeholder],
textarea[placeholder] {
	&::-webkit-input-placeholder {color: #999; font-size: 14px;}
	&:-moz-placeholder {color: #999; font-size: 14px;}
	&::-moz-placeholder {color: #999; font-size: 14px;}
	&:-ms-input-placeholder {color: #999; font-size: 14px;}
	&.placeholder {color: #999; font-size: 14px;}
}


/* 이미지 요소 기본 */
img {
	border: 0;
	vertical-align: middle;
	&.button {
		cursor: pointer;
	}
} 
button {
	&.imgBtn {
		margin: 0px;
		padding: 0px;
		border: 0px;
		cursor: pointer;
	}
}
/*이미지에 자동 라인추가*/
.imgBorder {
	padding: 4px;
	border: 1px solid #ddd;
}
/* ime-mode */
.imeOff {
	ime-mode:disabled;
}

/* 오버-클릭 커서로 지정*/
button, .pointer, .hand {
	cursor: pointer;
}
.mvPointer {
	cursor: move;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	&.ashow {
		empty-cells: show;
	}
}

/*기본 스타일 정의*/
/*플로팅*/
.fr {
	float: right;
}
.fl {
	float: left;
}
.cr {
	clear: both;
}
.aftercr {
	@include clearafter;
}

/*포지셔닝*/
.pos_d,
.pos-d,
.pos-st {
	position: static;
}
.pos_r,
.pos-r,
.pos-rel {
	position: relative;
}
.pos_a,
.pos-a,
.pos-abs {
	position: absolute;
}

/*박스유형*/
.isbox,
.is-rel,
.is-box {
	position: relative;
	display: block;
}
.isabs,
.is-abs {
	position: absolute;
}
.inline {
	display: inline-block !important;
}
.block {
	display: block !important;
}

/* 글자자름 (inline-block, block 형태로 가로폭 반드시 지정해 줘야함)*/
.ellipsis {
	white-space: nowrap;
	overflow :hidden;
	text-overflow: ellipsis;
}
.wordkeep {
	white-space: normal;
	word-break: keep-all;
}

/*숨김*/
.hidden {
	display: none;
}
.blind {
	overflow: hidden;
	position: absolute;
	top: -9999em;
	left: -9999em;
	display: block;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
	text-indent: -9999em;
}

/* LI 목록 데이터 없음 스타일 기본 */
* {
	.no-data,
	.noData {
		height: 200px;
		text-align: center;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
}
li {
	&.no-data,
	&.noData {
		width: 100%;
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
	}
}

/*공백 */
.gap10 {height:10px;clear:both;overflow:hidden;display:block;}
.gap20 {height:20px;clear:both;overflow:hidden;display:block;}
.gap30 {height:30px;clear:both;overflow:hidden;display:block;}

.lgap {height:65px;clear:both;display:block;}
.gap {height:40px;clear:both;display:block;}
.sgap {height:25px;clear:both;display:block;}
.ssgap {height:15px;clear:both;display:block;}
.sssgap {height:10px;clear:both;display:block;}

/*정렬*/
.tc {text-align:center;}
.tl {text-align:left;}
.tr {text-align:right;}
.left ,.l {text-align:left !important;}
.right,.r {text-align:right !important;}
.center, .c {text-align:center !important;}
.vtop,.vtop  * {vertical-align:text-top !important;}
.vcen,.vcen  * {vertical-align:middle !important;}
.vfoot,.vfoot  * {vertical-align:text-bottom !important;}
.vtop2 {vertical-align:top !important;}
.vcen2 {vertical-align:middle !important;}
.vfoot2 {vertical-align:bottom !important;}
.vbase {vertical-align:baseline !important;}

/* 들여쓰기 */
.indent {margin-left:23px;}
ul.indent {margin-left:16px;}
.li-indent {margin-left:10px;}

/* 폰트색상 */
.c0  {color:#000 !important;}
.c2  {color:#222 !important;}
.c3  {color:#333 !important;}
.c5  {color:#555 !important;}
.c6  {color:#666 !important;}
.c8  {color:#888 !important;}
.c9  {color:#999 !important;}
.cf  {color:#fff !important;}

/*회색조*/
.cg1 {color:#69696a !important;}
.cg2 {color:#ababab !important;}
.cg3 {color:#848484 !important;}
.cg4 {color:#727272 !important;}
.cg5 {color:#b3b7bc !important;}

.cred {color:#DF2519 !important;}
.cblue {color:#2176c6 !important;}
.cblue1 {color:#4e70a5 !important;}
.cblue2 {color:#1e5fc9 !important;}
.cpink {color:#f9587d !important}
.cgold {color:#b8883c !important;}
.cgreen {color:#758d0a !important;}
.cbrown {color:#9F2C00 !important;}
.corg {color:#ff5612 !important;}
.cblack {color:#333 !important;}

.bgray {background-color:#EAEAEA;border:1px solid #7F9DB9;}

/* 폰트속성 */
.nb {font-weight:normal;}
.b {font-weight:bold;}

.fwl {font-weight:300 !important;}
.fwr {font-weight:400 !important;}
.fwm {font-weight:500 !important;}
.fwsb {font-weight:600 !important;}
.fwb {font-weight:700 !important;}

.fs {font-size:90%}
.fb {font-size:120%;}

.f9 {font-size:9px;}
.f10 {font-size:10px;}
.f11 {font-size:11px;}
.f12 {font-size:12px;}
.f13 {font-size:13px;}
.f14 {font-size:14px;}
.f15 {font-size:15px;}
.f16 {font-size:16px;}
.f17 {font-size:17px;}
.f18 {font-size:18px;}
.f20 {font-size:20px;}

/*도움말 공통*/
.fhelp {
	font-size: 11px;
	letter-spacing: -1px;
	color: #6381aa;
	line-height: 130%;
}

/*줄간격*/
.tlh190 {line-height:190%;}
.tlh180 {line-height:180%;}
.tlh170 {line-height:170%;}
.tlh160 {line-height:160%;}
.tlh150 {line-height:150%;}
.tlh140 {line-height:140%;}
.tlh130 {line-height:130%;}
.tlh120 {line-height:120%;}
.tlh110 {line-height:110%;}

/*영문,숫자*/
.en {
	font-size: 90%;
	font-family: Verdana;
}

/*회색필터처리*/
.gray {
	filter: Gray;
}

$base : 5;
$total: 12;
/* 패딩 5,10단위만 지정함 */
@for $i from 1 through $total {
	.pad#{$base * $i}a {
		padding: ($base * $i)+ px !important;
	}
	.pad#{$base * $i}tf {
		padding-top: ($base * $i)+ px !important;
		padding-bottom: ($base * $i)+ px !important;
	}
	.pad#{$base * $i}lr {
		padding-left: ($base * $i)+ px !important;
		padding-right: ($base * $i)+ px !important;
	}
	.pad#{$base * $i}t {
		padding-top: ($base * $i)+ px !important;
	}
	.pad#{$base * $i}r {
		padding-right: ($base * $i)+ px !important;
	}
	.pad#{$base * $i}f {
		padding-bottom: ($base * $i)+ px !important;
	}
	.pad#{$base * $i}l {
		padding-left: ($base * $i)+ px !important;
	}
}
/* 패딩 Etc */
.noPadt {
	padding-top: 0 !important;
}
.noPadf {
	padding-bottom: 0 !important;
}
.pad2tf {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

/* 마진 5,10단위만 지정함 */
@for $i from 1 through $total {
	.mg#{$base * $i}a {
		margin: ($base * $i)+ px !important;
	}
	.mg#{$base * $i}tf {
		margin-top: ($base * $i)+ px !important;
		margin-bottom: ($base * $i)+ px !important;
	}
	.mg#{$base * $i}lr {
		margin-left: ($base * $i)+ px !important;
		margin-right: ($base * $i)+ px !important;
	}
	.mg#{$base * $i}t {
		margin-top: ($base * $i)+ px !important;
	}
	.mg#{$base * $i}r {
		margin-right: ($base * $i)+ px !important;
	}
	.mg#{$base * $i}f {
		margin-bottom: ($base * $i)+ px !important;
	}
	.mg#{$base * $i},
	.mg#{$base * $i}l {
		margin-left: ($base * $i)+ px !important;
	}
}
/* 마진 Etc */
.noMgt,
.no_mgt {
	margin-top: 0px !important;
}
.noMgf,
.no_mgf {
	margin-bottom: 0px !important;
}
.noMgtf,
.no_mgtf {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.mg4mt {
	margin-top: -4px;
}
.mg7mt {
	margin-top: -7px;
}
.mg38mt {
	margin-top: -38px;
}

/* 가로 크기 */
/* px */
.w500 {width:500px;}
.w110 {width:110px;}
.w100 {width:100px;}
.w200 {width:200px;}
.w250 {width:250px;}
.w300 {width:300px;}
.w90 {width:90px;}
.w80 {width:80px;}
.w70 {width:70px;}
.w60 {width:60px;}
.w50 {width:50px;}
.w40 {width:40px;}
.w30 {width:30px;}
.w20 {width:30px;}
.w10{width:10px;}
/* % */
.w100p {width:100% !important;}
.w98p {width:98%;}
.w95p {width:95% !important;}
.w94p {width:94% !important;}
.w90p {width:90% !important;}
.w80p {width:80% !important;}
.w75p {width:75%;}
.w70p {width:70%;}
.w65p {width:65%;}
.w62p {width:61.5%;}
.w60p {width:60%;}
.w59p {width:59%;}
.w50p {width:49%;}
.w48p {width:48%;}
.w45p {width:44%;}
.w40p {width:40%;}
.w39p {width:39%;}
.w38p {width:38%;}
.w37p {width:36.5%;}
.w33p {width:33.3333%;}
.w30p {width:30%;}
.w25p {width:25%;}
.w20p {width:20%;}
.w15p {width:15%;}
.w10p {width:10%;}


/* 애니메이션 속도*/
.animate-speed {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}