@charset "utf-8";

/********************************************************************************/
/* _reset.scss
/********************************************************************************/
* {
	margin: 0;
	padding: 0;
} 
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
article,aside,canvas,details,figcaption,figure,main,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video {
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 100%;
}
table,caption,tbody,tfoot,thead,tr,th,td {
	outline: 0;
	background: transparent;
	font-size: 100%;
}
article,aside,canvas,details,figcaption,figure,main,
footer,header,hgroup,menu,nav,section,summary {
	display: block;
}
nav, ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,
q:before,q:after {
	content: "";
	content: none;
}
a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
ins {
	color: #000;
	text-decoration: none;
}
mark {
	color: #000;
	font-style: italic;
	font-weight: 700;
}
del,s {
	text-decoration: line-through;
}
abbr[title],dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input,select {

}
th,td {

}



