/** NotoSansKR Light **/
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local("NotoSansKR-Light"), /* computer */
       url("NotoSansKR-Light.eot"), /* IE9 Compat Modes */
       url("NotoSansKR-Light.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("NotoSansKR-Light.woff2") format('woff2'), /* Modern Browsers */
       url("NotoSansKR-Light.woff") format('woff'), /* Modern Browsers */
       url("NotoSansKR-Light.ttf") format('truetype'); /* Safari, Android, iOS */
}

/** NotoSansKR Regular **/
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local("NotoSansKR-Regular"), /* computer */
       url("NotoSansKR-Regular.eot"), /* IE9 Compat Modes */
       url("NotoSansKR-Regular.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("NotoSansKR-Regular.woff2") format('woff2'), /* Modern Browsers */
       url("NotoSansKR-Regular.woff") format('woff'), /* Modern Browsers */
       url("NotoSansKR-Regular.ttf") format('truetype'); /* Safari, Android, iOS */
}

/** NotoSansKR Medium **/
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local("NotoSansKR-Medium"), /* computer */
       url("NotoSansKR-Medium.eot"), /* IE9 Compat Modes */
       url("NotoSansKR-Medium.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("NotoSansKR-Medium.woff2") format('woff2'), /* Modern Browsers */
       url("NotoSansKR-Medium.woff") format('woff'), /* Modern Browsers */
       url("NotoSansKR-Medium.ttf") format('truetype'); /* Safari, Android, iOS */
}


/** NotoSansKR Bold **/
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local("NotoSansKR-Bold"), /* computer */
       url("NotoSansKR-Bold.eot"), /* IE9 Compat Modes */
       url("NotoSansKR-Bold.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("NotoSansKR-Bold.woff2") format('woff2'), /* Modern Browsers */
       url("NotoSansKR-Bold.woff") format('woff'), /* Modern Browsers */
       url("NotoSansKR-Bold.ttf") format('truetype'); /* Safari, Android, iOS */
}