@charset "utf-8";

// Content Width
$maxWidth: 1260px;
$webWidth: 1200px;
$mobileWidth: 640px;

// font family
$fontFamily: 'AritaBuri', sans-serif;

// A map of breakpoints.
$breakpoints: (
  xs: 480px,
  sm: 767px,
  md: 1024px,
  lg: 1280px,
  xlg: 2000px,
  custom640: 640px,
  custom1180: 1180px,
);


$evMaxWidth: 1068px;
$evWebWidth: 1006px;
$evMobileWidth: 640px;
$evFontFamily: 'Noto Sans KR', sans-serif;