@charset "utf-8";
/* ================================== about Contents ================================== */

//President’s Message
.presidentMessage {
	position: relative;
	margin-bottom: 35px;
	border: 1px solid #ddd;
	dl {
		@include posAbsoluteLT(6.5%, 50%, 48%, auto);
		@include translate(0, -49%);
	}
	dt {
		color: #157cb6;
		@include font-size(23);
		font-weight: 600;
		&:after {
			content: '';
			display:  block;
			width: 36px;
			height: 1px;
			margin: 14px 0 17px;
			background: #666;
		}
	}
	.photo {
		text-align: right;
		img {
			max-width: 495px;
		}
	}
}
.presidentSign {
	text-align: right;
	img {
		display: block;
		vertical-align: top;
		margin: -2px 0 5px auto;
	}
}

//History
.historyLogo {
	width: 153px;
	height: 153px;
	margin: 0 auto;
	border: 10px solid #e0e5ed;
	@include border-radius(50%);
	background: #fff;
	background: #fff url("../../../kedi_eng/res/img/about/history_logo.png") no-repeat center center;
	@include box-sizing(border-box);
}
.historyWrap {
	position: relative;
	padding-top: 37px;
	&:after {
		content: '';
		@include posAbsoluteLT(50%, 0, 1px, auto);
		bottom: 0;
		background: #ddd;
	}
	.historyBox {
		position: relative;
		margin-top: 28px;
		@include clearfix;
		&:first-child {
			margin-top: 0;
		}
		& > .inner {
			position: relative;
			float: right;
			width: 100% * 1/2;
			padding-left: 100px;
			text-align: left;
			line-height: 1.4;
			@include box-sizing(border-box);
			h4 {
				@include posAbsoluteLT(0, -4px, auto, auto);
				padding: 0;
				color: #157cb6;
				@include font-size(24);
				font-weight: 700;
				span {
					position: relative;
					padding-left: 27px;
					&:before {
						content: '';
						@include posAbsoluteLT(-6px, 11px, 13px, 13px);
						border: 3px solid #157cb6;
						@include border-radius(50%);
						background: #fff;
						@include box-sizing(border-box);
						z-index: 3;
					}
				}
			}
		}
		.historyList {
			& > li {
				position: relative;
				margin-top: 8px;
				padding-left: 36px;
				span {
					@include posAbsoluteLT(0, 0, auto, auto);
					color: #333;
					font-weight: 600;
				}
				&:first-child {
					margin-top: 0;
				}
				& li {
					margin-top: 8px;
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
		&.last {
			& > .inner {
				&:before,
				&:after {
					content: '';
					@include posAbsoluteLT(0, 19px, 1px, auto);
					bottom: 0;
					background: #fff;
					z-index: 2;
				}
				&:after {
					left: auto;
					right: -1px;
				}
			}
		}
		&:nth-child(2n+0) {
			& > .inner {
				float: left;
				padding-left: 0;
				padding-right: 100px;
				text-align: right;
				h4 {
					left: auto;
					right: 0;
					span {
						padding-left: 0;
						padding-right: 27px;
						&:before {
							left: auto;
							right: -7px;
						}
					}
				}
			}
			.historyList {
				& > li {
					padding-left: 0;
					padding-right: 36px;
					span {
						left: auto;
						right: 0;
					}
				}
			}
		}
	}
}

//Vision & Goals
.visionBox {
	position: relative;
	margin-top: 40px;
	padding: 0 40px;
	&:first-child {
		margin-top: 0;
	}
	h4 {
		position: relative;
		width: 100%;
		max-width: 273px;
		@include lh(46px);
		margin: 0 auto;
		padding: 0;
		text-align: center;
		color: #fff;
		@include font-size(22);
		font-weight: 700;
		@include border-radius(23px);
		z-index: 2;
	}
	.cont {
		margin-top: -23px;
		padding: 35px 7.6% 27px;
		text-align: center;
		@include border-radius(10em);
		background: #f4f4f4;
	}
	$bgColor: (
		1: #2fa2a9,
		2: #218bc6,
		3: #1b5ba9
	);
	@each $num, $color in $bgColor {
		&.item#{$num} {
			h4 {
				background: $color url("../../../kedi_eng/res/img/about/bg_vision_item#{$num}.png") no-repeat center center;
					background-size: cover;
			}
		}
	}
}
.objectList {
	margin-top: 10px;
	.gridList {
		& > li {
			.unit {
				text-align: center;
				&:before {
					width: 100px;
					height: 100px;
					margin: 0 auto;
					margin-bottom: 8px;
					@include border-radius(50%);
					background: #fff url("../../../kedi_eng/res/img/about/icon_object_list.png") no-repeat 0 center;
					background-size: auto 100%;
				}
				@for $i from 1 through 3 {
					&.item#{$i} {
						&:before {
							background-position: -100px * ($i - 1) center;
						}
					}
				}
			}
		}
	}
}

//Organization
.organWrap {
	.headDiv {
		position: relative;
		z-index: 3;
		h4 {
			display: table;
			padding: 0;
			margin: 0 auto -103px;
			color: #fff;
			@include font-size(18);
			font-weight: 700;
			& > * {
				display: table-cell;
				width: 154px;
				height: 154px;
				text-align: center;
				vertical-align: middle;
				border: 10px solid #e0e5ed;
				@include border-radius(50%);
				background: #1b5ba9 url("../../../kedi_eng/res/img/about/bg_head_div.png") no-repeat center center;
				background-size: cover;
			}
		}
	}
	.subDepart {
		position: relative;
		@include clearfix;
		&:before {
			content: '';
			@include posAbsoluteLT(50%, 0, 1px, auto);
			bottom: 0;
			background: #ddd;
		}
		& > .inner {
			position: relative;
			width: 100% * 1/2;
			@include box-sizing(border-box);
			&:before {
				content: '';
				@include posAbsoluteRT(0, 25px, 50%, 1px);
				background: #ddd;
			}
			.divBox {
				max-width: 270px;
			}
		}
		&.left {
			& > .inner {
				float: left;
				.divBox {
					margin: 0 auto;
				}
			}
			& + .left {
				padding-top: 20px;
			}
		}
		&.right {
			& > .inner {
				float: right;
				padding-right: 2%;
				&:before {
					left: 0;
					right: auto;
				}
				.divBox {
					margin-left: auto;
					max-width: 250px;
				}
			}
			& + .right {
				padding-top: 20px;
			}
		}
		&.last {
			margin-top: -240px;
		}
	}
	.gridWrap {
		padding-top: 31px;
		&:before {
			content: '';
			@include posAbsoluteLT(50%, 0, 1px, 30px);
			background: #ddd;
		}
		&:after {
			content: '';
			@include posAbsoluteLT(7.6%, 30px, auto, 1px);
			right: 7.5%;
			background: #ddd;
		}
	}
	.gridList {
		margin: 0 0 0 -16px;
		& > li {
			position: relative;
			width: 100% * 1/6;
			padding: 30px 0 0 16px;
		}
	}
	.divBox {
		position: relative;
		height: 100%;
		@include font-size(15);
		line-height: 1.35;
		z-index: 3;
		h5 {
			position: relative;
			display: table;
			width: 100%;
			padding: 0;
			z-index: 3;
			& > * {
				display: table-cell;
				height: 50px;
				padding: 5px 2px;
				text-align: center;
				vertical-align: middle;
				color: #fff;
				@include font-size(16);
				font-weight: 600;
				line-height: 1.3;
			}
			& + ul {
				margin-top: 10px;
			}
		}
		ul {
			position: relative;
			&:before {
				content: '';
				@include posAbsoluteLT(50%, -10px, 1px, 10px);
				background: #ddd;
			}
			li {
				display: table;
				width: 100%;
				border: solid #ddd;
				border-width: 0 1px 1px 1px;
				background: #f4f4f4;
				& > * {
					display: table-cell;
					padding: 10px 2px 9px;
					text-align: center;
					vertical-align: middle;
				}
				&:first-child {
					margin-top: 0;
					border-width: 1px 1px 1px 1px;
				}
			}
		}
		&.gray {
			h5 {
				background: #99a4b5;
			}
		}
		&.green {
			h5 {
				background: #2fa2a9;
			}
		}
		&.blue {
			&:before {
				content: '';
				@include posAbsoluteLT(50%, -30px, 1px, 30px);
				background: #ddd;
			}
			h5 {
				background: #157cb6;
				& > * {
					height: 100px;
				}
				& + ul {
					li {
						& > * {
							height: 100px;
						}
					}
				}
			}
		}
	}
}

.layerWrap {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	@include translate(-50%, 0);
	margin-top: -182px * 1/2;
	width: 100%;
	max-width: 980px;
	padding: 0 30px;
	z-index: 999;
	.profileBox {
		position: relative;
		padding: 30px;
		padding-right: 50px;
		border: 1px solid #ddd;
		background: #fff;
		.cont {
			position: relative;
			padding-left: 130px;
			min-height: 120px;
			.photo {
				@include posAbsoluteLT(0, 0, auto, auto);
				span {
					overflow: hidden;
					position: relative;
					display: inline-block;
					width: 100px;
					padding-bottom: 120px;
					vertical-align: top;
					img {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						width: 100%;
						height: 100%;
					}
				}
			}
			ul {
				position: relative;
				min-height: 120px;
				padding-left: 30px;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 0, 1px, auto);
					bottom: 0;
					background: #ddd;
				}
			}
		}
		.popupClose {
			@include posAbsoluteRT(10px, 10px, 33px, 30px);
			background: url("../../../kedi_eng/res/img/content/icon_layer_close.png") no-repeat center center;
		}
	}
}

//Contact Us
.mapApiArea {
	width: 100%;
	height: 340px;
}
.contactInfo {
	margin-bottom: 20px;
	padding: 22px 0;
	@include clearfix;
	background: rgba(#086295, .9);
	li {
		float: left;
		width: 100% * 1/4;
		padding-right: 30px;
		color: #fff;
		@include box-sizing(border-box);
		&:first-child {
			width: 100% * 1/2;
			padding-left: 30px;
		}
		strong {
			display: block;
			@include font-size(18);
			font-weight: 700;
		}
		a {
			word-break: break-all;
		}
	}
}
.trafficInfo {
	position: relative;
	padding-left: 144px;
	& + .trafficInfo {
		margin-top: 40px;
	}
	h5 {
		@include posAbsoluteLT(0, 0, 144px, auto);
		padding: 0;
		text-align: center;
		color: #157cb6;
		@include font-size(20);
		font-weight: 600;
		line-height: 1.25;
		&:before {
			content: '';
			display: block;
			width: 100px;
			height: 100px;
			margin: 0 auto 10px;
			@include border-radius(50%);
			background: #f4f4f4 url("../../../kedi_eng/res/img/about/icon_traffic_info.png") no-repeat 0 center;
			background-size: auto 100%;
		}
	}
	@for $i from 1 through 2 {
		&.item#{$i} {
			h5 {
				&:before {
					background-position: -100px * ($i - 1) center;
				}
			}
		}
	}
	ul {
		position: relative;
		min-height: 135px;
		padding-left: 60px;
		&:before {
			content: '';
			@include posAbsoluteLT(29px, 0, 1px, auto);
			bottom: 0;
			background: #ddd;
		}
		li {
			position: relative;
			margin-top: 10px;
			padding-left: 8px;
			&:first-child {
				margin-top: 0;
			}
			&:before {
				content: '-';
				@include posAbsoluteLT(0, 0, auto, auto);
			}
			.move {
				display: inline-block;
				vertical-align: middle;
				margin: -2px 9px 0;
			}
			strong {
				color: #333;
				font-weight: 600;
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.organWrap {
		.subDepart {
			&.right {
				& > .inner {
					padding-right: 0;
				}
			}
		}
		.gridWrap {
			&:after {
				left: 16.1%;
				right: 16%;
			}
		}
		.gridList {
			& > li {
				width: 100% * 1/3;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					.divBox {
						&.blue {
							&:before {
								height: auto;
								bottom: 0;
							}
						}
					}
				}
			}
		}
		.divBox {
			&.blue {
				h5 {
					& > * {
						height: 50px;
					}
					& + ul {
						li {
							& > * {
								height: auto;
							}
						}
					}
				}
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.presidentMessage {
		padding: 21px 6.5%;
		dl {
			position: relative;
			left: 0;
			top: 0;
			width: auto;
			@include translate(0, 0);
		}
		.photo {
			margin: 0  -6.5% -21px;
		}
	}

	.historyLogo {
		margin-left: 0;
	}
	.historyWrap {
		&:after {
			left: 76px;
		}
		.historyBox {
			padding-left: 76px;
			& > .inner {
				float: none;
				width: 100%;
				padding-left: 0;
				h4 {
					position: relative;
					left: auto;
					top: auto;
					margin-bottom: 10px;
				}
			}
			.historyList {
				padding-left: 29px;
			}
			&:nth-child(2n+0) {
				& > .inner {
					float: none;
					padding-right: 0;
					text-align: left;
					h4 {
						left: 0;
						right: auto;
						span {
							padding-left: 27px;
							padding-right: 0;
							&:before {
								left: -7px;
								right: auto;
							}
						}
					}
				}
				.historyList {
					& > li {
						padding-left: 36px;
						padding-right: 0;
						span {
							left: 0;
							right: auto;
						}
					}
				}
			}
		}
	}

	.visionBox {
		.cont {
			margin-left: -40px;
			margin-right: -40px;
			@include border-radius(5em);
		}
	}

	.organWrap {
		.headDiv {
			h4 {
				margin-bottom: 0;
			}
		}
		.subDepart {
			padding-top: 30px;
			& > .inner {
				width: 60%;
				margin: 0 auto;
				&:before {
					display: none;
				}
				.divBox {
					max-width: 100%;
				}
			}
			&.left {
				& > .inner {
					float: none;
				}
				& + .left {
					padding-top: 30px;
				}
			}
			&.right {
				& > .inner {
					float: none;
					.divBox {
						max-width: 100%;
					}
				}
				& + .right {
					padding-top: 30px;
				}
			}
			&.first {
				padding-top: 60px;
				padding-bottom: 30px;
			}
			&.last {
				margin-top: 0;
				padding-top: 30px;
			}
		}
		.gridWrap {
			&:after {
				left: 24.3%;
				right: 24.2%;
			}
		}
		.gridList {
			& > li {
				width: 100% * 1/2;
				&:nth-child(4) {
					.divBox {
						&.blue {
							&:before {
								height: auto;
								bottom: 0;
							}
						}
					}
				}
			}
		}
	}
	.layerWrap {
		padding: 0 m-get-per(30px);
	}

	.contactInfo {
		padding: 22px m-get-per(30px);
		li {
			float: none;
			width: 100%;
			padding-top: 15px;
			&:first-child {
				width: 100%;
				padding-left: 0;
				padding-top: 0;
			}
		}
	}
	.trafficInfo {
		position: relative;
		padding-left: 0;
		h5 {
			position: relative;
			left: auto;
			top: auto;
			width: auto;
		}
		ul {
			min-height: 0;
			padding-left: 0;
			padding-top: 40px;
			&:before {
				content: '';
				@include posAbsoluteLT(0, 20px, auto, 1px);
				right: 0;
				bottom: auto;
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.visionBox {
		.cont {
			@include border-radius(2em);
		}
	}
	.organWrap {
		.subDepart {
			& > .inner {
				width: 100%;
			}
		}
		.gridWrap {
			&:after {
				display: none;
			}
		}
		.gridList {
			& > li {
				width: 100%;
				&:nth-child(5) {
					.divBox {
						&.blue {
							&:before {
								height: auto;
								bottom: 0;
							}
						}
					}
				}
			}
		}
	}
	.layerWrap {
		margin-top: -312px * 1/2;
		.profileBox {
			padding-right: 30px;
			.cont {
				padding-left: 0;
				min-height: 0;
				.photo {
					position: relative;
					left: auto;
					top: auto;
					margin-bottom: 30px;
				}
				ul {
					min-height: 0;
					padding-left: 0;
					padding-top: 25px;
					&:before {
						@include posAbsoluteLT(0, 0, auto, 1px);
						right: 0;
						bottom: auto;
					}
				}
			}
		}
	}
}