@charset "utf-8";
/* ================================== Contents ================================== */
// common
.content {
	h4 {
		padding: 14px 0;
		color: #333;
		@include font-size(22);
		font-weight: 700;
		line-height: 1.35;
		& + .conBox {
			margin-top: -1px;
		}
	}
	h5 {
		margin-top: 21px;
		padding: 13px 0;
		color: #333;
		@include font-size(18);
		font-weight: 700;
		line-height: 1.45;
		& + .fieldGuide {
			margin-top: -6px;
		}
		&:first-child {
			margin-top: 0;
			padding-top: 0;
		}
	}
	.conBox {
		& + h4 {
			margin-top: 6px;
		}
	}
}

.photo {
	img {
		width: 100%; 
	}
}
 
//conBox
.conBox {
	line-height: 1.4;
	h6 {
		padding-bottom: 5px;
		color: #157cb6;
		@include font-size(17);
		font-weight: 700;
	}

	strong {
		color: #157cb6;
		font-weight: 600;
	}
	em {
		font-weight: 600;
		font-style: normal;
		text-decoration: underline;
	}
	.imgBox {
		text-align: center;
		img {
			width: 100%;
		}
	}
	.conList {
		&.square {
			li {
				position: relative;
				padding-left: 8px;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 9px, 4px, 4px);
					background: #157cb6;
				}
			}
		}
		&.hyphen {
			li {
				position: relative;
				padding-left: 12px;
				&:before {
					content: '-';
					@include posAbsoluteLT(0, 0, auto, auto);
				}
			}
		}
		&.number {
			li {
				position: relative;
				padding-left: 18px;
				span {
					@include posAbsoluteLT(0, 0, auto, auto);
				}
			}
		}
		&.rowGap {
			li {
				margin-top: 5px;
				&:first-child {
					margin-top: 0;
				}
			}
		}
		&.highGap {
			li {
				margin-top: 27px;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	.rowBox {
		dt {
			padding-bottom: 5px;
			font-weight: 600;
		}
	}
	.inDl {
		dt {
			padding-bottom: 5px;
			font-weight: 400;
			text-decoration: underline;
		}
		dd {
			padding-left: 8px;
		}
		strong {
			color: #666;
		}
	}
	.url {
		color: #157cb6;
		&:after {
			content: '';
			display: inline-block;
			width: 16px;
			height: 15px;
			vertical-align: middle;
			margin-left: 6px;
			background: url("../../../kedi_eng/res/img/content/icon_move_site.png") no-repeat center center;
		}
	}
}

.accordionList {
	position: relative;
	h5 {
		margin-top: -1px;
		padding: 17px 0 16px;
		border: solid #d1d1d1;
		border-width: 1px 0;
		&:first-child {
			margin-top: -1px;
			padding: 17px 0 16px;
		}
	}
	.viewBtn {
		@include posAbsoluteRT(0, 1px, 53px, 59px);
		background: url("../../../kedi_eng/res/img/content/icon_acco_open.png") no-repeat center center;
	}
	.conBox {
		display: none;
		padding: 25px 0 29px;
		& > * {
			margin-top: 27px;
			&:first-child {
				margin-top: 0;
			}
		}
		.rowBox {
			dt {
				margin-top: 27px;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	&.isOpen {
		.viewBtn {
			background: url("../../../kedi_eng/res/img/content/icon_acco_close.png") no-repeat center center;
		}
		.conBox {
			display: block;
		}
	}
}

//tab
.tabWrap {
	position: relative;
}
.tabBtn {
	display: none;
}
.tabList {
	position: relative;
	width: 100%;
	@include clearfix;
	& > li {
		float: left;
		a {
			position: relative;
			display: block;
			padding: 14px 2px 15px;
			margin-left: -1px;
			text-align: center;
			color: #666;
			line-height: 1.35;
			border: solid #ddd;
			border-width: 1px 1px 0;
			background: #f4f4f4;
			z-index: 1;
			&:after {
				content: '';
				@include posAbsoluteLB(-1px, -1px, auto, 1px);
				right: -1px;
				background: #7c7c7c;
			}

		}
		&:first-child {
			a {
				margin-left: 0;
			}
		}
		&.isActive {
			a {
				margin-bottom: -1px;
				color: #157cb6;
				font-weight: 700;
				border: solid #7c7c7c;
				border-width: 1px 1px 0;
				background: #fff;
				z-index: 2;
				&:after {
					left: 0;
					right: 0;
					background: #fff;
				}
			}
		}
	}
	&.col4 {
		& > li {
			width: 100% * 1/4;
		}
	}
	&.col5 {
		& > li {
			width: 100% * 1/5;
		}
	}
	&.col6 {
		& > li {
			width: 100% * 1/6;
		}
	}
}

//gridWrap
.gridWrap {
	overflow: hidden;
	position: relative;
}
.gridList {
	margin: -20px 0 0 -20px;
	@include clearfix;
	& > li {
		padding: 20px 0 0 20px;
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		.unit {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			@include box-sizing(border-box);
			&:before {
				content: '';
				display: block;
			}
		}
	}
	&.col3 {
		& > li {
			width: 100% * 1/3;
		}
	}
}

//fieldGuide
.fieldGuide {
	li {
		position: relative;
		padding-left: 14px;
		&:before {
			content: '';
			@include posAbsoluteLT(4px, 11px, 3px, 3px);
			background: #157cb6;
		}
	}
	&:first-child {
		margin-top: -4px;;
		& + h5 {
			margin-top: 0;
			padding-top: 0;
		}
	}
}

//fieldBox
.fieldBox {
	padding: 0;
	&.inTextarea {
		margin-bottom: -8px;
	}
	&.inFile {
		margin-top: 20px;
		@include clearfix;
		& > * {
			float: left;
		}
		label {
			padding: 1px 20px 1px 0;
			color: #157cb6;
			font-weight: 600;
		}
		input {
			max-width: 480px;
		}
		& + .fieldGuide {
			margin-top: 20px;
		}
	}
}

//keywordList
.keywordList {
	overflow: hidden;
	margin: -10px 0 0 -10px;
	@include clearfix;
	li {
		float: left;
		width: 100% * 1/4;
		padding: 10px 0 0 10px;
	}
}

//addAuthorWrap
.addAuthorWrap {
	margin-top: 15px;
	h6 {
		padding: 13px 0;
		color: #333;
		@include font-size(18);
		font-weight: 700;
		line-height: 1.45;
	}
	.ottBtn {
		margin-bottom: 5px;
	}
}

//partnersList
.partnersList {
	border-top: 1px solid #ddd;
	li {
		position: relative;
		display: table;
		width: 100%;
		border-bottom: 1px solid #ddd;
		& > * {
			display: table-cell;
			vertical-align: middle;
			border-left: 1px solid #ddd;
			&:first-child {
				border-left: none;
			}
		}
		.thumb {
			width: 220px;
			text-align: center;
			img {
				max-width: 220px;
			}
		}
		.info {
			height: 100px;
			padding: 14px 0 14px 20px;
			p {
				padding: 1px 0;
			}
			.url {
				color: #157cb6;
				word-break: break-all;
				&:after {
					content: '';
					display: inline-block;
					width: 16px;
					height: 15px;
					vertical-align: middle;
					margin-left: 6px;
					background: url("../../../kedi_eng/res/img/content/icon_move_site.png") no-repeat center center;
				}
			}
		}
	}
}

//sitemap
.sitemapUnit {
	padding: 16px 0 26px;
	border-top: 1px solid #157cb6;
	@include clearfix;
	a {
		&:hover {
			text-decoration: underline;
		}
	}
	h4 {
		float: left;
		width: 100% * 1/4;
		padding: 6px 10px 10px 0;
		color: #157cb6;
	}
	& > ul {
		float: left;
		width: 100% * 3/4;
		@include clearfix;
		& > li {
			float: left;
			width: 100% * 1/2;
			padding: 11px 10px 10px 0;
			color: #333;
			& > ul {
				margin-top: 4px;
				& > li {
					position: relative;
					padding-left: 9px;
					color: #666;
					@include font-size(15);
					&:before {
						content: '-';
						@include posAbsoluteLT(0, 0, auto, auto);
					}
				}
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {


}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.tabWrap {
		&.isOpen {
			.tabList {
				display: block;
			}
		}
	}
	.tabBtn {
		position: relative;
		display: block;
		width: 100%;
		@include lh(50px);
		padding: 0 m-get-per(30px);
		text-align: left;
		color: #157cb6;
		@include font-size(16);
		font-weight: 700;
		border: 1px solid #7c7c7c;
		background: #fff;
		&:after {
			content: '';
			position: absolute;
			right: 15px;
			top: 50%;
			margin-top: -2px;
			border-top: 5px solid #666;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}
	.tabList {
		@include posAbsoluteLT(0, 49px, 100%, auto);
		display: none;
		border: solid #7c7c7c;
		border-width: 0 1px 1px;
		z-index: 9;
		& > li {
			float: none;
			a {
				@include lh(50px);
				padding: 0 m-get-per(30px);
				margin-left: 0;
				text-align: left;
				border-width: 1px 0 0;
				background: #f4f4f4;
				&:after {
					display: none;
				}
			}
			&:first-child {
				a {
					margin-top: 0;
				}
			}
			&.isActive {
				a {
					margin-bottom: 0;
					color: #666;
					border: solid #ddd;
					border-width: 1px 0 0;
					background: #f4f4f4;
					&:after {
						display: none;
					}
				}
			}
		}
		&.col4,
		&.col5,
		&.col6 {
			& > li {
				width: 100%;
			}
		}
	}
	.gridList {
		&.col3 {
			& > li {
				float: none;
				width: 100%;
			}
		}
	}
	.sitemapUnit {
		h4 {
			width: 100%;
		}
		& > ul {
			width: 100%;
		}
	}
}

// ##Screen = 640px 이하
@include respond-below(custom640) {
	.fieldBox {
		&.inFile {
			& > * {
				float: none;
				display: block;
			}
			label {
				padding-bottom: 6px;
			}
			input {
				max-width: none;
			}
		}
	}
	.keywordList {
		li {
			width: 100% * 1/2;
		}
	}
	.partnersList {
		li {
			display: block;
			& > * {
				display: block;
				border-left: none;
			}
			.thumb {
				display: none;
			}
			.info {
				height: auto;
				padding: 20px 0;
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.sitemapUnit {
		& > ul {
			& > li {
				width: 100%;
			}
		}
	}
}