@charset "utf-8";
/* ================================== kjep Contents ================================== */

.kjepOutline {
	position: relative;
	min-height: 324px;
	margin-bottom: 35px;
	padding: 34px 30px 36px 260px;
	border: 1px solid #ddd;
	&:before {
		content: '';
		@include posAbsoluteLT(30px, 38px, 192px, 256px);
		background: url("../../../kedi_eng/res/img/kjep/bg_kjep_outline.jpg") no-repeat center 0;
	}
}

.themeList {
	margin-top: 25px;
	.gridList {
		& > li {
			.unit {
				padding: 30px 30px 27px;
				text-align: center;
				@include border-radius(30px);
				background: #f4f4f4;
				&:before {
					width: 100px;
					height: 100px;
					margin: 0 auto;
					margin-bottom: 8px;
					@include border-radius(50%);
					background: #fff url("../../../kedi_eng/res/img/kjep/icon_theme_list.png") no-repeat 0 center;
					background-size: auto 100%;
				}
				@for $i from 1 through 3 {
					&.item#{$i} {
						&:before {
							background-position: -100px * ($i - 1) center;
						}
					}
				}
			}
		}
	}
}

.contWrap {
	position: relative;
	&.charges {
		// padding-left: 327px;
		// &:before {
		// 	content: '';
		// 	@include posAbsoluteLT(40px, 0, 247px, 247px);
		// 	background: url("../../../kedi_eng/res/img/kjep/bg_charges.jpg") no-repeat center 0;
		// }
		margin-top: -15px;
		padding-left: 260px;
		&:before {
			content: '';
			@include posAbsoluteLT(30px, 15px, 192px, 256px);
			background: url("../../../kedi_eng/res/img/kjep/bg_kjep_outline.jpg") no-repeat center 0;
		}
		.ottBtn {
			display: block;
			margin: 9px 0 0;
			& > * {
				min-width: 76px;
			}
		}
	}
}

.ethicsCont {
	.conBox {
		& > * {
			margin-top: 27px;
			&:first-child {
				margin-top: 0;
			}
		}
		.rowBox {
			dt {
				margin-top: 27px;
				&:first-child {
					margin-top: 0;
				}
			}
			p {
				& + p {
					margin-top: 27px;
				}
			}
			ul {
				& + p {
					margin-top: 27px;
				}
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {


}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.kjepOutline {
		min-height: 0;
		padding: 40px m-get-per(40px) 33px;
		&:before {
			position: relative;
			left: auto;
			top: auto;
			margin: 0 auto 33px;
		}
	}
	.contWrap {
		&.charges {
			margin-top: 0;
			padding-left: 0;
			&:before {
				position: relative;
				left: auto;
				top: auto;
				margin: 0 auto 19px;
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {


}