@charset "utf-8";
/* ================================== Main ================================== */

/***** main common *****/
.mContent {
	& > .inner {
		position: relative;
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
		@include clearfix;
		.colBox {
			position: relative;
			float: left;
			width: 100% * 1/2;
			&.left {
				padding-right: 10px;
			}
			&.right {
				padding-left: 10px;
			}
		}
	}
}


/***** main Primary *****/
.mPrimary {
	min-height: 420px;
	background: #e9e9eb url("../../../kedi_eng/res/img/main/bg_primary.png") repeat center center;
	& > .inner {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.popupSlide {
		.slideItem {
			.unit {
				overflow: hidden;
				position: relative;
				display: block;
				width: 100%;
				padding-bottom: 323px;
				img {
					@include posAbsoluteLT(0, 0, 100%, 100%);
					right: 0;
					bottom: 0;
					z-index: 1;
				}
				.cont {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					padding: 25px 30px;
					z-index: 3;
					& > * {
						display: inline-block;
						padding-top: 2px;
						padding-right: 20px;
						color: #fff;
						@include font-size(15);
						line-height: 1.45;
					}
					.subject {
						display: block;
						@include font-size(22);
						font-weight: 700;
						line-height: 1.35;
					}
				}
			}
		}
	}
	.slideControl {
		@include posAbsoluteRT(12px, 14px, auto, auto);
		@include clearfix;
		z-index: 99;
		.slick-dots {
			float: left;
			@include clearfix;
			li {
				float: left;
				button {
					width: 22px;
					height: 22px;
					padding: 5px;
					background: transparent;
					@include transition(width, .2s, ease);
					&:before {
						width: 12px;
						height: 12px;
						background: #fff; 
						@include border-radius(6px);
						@include transition(width, .2s, ease);
					}
				}
				&.slick-active {
					button {
						width: 64px;
						&:before {
							width: 54px;
							background: #1750a0;
						}
					}
				}
			}
		}
		.slidePlay {
			position: relative;
			float: left;
			width: 22px;
			height: 22px;
			padding: 5px;
			background: transparent;
			&:before {
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				background: url("../../../kedi_eng/res/img/main/icon_popup_control.png") no-repeat center 0;
			}
			&.pause {
				&:before {
					background-position: center -20px;
				}
			}
		}
	}
	.colBox {
		&.right {
			@include clearfix;
			& > * {
				position: relative;
				float: left;
			}
			.mNews {
				width: 60%;
				padding: 22px 20px;
				border: 1px solid #ddd;
				background: #fff;
				h3 {
					color: #ff4100;
					@include font-size(20);
					font-weight: 600;
				}
				.latest {
					position: relative;
					display: table;
					width: 100%;
					margin-top: 26px;
					& > .inner {
						display: table-cell;
						height: 66px;
						padding-left: 77px;
						vertical-align: middle;
						&:before {
							content: '';
							@include posAbsoluteLT(0, 0, 66px, 66px);
							@include border-radius(50%); 
							background: #ececee url("../../../kedi_eng/res/img/main/icon_notice.png") no-repeat center center;
						}
					}
					a {
						color: #333;
						@include multiline-ellipsis (1.6 * 2, 2);
					}
				}
				ul {
					margin-top: 30px;
					padding-top: 8px;
					border-top: 1px solid #ddd;
					li {
						position: relative;
						padding: 6px 0 7px 11px;
						&:before {
							content: '';
							@include posAbsoluteLT(0, 50%, 3px, 3px);
							margin-top: -2px;
							background: #ef3e61;
						}
						a {
							color: #666;
							@include text-ellipsis;
						}
					}
				}
				.bdMore {
					position: absolute;
					top: 12px; 
					right: 2px;
					display: block;
					width: 50px;
					height: 50px;
					background: #fff url("../../../kedi_eng/res/img/main/icon_more.png") no-repeat center center;
				}
			}
			.mQuick {
				width: 40%;
				li {
					a {
						position: relative;
						padding-left: 86px;
						color: #fff;
						@include font-size(18);
						@include lh(80px);
						font-weight: 700;
						&:before {
							content: '';
							@include posAbsoluteLT(26px, 50%, 40px, 40px);
							margin-top: -20px;
							background: url("../../../kedi_eng/res/img/main/icon_quick.png") no-repeat center 0;
						}
						&:hover {
							text-decoration: underline;
						}
					}
					&.item1 {
						background: #5b6983 url("../../../kedi_eng/res/img/main/bg_quick1.png") no-repeat center center;
						background-size: cover;
						a {
							&:before {
								background-position: center -40px * 0;
							}
						}
					}
					&.item2 {
						border-top: 1px solid #6f9eab;
						background: #2fa2a9 url("../../../kedi_eng/res/img/main/bg_quick2.png") no-repeat center center;
						background-size: cover;
						a {
							&:before {
								background-position: center -40px * 1;
							}
						}
					}
					&.item3 {
						border-top: 1px solid #4eaeb6;
						background: #157cb6 url("../../../kedi_eng/res/img/main/bg_quick3.png") no-repeat center center;
						background-size: cover;
						a {
							&:before {
								background-position: center -40px * 2;
							}
						}
					}
					&.item4 {
						border-top: 1px solid #3b90c2;
						background: #1959a7 url("../../../kedi_eng/res/img/main/bg_quick4.png") no-repeat center center;
						background-size: cover;
						a {
							&:before {
								background-position: center -40px * 3;
							}
						}
					}
				}
			}
		}
	}
}


/***** main Board *****/
.mBoard {
	& > .inner {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.colBox {
		& > .inner {
			position: relative;
			border: 1px solid #ddd;
		}
	}
	h3 {
		padding: 10px 0 8px 22px;
		color: #333;
		@include font-size(20);
		font-weight: 700;
		border-bottom: 1px solid #ddd;
	}
	.bdControl {
		@include posAbsoluteRT(50px, 0, auto, auto);
		@include clearfix;
		& > * {
			float: left;
			display: block;
		}
		.bdState {
			padding: 0 20px;
			color: #333;
			@include font-size(15);
			@include lh(50px);
			.currentNum {
				color: #ef3e61;
			}
		}
	}
	.bdList {
		.unit {
			position: relative;
			padding: 28px 20px 30px;
			@include clearfix;
			& > * {
				float: left;
			}
			.thumb {
				overflow: hidden;
				position: relative;
				width: 36%;
				padding-bottom: 139px;
				&.bdLine {
					border: 1px solid #ddd;
				}
				img {
					@include posAbsoluteLT(0, 0, 100%, 100%);
					right: 0;
					bottom: 0;
				}
			}
			.conText {
				position: relative;
				width: 64%;
				height: 139px;
				padding-left: 20px;
				&.inBtn {
					padding-bottom: 50px;
				}
				.tit {
					height: 44px;
					margin-top: -2px;
					color: #333;
					@include font-size(18);
					font-weight: 600;
					line-height: 1.25;
					@include multiline-ellipsis (1.25 * 2, 2);
				}
				.date {
					margin-top: 5px;
					color: #666;
					@include font-size(15);
				}
				.cont {
					height: 66px;
					margin-top: 9px;
					color: #555;
					@include font-size(16);
					line-height: 1.4;
					@include multiline-ellipsis (1.4 * 3, 3);
				}
				.tblCont {
					margin-top: -5px;
					li {
						padding: 3px 0;
						color: #333;
						@include font-size(18);
						font-weight: 600;
						line-height: 1.25;
						@include text-ellipsis;
					}
				}
				.btnDown {
					@include posAbsoluteLB(20px, 0, auto, auto);
					vertical-align: top;
					& > * {
						min-width: 131px;
						color: #666;
						border: 1px solid #ddd;
						background: #fff;
						&:before {
							background-position: 0 center;
						}
					}
				}
			}
		}
		&.evList {
			.unit {
				.thumb {
					border: 1px solid #ddd;
				}
			}
		}
	}
	.slideBtn {
		display: block;
		width: 50px;
		height: 50px;
		border-left: 1px solid #ddd;
		&.bdPrev {
			background: #fff url("../../../kedi_eng/res/img/main/icon_prev.png") no-repeat center center;
		}
		&.bdNext {
			background: #fff url("../../../kedi_eng/res/img/main/icon_next.png") no-repeat center center;
		}
		&.bdMore {
			position: absolute;
			top: 0; 
			right: 0;
			background: #fff url("../../../kedi_eng/res/img/main/icon_more.png") no-repeat center center;
		}
	}
}


/***** main KJEP *****/
.mKjep {
	min-height: 391px;
	background: #1958a7 url("../../../kedi_eng/res/img/main/bg_kjep.png") repeat center center;
	& > .inner {
		padding-top: 50px;
		padding-bottom: 45px;
		.colBox {
			position: relative;
			float: left;
			width: 100% * 1/2;
			&.kjepTitle {
				width: 270px;
			}
			&.kjepList {
				width: calc(100% - 270px);
			}
		}
	}
	.kjepTitle {
		h3 {
			margin-top: -9px;
			padding-bottom: 3px;
			color: #fff;
			@include font-size(24);
			font-weight: 700;
		}
		p {
			color: #fff;
			@include font-size(14);
		}
		.thumb {
			margin-top: 30px;
			img {
				@include boxShadow(7px, 5px, 7px, rgba(0,0,0,.31));
			}
		}
	}
	.btnGuide {
		display: inline-block;
		margin-top: 18px;
		vertical-align: top;
		& > * {
			display: block;
			min-width: 145px;
			height: 35px;
			padding: 0 10px;
			text-align: center;
			color: #fff;
			@include font-size(14);
			line-height: 33px;
			border: 1px solid #6cb117;
			@include border-radius(2em);
			background: #6cb117;
			cursor: pointer;
			&:before {
				content: '';
				display: inline-block;
				width: 24px;
				height: 23px;
				vertical-align: middle;
				margin: -4px 4px 0 -3px;
				background: url("../../../kedi_eng/res/img/main/icon_guide.png") no-repeat 0 center;
			}
		}
	}
	.kjepList {
		overflow: hidden;
		position: relative;
	}
	.kjepSlide {
		margin-left: -30px;
		padding-bottom: 8px;
		.slideItem {
			outline: none;
			padding-left: 30px;
			.unit {
				position: relative;
				display: block;
				padding-bottom: 75px;
				& > * {
					color: #666;
					@include font-size(15);
					letter-spacing: 0;
				}
				.tit {
					height: 49px;
					margin-top: -5px;
					color: #fff;
					@include font-size(18);
					font-weight: 600;
					line-height: 1.4;
					@include multiline-ellipsis (1.4 * 2, 2);
					a {
						&:hover {
							text-decoration: underline;
						}
					}
				}
				.date {
					margin-top: 4px;
					color: #fff;
					@include font-size(15);
					font-weight: 300;
				}
				.btnDown {
					@include posAbsoluteLB(0, 30px, auto, auto);
					vertical-align: top;
					& > * {
						min-width: 115px;
						height: 30px;
						color: #fff;
						line-height: 28px;
						border: 1px solid #fff;
						background: transparent;
						&:before {
							margin-right: 5px;
							background-position: -20px center;
						}
					}
					&:hover {
						& > * {
							color: #1750a0;
							background: #fff;
							&:before {
								background-position: -40px center;
							}
						}
					}
				}
			}
		}
	}
	.slick-dots {
		@include posAbsoluteLB(50%, 0, auto, auto);
		@include translate(-50%, 0);
		@include clearfix;
		z-index: 99;
		li {
			float: left;
			button {
				width: 22px;
				height: 22px;
				padding: 5px;
				background: transparent;
				@include transition(width, .2s, ease);
				&:before {
					width: 12px;
					height: 12px;
					background: #ccc; 
					@include border-radius(6px);
					@include transition(width, .2s, ease);
				}
			}
			&.slick-active {
				button {
					width: 64px;
					&:before {
						width: 54px;
						background: #6cb117;
					}
				}
			}
		}
	}
}


/***** main Research *****/
.mResearch {
	& > .inner {
		margin-bottom: -100px;
		padding-top: 42px;
		padding-bottom: 50px;
	}
	h3 {
		padding-bottom: 16px;
		color: #333;
		@include font-size(24);
		font-weight: 700;
	}
	.contSlideWrap {
		position: relative;
	}
	.contSlide {
		margin: 0 -10px;
		.slideItem {
			outline: none;
			padding: 0 10px;
			.unit {
				position: relative;
				display: block;
				padding: 25px 20px 27px;
				border: 1px solid #ddd;
				background: #fff;
				& > * {
					color: #666;
					@include font-size(15);
					letter-spacing: 0;
				}
			}
			.author {
				height: 21px;
				padding-right: 40px;
			}
			.title {
				height: 100px;
				margin: 18px 0 13px;
				color: #333;
				@include font-size(16);
				font-weight: 600;
				line-height: 1.6;
				@include multiline-ellipsis (1.6 * 4, 4);
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.pubNo {
				height: 21px;
				letter-spacing: -0.025em;
			}
			.year {
				@include posAbsoluteRT(0, 0, auto, auto);
				& > * {
					position: relative;
					display: block;
					width: 56px;
					height: 60px;
					padding-top: 16px;
					text-align: center;
					color: #fff;
					font-weight: 700;
					letter-spacing: 0;
					background: #a7815d;
					&:after {
						content: '';
						position: absolute;
						left: 0;
						bottom: 0;
						border-left: 28px solid transparent;
						border-right: 28px solid transparent;
						border-bottom: 12px solid #fff;
					}
				}	
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.mPrimary {
		min-height: auto;
		background: #e9e9eb url("../../../kedi_eng/res/img/main/bg_primary_m.png") repeat center center;
		background-size: cover;
		& > .inner {
			.colBox {
				float: none;
				width: 100%;
				&.left {
					padding-right: 0;
					.moreBtn {
						right: 0;
					}
				}
				&.right {
					margin-top: 20px;
					padding-left: 0;
				}
			}
		}
		.popupSlide {
			.slideItem {
				.unit {
					padding-bottom: 54%;
					.cont {
						& > * {
							font-size: 0.933em;
						}
						.subject {
							font-size: 1.375em;
						}
					}
				}
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.mContent {
		& > .inner {
			padding-left: m-get-per(30px);
			padding-right: m-get-per(30px);
		}
	}
	.mBoard {
		& > .inner {
			.colBox {
				float: none;
				width: 100%;
				&.left {
					padding-right: 0;
					.moreBtn {
						right: 0;
					}
				}
				&.right {
					margin-top: 20px;
					padding-left: 0;
				}
			}
		}
	}
}

// ##Screen = 640px 이하
@include respond-below(custom640) {
	.mKjep {
		min-height: auto;
		background: #1958a7 url("../../../kedi_eng/res/img/main/bg_kjep.png") repeat center center;
		background-size: cover;
		& > .inner {
			.colBox {
				float: none;
				&.kjepTitle {
					width: 100%;
				}
				&.kjepList {
					width: 100%;
				}
			}
		}
		.kjepTitle {
			.thumb {
				display: none;
			}
		}
		.kjepList {
			margin-top: 30px;
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.mPrimary {
		.colBox {
			&.right {
				& > * {
					float: none;
				}
				.mNews {
					width: 100%;
				}
				.mQuick {
					width: 100%;
				}
			}
		}
	}
}