@charset "utf-8";
/* ================================== mypage Contents ================================== */

.signBox {
	position: relative;
	padding: 40px 40px 40px 23.26%;
	border: 1px solid #ddd;
	.signTop {
		@include posAbsoluteLT(0, 50%, 23.26%, auto);
		margin-top: -72px;
		text-align: center;
		h4 {
			padding: 0;
			color: #157cb6;
			line-height: 1.15;
			font-weight: 600;
			&:before {
				content: '';
				display: block;
				width: 115px;
				height: 115px;
				margin: 0 auto 4px;
				@include border-radius(50%);
				background: #f4f4f4 url("../../../kedi_eng/res/img/mypage/icon_signin.png") no-repeat center center;
			}
		}
	}

	.signForm {
		padding: 0 0 0 28px;
		border: solid #ddd;
		border-width: 0 0 0 1px;
		dt {
			margin-top: -5px;
			padding-bottom: 14px;
			strong {
				display: block;
				color: #222;
				@include font-size(22);
				line-height: 1.4;
			}
			span {
				& + strong {
					margin-top: 12px;
				}
			}
		}
		a {
			color: #157cb6;
		}
		.formInner {
			position: relative;
			max-width: 531px;
			margin-top: 27px;
			padding-right: 150px;
		}
		.fieldWrap {
			position: relative;
			margin-top: 10px;
			padding-left: 108px;
			&:first-child {
				margin-top: 0;
			}
		}
		label {
			@include posAbsoluteLT(0, 0, auto, auto);
			font-weight: 600;
			@include lh(40px);
		}
		// .errMsg {
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	display: block;
		// 	color: #157cb6;
		// }
		.ottBtn {
			@include posAbsoluteRT(0, 0, auto, auto);
			margin: 0;
			& > * {
				display: block;
				width: 140px;
				height: 90px;
				line-height: 88px;
			}
		}
	}
	&.findPw {
		.signTop {
			margin-top: -88px;
			h4 {
				@include font-size(20);
				&:before {
					margin-bottom: 14px;
				}
			}
		}
		.signForm {
			.formInner {
				max-width: 576px;
			}
			.fieldWrap {
				padding-left: 145px;
			}
			.ottBtn {
				& > * {
					height: 140px;
					line-height: 138px;
				}
			}
		}
	}
}

.privacyCont {
	.conBox {
		& > * {
			margin-top: 27px;
			&:first-child {
				margin-top: 0;
			}
		}
		.rowBox {
			dt {
				margin-top: 27px;
				&:first-child {
					margin-top: 0;
				}
			}
			p {
				& + p {
					margin-top: 27px;
				}
			}
			ul {
				& + p {
					margin-top: 27px;
				}
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {


}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.signBox {
		padding: 40px;
		text-align: center;
		.signTop {
			position: relative;
			left: auto;
			top: auto;
			width: auto;
			margin-top: 0;
			padding-bottom: 30px;
		}
		.signForm {
			padding: 30px 0 0;
			border-width: 1px 0 0;
			.formInner {
				max-width: none;
				margin-top: 28px;
				padding-right: 0;
			}
			.fieldWrap {
				margin-top: 15px;
				padding-left: 0;
				& > * {
					text-align: left;
				}
			}
			label {
				position: relative;
				left: auto;
				top: auto;
				height: auto;
				line-height: normal;
				padding-bottom: 5px;
			}
			.ottBtn {
				position: relative;
				left: auto;
				top: auto;
				margin: 20px 0 0;
				width: 100%;
				& > * {
					display: block;
					width: auto;
					height: 50px;
					line-height: 48px;
				}
			}
		}
		&.findPw {
			.signTop {
				margin-top: 0;
			}
			.signForm {
				.formInner {
					max-width: none;
				}
				.fieldWrap {
					padding-left: 0;
				}
				.ottBtn {
					& > * {
						height: 50px;
						line-height: 48px;
					}
				}
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {


}