@charset "utf-8";
/* ================================== resources Contents ================================== */


.general {
	.chart1 {
		img {
			max-width: 405px;
		}
	}
}

.EduOfficeList {
	margin-top: 10px;
	border-bottom: 1px solid #ddd;
	@include clearfix;
	li {
		float: left;
		width: 100% * 1/2;
		padding: 27px 20px;
		border-top: 1px solid #ddd;
		&:nth-child(odd) {
			border-right: 1px solid #ddd;
		}
	}
	a {
		position: relative;
		display: table;
		width: 100%;
		height: 100%;
		& > * {
			display: table-cell;
			vertical-align: middle;
		}
		.thumb {
			width: 43%;
			img {
				width: 100%;
				max-width: 180px;
			}
		}
		.info {
			padding-left: 10px;
		}
		&:hover {
			.info {
				text-decoration: underline;
			}
		}
	}
}

.statisticsList {
	margin-bottom: -29px;
	border-bottom: 1px solid #ddd;
	@include clearfix;
	li {
		float: left;
		width: 100% * 1/2;
		padding: 30px;
		text-align: center;
		border-top: 1px solid #ddd;
		&:nth-child(odd) {
			border-right: 1px solid #ddd;
		}
	}
	.thumb {
		img {
			width: 100%;
			max-width: 400px;
		}
	}
	.btnDown {
		display: block;
		margin: 10px auto 0;
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {


}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.EduOfficeList {
		li {
			width: 100%;
			padding: 27px 0;
			&:nth-child(odd) {
				border-right: none;
			}
		}
		a {
			.thumb {
				width: 180px;
			}
		}
		.blank {
			display: none;
		}
	}
	.statisticsList {
		li {
			width: 100%;
			padding: 30px 0;
			&:nth-child(odd) {
				border-right: none;
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.EduOfficeList {
		a {
			.thumb {
				width: 42%;
			}
		}
	}
}