@charset "utf-8";
/* ================================== search Contents ================================== */

.totalSearch {
	padding: 40px;
	background: #f4f4f4;
	.inner {
		position: relative;
		max-width: 517px;
		margin: 0 auto;
	}
	input {
		width: calc(100% - 122px);
	}
	.ottBtn {
		@include posAbsoluteRT(0, 0, auto, auto);
		margin: 0;
		& > * {
			min-width: 112px;
		}
	}
}

.searchResultText {
	padding: 20px 10px 22px;
	text-align: center;
	@include font-size(22);
	strong {
		color: #157cb6;
		font-weight: 700;
	}
}

.searchDetail {
	padding: 20px 30px 15px;
	border: 1px solid #ddd;
	.inner {
		@include clearfix;
		@include font-size(14);
	}
	.fieldItem {
		float: left;
		width: 100% * 1/2;
		&:nth-child(odd) {
			padding-right: 30px;
		}
		.fieldTitle {
			padding: 4px 0;
			color: #333;
			font-weight: 700;
		}
		.chkField {
			& > * {
				margin-bottom: 10px;
			}
			input[type="text"] {
				width: 100%;
				@include lh(30px);
			}
			.ottBtn {
				margin: 0;
			}
			&.inBtn {
				@include clearfix;
				& > * {
					float: left;
					padding-right: 5px;
					& + * {
						padding-left: 5px;
						padding-right: 0;
					}
				}
				.ottBtn {
					& > * {
						min-width: 120px;
					}
				}
			}
			&.inRadio {
				margin-top: 3px;
				@include clearfix;
				& > * {
					float: left;
					width: 100% * 1/3;
					max-width: 110px;
					margin-bottom: 5px;
				}
			}
			.inpWrap {
				position: relative;
				display: block;
				padding-left: 180px;
				label {
					@include posAbsoluteLT(0, 0, auto, auto);
					@include lh(30px);
				}
			}
			.periodWrap {
				position: relative;
				display: block;
				@include clearfix;
				& > * {
					position: relative;
					float: left;
					width: 43.82%;
					padding-right: 26px;
					& + * {
						width: 56.18%;
						padding-right: 80px;
					}
				}
				.dem {
					@include posAbsoluteRT(0, 0, auto, auto);
					width: 26px;
					@include lh(30px);
					text-align: center;
				}
				.ottBtn {
					@include posAbsoluteRT(0, 0, auto, auto);
					& > * {
						min-width: 70px;
					}
				}
			}
		}
	}
	.ottButton {
		margin-top: 5px;
	}
}

.searchResultList {
	border-top: 1px solid #ddd;
	.resultListUnit {
		position: relative;
		padding: 24px 0;
		@include font-size(15);
		border-bottom: 1px solid #ddd;
		.srchSubj {
			padding-bottom: 6px;
			color: #333;
			@include font-size(16);
			font-weight: 700;
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.srchLoca {
			padding-top: 8px;
			color: #157cb6;
			@include font-size(14);
		}
		strong {
			color: #157cb6;
			font-weight: 700;
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {

	
}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {


}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.totalSearch {
		padding: 30px m-get-per(40px);
		input {
			width: calc(100% - 102px);
		}
		.ottBtn {
			& > * {
				min-width: 92px;
			}
		}
	}
	.searchDetail {
		padding-left: m-get-per(30px);
		padding-right: m-get-per(30px);
		.fieldItem {
			float: none;
			width: 100%;
			&:nth-child(odd) {
				padding-right: 0;
			}
			.chkField {
				&.inBtn {
					& > * {
						width: 100% * 1/2;
					}
					.ottBtn {
						width: 100%;
						& > * {
							display: block;
							min-width: 0;
						}
					}
				}
				&.inRadio {
					margin-bottom: 5px;
					& > * {
						max-width: none;
					}
				}
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.totalSearch {
		input {
			width: 100%;
		}
		.ottBtn {
			position: relative;
			right: auto;
			top: auto;
			width: 100%;
			margin-top: 10px;
			& > * {
				display: block;
				min-width: 0;
			}
		}
	}
	.searchDetail {
		.fieldItem {
			.chkField {
				.inpWrap {
					padding-left: 0;
					label {
						position: relative;
						left: auto;
						top: auto;
						height: auto;
						line-height: normal;
						margin-bottom: 6px;
					}
				}
			}
		}
	}
}