@charset "utf-8";
/* ================================== Board ================================== */

// boardTop
.boardTop {
	@include clearfix;
	margin: 5px 0 40px;
	.innerL {
		float: left;
		text-align: left;
	}
	.innerR {
		float: right;
		text-align: right;
	}
	.totlaNum {
		color: #666;
		@include NotoSansKR-Light;
		@include lh(32px);
		@include font-size(1.5);
		em {
			color: #0b86cd;
			font-style: normal;
			@include NotoSansKR-Medium;
			@include font-size(1.7);
		}
	}
	.updateTime {
		color: #666;
		@include NotoSansKR-Light;
		@include font-size(1.5);
		span {
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 20px;
				height: 20px;
				margin: -1px 6px 0;
				background: url("../img/board/icon_clock.png") no-repeat 0 0;
			}
		}
	}
}
// boardSsearch
.boardSearch {
	.srchSel {
		display: inline-block;
		margin-right: 20px;
		border-bottom: 1px solid #999;
		select {
			padding: 4px 0;
			color: #666;
			@include NotoSansKR-Light;
			//@include lh(32px);
			height: 32px;
			border: 0;
			border-radius: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: #fff url("../img/board/icon_select.png") no-repeat right center;
			&::-ms-expand {
				display: none;
			}
		}
	}
	.srchInp {
		display: inline-block;
		border-bottom: 1px solid #999;
		input[type="text"] {
			width: auto;
			color: #666;
			@include NotoSansKR-Regular;
			@include lh(32px);
			border: 0;
			background: transparent !important;
			@include box-sizing(border-box);
		}
		button {
			font-size: 0 !important;
			&:before {
				content: '';
				display: inline-block;
				width: 32px;
				height: 32px;
				background: #fff url("../img/board/icon_search.png") no-repeat center center;
			}
		}
	}
}
// boardList
.boardList {
	border-top: 2px solid #46474c;
	border-bottom: 1px solid #46474c;
	table {
		width: 100%;
		border: 0;
		padding: 0;
		margin: 0;
		border-collapse: collapse;
	}
	th {
		@include NotoSansKR-Bold;
		padding: 13px 10px;
		text-align: center;
		color: #333;
		border-bottom: 1px solid #46474c;
	}
	td {
		padding: 13px 10px 12px;
		text-align: center;
		color: #666;
		@include NotoSansKR-Light;
		border-top: 1px solid #dadade;
		&.subject {
			text-align: left;
			@include box-sizing(border-box);
			a {
				color: #666;
				display: inline-block;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&.data {
			text-align: right;
			min-width: 115px;
			a {
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	tr {
		&:first-child {
			td {
				border-top: 0;
			}
		}
	}
	& + .pagination {
		margin: 40px 0 50px;
	}
	.empty_list {
		width: 100%;
		text-align: center;
		padding: 80px 0 !important;
	}
}

// boardDetail
.boardDetail {
	border-top: 1px solid #46474c;
	.detailTop {
		border-bottom: 1px solid #dadade;
		.subject {
			padding: 13px 10px;
			color: #333;
			@include font-size(2.0);
			line-height: 1.4;
			border-bottom: 1px solid #dadade;
		}
		.postInfo {
			padding: 13px 10px;
			@include font-size(1.6);
			li {
				display: inline-block;
				padding-left: 30px;
				@include NotoSansKR-Light;
				color: #666;
				&:first-child {
					padding-left: 0;
				}
			}
		}
	}
	.detailContent {
		padding: 40px 10px;
		border-bottom: 1px solid #dadade;
	}
}

// boardWrite
.boardWrite {
	border-top: 2px solid #46474c;
	table {
		width: 100%;
		border: 0;
		padding: 0;
		margin: 0;
		border-collapse: collapse;
	}
	th {
		position: relative;
		@include NotoSansKR-Regular;
		padding: 24px 18px;
		text-align: left;
		vertical-align: top;
		color: #111;
		@include font-size(1.6);
		border-bottom: 1px solid #dedede;
	}
	td {
		padding: 18px 18px;
		text-align: left;
		border-bottom: 1px solid #dedede;
		&.textarea {
			padding: 18px 18;
		}
	}
	.inpName {
		max-width: 200px;
		width: 100%;
	}
	.inpEmail {
		max-width: 180px;
		width: 32%;
	}
	.selEmail {
		max-width: 120px;
		width: 32%;
	}
}

// pagination
.pagination {
	overflow: hidden;
	margin: 10px 0;
	text-align: center;
	a {
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 29px;
		line-height: 27px;
		color: #666;
		background: #fff;
		@include font-size(1.5);
		@include box-sizing(border-box);
		&.first, 
		&.prev, 
		&.next, 
		&.last {
				border: 1px solid #ccc;
				background: url("../img/board/icon_pagination.png") no-repeat 0 0;
		}
		&.first {
			background-position: 0 0;
		}
		&.prev {
			margin: 0 5px 0 -1px;
			background-position: 0 -30px;
		}
		&.next {
			margin: 0 -1px 0 5px;
			background-position: 0 -60px;
		}
		&.last {
			background-position: 0 -90px;
		}
		&.isActive {
			color: #fff;
			background: #1f99df;
		}
	}
}

// PrevNext
.bbsPrevNext {
	margin: 50px 0;
	border-top: 1px solid rgba(#46474c, .5);
	li {
		position: relative;
		padding: 13px 10px;
		padding-left: 100px;
		@include NotoSansKR-Light;
		border-bottom: 1px solid rgba(#46474c, .5);
		&:first-child {
			border-bottom: 1px solid #dadade;
		}
		span {
			@include NotoSansKR-Medium;
			@include posAbsoluteLT(10px, 50%, auto, auto);
			@include translate(0, -50%);
		}
		a {
			display: block;
			color: #666;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// checkbox custom
input[type="checkbox"] {
	&.custom {
		opacity: 0;
		position: absolute;
		& + label {
			&:before {
				content: '';
				display: inline-block;
				width: 22px;
				height: 22px;
				margin: -1px 8px 0 0;
				vertical-align: middle;
				background: url("../img/board/check_sheet.png") no-repeat left top;
				cursor: pointer;
			}
		}
		&:checked {
			& + label {
				&:before {
					background-position: -24px top;
				}
			}
		}
	}
}

// write button custom
.btnFrmline {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	padding: 0 5px;
	color: #fff;
	@include NotoSansKR-Light;
	@include font-size(1.6);
	@include lh(39px);
	background: #666;
}
.btn_cke_sc {
	@include NotoSansKR-Light;
	@include font-size(1.5);
	@include lh(30px);
}
.frm_file {
	@include NotoSansKR-Regular;
	height: auto;
	line-height: 1.5;
	border: 0;
	color: #333;
  background: transparent;
}

/* ================================== Contents media query ================================== */
@include respond-to('sm') {
	.mobHide {
		display: none;
	}
	.boardTop {
		margin: 3px 0 28px;
		.totlaNum {
			margin-top: 3px;
			@include font-size(1.6);
			em {
				@include font-size(1.8);
			}
		}
		.updateTime {
			@include font-size(1.8);
			span {
				&:before {
					width: 15px;
					height: 15px;
					margin: -1px 4px 0;
					background-size: 15px auto;
				}
			}
		}
	}
	.boardSearch {
		.srchSel {
			margin-right: 14px;
			select {
				@include font-size(1.8);
				//@include lh(22px);
				background-size: auto 22px;
			}
		}
		.srchInp {
			input[type="text"] {
				max-width: 120px;
				@include font-size(1.8);
				// @include lh(22px);
			}
			button {
				&:before {
					width: 22px;
					height: 22px;
					background-size: auto 22px;
				}
			}
		}
	}
	.boardList {
		th {
			padding: 9px 7px;
			@include font-size(1.8);
		}
		td {
			padding: 9px 7px 8px;
			@include font-size(1.8);
		}
		& + .pagination {
			margin: 28px 0 35px;
		}
	}
	.pagination {
		a {
			@include font-size(1.8);
		}
	}
	.boardDetail {
		.detailTop {
			.subject {
				padding: 10px 10px;
				@include font-size(2.2);
			}
			.postInfo {
				padding: 10px 10px;
				@include font-size(1.8);
				li {
					padding-left: 21px;
				}
			}
		}
		.detailContent {
			padding: 28px 10px;
		}
	}
	.bbsPrevNext {
		margin: 35px 0;
		li {
			padding: 10px 10px;
			padding-left: 70px;
			@include font-size(1.8);
		}
	}
	.boardWrite {
		th {
			padding: 16px 12px;
			@include font-size(1.8);
		}
		td {
			padding: 12px 12px;
			@include font-size(1.8);
			&.textarea {
				padding: 12px 12;
			}
		}
		.inpName {
			max-width: 100%;
			width: 100%;
		}
		.inpEmail {
			max-width: 46%;
			width: 46%;
		}
		.selEmail {
			max-width: 98%;
			width: 98%;
			margin-top: 4px;
		}
	}
	input[type="checkbox"] {
		&.custom {
			opacity: 0;
			position: absolute;
			& + label {
				&:before {
					content: '';
					display: inline-block;
					width: 15px;
					height: 15px;
					margin: -1px 5px 0 0;
					vertical-align: middle;
					background: url("../img/board/check_sheet.png") no-repeat left top;
					background-size: auto 15px;
					cursor: pointer;
				}
			}
			&:checked {
				& + label {
					&:before {
						background-position: -16px top;
					}
				}
			}
		}
	}
	.btnFrmline {
		@include font-size(1.8);
		@include lh(30px);
	}
}