@charset "utf-8";
/* ================================== Business ================================== */
.cellcarcinoCont2 {
	.imgBox {
		&.gray {
			padding-left: 13px;
			padding-right: 27px;
		}
	}
}
.cellcarcinoCont5 {
	.col2 {
		span {
			text-align: right;
			& + span {
				text-align: left;
			}
		}
	}
}
.cellcarcinoCont6 {
	.imgBox {
		&.gray {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.gridWrap2 {
		&.col2 {
			.gridInner {
				.gridUnit {
					width: 49.13%;
					& + .gridUnit {
						width: 50.86%;
					}
				}
			}
		}
	}
}
.cellcarcinoCont8 {
	.gridWrap2 {
		margin: 0 2.5% 0 4.5%;
	}
}
.linkBtn {
	margin-left: 10px;
	& > * {
		color: #0b86cd;
		@include NotoSansKR-Regular;
		@include font-size(1.5);
	}
	&:after {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		vertical-align: middle;
		margin: -2px 0 0 7px;
		background: url("../img/business/icon_go_link.png") no-repeat 0 0;
	}
}
.pipeline {
	border-top: 1px solid #ccc;
	ul {
		padding: 0 40px;
		@include clearfix;
		li {
			width: 100% * 1/4;
			float: left;
			@include lh(49px);
			color: #333;
			@include NotoSansKR-Medium;
		}
	}
	.barGraph {
		position: relative;
		padding: 14px 40px;
		border-top: 1px solid #dadade;
		border-bottom: 1px solid #dadade;
		span {
			display: block;
			width: 100%;
			height: 40px;
			background: url("../img/business/bg_pipeline.jpg") no-repeat 0 0;
			background-size: 100% 40px;
			@include border-radius(0 20px 20px 0);
			&:before {
				content: '';
				@include posAbsoluteLT(0, 50%, 40px, 40px);
				@include translate(0, -50%);
				background: #5bc5ff;
			}
		}
		&.eng {
			span {
				width: 52%;
			}
		}
		&.kor {
			span {
				width: 54%;
			}
		}
		&.mex {
			span {
				width: 56%;
			}
		}
	}
}
.kitnkcellCont1 {
	.gridWrap2 {
		margin: 0 3.5%;
		img {
			margin-top: 10px;
			margin-bottom: 15px;
		}
	}
}
.kitnkcellCont2 {
	.imgBox {
		padding: 25px;
	}
}
.kitnkcellCont3 {
	.gridWrap {
		&.col2 {
			& > * {
				padding: 0 5px;
			}
		}
	}
}
.kitnkvuekitCont4 {
	.gridWrap {
		&.col2 {
			& > * {
				padding: 0 5px;
			}
		}
	}
}
.kitnkvuekitCont1 {
	.imgBox {
		padding: 0 30px;
	}
}
.interpretUnit {
	display: table;
	margin-bottom: 20px;
	& > * {
		display: table-cell;
		vertical-align: middle;
	}
	p {
		width: 180px;
		span {
			display: table-cell;
			width: 144px;
			height: 144px;
			text-align: center;
			vertical-align: middle;
			@include NotoSansKR-Regular;
			@include font-size(1.8);
			border: 1px solid #ddd;
			@include border-radius(50%);
			@include box-sizing(border-box);
			i {
				display: block;
				font-style: normal;
				@include NotoSansKR-Light;
				@include font-size(1.6);
			}
		}
	}
	&.sec1 {
		p {
			span {
				color: #0b86cd;
				border-color: #1f99df;
			}
		}
	}
	&.sec2 {
		p {
			span {
				color: #0c9322;
				border-color: #32b16c;
			}
		}
	}
	&.sec3 {
		p {
			span {
				color: #ed6d00;
				border-color: #ed6d00;
			}
		}
	}
	&.sec4 {
		p {
			span {
				color: #d51827;
				border-color: #e55353;
			}
		}
	}
	li {
		position: relative;
		padding-left: 42px;
		line-height: 1.6;
		span {
			position: absolute;
			top: 0;
			left: 0;
			strong {
				color: #333;
				@include NotoSansKR-Regular;
			}
		}
	}
	dt {
		color: #333;
		@include NotoSansKR-Medium;
		@include font-size(1.8);
		line-height: 1.6;
	}
	dd {
		line-height: 1.6;
		.certiChk {
			display: inline-block;
			color: #018bdb;
			margin-top: 5px;
			margin-right: 20px;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-top: -6px;
				margin-right: 4px;
				width: 22px;
				height: 22px;
				background: url("../img/business/icon_check.png") no-repeat 0 0;
				background-size: cover;
			}
		}
	}
}
.nk365Cont {
	.gridWrap2 {
		.imgBox {
			img {
				margin-top: 15px;
			}
		}
	}
}


/* 20200630 */
.outlineCont {
	padding: 30px;
	background: #f7f7f7;
	.conBox {
		padding-top: 60px;
		padding-left: 60px;
		h3 {
			margin-bottom: 30px;
			color: #005bab;
			@include NotoSansKR-Bold;
			@include font-size(7.4);
			line-height: 1.1;
			.light {
				color: #009fdb;
			}
			small {
				display: block;
				@include font-size(3.8);
			}
		}
		p {
			margin-bottom: 5px;
			color: #333;
			@include NotoSansKR-Regular;
			@include font-size(2.2);
		}
	}
	.imgBox {
		img {
			margin: 0 auto;
		}
	}
}
.nkpuppyCont1 {
	.conBox {
		width: 42% !important;
	}
	.imgBox {
		width: 58% !important;
	}
}
.nkpuppyCont3 {
	.interpretUnit {
		li {
			padding-left: 0;
		}
		p {
			span {
				&:before {
					content: '';
					content: '';
					display: block;
					width: 60px;
					height: 56px;
					margin: 0 auto;
				}
			}
		}
		&.sec1 {
			p {
				span {
					color: #8dc63f;
					border-color: #8dc63f;
					&:before {
						background: url("../img/business/icon_nkpuppy1.png") no-repeat 0 0;
						background-size: cover;
					}
				}
			}
		}
		&.sec2 {
			p {
				span {
					color: #ffcb08;
					border-color: #ffcb08;
					&:before {
						background: url("../img/business/icon_nkpuppy2.png") no-repeat 0 0;
						background-size: cover;
					}
				}
			}
		}
		&.sec3 {
			p {
				span {
					color: #ed145b;
					border-color: #ed145b;
					&:before {
						background: url("../img/business/icon_nkpuppy3.png") no-repeat 0 0;
						background-size: cover;
					}
				}
			}
		}
	}
}
.nkpuppyCont4 {
	dl {
		margin-top: 30px;
		& + .imgBox {
			margin-top: 20px;
		}
	}
	dt {
		color: #34a3e2;
		font-weight: 500;
	}
	.gridWrap2 {
		max-width: 778px;
		margin: 0 auto;
	}
	.ex {
		margin-top: 12px;
	}
}
.nk365petCont1 {
	.conBox {
		width: 48% !important;
	}
	.imgBox {
		width: 52% !important;
	}
}
.nk365petCont3 {
	.interpretUnit {
		p {
			span {
				&:before {
					content: '';
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 60px;
					height: 60px;
				}
			}
		}
		&.sec1 {
			p {
				span {
					color: #018adb;
					border-color: #ddd;
					&:before {
						background: url("../img/business/icon_nk365pet1.png") no-repeat 0 0;
						background-size: cover;
					}
				}
			}
		}
		&.sec2 {
			p {
				span {
					color: #018adb;
					border-color: #ddd;
					&:before {
						background: url("../img/business/icon_nk365pet2.png") no-repeat 0 0;
						background-size: cover;
					}
				}
			}
		}
		&.sec3 {
			p {
				span {
					color: #018adb;
					border-color: #ddd;
					&:before {
						background: url("../img/business/icon_nk365pet3.png") no-repeat 0 0;
						background-size: cover;
					}
				}
			}
		}
	}
}


/* ================================== Business media query ================================== */
@include respond-to('md') {
	.outlineCont {
		.conBox {
			padding-top: 25px;
			padding-left: 25px;
		}
	}
	.nkpuppyCont1,
	.nk365petCont1 {
		.conBox {
			width: 100% !important;
		}
		.imgBox {
			width: 100% !important;
		}
	}
}
@include respond-to('sm') {
	.cellcarcinoCont2 {
		.imgBox {
			&.gray {
				padding: 21px;
				padding-right: 21px;
			}
		}
	}
	.cellcarcinoCont5 {
		.col2 {
			span {
				float: none;
				width: 100%;
				text-align: center;
			}
		}
	}
	.cellcarcinoCont6 {
		.imgBox {
			&.gray {
				padding: 21px;
				padding-right: 21px;
			}
		}
		.gridWrap2 {
			&.col2 {
				.gridInner {
					.gridUnit {
						float: none;
						width: 100%;
						& + .gridUnit {
							float: none;
							width: 100%;
						}
					}
				}
			}
		}
	}
	.cellcarcinoCont8 {
		.gridWrap2 {
			margin: 0;
		}
	}
	.linkBtn {
		margin-left: 7px;
		& > * {
			@include font-size(1.8);
		}
	}
	.pipeline {
		ul {
			padding: 0;
			li {
				@include lh(35px);
			}
		}
		.barGraph {
			padding: 10px 0;
			span {
				height: 30px;
				background-size: 100% 30px;
				@include border-radius(0 15px 15px 0);
				&:before {
					display: none;
				}
			}
		}
	}
	.kitnkcellCont1 {
		.gridWrap2 {
			margin: 0;
			img {
				margin-top: 7px;
				margin-bottom: 10px;
			}
		}
	}
	.kitnkcellCont2 {
		.imgBox {
			padding: 0;
		}
	}
	.kitnkcellCont3 {
		.gridWrap {
			&.col2 {
				& > * {
					float: none;
					width: 100%;
					padding: 0 3px;
				}
			}
			& > div {
				& + div {
					margin-top: 21px;
				}
			}
		}
	}
	.kitnkvuekitCont4 {
		.gridWrap {
			&.col2 {
				& > * {
					float: none;
					width: 100%;
					padding: 0 3px;
				}
			}
			& > div {
				& + div {
					margin-top: 21px;
				}
			}
		}
	}
	.kitnkvuekitCont1 {
		.imgBox {
			padding: 0 30px;
		}
	}
	.interpretUnit {
		margin-bottom: 14px;
		p {
			width: 126px;
			span {
				width: 106px;
				height: 106px;
				@include font-size(2.0);
				i {
					@include font-size(1.8);
				}
			}
		}
		li {
			padding-left: 32px;
		}
		dd {
			.certiChk {
				margin-top: 3px;
				margin-right: 12px;
				&:before {
					margin-top: -4px;
					margin-right: 2px;
					width: 14px;
					height: 14px;
				}
			}
		}
	}
	.nk365Cont {
		.gridWrap2 {
			.imgBox {
				img {
					margin-top: 10px;
				}
			}
		}
	}

	/* 20200630 */
	.outlineCont {
		padding: 21px;
		.conBox {
			p {
				margin-bottom: 3px;
			}
		}
	}
	.nkpuppyCont3 {
		.interpretUnit {
			p {
				span {
					&:before {
						width: 48px;
						height: 45px;
					}
				}
			}
		}
	}
	.nkpuppyCont4 {
		dl {
			margin-top: 18px;
			& + .imgBox {
				margin-top: 12px;
			}
		}
		.ex {
			margin-top: 8px;
		}
	}
	.nk365petCont3 {
		.interpretUnit {
			p {
				span {
					&:before {
						width: 48px;
						height: 48px;
					}
				}
			}
		}
	}
}