@charset "utf-8";
/* ================================== Company ================================== */

.overviewCont1 {
	.inrCont {
		.txtBox {
			width: 55%;
			padding-right: 30px;
			@include box-sizing(border-box);
			.slogan {
				color: #0b86cd;
				@include NotoSansKR-Regular;
				@include font-size(2.6);
				line-height: 1.2;
				strong {
					display: block;
					color: #004f9f;
					@include NotoSansKR-Bold;
					@include font-size(5.5);
					span {
						color: #4eb5e6;
					}
				}
			}
		}
		.imgBox {
			width: 45%;
			.imgWrap {
				background: url("../img/company/photo_overview.jpg") no-repeat center center;
				&:before {
					height: 530px;
				}
			}
			.pattern {
				width: 79.5%;
				height: 512px;
			}
		}
	}
}
.overviewCont2 {
	.photo {
		@include posAbsoluteLT(19px, 22px, 150px, 172px);
		background: #fff;
		@include transition(all, .3s, ease);
		img {
			width: 100%;
		}
	}
	.position {
		color: #0b86cd;
		@include Roboto-Light;
		@include font-size(1.4);
	}
	.name {
		margin-bottom: 10px;
		@include NotoSansKR-Light;
		@include font-size(1.6);
		span {
			padding-right: 5px;
			color: #333;
			@include NotoSansKR-Medium;
			@include font-size(2.2);
		}
	}
	.profile {
		li {
			position: relative;
			padding-top: 2px;
			padding-left: 10px;
			&:before {
				content: '-';
				@include posAbsoluteLT(0, 1px, auto, auto);
			}
			&:first-child {
				padding-top: 0;
				&:before {
					top: -1px;
				}
			}
		}
	}
	.ceoProfile {
		position: relative;
		padding: 33px 25px;
		padding-left: w-get-per(474px);
		min-height: 318px;
		border: 1px solid #249be0;
		background: #fff url("../img/company/bg_ceo_pc.jpg") no-repeat left bottom;
		&:after {
			content: '';
			@include posAbsoluteRT(0, 0, 570px, 56px);
			background: url("../img/company/deco_ceo_pc.png") no-repeat right top;
			background-size: 100%;
		}
		.colWrap {
			@include clearfix;
			& > * {
				float: left;
			}
		}
		.ceoMessage {
			margin-top: 60px;
			margin-bottom: 30px;
			color: #0b86cd;
			@include NotoSansKR-Regular;
			@include font-size(2.2);
		}
		.position {
			color: #666;
			@include font-size(1.6);
		}
		.name {
			width: 38%;
			margin-top: 5px;
			@include font-size(1.8);
			span {
				@include font-size(2.4);
			}
		}
		.profile {
			margin-top: 7px;
			li {
				@include font-size(1.8);
			}
		}
		p + p {
			margin-top: auto;
		}
		& + .conBoxList {
			margin-top: 0;
		}
	}
	.conBox {
		padding: 33px 25px;
		padding-left: 194px;
		min-height: 218px;
		@include transition(all, .3s, ease);
		p + p {
			margin-top: auto;
		}
	}
}
.historyWrap {
	padding-bottom: 12px;
	background: url("../img/company/bg_history.jpg") no-repeat right 340px;
	.periodWrap {
		@include clearfix;
		h4 {
			float: left;
			width: 338px;
			span {
				@include NotoSansKR-Light;
				@include font-size(1.8);
			}
		}
		.conWrap {
			float: left;
			margin-bottom: 38px;
		}
	}
	.yearBox {
		@include clearfix;
		margin-top: 18px;
		&:first-child {
			margin-top: 0;
		}
		dt {
			float: left;
			width: 84px;
			color: #333;
			@include NotoSansKR-Medium;
			@include font-size(1.8);
		}
		dd {
			float: left;
		}
	}
}
.networkCont {
	text-align: center;
	img {
		width: 100%;
	}
	.legend {
		display: inline-block;
		margin: 0 auto;
		padding: 2px 0;
		padding-left: 40px;
		color: #666;
		@include transition(all, .3s, ease);
		&:first-child {
			padding-left: 0;
		}
		i {
			display: inline-block;
			margin-bottom: -6px;
			&:before {
				content: '';
				display: block;
				width: 30px;
				height: 24px;
				background: url("../img/company/icon_legend.png") no-repeat 0 0;
			}
		}
		&.foreign {
			i {
				&:before {
					background-position: 0 -30px * 0;
				}
			}
		}
		&.licensing {
			i {
				&:before {
					background-position: 0 -30px * 1;
				}
			}
		}
		&.contract {
			i {
				&:before {
					background-position: 0 -30px * 2;
				}
			}
		}
		&.clinical {
			i {
				&:before {
					background-position: 0 -30px * 3;
				}
			}
		}
	}
	.conBox {
		text-align: left;
		h3 {
			margin-bottom: 15px;
			color: #333;
			@include font-size(2.2);
		}
		dl {
			position: relative;
			//@include clearfix;
			margin-top: 3px;
			padding-left: 35px;
			&:first-child {
				margin-top: 0;
			}
			& > * {
				//float: left;
			}
			dt {
				position: absolute;
				top: 0;
				left: 0;
				padding-right: 5px;
				i {
					margin-bottom: -5px;
				}
			}
		}
		li {
			position: relative;
			padding-left: 10px;
			&:before {
				content: '-';
				@include posAbsoluteLT(0, -1px, auto, auto);
			}
		}
	}
}
.mapApiArea {
	width: 100%;
	height: 400px;
}
.contactCont2 {
	h4 {
		color: #333;
	}
	.conBox {
		padding: 0;
		padding-right: 20px;
		& + .conBox {
			padding: 0;
			padding-left: 20px;
		}
	}
}



/* ================================== Company media query ================================== */
@include respond-to('xmd') {
	.overviewCont2 {
		.ceoProfile {
			background-position: -60px bottom;
		}
	}

	.historyWrap {
		.periodWrap {
			h4 {
				float: none;
				margin-bottom: 20px;
			}
			.conWrap {
				float: none;
			}
		}
	}
}
@include respond-to('md') {
	.overviewCont1 {
		.inrCont {
			.txtBox {
				float: none;
				width: 100%;
				.slogan {
					br {
						display: none;
					}
				}
			}
			.imgBox {
				float: none;
				width: 500px;
				margin: m-get-half(50px) auto 0;
			}
		}
	}
	.overviewCont2 {
		.ceoProfile {
			padding-left: 310px;
			background-position: -90px bottom;
			.colWrap {
				@include clearfix;
				& > * {
					float: none;
				}
			}
			.ceoMessage {
				margin-top: 10px;
			}
			.name {
				width: 100%;
			}
			.profile {
				margin-top: 17px;
			}
		}
	}
	.contactCont2 {
		.gridWrap {
			&.col2 {
				& > * {
					float: none;
					width: 100%;
				}
			}
		}
		.conBox {
			padding-right: 0;
			& + .conBox {
				margin-top: 50px;
				padding-left: 0;
			}
		}
	}
}
@include respond-to('sm') {
	.overviewCont1 {
		.inrCont {
			.imgBox {
				width: 100%;
				margin-top: m-get-half(36px);
				.imgWrap {
					&:before {
						height: auto;
						padding-bottom: 98%;
					}
				}
				.pattern {
					height: 88%;
				}
			}
		}
		.imgBox {
			&.line {
				padding: 21px 0;
			}
		}
	}
	.overviewCont2 {
		.photo {
			@include posAbsoluteLT(14px, 16px, 105px, 120px);
		}
		.position {
			@include font-size(1.6);
		}
		.name {
			margin-bottom: 7px;
			@include font-size(1.8);
			span {
				padding-right: 3px;
				@include font-size(2.4);
			}
		}
		.profile {
			li {
				padding-left: 7px;
			}
		}
		.conBox {
			padding: 24px 18px;
			padding-left: 140px;
			min-height: 152px;
		}
		.ceoProfile {
			padding: 24px 18px;
			padding-left: 50%;
			min-height: 200px;
			background: #fff url("../img/company/bg_ceo_mo.jpg") no-repeat left bottom;
			background-size: auto 190px;
			&:after {
				@include posAbsoluteRT(0, 0, 234px, 24px);
				background: url("../img/company/deco_ceo_mo.png") no-repeat right top;
				background-size: 100%;
			}
			.ceoMessage {
				margin-top: 7px;
				margin-bottom: 21px;
			}
			.name {
				margin-top: 3px;
			}
			.profile {
				margin-top: 10px;
			}
		}
	}
	.historyWrap {
		background-size: 200px auto;
		background-position: right bottom;
		.periodWrap {
			h4 {
				margin-bottom: 14px;
			}
			.conWrap {
				margin-bottom: 26px;
			}
		}
		.yearBox {
			margin-top: 12px;
			dt {
				width: 15%;
			}
			dd {
				width: 85%;
			}
		}
	}
	.networkCont {
		.legend {
			padding-left: 28px;
			i {
				margin-bottom: -4px;
				&:before {
					width: 21px;
					height: 18px;
					background-size: 21px auto;
				}
			}
			&.foreign {
				i {
					&:before {
						background-position: 0 -21px * 0;
					}
				}
			}
			&.licensing {
				i {
					&:before {
						background-position: 0 -21px * 1;
					}
				}
			}
			&.contract {
				i {
					&:before {
						background-position: 0 -21px * 2;
					}
				}
			}
			&.clinical {
				i {
					&:before {
						background-position: 0 -21px * 3;
					}
				}
			}
		}
		.conBox {
			h3 {
				margin-bottom: 10px;
			}
			dl {
				margin-top: 2px;
				dt {
					i {
						margin-bottom: -4px;
					}
				}
			}
			li {
				padding-left: 7px;
			}
		}
	}
	.contactCont2 {
		.conBox {
			& + .conBox {
				margin-top: 30px;
			}
		}
	}
}