@charset "utf-8";
/* ================================== Contents ================================== */
.contentWrap {
	max-width: 1260px;
	margin: 0 auto;
	padding: 50px 30px;
	&.wide {
		max-width: 100%;
		margin: 0;
		padding: 50px 0 0 0;
		.wideBg {
			background: #f7f7f7;
		}
		.contentInner {
			max-width: 1260px;
			margin: 0 auto;
			padding: 50px 30px;
			.contentTitle {
				padding-bottom: 0;
				&:after {
					display: none;
				}
			}
		}
	}
	.contentTitle {
		position: relative;
		margin-bottom: 50px;
		padding: 14px 0 19px;
		text-align: center;
		color: #111;
		@include font-size(4.5);
		line-height: 1.1;
		span {
			display: block;
			padding: 1px 0 5px;
			@include NotoSansKR-Light;
			@include font-size(3.0);
		}
		&:after {
			content: '';
			@include posAbsoluteLB(50%, 0, 30px, 2px);
			@include translate(-50%, 0);
			background: #333;
		}
		& + .contentInner {
			padding-top: 0;
		}
	}
	.headline {
		position: relative;
		margin-bottom: 50px;
		padding: 40px;
		text-align: center;
		& > .bracket {
			@include translate(0, -50%);
			background: #ebebeb;
			z-index: 1;
			&:before {
				content: '';
				background: #ebebeb;
			}
			&:after {
				content: '';
				background: #ebebeb;
			}
			&.left {
				@include posAbsoluteLT(0, 50%, 10px, 100%);
				&:before {
					@include posAbsoluteLT(0, 0, 40px, 10px);
				}
				&:after {
					@include posAbsoluteLB(0, 0, 40px, 10px);
				}
			}
			&.right {
				@include posAbsoluteRT(0, 50%, 10px, 100%);
				&:before {
					@include posAbsoluteRT(0, 0, 40px, 10px);
				}
				&:after {
					@include posAbsoluteRB(0, 0, 40px, 10px);
				}
			}
		}
		.mainText {
			color: #0b86cd;
			@include font-size(2.6);
			line-height: 1.2;
			& + .subText {
				margin-top: 9px;
			}
		}
		.subText {
			color: #666;
			@include NotoSansKR-Light;
			@include font-size(1.6);
			strong {
				color: #333;
				@include NotoSansKR-Medium;
			}
		}
	}
	h3 {
		margin-bottom: 40px;
		color: #0b86cd;
		@include NotoSansKR-Medium;
		@include font-size(2.6);
		line-height: 1.2;
		&.mgbSm {
			margin-bottom: 25px;
		}
		& + .conWrap {
			margin-top: -20px;
		}
	}
	h4 {
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;
		@include NotoSansKR-Medium;
		@include font-size(2.2);
		line-height: 1.2;
		&:before {
			content: '';
			@include posAbsoluteLT(0, 13px, 10px, 2px);
			background: #1f99df;
		}
		& + .conWrap {
			margin-left: 20px;
		}
	}
	.conWrap {
		margin-bottom: 50px;
		color: #666;
		@include NotoSansKR-Light;
		@include font-size(1.6);
		p {
			& + p {
				margin-top: 26px;
			}
			strong {
				color: #333;
				@include NotoSansKR-Medium;
			}
		}
		&.center {
			text-align: center;
		}
	}
	.gridWrap {
		@include clearfix;
		& > * {
			float: left;
			@include box-sizing(border-box);
		}
		&.col2 {
			& > * {
				width: 100% * 1/2;
			}
		}
		&.col3 {
			& > * {
				width: 100% * 1/3;
			}
		}
		&.col4 {
			& > * {
				width: 100% * 1/4;
			}
		}
	}
	.gridWrap2 {
		overflow: hidden;
		.gridInner {
			margin: 0;
			@include clearfix;
			.gridUnit {
				width: 100%;
				padding: 0;
				float: left;
				@include box-sizing(border-box);
			}
		}
		&.col2 {
			.gridInner {
				.gridUnit {
					width: 100% * 1/2;
				}
			}
		}
		&.col3 {
			.gridInner {
				.gridUnit {
					width: 100% * 1/3;
				}
			}
		}
		&.col4 {
			.gridInner {
				.gridUnit {
					width: 100% * 1/4;
				}
			}
		}
		&.gap20 {
			.gridInner {
				margin: -20px 0 0 -20px;
				.gridUnit {
					padding: 20px 0 0 20px;
				}
			}
		}
		&.gap30 {
			.gridInner {
				margin: -30px 0 0 -30px;
				.gridUnit {
					padding: 30px 0 0 30px;
				}
			}
		}
		&.gap40 {
			.gridInner {
				margin: -40px 0 0 -40px;
				.gridUnit {
					padding: 40px 0 0 40px;
				}
			}
		}
	}

	.conBoxList {
		overflow: hidden;
		margin: -30px 0 0 -30px;
		@include clearfix;
		& > li {
			float: left;
			width: 100%;
			padding: 30px 0 0 30px;
		}
		&.col2 {
			& > li {
				width: 100% * 1/2;
			}
		}
		&.col3 {
			& > li {
				width: 100% * 1/3;
			}
		}
	}
	.conBox {
		position: relative;
		height: 100%;
		padding: 25px;
		@include box-sizing(border-box);
		&.line {
			border: 1px solid #cdcdcd;
		}
		&.gray {
			background: #f7f7f7;
		}
		.conTit {
			margin-bottom: 6px;
			color: #0b86cd;
			@include NotoSansKR-Medium;
			@include font-size(1.8);
		}
	}
	.imgBox {
		text-align: center;
		@include box-sizing(border-box);
		&.line {
			padding: 30px;
			border: 1px solid #cdcdcd;
		}
		&.gray {
			padding: 30px;
			background: #f7f7f7;
		}
		&.gray2 {
			padding: 30px;
			background: #f3f3f4;
		}
		img {
			max-width: 100%;
		}
		.imgTit {
			color: #333;
			@include NotoSansKR-Medium;
			@include font-size(1.8);
		}
		&.before {
			border: 2px solid #f7f7f7;
		}
		&.after {
			border: 2px solid #1f99df;
			.imgTit {
				color: #0b86cd;
			}
		}
		&.alL {
			text-align: left;
		}
	}
	.ulList {
		& > li {
			position: relative;
			padding-top: 1px;
			padding-left: 10px;
			strong {
				color: #333;
				@include NotoSansKR-Medium;
			}
			&:before {
				content: '';
				@include posAbsoluteLT(0, 13px, 3px, 3px);
				background: #333;
			}
			&:first-child {
				padding-top: 0;
				&:before {
					top: 12px;
				}
			}
			& > ul {
				& > li {
					position: relative;
					padding-top: 1px;
					padding-left: 10px;
					&:before {
						content: '-';
						@include posAbsoluteLT(0, 1px, auto, auto);
						background: none;
					}
					&:first-child {
						padding-top: 0;
						&:before {
							top: 0;
						}
					}
				}	
			}
		}
		&.wide {
			& > li {
				padding-top: 20px;
				&:before {
					top: 32px;
				}
				&:first-child {
					padding-top: 0;
					&:before {
						top: 12px;
					}
				}
			}
		}
		&.bulHyphen {
			& > li {
				padding-top: 3px;
				padding-bottom: 2px;
				&:before {
					content: '-';
					@include posAbsoluteLT(0, 1px, auto, auto);
					background: none;
				}
				&:first-child {
					&:before {
						top: 0;
					}
				}
			}
		}
	}
	.tableWrap {
		border-top: 2px solid #46474c;
		th,
		td {
			padding: 13px 13px;
			border-bottom: 1px solid #ccc;
			&.em {
				font-style: normal;
				color: #0b86cd;
				@include NotoSansKR-Medium;
			}
		}
		th {
			color: #333;
			@include NotoSansKR-Medium;
		}
		td {
			color: #666;
			@include NotoSansKR-Light;
		}
		tfoot th,
		tfoot td {
			background: #cde8f7;
		}
		.ulTbl {
			li {
				position: relative;
				padding-left: 10px;
				&:before {
					content: '-';
					@include posAbsoluteLT(0, -1px, auto, auto);
				}
				&:first-child {
					padding-top: 0;
				}
			}
		}
		.dlTbl {
			dt {
				margin-bottom: 2px;
				color: #0b86cd;
				@include NotoSansKR-Medium;
			}
		}
		&.typeA {
			tbody th {
				padding: 13px 28px;
				text-align: left;
			}
		}
		&.typeB {
			tbody th {
				color: #666;
			}
			td {
				text-align: center;
			}
		}
		&.typeC {
			tbody th {
				background: #f7f7f7;
			}
			td {
				text-align: center;
			}
		}
		&.typeD {
			th,
			td {
				border-left: 1px solid #ccc;
			}
			thead th,
			tbody th,
			tbody td {
				&:first-child {
					border-left: 0;	
				}
			}
			thead tr {
				&.theadSub {
					th {
						text-align: left;
						color: #666;
						@include NotoSansKR-Regular;
						&.em {
							color: #0b86cd;
							@include NotoSansKR-Regular;
						}
					}
				}
			}
			tbody th {
				color: #666;
				@include NotoSansKR-Regular;
				background: #f7f7f7;
			}
			tbody td {
				vertical-align: top;
				&:first-child {
					border-left: 0;	
				}
				&.em {
					@include NotoSansKR-Regular;
				}
			}
		}
		&.tdCenter {
			tbody td {
				text-align: center;
			}
		}
		&.tdRight {
			tbody td {
				text-align: right;
				&.alC {
					text-align: center;
				}
			}
		}
		&.tblScroll {
			overflow-x: auto;
			table {
				table-layout: auto;
				min-width: 700px;
			}
		}
	}
	.tblNote {
		position: relative;
		margin-top: 15px;
		@include NotoSansKR-Light;
		.noteTit {
			@include posAbsoluteLT(0, 0, auto, auto);
		}
	}
	.em {
		color: #0b86cd;
		@include NotoSansKR-Medium;
	}
	.bgGray {
		background: #f7f7f7;
	}
	.mgtXs {
		margin-top: 10px;
	}
	.mgtSm {
		margin-top: 20px;
	}
	.mgtMd {
		margin-top: 30px;
	}
	.mgtLg {
		margin-top: 50px;
	}
	.tabs {
		text-align: center;
		margin-top: -8px;
		margin-bottom: 50px;
		li {
			position: relative;
			display: inline-block;
			padding: 0 26px 0 34px;
			&:before {
				content: '';
				@include posAbsoluteLT(0, 16px, 6px, 6px);
				@include border-radius(50%);
				background: #ccc;
			}
			&:first-child {
				padding-left: 26px;
				&:before {
					display: none;
				}
			}
			a {
				display: block;
				padding: 1px 0 3px;
				color: #666;
				@include NotoSansKR-Light;
				@include font-size(2.2);
			}
			&.active {
				a {
					color: #1f99df;
					@include NotoSansKR-Bold;
					border-bottom: 2px solid #229adf;
				}
			}
		}
	}
	.conNote {
		position: relative;
		padding-left: 20px;
		& > span {
			@include posAbsoluteLT(0, 0, auto, auto);
		}
	}
}


/* ================================== Contents media query ================================== */
@include respond-to('md') {
	.contentWrap {
		.gridWrap {
			&.col4 {
				& > * {
					width: 100% * 1/2;
				}
			}
		}
		.gridWrap2 {
			&.col4 {
				.gridInner {
					.gridUnit {
						width: 100% * 1/2;
					}
				}
			}
		}
		.conBoxList {
			&.col2 {
				& > li {
					float: none;
					width: 100%;
				}
			}
			&.col3 {
				& > li {
					width: 100% * 1/2;
				}
			}
		}
	}
}
@include respond-to('sm') {
	.contentWrap {
		padding: 35px m-get-per(30px);
		&.wide {
			padding: 35px 0 0 0;
			.contentInner {
				padding: 35px m-get-per(30px);
			}
		}
		.contentTitle {
			margin-bottom: 35px;
			padding: 10px 0 14px;
			span {
				padding: 1px 0 3px;
			}
			&:after {
				width: 21px;
				height: 1px;
			}
			& + .contentInner {
				padding-top: 0;
			}
		}
		.headline {
			margin-bottom: 35px;
			padding: 28px;
			& > .bracket {
				&.left {
					width: 7px;
					&:before,
					&:after {
						width: 28px;
						height: 7px;
					}
				}
				&.right {
					width: 7px;
					&:before,
					&:after {
						width: 28px;
						height: 7px;
					}
				}
			}
			.mainText {
				& + .subText {
					margin-top: 7px;
				}
				br {
					display: none;
				}
			}
			.subText {
				@include font-size(1.8);
			}
		}
		h3 {
			margin-bottom: 28px;
			&.mgbSm {
				margin-bottom: 18px;
			}
			& + .conWrap {
				margin-top: -14px;
			}
		}
		h4 {
			padding-left: 14px;
			margin-bottom: 7px;
			&:before {
				top: 8px;
				width: 7px;
			}
			& + .conWrap {
				margin-left: 14px;
			}
		}
		.conWrap {
			margin-bottom: 35px;
			@include font-size(1.8);
			p {
				& + p {
					margin-top: 18px;
				}
			}
		}
		.gridWrap {
			&.col2 {
				& > * {
					width: 100%;
				}
			}
			&.col3 {
				& > * {
					width: 100%;
				}
			}
			&.col4 {
				& > * {
					width: 100%;
				}
			}
		}
		.gridWrap2 {
			&.col2 {
				.gridInner {
					.gridUnit {
						width: 100%;
					}
				}
			}
			&.col3 {
				.gridInner {
					.gridUnit {
						width: 100%;
					}
				}
			}
			&.col4 {
				.gridInner {
					.gridUnit {
						width: 100%
					}
				}
			}
			&.gap20 {
				.gridInner {
					margin: -14px 0 0 -14px;
					.gridUnit {
						padding: 14x 0 0 14px;
					}
				}
			}
			&.gap30 {
				.gridInner {
					margin: -21px 0 0 -21px;
					.gridUnit {
						padding: 21px 0 0 21px;
					}
				}
			}
			&.gap40 {
				.gridInner {
					margin: -28px 0 0 -28px;
					.gridUnit {
						padding: 28px 0 0 28px;
					}
				}
			}
		}

		.conBoxList {
			margin: -21px 0 0 -21px;
			& > li {
				padding: 21px 0 0 21px;
			}
			&.col3 {
				& > li {
					float: none;
					width: 100%;
				}
			}
		}
		.conBox {
			padding: 18px;
		}
		.imgBox {
			&.line {
				padding: 21px;
			}
			&.gray {
				padding: 21px;
			}
			&.gray2 {
				padding: 21px;
			}
		}
		.ulList {
			& > li {
				padding-left: 7px;
				&:before {
					@include posAbsoluteLT(0, 9px, 2px, 2px);
				}
				&:first-child {
					&:before {
						top: 8px;
					}
				}
				& > ul {
					& > li {
						padding-left: 7px;
						&:before {
							content: '-';
							@include posAbsoluteLT(0, 1px, auto, auto);
							background: none;
						}
						&:first-child {
							&:before {
								top: 0;
							}
						}
					}	
				}
			}
			&.wide {
				& > li {
					padding-top: 14px;
					&:before {
						top: 22px;
					}
					&:first-child {
						&:before {
							top: 8px;
						}
					}
				}
			}
			&.bulHyphen {
				& > li {
					padding-top: 2px;
					padding-bottom: 1px;
					&:before {
						@include posAbsoluteLT(0, 1px, auto, auto);
					}
					&:first-child {
						&:before {
							top: 0;
						}
					}
				}	
			}
		}	
		.tableWrap {
			table {
				table-layout: fixed;
				word-break: break-all;
			}
			th,
			td {
				padding: 10px 10px;
			}
			.ulTbl {
				li {
					padding-left: 7px;
				}
			}
			&.typeA {
				tbody th {
					padding: 10px 20px;
				}
				tbody tr > *:first-child {
					padding: 10px 5px 10px 1px;
				}
			}
		}
		.mgtXs {
			margin-top: 7px;
		}
		.mgtSm {
			margin-top: 14px;
		}
		.mgtMd {
			margin-top: 21px;
		}
		.mgtLg {
			margin-top: 35px;
		}
		.tblNote {
			margin-top: 10px;
		}
		.tabs {
			margin-top: -5px;
			margin-bottom: 35px;
			li {
				padding: 0 18px 0 24px;
				&:before {
					@include posAbsoluteLT(0, 12px, 4px, 4px);
				}
				&:first-child {
					padding-left: 18px;
				}
				a {
					padding: 1px 0 2px;
				}
				&.active {
					a {
						border-bottom: 1px solid #229adf;
					}
				}
			}
		}
		.conNote {
			padding-left: 15px;
		}
	}
}