@charset "utf-8";
/* ================================== Enquiry ================================== */

.enquiryCont {
	.conBoxList {
		&.col3 {
			& > li {
				float: left;
				width: 100% * 1/3;
			}
		}
	}
	.conBox {
		padding: 0;
		&.enquiry1 {
			a {
				background: url("../img/enquiry/bg_enquiry1.jpg") no-repeat right bottom;
			}
		}
		&.enquiry2 {
			a {
				background: url("../img/enquiry/bg_enquiry2.jpg") no-repeat right bottom;
			}
		}
		&.enquiry3 {
			a {
				background: url("../img/enquiry/bg_enquiry3.jpg") no-repeat right bottom;
			}
		}
		&.enquiry4 {
			a {
				background: url("../img/enquiry/bg_enquiry4.gif") no-repeat right bottom;
			}
		}
		&.enquiry5 {
			a {
				background: url("../img/enquiry/bg_enquiry5.gif") no-repeat right bottom;
			}
		}
		&.enquiry6 {
			a {
				background: url("../img/enquiry/bg_enquiry6.gif") no-repeat right bottom;
			}
		}
	}
	a {
		position: relative;
		display: block;
		min-height: 240px;
		padding: 34px 37px;
		color: #333;
		@include NotoSansKR-Medium;
		@include font-size(2.4);
		border: 3px solid #f7f7f7;
		@include box-sizing(border-box);
		&:before {
			content: '';
			@include posAbsoluteLB(37px, 34px, 40px, 20px);
			background: url("../img/enquiry/icon_enquiry_arrow.png") no-repeat 0 0;
		}
		span {
			display: block;
			&.fsSm {
				margin-top: -3px;
				@include font-size(1.6);
			}
		}
		&.on {
			border: 3px solid #1f99df;
			&:before {
				background-position: 0 -30px;
			}
		}
	}
}
.enquiryTime {
	margin-left: 0 !important;
	p {
		margin-left: 20px;
	}
	.conBoxList {
		margin-top: 0;
		&.col2 {
			& > li {
				float: left;
				width: 100% * 1/2;
			}
		}
	}
	.conBox {
		padding: 30px 30px 27px;
		text-align: center;
		color: #333;
		@include NotoSansKR-Light;
		@include font-size(1.8);
		em {
			margin-top: 2px;
			display: block;
			color: #0b86cd;
			font-style: normal;
			@include NotoSansKR-Medium;
			@include font-size(2.2);
		}
	}
}
.enquiryAgree {
	margin-left: 0 !important;
}
.agree {
	overflow-y: scroll;
	height: 200px;
	p {
		margin-top: 10px;
		&:first-child {
			margin-top: 0;
		}
	}
}
.agreeCheck {
	margin-top: 15px;
	text-align: right;
}


/* ================================== Enquiry media query ================================== */
@include respond-to('md') {
	.enquiryCont {
		.conBoxList {
			&.col3 {
				& > li {
					width: 100% * 1/2;
				}
			}
		}
	}
	.enquiryTime {
		.conBoxList {
			&.col2 {
				& > li {
					width: 100% * 1/2;
				}
			}
		}
	}
}
@include respond-to('sm') {
	.enquiryCont {
		.conBoxList {
			&.col3 {
				& > li {
					width: 100% * 1/2;
				}
			}
		}
		.conBox {
			padding: 0;
			&.enquiry1 {
				a {
					background-size: 200px * 0.6 auto;
				}
			}
			&.enquiry2 {
				a {
					background-size: 240px * 0.6 auto;
				}
			}
			&.enquiry3 {
				a {
					background-size: 200px * 0.6 auto;
				}
			}
			&.enquiry4 {
				a {
					background-size: 160px * 0.6 auto;
				}
			}
			&.enquiry5 {
				a {
					background-size: 160px * 0.6 auto;
				}
			}
			&.enquiry6 {
				a {
					background-size: 160px * 0.6 auto;
				}
			}
		}
		a {
			min-height: 168px;
			padding: 24px 26px;
			@include font-size(2.4);
			border: 2px solid #f7f7f7;
			&:before {
				content: '';
				@include posAbsoluteLB(26px, 24px, 28px, 14px);
				background-size: 28px auto
			}
			&.on {
				border: 2px solid #1f99df;
				&:before {
					background-position: 0 -21px;
				}
			}
		}
	}
	.enquiryTime {
		p {
			margin-left: 14px;
		}
		.conBoxList {
			&.col2 {
				& > li {
					float: none;
					width: 100%;
				}
			}
		}
		.conBox {
			padding: 21px;
		}
	}
}