@charset "utf-8";
/* ================================== FAQ ================================== */

#bo_cate {display: none;}
#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {margin-bottom:10px;padding-left:1px;zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {float:left;margin-bottom:-1px}
#bo_cate a {display:block;position:relative;margin-left:-1px;padding:6px 0 5px;width:90px;border:1px solid #ddd;background:#f7f7f7;color:#888;text-align:center;letter-spacing:-0.1em;line-height:1.2em;cursor:pointer}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none}
#bo_cate #bo_cate_on {z-index:2;border:1px solid #565e60;background:#fff;color:#565e60;font-weight:bold}

#faq_wrap {
	margin-bottom: 50px;
	border-top: 2px solid #46474c;
}
#faq_wrap h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.faq_admin {text-align:right;margin-bottom:10px;}
#faq_wrap ol {margin:0;padding:0;list-style:none}

#faq_con h3 {
	margin-bottom: 0;
	color: #333;
	@include NotoSansKR-Regular;
	@include font-size(1.6);
	line-height: 1.5;
}
#faq_con h3 a {position:relative;display:block;padding:22px 62px;color:#333;border-bottom:1px solid #d1d1d1;text-decoration:none}

#faq_con h3 a:before {
	content: 'Q.';
	@include posAbsoluteLT(26px, 20px, auto, auto);
	color: #0b86cd;
	@include NotoSansKR-Medium;
	@include font-size(1.8);
}
#faq_con h3 a:after {
	content: '';
	@include posAbsoluteRT(26px, 29px, 20px, 10px);
	background: url("../img/faq/icon_toggle_open.png") no-repeat 0 -20px;

}
#faq_con h3 a.isOpen:after {
	background-position: 0 0;
}
#faq_con .con_inner {display:none;position:relative;padding:22px 62px;border-bottom:1px solid #d1d1d1;background:#f6f6f6;
	@include NotoSansKR-Light;
	@include font-size(1.6);
	line-height: 1.8;
}
#faq_con .con_inner:before {
	content: 'A.';
	@include posAbsoluteLT(26px, 20px, auto, auto);
	color: #666;
	@include NotoSansKR-Medium;
	@include font-size(1.8);
}

#faq_con .con_closer {margin:10px 0 0;text-align:right}
#faq_con .closer_btn {margin:0;padding:0;border:0;background:transparent}
.faq_tolist {padding:0 10px;text-align:right}
.faq_img {text-align:center}
#faq_sch {text-align:center}


@include respond-to('sm') {
	#faq_con h3,
	#faq_con .con_inner {
		@include font-size(1.8);
	}
	#faq_con h3 a {
		padding:16px 44px;
	}
	#faq_con h3 a:before {
		@include posAbsoluteLT(18px, 14px, auto, auto);
		@include font-size(2.0);
	}
	#faq_con h3 a:after {
		@include posAbsoluteRT(18px, 21px, 14px, 7px);
		background-size: 14px auto;
		background-position: 0 -14px;
	}
	#faq_con .con_inner {
		padding:16px 44px;
	}
	#faq_con .con_inner:before {
		@include posAbsoluteLT(18px, 14px, auto, auto);
		@include font-size(2.0);
	}
}