@charset "utf-8";
/* ================================== Board ================================== */

.galleryList {
	overflow: hidden;
	margin-top: 40px;
	text-align: center;
	ul {
		margin: -40px 0 0 -40px;
		@include clearfix;
		li {
			width: 100% * 1/3;
			padding: 40px 0 0 40px;
			float: left;
			@include box-sizing(border-box);
			.unit {
				position: relative;
				width: 100%;
				height: 100%;
				text-align: center;
				border-bottom: 1px solid #ccc;
				@include box-sizing(border-box);
				input[type="checkbox"] {
					position: absolute;
					left: 5px;
					top: 5px;
					z-index: 4;
				}
			}
			.photo {
				img {
					max-width: 100%;
				}
			}
			.subject {
				margin: 15px 0 5px;
				min-height: 2.8em;
				color: #333;
				@include NotoSansKR-Regular;
				line-height: 1.4;
				@include multiline-ellipsis(2.8em, 2);
			}
			.date {
				margin-bottom: 15px;
				color: #666;
				@include NotoSansKR-Light;
			}
		}
	}
	& + .pagination {
		margin: 40px 0 50px;
	}
	.empty_list {
		width: 100%;
		text-align: center;
		padding: 80px 0 !important;
	}
}





/* ================================== Contents media query ================================== */
@include respond-to('md') {
	.galleryList {
		ul {
			li {
				width: 100% * 1/2;
			}
		}
	}
}
@include respond-to('sm') {
	.galleryList {
		margin-top: 28px;
		ul {
			margin: -28px 0 0 -28px;
			li {
				padding: 28px 0 0 28px;
				.subject {
					margin: 10px 0 3px;
					min-height: auto;
					@include font-size(1.8);
					@include multiline-ellipsis(2.8em, 1);
				}
				.date {
					margin-bottom: 7px;
				}
			}
		}
		& + .pagination {
			margin: 28px 0 35px;
		}
	}

}