@charset "utf-8";
/* ================================== Investor ================================== */

.stockInfo {
	.conBox {
		padding: 0;
		padding-right: 20px;
		& + .conBox {
			padding: 0;
			padding-left: 20px;
		}
	}
}
.stockNow {
	height: 100%;
	dt {
		padding: 10px;
		text-align: center;
		color: #fff;
		@include NotoSansKR-Medium;
		@include font-size(2.0);
		background: #0b86cd;
		@include box-sizing(border-box);
	}
	dd {
		position: relative;
		padding: 20px 50px;
		text-align: right;
		color: #333;
		@include NotoSansKR-Bold;
		@include font-size(4.8);
		border: 1px solid #cdcdcd;
		border-top: 0;
		@include box-sizing(border-box);
		span {
			@include posAbsoluteLT(20px, 50%, auto, auto);
			@include translate(0, -50%);
			padding: 2px 10px;
			color: #fff;
			@include NotoSansKR-Light;
			@include font-size(1.6);
			background: #4eb5e6;
		}
	}
}
.stockPrices {
	&.up{
		color:#ff4848;
	}
	&.down{
		color:#2478ff;
	}
}


/* ================================== Investor media query ================================== */
@include respond-to('md') {
	.stockInfo {
		.gridWrap {
			&.col2 {
				& > * {
					float: none;
					width: 100%;
				}
			}
		}
		.conBox {
			padding-right: 0;
			& + .conBox {
				margin-top: 30px;
				padding-left: 0;
			}
		}
	}
}
@include respond-to('sm') {
	.stockInfo {
		.conBox {
			& + .conBox {
				margin-top: 21px;
			}
		}
	}
}