@charset "utf-8";
/* ================================== Main ================================== */

// mainVisual
.mainVisual {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 1092px;
	.visualSlide {
		width: 100%;
		overflow: hidden;
		position: relative;
	}
	.txtBox {
		max-width: 1380px;
		padding-left: 90px;
		@include posAbsoluteLT(50%, 37.5%, 100%, auto);
		@include translate(-50%, -50%);
		@include box-sizing(border-box);
		z-index: 1;
		& > * {
			@include font-size(2.2);
			letter-spacing: -0.02em;
		}
		h3 {
			& > span {
				@include Roboto-Bold;
				@include font-size(7.2);
				letter-spacing: 0.08em;
				& > span {
					@include NotoSansKR-Medium;
					@include font-size(6.5);
					letter-spacing: 0;
				}
			}
		}
		p {
			span {
				@include Roboto-Bold;
				@include font-size(2.3);
			}
			&.slogan {
				@include NotoSansKR-Bold;
			}
		}
		h3,
		p {
			margin-left: 25%;
			opacity: 0;
		}
		&.fcWhite {
			color: #fff;
		}
		&.fcBlack {
			color: #333;
		}
	}
	img {
		position:relative;
		left: 50%;
		margin-left: -1000px;
	}
	.slideItem {
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 1092px;
		}
		&.visual1 {
			background: url("../img/main/w_visual_slide01.jpg") no-repeat center center;
		}
		&.visual2 {
			background: url("../img/main/w_visual_slide02.jpg") no-repeat center center;
		}
		&.visual3 {
			background: url("../img/main/w_visual_slide03.jpg") no-repeat center center;
		}
	}
	.slick-dots {
		margin-left: 725px;
		li {
			padding: 0 10px;
			button {
				width: 22px;
				height: 22px;
				padding: 5px;
				background: transparent;
				@include box-sizing(border-box);
				&:before {
					width: 13px;
					height: 2px;
					border: 1px solid #b5b5b5;
					@include border-radius(0);
					@include transition(all, .3s, ease);
					@include box-sizing(border-box);
				}
			}
			&.slick-active {
				button {
					&:before {
						height: 13px;
						border: 2px solid #019bdb;
					}
				}
			}
		}
	}
	.scrollGuide {
		@include posAbsoluteLB(50%, 68px, 38px, 74px);
		@include translate(-50%, 0);
		background: url("../img/main/scroll_bg.png") no-repeat center center;
		& > span {
			@include posAbsoluteLB(50%, 32px, 20px, 26px);
			@include translate(-50%, 0);
			background: url("../img/main/scroll_arrow.png") no-repeat center center;
		}
	}
}

// moreBtn
.moreBtn {
	a {
		overflow: hidden;
		position: relative;
		display: inline-block;
		min-width: 120px;
		@include lh(40px);
		text-align: center;
		@include Roboto-Medium;
		@include font-size(1.1);
		letter-spacing: 0.1em;
		@include transition(all, .3s, ease);
		span {
			@include posAbsoluteLT(50%, 50%, 100%, 100%);
			@include translate(-50%, -50%);
			z-index: 1;
		}
		&:before {
			content: '';
			@include posAbsoluteLT(-100%, 0, 100%, 100%);
			@include transition(all, .3s, ease);
			background: #019bdb;
		}
		&:hover {
			&:before {
				left: 0;
			}
		}
	}
}

// inner Content
.inrCont {
	@include clearfix;
	.txtBox,
	.imgBox {
		width: 50%;
	}
	.txtBox {
		.titWrap {
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 174px;
			.bracket {
				@include translate(0, -50%);
				background: #019bdb;
				@include transition(all, .4s, ease);
				z-index: 1;
				&:before {
					content: '';
					background: #019bdb;
				}
				&:after {
					content: '';
					background: #019bdb;
				}
			}
			h3 {
				@include translate(0, -50%);
				@include Roboto-Bold;
				@include font-size(7.2);
				letter-spacing: 0.08em;
				line-height: 1.2;
				color: #fff;
				@include transition(all, .6s, ease);
				& > span {
					@include NotoSansKR-Medium;
					@include font-size(6.5);
					letter-spacing: 0;
				}
				& > i {
					display: block;
					margin-top: -10px;
					font-style: normal;
					@include NotoSansKR-Light;
					@include font-size(4.0);
					letter-spacing: 0;
				}
			}
			.bracket,
			h3 {
				opacity: 0;
			}
			&.titTween {
				.bracket,
				h3 {
					opacity: 1;
				}
			}
		}
		.txtWrap {
			color: #e1e1e1;
			@include NotoSansKR-Light;
			@include font-size(1.8);
			line-height: 1.7;
			word-break: keep-all;
			dt {
				color: #fff;
				@include NotoSansKR-Bold;
				@include font-size(2.0);
			}
			dd {
				margin-top: 5px;
			}
		}
		&.white {
			.titWrap {
				h3 {
					color: #fff;
				}
			}
			.txtWrap {
				color: #e1e1e1;
				dt {
					color: #fff;
				}
			}
			.moreBtn {
				a {
					color: #fff;
					border: 1px solid #fff;
					&:hover {
						border: 0;
					}
				}
			}
		}
		&.black {
			.titWrap {
				h3 {
					color: #111;
				}
			}
			.txtWrap {
				color: #474747;
				dt {
					color: #474747;
				}
			}
			.moreBtn {
				a {
					color: #474747;
					border: 1px solid #474747;
					&:hover {
						color: #fff;
						border: 0;
					}
				}
			}
		}
	}
	.imgBox {
		position: relative;
		padding-top: 36px;
		.imgWrap {
			position: relative;
			overflow: hidden;
			width: 100%;
			z-index: 2;
			&:before {
				content: "";
				display: block;
			}
			img {
				@include posAbsoluteLT(0, 0, 100%, 100%);
			}
		}
		.pattern {
			background: url("../img/main/w_bg_cross.png") repeat 0 0;
			z-index: 1;
		}
	}
	&.alLeft {
		.txtBox {
			float: left;
			text-align: left;
			.titWrap {
				text-align: left;
				.bracket {
					@include posAbsoluteLT(0, 50%, 13px, 0);
					&:before {
						@include posAbsoluteLT(0, 0, 27px, 13px);
					}
					&:after {
						@include posAbsoluteLB(0, 0, 27px, 13px);
					}
				}
				h3 {
					@include posAbsoluteLT(-150px, 50%, auto, auto);
				}
				&.titTween {
					.bracket {
						height: 100%;
					}
					h3 {
						left: 50px;
					}
				}
			}
			.txtWrap {
				margin: 22px 0 0 56px;
			}
			.moreBtn {
				margin: 25px 0 0 56px;
			}
		}
		.imgBox {
			float: right;
			padding-right: 36px;
			text-align: right;
			.pattern {
				@include posAbsoluteRT(-4px, -4px, auto, auto);
			}
		}
	}
	&.alRight {
		.txtBox {
			float: right;
			text-align: right;
			.titWrap {
				text-align: right;
				.bracket {
					@include posAbsoluteRT(0, 50%, 13px, 0);
					&:before {
						@include posAbsoluteRT(0, 0, 27px, 13px);
					}
					&:after {
						@include posAbsoluteRB(0, 0, 27px, 13px);
					}
				}
				h3 {
					@include posAbsoluteRT(-150px, 50%, auto, auto);
				}
				&.titTween {
					.bracket {
						height: 100%;
					}
					h3 {
						right: 50px;
					}
				}
			}
			.txtWrap {
				margin: 22px 56px 0 0;
			}
			.moreBtn {
				margin: 25px 56px 0 0;
			}
		}
		.imgBox {
			float: left;
			padding-left: 36px;
			text-align: left;
			.pattern {
				@include posAbsoluteLT(-4px, -4px, auto, auto);
			}
		}
	}
}

// mainTechnology
.mainTechnology {
	min-height: 980px;
	.inrCont {
		position: relative;
		max-width: 1440px;
		margin: 0 auto;
		.txtBox {
			width: 38.84%;
		}
	}
	&.nkCell {
		background: url("../img/main/w_bg_nkcell.jpg") no-repeat center center;
		.inrCont {
			padding: 300px 30px 0;
			.txtBox {
				width: 640px;
			}
		}
	}
	&.superNk {
		background: url("../img/main/w_bg_supernk.jpg") no-repeat center center;
		.inrCont {
			padding: 250px 30px 0;
			.imgBox {
				padding: 0;
			}
		}
	}
	.slideWrap {
		width: 650px;
		height: 480px;
		margin-left: auto;
		box-shadow: 7px 0 23px rgba(#293642, 0.6);
		-moz-box-shadow: 7px 0 23px rgba(#293642, 0.6);
		-webkit-box-shadow: 7px 0 23px rgba(#293642, 0.6);
	}
	.photoSlide,
	.photoSlide img {
		width: 100%;
		height: 100%;
	}
	.slideItem {
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 480px;
		}
		&.photo1 {
			background: url("../img/main/w_supernk_slide01.jpg") no-repeat center center;
		}
		&.photo2 {
			background: url("../img/main/w_supernk_slide02.jpg") no-repeat center center;
		}
	}
	.slick-prev,
	.slick-next {
		top: auto;
		left: auto;
		@include translate(0, 0);
		bottom: 0;
		width: 130px;
		height: 100px;
		@include transition(all, .3s, ease);
		&:after {
			content: '';
			background: #222;
			@include transition(all, .3s, ease);
		}
		&:hover {
			&:after {
				width: 78px;
			}
		}
	}
	.slick-prev {
		right: 130px;
		background: #fff url("../img/main/w_supernk_prev.png") no-repeat right 34px;
		&:after {
			@include posAbsoluteRT(0, 66px, 0, 2px);
		}
	}
	.slick-next {
		right: 0;
		background: #fff url("../img/main/w_supernk_next.png") no-repeat left 34px;
		&:after {
			@include posAbsoluteLT(0, 66px, 0, 2px);
		}
	}
}

// mainProduct
.mainProduct {
	padding: 65px 0;
	.inrCont {
		max-width: 1260px;
		margin: 0 auto;
		padding: 35px 30px;
		.txtBox,
		.imgBox {
			width: 44.67%;
		}
		.imgBox {
			.imgWrap {
				&:before {
					height: 600px;
				}
			}
			.pattern {
				width: 88.75%;
				height: 520px;
			}
		}
		&.nkvuekit,
		&.nk365,
		&.reagent {
			.txtBox {
				margin-top: 80px;
			}
		}
		&.nkvuekit {
			.imgBox {
				.imgWrap {
					background: url("../img/main/w_product_nkvuekit.jpg") no-repeat center center;
				}
			}
		}
		&.nk365 {
			.txtBox {
				float: right;
			}
			.imgBox {
				float: left;
				padding-left: 36px;
				padding-right: 0;
				text-align: left;
				.imgWrap {
					background: url("../img/main/w_product_nk365.jpg") no-repeat center center;
				}
				.pattern {
					@include posAbsoluteLT(-4px, -4px, 88.75%, 520px);
				}
			}
		}
		&.reagent {
			.imgBox {
				.imgWrap {
					background: url("../img/main/w_product_reagent.jpg") no-repeat center center;
				}
			}
		}
	}
}

// mainNews
.mainNews {
	min-height: 650px;
	background: url("../img/main/w_bg_news.jpg") no-repeat center center;
	.inrCont {
		position: relative;
		max-width: 1260px;
		margin: 0 auto;
		padding: 96px 30px 0;
		text-align: center;
	}
	.tag {
		color: #019bdb;
		@include Roboto-Medium;
		@include font-size(2.0);
		letter-spacing: 0.2em;
		line-height: 1.1;
	}
	h3 {
		padding: 10px 0;
		color: #111;
		@include font-size(4.0);
		letter-spacing: -0.04em;
		line-height: 1.1;
		& > span {
			@include Roboto-Bold;
			@include font-size(4.4);
		}
	}
	.slideWrap {
		position: relative;
		width: 100%;
		margin-top: 46px;
		padding: 40px 14px;
		background: #fff;
		&:before {
			content: '';
			@include posAbsoluteLT(14px, 0, 1px, 100%);
			background: #fff;
			z-index: 1;
		}
		.contentSlide {
			.slideItem {
				position: relative;
				padding: 0 26px 0 27px;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 0, 1px, 100%);
					background: #f3f3f3;
				}
				.imgBox {
					position: relative;
					width: 100%;
					padding-top: (160/240) * 100%;
					margin-bottom: 25px;
					img {
						position: absolute;
						top: 0;
						width: 100%;
						height: 100%;
						max-width: 240px;
						max-height: 160px;
					}
				}
				dl {
					text-align: left;
					dt {
						margin-bottom: 10px;
						color: #474747;
						@include font-size(2.0);
						letter-spacing: -0.04em;
						line-height: 1.4;
						@include multiline-ellipsis(2.8em, 2);
						a {
							color: #474747;
						}
					}
					dd {
						color: #666;
						@include NotoSansKR-Light;
						@include font-size(1.6);
						letter-spacing: -0.04em;
						line-height: 1.5;
						a {
							color: #666;
						}
						p {
							@include multiline-ellipsis(4.5em, 3);
						}
						.date {
							position: relative;
							margin-top: 10px;
							padding-left: 20px;
							display: block;
							color: #999;
							&:before {
								content: '';
								@include posAbsoluteLT(0, 6px, 14px, 14px);
								background: url("../img/main/w_icon_time.png") no-repeat center center;
							}
						}
					}
				}
				.moreBtn {
					margin-top: 30px;
					a {
						color: #b6b6b6;
						border: 1px solid #dadada;
						&:before {
							display: none;
						}
						&:hover {
							color: #019bdb;
							border: 1px solid #019bdb;
						}
					}
				}
				&:hover {
					dl {
						dt,
						dd {
							a {
								text-decoration: underline;
							}
						}
					}
				}
				&.justText {
					dl {
						dt {
							margin-bottom: 14px;
							@include multiline-ellipsis(4.2em, 3);
						}
						dd {
							line-height: 1.6;
							p {
								@include multiline-ellipsis(14.4em, 9);
							}
						}
					}
				}
			}
		}
	}
	.slick-prev,
	.slick-next {
		top: -100px;
		left: auto;
		@include translate(0, 0);
		width: 40px;
		height: 40px;
		border: 2px solid #e6e6e6;
		background: #fff;
		@include border-radius(50%);
		@include box-sizing(border-box);
	}
	.slick-prev {
		left: -14px;
		background: #fff url("../img/main/w_news_prev.png") no-repeat center center;
	}
	.slick-next {
		left: 32px;
		background: #fff url("../img/main/w_news_next.png") no-repeat center center;
	}
	.moveBtn {
		@include posAbsoluteRT(0, -60px, auto, auto);
		a {
			position: relative;
			display: block;
			width: 40px;
			height: 40px;
			border: 1px solid #e6e6e6;
			background: #fff;
			@include border-radius(50%);
			@include box-sizing(border-box);
			&:before,
			&:after {
				content: '';
				background: #222;
			}
			&:before {
				@include posAbsoluteLT(19px, 11px, 1px, 17px);
			}
			&:after {
				@include posAbsoluteLT(11px, 19px, 17px, 1px);
			}
			&:hover {
				&:before,
				&:after {
					background: #019bdb;
				}
			}
		}
	}
}

/* ================================== Main media query ================================== */
@include respond-to('xlgOver') {
	.mainVisual {
		.slideItem {
			&.visual1 {
				background-size: 100% 1092px;
			}
			&.visual2 {
				background-size: 100% 1092px;
			}
			&.visual3 {
				background-size: 100% 1092px;
			}
		}
	}
	.mainTechnology {
		&.nkCell {
			background-size: 100% 980px;
		}
		&.superNk {
			background-size: 100% 980px;
		}
	}
	.mainNews {
		background-size: 100% 842px;
	}
}
@include respond-to('xlgUnder') {
	.mainVisual {
		.slick-dots {
			left: auto;
			right: 15px;
			margin-left: 0;
			@include translate(0, -50%);
		}
	}
}
@include respond-to('lg') {
	.mainTechnology {
		.inrCont {
			.txtBox {
				width: 46%;
			}
		}
		.slideWrap {
			width: 100%;
		}
	}
	.mainProduct {
		.inrCont {
			.txtBox {
				width: 46%;
			}
			.imgBox {
				width: 50%;
			}
		}
	}
}
@include respond-to('xmd') {
	.mainProduct {
		.inrCont {
			&.nkvuekit,
			&.nk365,
			&.reagent {
				.txtBox {
					margin-top: 6%;
				}
			}
			&.nk365 {
				.txtBox {
					float: right;
				}
				.imgBox {
					.pattern {
						height: 82%;
					}
				}
			}
			.imgBox {
				.imgWrap {
					&:before {
						height: auto;
						padding-bottom: 135%;
					}
				}
				.pattern {
					width: 88.75%;
					height: 82%;
				}
			}
		}
	}
}
@include respond-to('md') {
	.mainVisual {
		.txtBox {
			padding-left: 30px;
		}
	}
	.mainTechnology {
		.inrCont {
			.txtBox {
				float: none;
				width: 100%;
			}
			.imgBox {
				float: none;
				width: 580px;
				margin: m-get-half(50px) auto 0;
			}
		}
		&.nkCell {
			.inrCont {
				.txtBox {
					float: none;
					width: 100%;
				}
			}
		}
		&.superNk {
			.inrCont {
				padding: m-get-half(250px) 30px 0;
			}
		}
		.slideWrap {
			height: auto;
		}
		.slideItem {
			&:before {
				height: auto;
				padding-bottom: 63%;
			}
		}
	}
	.mainProduct {
		.inrCont {
			&.nkvuekit,
			&.nk365,
			&.reagent {
				.txtBox {
					float: none;
					width: 100%;
					margin-top: 0;
				}
			}
			.imgBox {
				float: none !important;
				width: 540px;
				margin: 35px auto 0;
				.imgWrap {
					&:before {
						padding-bottom: 119%;
					}
				}
			}
		}
	}
	.mainNews {
		.slideWrap {
			margin-top: 60px;
		}
	}
}
@include respond-to('sm') {
	.mainVisual {
		height: auto;
		.txtBox {
			top: m-get-per(240px);
			& > * {
				@include font-size(1.8);
			}
			h3 {
				& > span {
					@include font-size(5.0);
					& > span {
						@include font-size(4.5);
					}
				}
			}
			p {
				span {
					@include font-size(1.7);
				}
			}
		}
		.slideItem {
			&:before {
				height: auto;
				padding-bottom: m-get-per(980px);
			}
			&.visual1 {
				background: url("../img/main/m_visual_slide01.jpg") no-repeat center center;
				background-size: cover;
			}
			&.visual2 {
				background: url("../img/main/m_visual_slide02.jpg") no-repeat center center;
				background-size: cover;
			}
			&.visual3 {
				background: url("../img/main/m_visual_slide03.jpg") no-repeat center center;
				background-size: cover;
			}
		}
	}
	.inrCont {
		.txtBox {
			.titWrap {
				height: m-get-half(174px);
				h3 {
					@include font-size(5.4);
					& > span {
						@include font-size(4.8);
					}
					& > i {
						margin-top: 0;
						@include font-size(3.0);
					}
				}
			}
		}
		.imgBox {
			padding-top: m-get-half(36px);
			.pattern {
				background-size: m-get-half(13px) m-get-half(13px);
			}
		}
		&.alLeft {
			.txtBox {
				.titWrap {
					.bracket {
						width: m-get-half(14px);
						&:before {
							width: m-get-half(28px);
							height: m-get-half(14px);
						}
						&:after {
							width: m-get-half(28px);
							height: m-get-half(14px);
						}
					}
					h3 {
						left: m-get-half(-50px);
					}
					&.titTween {
						h3 {
							left: m-get-half(50px);
						}
					}
				}
				.txtWrap {
					margin: m-get-half(22px) 0 0 m-get-half(56px);
				}
				.moreBtn {
					margin: m-get-half(26px) 0 0 m-get-half(56px);
				}
			}
			.imgBox {
				padding-right: m-get-half(36px);
				.pattern {
					right: m-get-half(-4px);
					top: m-get-half(-4px);
				}
			}
		}
		&.alRight {
			.txtBox {
				.titWrap {
					.bracket {
						width: m-get-half(14px);
						&:before {
							width: m-get-half(28px);
							height: m-get-half(14px);
						}
						&:after {
							width: m-get-half(28px);
							height: m-get-half(14px);
						}
					}
					h3 {
						right: m-get-half(50px);
					}
					&.titTween {
						h3 {
							right: m-get-half(50px);
						}
					}
				}
				.txtWrap {
					margin: m-get-half(22px) m-get-half(56px) 0 0;
				}
				.moreBtn {
					margin: m-get-half(26px) m-get-half(56px) 0 0;
				}
			}
			.imgBox {
				padding-left: m-get-half(36px);
				.pattern {
					left: m-get-half(-4px);
					top: m-get-half(-4px);
				}
			}
		}
	}
	.mainTechnology {
		min-height: m-get-half(980px);
		.inrCont {
			.imgBox {
				width: 100%;
			}
		}
		&.nkCell {
			background-size: cover;
			.inrCont {
				padding: m-get-half(300px) m-get-per(30px) m-get-half(200px);
			}
		}
		&.superNk {
			background-size: cover;
			.inrCont {
				padding: m-get-half(100px) m-get-per(30px) m-get-half(100px);
			}
		}
		.slideItem {
			&.photo1 {
				background-size: cover;
			}
		}
		.slick-prev,
		.slick-next {
			width: m-get-half(130px);
			height: m-get-half(100px);
			&:hover {
				&:after {
					width: m-get-half(78px);
				}
			}
		}
		.slick-prev {
			right: m-get-half(130px);
			background-size: m-get-half(78px) auto;
			background-position: right m-get-half(34px);
			&:after {
				top: m-get-half(66px);
				height: m-get-half(2px);
			}
		}
		.slick-next {
			background-size: m-get-half(78px) auto;
			background-position: left m-get-half(34px);
			&:after {
				top: m-get-half(66px);
				height: m-get-half(2px);
			}
		}
	}
	.mainProduct {
		padding: m-get-half(50px) 0;
		.inrCont {
			padding: m-get-half(50px) m-get-per(30px);
			.imgBox {
				width: 100%;
				margin-top: m-get-half(36px);
				.imgWrap {
					&:before {
						padding-bottom: 96%;
					}
				}
			}
			&.nkvuekit {
				.imgBox {
					.imgWrap {
						background: url("../img/main/m_product_nkvuekit.jpg") no-repeat center center;
						background-size: cover;
					}
				}
			}
			&.nk365 {
				.imgBox {
					padding-left: m-get-half(36px);
					.imgWrap {
						background: url("../img/main/m_product_nk365.jpg") no-repeat center center;
						background-size: cover;
					}
				}
			}
			&.reagent {
				.imgBox {
					.imgWrap {
						background: url("../img/main/m_product_reagent.jpg") no-repeat center center;
						background-size: cover;
					}
				}
			}
		}
	}
	.mainNews {
		min-height: auto;
		.inrCont {
			padding: m-get-half(100px) m-get-per(30px);
		}
		h3 {
			padding: m-get-half(10px) 0;
		}
		.slideWrap {
			width: 100%;
			margin-top: 40px;
			padding: m-get-half(40px) m-get-half(20px);
			&:before {
				display: none;
			}
			.contentSlide {
				.slideItem {
					padding: 0 m-get-half(20px);
					&:before {
						display: none;
					}
					.imgBox {
						margin-bottom: m-get-half(26px);
					}
					dl {
						dt {
							margin-bottom: m-get-half(10px);
						}
						dd {
							@include font-size(1.8);
							.date {
								margin-top: m-get-half(10px);
								padding-left: m-get-half(20px);
								&:before {
									@include posAbsoluteLT(0, 6px, m-get-half(14px), m-get-half(14px));
									background-size: m-get-half(14px) auto;
								}
							}
						}
					}
					.moreBtn {
						margin-top: m-get-half(30px);
					}
					&.justText {
						dl {
							dt {
								margin-bottom: m-get-half(14px);
							}
						}
					}
				}
			}
		}
		.slick-prev,
		.slick-next {
			top: -60px;
			width: 29px;
			height: 29px;
			border: 1px solid #e6e6e6;
		}
		.slick-prev {
			left: -14px;
			background: #fff url("../img/main/w_news_prev.png") no-repeat center center;
		}
		.slick-next {
			left: 25px;
			background: #fff url("../img/main/w_news_next.png") no-repeat center center;
		}
		.moveBtn {
			top: -40px;
			a {
				width: 29px;
				height: 29px;
				&:before {
					@include posAbsoluteLT(13px, 7px, 1px, 13px);
				}
				&:after {
					@include posAbsoluteLT(7px, 13px, 13px, 1px);
				}
			}
		}
	}
}