@charset "utf-8";
/* ================================== Technology ================================== */
.nkcellCont1 {
	ul {
		display: table;
	}
	li {
		display: table-cell;
		width: 100% *1/3;
		padding: 0 20px;
		border-left: 1px solid #ccc;
		text-align: center;
		&:first-child {
			border-left: 0;
		}
		&:before {
			content: '';
			display: block;
			width: 80px;
			height: 60px;
			margin: 0 auto 20px;
			background: url("../img/technology/icon_nkcell_cont1.png") no-repeat 0 0;
		}
		&.con1 {
			&:before {
				background-position: 0 0;
			}
		}
		&.con2 {
			&:before {
				background-position: 0 -60px;
			}
		}
		&.con3 {
			&:before {
				background-position: 0 -120px;
			}
		}
		dt {
			min-height: 46px;
			color: #333;
			@include NotoSansKR-Medium;
			@include font-size(1.8);
			line-height: 1.3;
		}
		dd {
			margin-top: 10px;
		}
	}
}
.supernkCont21 {
	&.col2 {
		.imgBox {
			width: 48.72%;
			& + .imgBox {
				float: right;
			}
			img {
				margin-top: 30px;
			}
		}
	}
}
.supernkCont22 {
	.col2 {
		span {
			text-align: right;
			& + span {
				text-align: left;
			}
		}
	}
}
.nkvuekitCont4 {
	.conBox {
		padding-left: 193px;
		p {
			@include posAbsoluteLT(50px, 48px, 100px, auto);
			text-align: center;
			color: #0b86cd;
			@include NotoSansKR-Medium;
			&:before {
				content: '';
				display: block;
				width: 70px;
				height: 70px;
				margin: 0 auto 7px;
				background: url("../img/technology/icon_nkvuekit_cont4.png") no-repeat 0 0;
			}
			&.contit1 {
				&:before {
					background-position: 0 0;
				}
			}
			&.contit2 {
				&:before {
					background-position: 0 -100px;
				}
			}
			&.contit3 {
				&:before {
					background-position: 0 -200px;
				}
			}
			&.contit4 {
				&:before {
					background-position: 0 -300px;
				}
			}
		}
	}
}
.rndCont2 {
	.conBox {
		padding: 0;
		padding-right: 20px;
	}
	.imgBox {
		padding-left: 20px;
	}
	.tblNote {
		padding-left: 104px;
	}
}


/* ================================== Technology media query ================================== */
@include respond-to('md') {
	.supernkCont21 {
		&.col2 {
			.imgBox {
				float: none;
				width: 100%;
				& + .imgBox {
					margin-top: 30px;
				}
			}
		}
	}
	.supernkCont22 {
		.col2 {
			span {
				float: none;
				width: 100%;
				text-align: center;
			}
		}
	}
	.nkvuekitCont4 {
		.conBox {
			p {
				top: 30px;
				&:before {
					margin-bottom: 2px;
				}
			}
		}
	}
	.rndCont2 {
		.gridWrap {
			&.col2 {
				& > * {
					float: none;
					width: 100%;
				}
			}
		}
		.conBox {
			padding-right: 0;
		}
		.imgBox {
			margin-top: 30px;
			padding-left: 0;
		}
	}
}
@include respond-to('sm') {
	.nkcellCont1 {
		li {
			display: block;
			width: 100%;
			padding: 21px m-get-per(30px);
			border-left: 0;
			border-bottom: 1px solid #ccc;
			&:first-child {
				padding-top: 0;
			}
			&:before {
				width: 80px;
				height: 60px;
				margin-bottom: 14px;
			}
			&.con1 {
				&:before {
					background-position: 0 0;
				}
			}
			&.con2 {
				&:before {
					background-position: 0 -60px;
				}
			}
			&.con3 {
				&:before {
					background-position: 0 -120px;
				}
			}
			dt {
				min-height: auto;
			}
			dd {
				margin-top: 7px;
			}
		}
	}
	.supernkCont21 {
		&.col2 {
			.imgBox {
				& + .imgBox {
					margin-top: 21px;
				}
				img {
					margin-top: 21px;
				}
			}
		}
	}
	.nkvuekitCont2 {
		.imgBox {
			&.gray {
				padding: 0;
			}
		}
	}
	.nkvuekitCont4 {
		.conBox {
			padding-left: 130px;
			p {
				left: 15px;
				top: 20px;
				@include font-size(1.8);
				&:before {
					width: 49px;
					height: 49px;
					background-size: 49px auto;
				}
				&.contit1 {
					&:before {
						background-position: 0 0;
					}
				}
				&.contit2 {
					&:before {
						background-position: 0 -70px;
					}
				}
				&.contit3 {
					&:before {
						background-position: 0 -140px;
					}
				}
				&.contit4 {
					&:before {
						background-position: 0 -210px;
					}
				}
			}
		}
	}
	.rndCont2 {
		.imgBox {
			margin-top: 21px;
		}
		.tblNote {
			padding-left: 82px;
		}
	}
}