@charset "utf-8";
/*반응형 추가*/
i{font-style:normal}

.break{display:block;} /*  데스크탑 : block -> 모바일화면 : inline*/
.plump{}	/*  데스크탑 : 속성없음 -> 모바일화면 : block */
.block{display:block}	/*  데스크탑 : block -> 모바일화면 : block */
	@media all and (max-width:480px) {
		.break{display:inline}
		.plump{display:block}
		.block{display:block}
	}
	@media all and (max-width:1024px) {
		.m-none{display:none}
	}

/* 스킵네비게이션 */
#skipNavi {height:0;}
#skipNavi .skipLink {position:absolute;top:-1000px;left:-1000px;overflow:hidden;z-index:5000;}
#skipNavi .skipLink:focus, #skipNavi .skipLink:active {top:0;left:0;padding:10px 20px;background:#1e64ba;color:#fff;}

/* 컨텐츠 타이틀*/
.u-tit01 {font-size:22px;font-weight:700;color:#191931;padding-left:0px;padding-top:0px;padding-left:26px;background:url(../img/content/u-tit01.jpg) no-repeat 0 4px;line-height:120%;margin-bottom:15px;letter-spacing:-0.03em;} 
.u-tit02 {font-size:18px; font-weight:500; color:#333; padding-left:23px; background:url(../img/content/u-tit05.jpg) no-repeat 4px; /line-height:130%; margin-bottom:12px; letter-spacing:-0.03em;} 
.u-tit03 {font-size:15px;font-weight:500;color:#444;padding-left:12px;background:url(../img/content/u-tit03.jpg) no-repeat 0 0.38em;line-height:130%;margin-bottom:5px;} 
.u-tit04 {font-size:1em;font-weight:400;color:#546274;padding-left:12px;background:url(../img/content/u-tit04.jpg) no-repeat 3px 0.6em;line-height:130%;margin-bottom:5px;} 
.siteCode-name{ font-weight:500; font-size:19px; color:#333;letter-spacing:-0.04em;}

.c-in1 {padding-left:17px;}
.c-in2 {padding-left:34px;}
.c-in3 {padding-left:51px;}


/* ie9 업그레이드 안내 */
.lowIE-update {position:fixed;top:0;left:0;z-index:7000;width:100%;height:100%;}
.lowIE-update .update-cont {position:relative;margin:10% auto 0;width:418px;height:148px;border:1px solid #000;background:#ff890b;color:#000;padding:50px 50px 20px 20px;text-align:center;z-index:7100}
.lowIE-update .update-cont p {padding-left:50px;line-height:1.2;text-align:left;}
.lowIE-update .update-cont .tit {padding-bottom:5px;background:url(../img/content/ico-upnotice.png) no-repeat 0 0;}
.lowIE-update .update-cont .txt {margin-bottom:35px;}
.lowIE-update .update-cont .btn-upgrade {color:#000;display:block;}
.lowIE-update .update-cont .btn-upgrade .atxt {border-bottom:1px solid #333; padding-bottom:5px; font-weight:500}
.lowIE-update .update-cont .btn-upgrade span.ico {display:inline-block;*display:inline;*zoom:1;width:15px;height:12px;vertical-align:middle;background:url(../img/content/ico-uparr.gif) no-repeat 0 0;padding-left:9px;}
.lowIE-update .update-cont .chk-uclose {display:block;text-align:right;margin-top:15px;}
.lowIE-update button {position:absolute;bottom:0;right:0;width:40px;height:40px;background:#000 url(../img/content/btn-upclose.gif) no-repeat 50% 50%;border:0;}

/*탭메뉴 */
.u-tab01 {position:relative;overflow:hidden;margin-bottom:30px;font-size:14px; border-left:1px solid #dadada;}
.u-tab01 .this-wrap {}
.u-tab01 ul{letter-spacing:-1px; font-size:0;text-align:center}
.u-tab01 li { float:left;letter-spacing:-0.03em; font-size:14px;}
.u-tab01 li a {display:block;text-align:center;line-height:48px;transform:all .5s ease;transition:background .3s, border-color .3s;border-top:1px solid #dadada;border-right:1px solid #dadada;background:#fff;border-bottom:1px solid #dadada}
.u-tab01 li.first-row a {border-top:1px solid #cfd7d7;}
.u-tab01 li.first-row.over a, .u-tab01 li.over a, .u-tab01 li.over:hover a{margin-top:0;background:#us-point2;border-color:#f65b3f}
.u-tab01 li:hover a {background:#eee;}
.u-tab01 li a span {display:block;color:#333; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; padding:0 16px;text-align:center;}
.u-tab01 li.over a span {color:#us-spoint1;font-weight:500;text-decoration:none;}
.u-tab01 li.over.first-row:last-child a {border-right:1px solid #028f95;}

@media only screen and  (max-width:1024px) {
.u-tab01 li a{line-height:48px;border-top:0}
}

.u-tab02 {border-bottom:1px solid #ddd;background:#fff;padding:0 0;height:40px;margin-bottom:25px;}
.u-tab02:after {clear:both;content:"";display:block;}
.u-tab02 li {float:left;display:inline-block;vertical-align:top;*display:inline;*zoom:1;}
.u-tab02 li a {display:block;background:url(../img/content/ctab02-vbar.gif) no-repeat 0 15px;padding:0px 0px 5px 0px;color:#353e49;}
.u-tab02 li a span {display:block;padding:10px 20px 23px 20px;height:15px;}
.u-tab02 li:first-child a {background:none;}
.u-tab02 li.over a span {color:#26466f;font-weight:600;background:url(../img/content/ctab02-bar.png) no-repeat center 40px}
.u-tab02 li a:hover span {color:#26466f;text-decoration:underline;}

.u-tab03 {position:relative;margin-bottom:30px;border:1px solid #ddd;}
.u-tab03 ul {overflow:hidden;background:#f9f9f9;padding:10px 15px 10px 15px;margin-top:1px}
.u-tab03 li {float:left;}
.u-tab03 li a {display:block;text-align:center;padding:5px 15px 4px;background:url(../img/content/ctab03-vbar.gif) no-repeat right 7px;}
.u-tab03 li a span {background:url(../img/content/blt-ctab03.gif) no-repeat right 9px;padding-right:18px;transform:all .5s ease;transition:background .3s;font-weight:500;}
.u-tab03 li.over a span, .u-tab03 li:hover a span, .u-tab03 li:focus a span, .u-tab03 li:active a span {background:url(../img/content/blt-ctab03-o.gif) no-repeat right 7px;transition:background .3s;transform:all .3s ease;text-decoration:underline;color:#us-dpoint2;} 

.u-tab04 {position:relative;overflow:hidden;margin-bottom:25px;font-size:14px;}
.u-tab04 ul{letter-spacing:-1px; font-size:0;text-align:left;overflow:hidden}
.u-tab04 li {float:left;letter-spacing:-0.03em; font-size:14px;}
.u-tab04 li a {display:block;text-align:center;padding:7px 0 7px 0;height:20px;transform:all .5s ease;transition:background .3s, border-color .3s;border-top:1px solid #dadada;border-right:1px solid #dadada;background:#fff;border-bottom:1px solid #dadada}
.u-tab04 li.first-row a {border-top:1px solid #cfd7d7;padding-top:13px;}
.u-tab04 li.first-row.over a, .u-tab04 li.over a, .u-tab04 li.over:hover a{margin-top:0;background:#191931;border-color:#191931;color:#fff}
.u-tab04 li:hover a {background:#eee;}
.u-tab04 li a span {display:block;color:#191931;padding:0 36px;}
.u-tab04 li.over a span {color:#fff;font-weight:500;text-decoration:none;}
.u-tab04 li.over.first-row:last-child a {border-right:1px solid #191931;}
.u-tab04 li:first-child a {
	border-left:1px solid #dadada;
}
.u-tab04 li:first-child.over a {
	border-left:1px solid #191931;
}



@media only screen and  (max-width:1024px) {
	.u-tab04 li{ float:left; width:50%;}
	.u-tab04 ul{border-top:1px solid #dadada;}
	.u-tab04 li a{border-top:0; border-bottom:1px solid #dadada;border-right:1px solid #dadada;}
	.u-tab04 li:nth-child(odd) a{border-left:1px solid #dadada}
	.u-tab04 li.over:nth-child(odd) a{border-left:1px solid #f65b3f }
}

/* 카테고리 탭스타일 */
.b-tab01 {position:relative;overflow:hidden;border:1px solid #ddd;background:#f7f7f7;margin-bottom:20px;} 
.b-tab01 li {float:left;width:20%;font-size:13px;text-align:center;}
.b-tab01 li a {padding:7px 0 6px;display:block;line-height:38px;background:url(../img/content/btab01_vbar.gif) no-repeat 0 18px;}
.b-tab01 li.over a, .b-tab01 li:hover a, .b-tab01 li:focus a, .b-tab01 li:active a {padding:6px 0;background:none;font-weight:700;text-decoration:none;color:#495d68;line-height:39px;}
.b-tab01 li.first a {background:none;}
.b-tab01 li a:hover, .b-tab01 li a:focus, .b-tab01 li a:active {color:#d22100;text-decoration:none;font-weight:700;}
.b-tab01 li.over a {color:#fff;background-color:#d22100}
.b-tab01 li.over a span {color:#fff;}
.b-tab01 button {border:0;position:absolute;width:51px;height:50px;text-indent:-9999px;cursor:pointer;background:#f8f8f8 url(../img/content/btab01_btn.png) no-repeat;}
.b-tab01 button.btn-prev {left:0;top:0;border-right:1px solid #ddd;}
.b-tab01 button.btn-prev:hover, .b-tab01 button.btn-prev:focus, .b-tab01 button.btn-prev:active {background-position:-102px 0;}
.b-tab01 button.btn-next {right:0;top:0;background-position:-51px 0;border-left:1px solid #ddd;}
.b-tab01 button.btn-next:hover, .b-tab01 button.btn-next:focus, .b-tab01 button.btn-next:active {background-position:-153px 0;}




/*라인, 추가는 전체 공용으로*/
.u-line {border-width:0px 0px 0px 0px;display:block;height:2px;overflow:hidden;background:#444;}
.u-line-point1 {border-width:0px 0px 0px 0px;display:block;height:2px;overflow:hidden;background:#us-point1;}
.u-line-point2 {border-width:0px 0px 0px 0px;display:block;height:2px;overflow:hidden;background:#us-point2;}
.u-line-point3 {border-width:0px 0px 0px 0px;display:block;height:2px;overflow:hidden;background:#us-point3;}
.u-line-dpoint1 {border-width:0px 0px 0px 0px;display:block;height:2px;overflow:hidden;background:#us-dpoint1;}
.u-line-dpoint2 {border-width:0px 0px 0px 0px;display:block;height:2px;overflow:hidden;background:#us-dpoint2;}
.u-line-dpoint3 {border-width:0px 0px 0px 0px;display:block;height:2px;overflow:hidden;background:#us-dpoint3;}

.line-dia {width:100%;background:url(../img/content/conven-vline.gif) repeat 0 0;height:5px;margin:1em 0}
.line-ver {width:100%;background:url(../img/content/conven-verline.gif) repeat 0 0;height:5px;margin:1em 0}
.line-dt{width:100%;background:url(../img/content/conven-dtline.gif) repeat 0 0;height:1px;margin:1em 0}



/* 박스 스타일 */ 
.w-box {background:#fff;border:1px solid #ddd;overflow:hidden;position:relative;}
.g-box {background:#f8f8f8;border:1px solid #ddd;overflow:hidden;position:relative;}
.r-box {background:#fbf0e6;border:1px dashed #d1001d;overflow:hidden;position:relative;}



/* 안내문 */
.info-box {position:relative;border:1px solid #ddd;background:#fafafa;padding:20px 20px 20px 145px;}
.info-box02 {background:url(../img/content/ico_ex05.png) no-repeat 0 10px;padding:7px 20px 7px 48px;}
.info-box03 {border:1px solid #ddd;background:#fafafa url(../img/content/ico_ex05.png) no-repeat 30px 29px;padding:30px 50px 30px 78px;color:#555;}
.info-box03 .info-txt {font-weight:bold;padding:5px 0 10px;}
.info-box03 .info-stit {padding:5px 0;}
.info-box:after, .isIE7 .info-box .ico {display:block;content:"";position:absolute;width:80px;height:80px;overflow:hidden;background:url(../img/content/ico_sprite.png) no-repeat -4px 0;top:20px;left:30px;}
.info-box .info-tit {font-size:16px;color:#444;font-weight:bold;padding:0 0 8px 5px}
.info-box ul li {background:url(../img/content/blt07.gif) no-repeat 0 0.8em;padding-left:10px;font-size:1em;color:#666;}
@media all and (max-width:600px){
	.info-box {padding:10px}
	.info-box:after {display:none;}
}

.info-ex {background:url(../img/content/ico_ex02.png) no-repeat 0 1px;padding:0 0 10px 22px;font-size:13px;margin-top:7px;}
.info-ex02 {background:url(../img/content/ico_ex03.png) no-repeat 0 1px;padding:0 0 10px 22px;font-size:13px;margin-top:7px;color:#3e75be}
.info-ex03 {background:url(../img/content/ico_ex04.png) no-repeat 0 1px;padding:0 0 10px 22px;font-size:13px;margin-top:7px;color:#f33d19}
.info-ex03 .sec {display:block;color:#777}
span.info-ex {display:inline-block;vertical-align:top;padding:0 0 5px 25px;margin-top:2px;min-height:16px;}

.info-ex03.no, .info-ex02.no, .info-ex.no{background:none; padding-left:0}

.winfo-box {border:1px solid #ddd;padding:3px 15px 10px;background:#fff;}
.winfo-box02 {border:1px solid #ddd;padding:10px 15px;background:#fff;overflow:hidden;margin-top:20px;}
.winfo-box02 .info-ex {margin-top:5px;}

/* 라인박스 + 아이콘 */
.line-box {position:relative;background:url(../img/content/line_box_bg.gif) repeat 0 0;padding:3px}
.line-box .inner {font-size:14px;color:#333;line-height:1.6;padding:45px 45px 45px 145px;background:#fff;}


/* 아이콘 */
.line-box .inner:before {content:'';display:block;position:absolute;top:50%;left:30px;margin-top:-43px;width:86px;height:86px;background-image:url(../img/content/ico_sprite.png);
background-repeat:no-repeat;background-position:0 -81px;border:1px solid #ddd;border-radius:50%;} 

/* 기본 */
.line-box .inner.ico01:before {background-position:0 -81px;}
.line-box .inner.ico02:before {background-position:0 -170px;}
.line-box .inner.ico03:before {background-position:0 -259px;}
.line-box .inner.ico04:before {background-position:0 -348px;}
.line-box .inner.ico05:before {background-position:0 -437px;}

@media all and (max-width:600px){
	.line-box .inner {padding:15px 15px 15px 85px;font-size:13px;}
	.line-box .inner:before {width:57px;height:57px;;left:15px;background-size:195px auto;top:20px;margin-top:0;background-position:0 -53px;}
	.line-box .inner.ico01:before {background-position:0 -53px;}
	.line-box .inner.ico02:before {background-position:0 -113px;}
	.line-box .inner.ico03:before {background-position:0 -170px;}
	.line-box .inner.ico04:before {background-position:0 -225px;}
	.line-box .inner.ico05:before {background-position:0 -285px;}
}



/* 링크스타일 */
.sico-nwin {color:#us-dpoint1;background:url(../img/content/ico_nw.png) no-repeat right 4px;padding-right:17px;letter-spacing:-0.05em;margin-right:3px;}


.u-list01, .u-list02, .u-list03 {padding:3px 0;}
.u-list01 li, .u-list01-li {background:url(../img/content/blt04.png) no-repeat 1px 8px;padding-left:12px;line-height:150%;margin-top:3px;margin-bottom:3px;color:#444;}
.u-list02 li, .u-list02-li {background:url(../img/content/blt05.gif) no-repeat 1px 10px;padding-left:12px;line-height:150%;margin-top:3px;margin-bottom:3px;color:#444;}
.u-list03 li, .u-list03-li {background:url(../img/content/blt06.gif) no-repeat 1px 10px;padding-left:12px;line-height:150%;margin-top:3px;margin-bottom:3px;color:#555;}
.u-list01-li.indent, .u-list02-li.indent {margin-left:13px;}

.u-list01.no-bg li{background:none;}
.u-list01.no-bg li ul{padding-left:15px}
.u-list01.no-bg li{display:block;}

.u-dllist01 {margin-bottom:20px;}
.u-dllist01 dt {background:url(../img/content/blt03.png) no-repeat 1px 0.4em;padding-left:15px;line-height:130%;margin-bottom:0px;font-weight:bold;color:#333;font-size:1.077em}
.u-dllist01 dd {padding-left:15px;margin-top:5px;margin-bottom:5px;}

.u-dllist02 {border-bottom:1px dotted #DDD;padding-bottom:20px;margin-bottom:20px;position:relative;}
.u-dllist02 dt {background:url(../img/content/blt05.gif) no-repeat 1px 0.5em;font-weight:bold;color:#us-dpoint1;padding-left:12px;line-height:130%;margin-bottom:0px;}
.u-dllist02 dd {padding-left:12px;margin-top:5px;margin-bottom:5px;}


/* 컨텐츠버튼 */
/* btn common */
.kca-btn {display:inline-block; text-align:center; vertical-align:middle; font-weight:normal; border:1px solid; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.kca-btn span {display:block; text-align:center; line-height:1em;}
.kca-btn.disabled {opacity:.5;}
/* btn size */
.sw-btn, .sdw-btn, .sp-btn, .sdp-btn, .sg-btn, .sdg-btn {height:30px; font-size:12px; font-weight:300;}
.sw-btn, .sdw-btn {font-weight:400;}
.sw-btn span, .sdw-btn span, .sp-btn span, .sdp-btn span, .sg-btn span, .sdg-btn span {padding:8px 8px;}
a.sw-btn span, a.sdw-btn span, a.sp-btn span, a.sdp-btn span, a.sg-btn span, a.sdg-btn span {padding:8px 9px;}

.cw-btn, .cdw-btn, .cp-btn, .cdp-btn, .cg-btn, .cdg-btn {height:35px; font-size:13px; font-weight:300;}
.cw-btn, .cdw-btn {font-weight:400;}
.cw-btn span, .cdw-btn span, .cp-btn span, .cdp-btn span, .cg-btn span, .cdg-btn span {padding:10px 10px;}
a.cw-btn span, a.cdw-btn span, a.cp-btn span, a.cdp-btn span, a.cg-btn span, a.cdg-btn span {padding:10px 11px;}

.bw-btn, .bdw-btn, .bp-btn, .bdp-btn, .bg-btn, .bdg-btn {height:45px; font-size:14px; font-weight:400;}
.bw-btn, .bdw-btn {font-weight:500;}
.bw-btn span, .bdw-btn span, .bp-btn span, .bdp-btn span, .bg-btn span, .bdg-btn span {padding:14px 20px;}
a.bw-btn span, a.bdw-btn span, a.bp-btn span, a.bdp-btn span, a.bg-btn span, a.bdg-btn span {padding:14px 21px;}

.lw-btn, .ldw-btn, .lp-btn, .ldp-btn, .lg-btn, .ldg-btn {height:50px; font-size:18px; font-weight:500;}
.lw-btn, .ldw-btn {font-weight:600;}
.lw-btn span, .ldw-btn span, .lp-btn span, .ldp-btn span, .lg-btn span, .ldg-btn span {padding:15px 30px;}
a.lw-btn span, a.ldw-btn span, a.lp-btn span, a.ldp-btn span, a.lg-btn span, a.ldg-btn span {padding:15px 31px;}

/* btn color */
.sw-btn, .cw-btn, .bw-btn, .lw-btn {color:#444; border-color:#c8c8c8 #9c9c9c #9c9c9c #c8c8c8; background:#fff;}
.sdw-btn, .cdw-btn, .bdw-btn, .ldw-btn {color:#444; border-color:#c8c8c8 #9c9c9c #9c9c9c #c8c8c8; background:#f0f0f0;}
.sp-btn, .cp-btn, .bp-btn, .lp-btn {color:#fff; border-color:#20b05a; background:#20b05a;}
.sdp-btn, .cdp-btn, .bdp-btn, .ldp-btn {color:#fff; border-color:#26466f; background:#26466f;}
.sg-btn, .cg-btn, .bg-btn, .lg-btn {color:#fff; border-color:#666; background:#666;}
.sdg-btn, .cdg-btn, .bdg-btn, .ldg-btn {color:#fff; border-color:#444; background:#444;}


/* 이미지확대보기/내려받기 */
.map-nw {position:relative;width:330px;height:auto;overflow:hidden;background:#f0f0f0;padding-bottom:40px;}
.map-nw.full {width:99%;height:auto;border:1px solid #9097a0;text-align:center;}
.map-nw.full img, .map-nw.half img {width:100%;}
.map-nw.half {width:65%;height:auto;margin:0 auto;text-align:center;}
.map-nw .title {background:rgba(0,0,0,0.5);height:28px;z-index:10;position:absolute;bottom:0;left:0;width:100%;font-size:100%;color:#fff;padding:12px 0 0 14px;}
.map-nw img {width:330px;}
.map-nw button, .map-nw a {display:block;position:absolute;bottom:0;width:45px;height:40px;text-indent:-9999px;z-index:20;border:0;cursor:pointer;border-left:1px solid #fff;}
.map-nw .down {right:45px;background: rgba(0,0,0,0.5) url(../img/content/btn_mdown.png) no-repeat 50% 50%}
.map-nw .down:hover,.map-nw .down:focus, .map-nw .down:active {background:rgba(0,0,0,0.9) url(../img/content/btn_mdown.png) no-repeat 50% 50%}
.map-nw .view {right:0;background:rgba(0,0,0,0.5) url(../img/content/btn_mview.png) no-repeat 50% 50%}
.map-nw .view:hover,.map-nw .view:focus,.map-nw .view:active {background:rgba(0,0,0,0.9) url(../img/content/btn_mview.png) no-repeat 50% 50%}
.map-nw.title .down {border-left:0;}

/* 테이블 */
/* border-top : us-spoint3" */
.tbl-type01 {border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;border-top:2px solid #us-spoint3;}
.tbl-type01 th, .tbl-type01 td {border:1px solid #979797;border-left:1px solid #d5d5d5;border-right:0;padding:13px 5px;word-wrap:break-word;}
.tbl-type01 th {background:#fafafa;color:#333;}
.tbl-type01 td {background:#fff;}
.tbl-type01 th:first-child, .tbl-type01 td:first-child {border-left:0;}
.tbl-type01 thead th {padding:12px 5px;} 
.tbl-type01 thead th.vline {border-bottom:1px solid #ccd3db;} /* th가 2줄일 경우  */
.tbl-type01 th.line, .tbl-type01 td.line {border-right:1px solid #d5d5d5;} /* 셀병합시 우측 라인 안나올 경우 */
.tbl-type01 th.l, .tbl-type01 td.l, .tbl-type01 td.left {padding-left:10px;}
.tbl-type01 th.r, .tbl-type01 td.r, .tbl-type01 td.right {padding-right:10px;}
.tbl-type01 tr.bg th, .tbl-type01 tr.bg td  {background:#f0f0f0;font-weight:bold;} /* 강조 */

/* border-top : us-point2 */
.tbl-type02 {border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;border-top:2px solid #us-point2;}
.tbl-type02 th, .tbl-type02 td {border:1px solid #ccd3db;padding:13px 5px;word-wrap:break-word;}
.tbl-type02 th {background:#fcfdfe;color:#us-dpoint2;}
.tbl-type02 td {background:#fff;}
.tbl-type02 thead th {padding:12px 5px;}
.tbl-type02 tbody th {font-weight:normal;}
.tbl-type02 thead th.vline {border-bottom:1px solid #ccd3db;} th가 2줄일 경우
.tbl-type02 th.l, .tbl-type02 td.l, .tbl-type02 td.left {padding-left:10px;}
.tbl-type02 th.r, .tbl-type02 td.r, .tbl-type02 td.right {padding-right:10px;}

/* border-top : us-point2*/ 
.tbl-type02 {border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;border-top:2px solid #us-point3;}
.tbl-type02 th, .tbl-type02 td {border:1px solid #c7d3d3;border-right:0;padding:13px 5px;word-wrap:break-word;}
.tbl-type02 th {background:#fcfdfe;color:#us-point3;}
.tbl-type02 td {background:#fff;}
.tbl-type02 th:first-child, .tbl-type02 td:first-child {border-left:0;}
.tbl-type02 thead th {padding:12px 5px;}
.tbl-type02 tbody th, .tbl-type02 tfoot th {background:#fafcfc;}
.tbl-type02 th.line, .tbl-type02 td.line {border-right:1px solid #c7d3d3;} /* 셀병합시 우측 라인 안나올 경우 */
.tbl-type02 thead th.vline {border-bottom:1px solid #ccd3db;} /* th가 2줄일 경우  */
.tbl-type02 th.l, .tbl-type02 td.l, .tbl-type02 td.left {padding-left:10px;}
.tbl-type02 th.r, .tbl-type02 td.r, .tbl-type02 td.right {padding-right:10px;}

/*테이블*/
.tbl-basic1 {border-collapse: collapse; border-spacing: 0px;border-style: solid;  border-width: 0px 1px 1px 1px; border-color: #a7a7a7 #cccccc #cccccc #cccccc; width: 100%;}
.tbl-basic1 td, .tbl-basic1 th {border-color:#cccccc;border-style:solid;border-width:1px 1px 1px 1px;}
.tbl-basic1 thead th {border-top-width:2px;border-top-color:#a7a7a7;border-bottom-color:#8b8b8b;color:#333;}
.tbl-basic1 .line-t {border-top-color:#us-dpoint2}
.tbl-basic1 th, .tbl-basic1 .th {padding: 12px 10px 12px 10px; text-align: center; line-height: 115%;font-weight:600;color:#444444;font-size:1.045em;}
.tbl-basic1  tbody th, .tbl-basic1 .th {background-color:#f9f9f9;}
.tbl-basic1 td {padding: 12px 10px 12px 10px; text-align: center;}
.tbl-basic1 .left,.tbl-basic1 .l {}
.tbl-basic1 caption {font-size:11px;padding-top:5px;text-align:right;}

/* 푸른색*/
.tbl-basic2 {border-collapse: collapse; border-spacing: 0px;border-style: solid;  border-width: 0px 1px 1px 1px; border-color: #a7a7a7 #c7dde0 #c7dde0 #c7dde0; width: 100%;}
.tbl-basic2 td, .tbl-basic2 th {border-color:#c7dde0;border-style:solid;border-width:1px 1px 1px 1px;}
.tbl-basic2 thead th {border-top-width:2px;border-top-color:#93c0c5;border-bottom-color:#93c0c5;color:#333;}
.tbl-basic2 .line-t {border-top-color:#us-dpoint2}
.tbl-basic2 th, .tbl-basic2 .th {padding: 12px 10px 12px 10px; text-align: center; line-height: 115%;font-weight:600;color:#444444;font-size:1.045em;}
.tbl-basic2  tbody th, .tbl-basic2 .th {background-color:#f9f9f9;}
.tbl-basic2 td {padding: 12px 10px 12px 10px; text-align: center;}
.tbl-basic2 .left,.tbl-basic2 .l {}
.tbl-basic2 caption {font-size:11px;padding-top:5px;text-align:right;}

/* 연한 갈색조*/
.tbl-basic3 {border-collapse: collapse; border-spacing: 0px;border-style: solid;  border-width: 0px 1px 1px 1px; border-color: #a7a7a7 #cfcab9 #cfcab9 #cfcab9; width: 100%;}
.tbl-basic3 td, .tbl-basic3 th {border-color:#cfcab9;border-style:solid;border-width:1px 1px 1px 1px;}
.tbl-basic3 thead th {border-top-width:2px;border-top-color:#b1aea2;border-bottom-color:#bfb79b;color:#7c6a28;}
.tbl-basic3 .line-t {border-top-color:#a79c75}
.tbl-basic3 th, .tbl-basic3 .th {padding: 12px 10px 12px 10px; text-align: center; line-height: 115%;font-weight:600;color:#444444;font-size:1.045em;}
.tbl-basic3  tbody th, .tbl-basic3 .th {background-color:#f9f7f2;}
.tbl-basic3 td {padding: 12px 10px 12px 10px; text-align: center;}
.tbl-basic3 .left,.tbl-basic3 .l {}
.tbl-basic3 caption {font-size:11px;padding-top:5px;text-align:right;}

/* 폴딩스타일 */
/*  단일 */
.fold-wrap {border:1px solid #ddd;text-align:center;font-size:14px;}
.fold-wrap .view {display:block;padding:20px 0;}
.fold-wrap .view .arr {background:url(../img/content/folds_open.png) no-repeat 0 0;display:inline-block;width:36px;height:35px;vertical-align:middle;margin-left:17px;transform:all .5s ease;transition:background .3s;}
.fold-wrap .view.over .arr {background:url(../img/content/folds_close.png) no-repeat 0 0;transform:all .5s ease;transition:background .3s;}
.fold-wrap .fold-cont {overflow:hidden;height:0;background:#f7f7f6;}
.fold-wrap .fold-cont .cont-wrap {padding:10px 0;}
.foldings-wrap {border-top:1px solid #333;border-bottom:1px solid #999;}
.foldings-list {position:relative;width:100%;overflow:hidden}
.foldings-list > li {border-top:1px solid #ddd;overflow:hidden;}
.foldings-list > li:first-child {border-top:0;}
.foldings-list .foldings-in-wrap a {display:block;background:url(../img/content/folds_open.png) no-repeat 98% center;padding:23px 20px;cursor:pointer;font-size:14px;font-weight:700;transform:all .5s ease;transition:background .3s;}
.foldings-list .foldings-in-wrap a .num {color:#777;font-size:12px;padding-right:25px;}
.foldings-list .foldings-in-cont {display:none;overflow:hidden;background:#f7f7f6;padding:20px 28px;border-top:1px solid #ddd;}
.foldings-list .over a, .foldings-list .foldings-in-wrap a:hover, .catch-list .catch-in-wrap a:focus, .catch-list .catch-in-wrap a:active {color:#us-dpoint1;}
.foldings-list .over .foldings-in-cont {display:block;}
.foldings-list .over .foldings-in-wrap a {background:url(../img/content/folds_close.png) no-repeat 98% center;transform:all .5s ease;transition:background .3s;}

/* 상태값 */
.r-stat {background:#fff;padding:3px 8px 2px;display:inline-block;vertical-align:middle;font-size:13px;font-weight:400;letter-spacing:-0.05em;margin-right:-3px;font-style:normal;}
.r-stat.r-stat00,.r-stat.r-st1  {border:1px solid #b3b3b3;color:#666;background:#f0f0f0;} /* 없음 */
.r-stat.r-stat01,.r-stat.r-st2,  .r-stat.r-st-d  {border:1px solid #599704;color:#599704} /* 일반진료 */
.r-stat.r-stat02,.r-stat.r-st3,  .r-stat.r-st-s  {border:1px solid #ffa340;color:#ff5603} /* 선택진료 */
.r-stat.r-stat03,.r-stat.r-st4,  .r-stat.r-st-ds {border:1px solid #d90014;color:#d90014} /* 특수클리닉1 */
.r-stat.r-stat04,.r-stat.r-st5,  .r-stat.r-st-c2 {border:1px solid #ff44ae;color:#ff44ae} /* 특수클리닉2 */
.r-stat.r-stat05,.r-stat.r-st6, .r-stat.r-st-v{border:1px solid #ce78f6;color:#a227dc} /* 투석 */
.r-stat.r-stat06,.r-stat.r-st7, .r-stat.r-st-v2{border:1px solid #fa90cc;color:#ff44ae;padding:3px 8px 2px;} /* 시술 및 검사 */
.r-stat.r-stat07,.r-stat.r-st8 {border:1px solid #feaeb9;color:#fc5169;padding:3px 8px 2px;} /* 정신치료 */
.r-stat.r-stat08,.r-stat.r-st9 {border:1px solid #0082c3;color:#0082c3;padding:3px 8px 2px;} /* 종합검진 */
.r-stat.r-stat09,.r-stat.r-st10 {border:1px solid #5cbbde;color:#009ccf} /* 상담 */ 
.r-stat.r-stat10,.r-stat.r-st11 {border:1px solid #c4c55b;color:#806250;padding:3px 8px 2px;} /* 원격진료 */
.r-stat.r-stat11,.r-stat.r-st12 {border:1px solid #7fa49f;color:#018271} /* 교육 */
.r-stat.r-stat12,.r-stat.r-st13 {border:1px solid #96cc72;color:#57a22f} /* 면담 */
.r-stat.r-stat13,.r-stat.r-st14 {border:1px solid #ffa340;color:#ff5603;padding:3px 8px 2px;} /* 진료(신환) */
.r-stat.r-stat14,.r-stat.r-st15 , .r-stat.r-stoff {border:1px solid #b3b3b3;color:#666;background:#f0f0f0;} /* 휴진 */
.r-stat.r-stat15 {border:1px solid #eea1a1;color:#d91818;padding:3px 8px 2px;} /* 예약 */
.r-stat.r-stat16 {border:1px solid #c2c2c2;color:#666;padding:3px 8px 2px;;} /* 취소 */

/* 준비중, 에러 메시지, 안내 페이지 */
.msg-wrap {width:100%;text-align:center;font-size:14px;color:#333;padding:120px 0;}
.msg-wrap .tit {font-size:22px;font-weight:bold;letter-spacing:-1px;margin:15px 0;color:#us-dpoint1;line-height:1;}
.msg-wrap a {min-width:100px;}
.msg-wrap a.bp-btn {background:#us-dpoint1;}
.msg-wrap a.bp-btn span {color:#fff;}
.msg-wrap:before {content:"";display:block;width:144px;height:116px;background:url(../img/content/msg_sprite.png) no-repeat;margin:0 auto 30px;}
.msg-wrap.wait:before {background-position:0 0;}
.msg-wrap.error:before {background-position:0 -117px;}
.msg-wrap.info:before {background-position:0 -234px;}
.msg-wrap.resv:before {background-position:0 -468px;}
.msg-wrap.logout {/* margin-top:30% */}
.msg-wrap.logout:before {background-position:0 -351px;}
.msg-wrap.logout li:before {content:"-";color:#666;margin-right:7px;}

/* 플로우리스트 */
.flow-list {background:#f4f4f4;padding:16px 20px}
.flow-list li {display:inline-block;vertical-align:top;margin:5px 0;letter-spacing:-0.025em;line-height:30px;}
.flow-list li:after {content:"";display:inline-block;vertical-align:middle;width:7px;height:30px;background:url(../img/content/flow_arr.png) no-repeat 0 8px;margin:0 7px 0 10px}
.flow-list li.last:after {background:none;margin:0 13px 0 0px}
.flow-list li .num {width:30px;height:30px;display:inline-block;vertical-align:middle;border-radius:50%;background-color:#us-dpoint3;background-image:url(../img/content/flow_bg.png);background-repeat:repeat;color:#fff;margin-right:8px;font-size:12px;line-height:29px;font-weight:bold;text-align:center;}
.flow-list li:first-child .num {background-color:#us-dpoint2}
.flow-list li.last .num {background-color:#0491d9;}
.foldings-in-cont .flow-list {background:#fff; border:1px solid #ddd; margin-top:10px;}

/* 이미지 슬라이드 */
.c-photo {position:relative;width:360px;height:230px;}  /* 이미지 넓이와 높이 설정 */
.c-photo .photo_cont {position:relative;text-align:center; padding-top:180px;}  /* padding-top으로 버튼 위치 조정  */
.c-photo .photo_cont li {display:inline-block; vertical-align:top; margin:0 -2px 0 -2.7px;}
.c-photo .nicon {display:inline-block;width:17px;height:27px;overflow:hidden; position:relative; z-index:1000;background:url(../img/content/photo_bul.png) no-repeat -30px 0; text-align:center;}
.c-photo .nicon span {width:1px;height:1px;overflow:hidden;position:absolute;top:0;left:0;}
.c-photo .first.nicon {background-position:0 0;width:30px;}
.c-photo .last.nicon {background-position:right 0;width:30px;}
.c-photo .over .nicon {background-position:-30px -29px}
.c-photo .over .first.nicon {background-position:0 -29px}
.c-photo .over .last.nicon {background-position:right -29px}
.c-photo .pcont {position:absolute;left:0;top:0px;height:100%;}
.c-photo .pcont .tit {position:absolute;left:0;top:0px;padding:7px 10px;background:#us-dpoint3; color:#fff; }

/*페이징 스타일*/
.pagelist {text-align:center;line-height:110%;display:block;position:relative;height:auto;min-height:35px;}
.pagelist * {vertical-align:middle;}
.pagelist a , .pagelist strong {display:inline-block;height:30px;min-width:30px;border:1px solid #d8d8d8;border-left:0 !important;text-align:center;overflow:hidden}
.pagelist span {font-size:100%;font-weight:normal;color:#777 !important;display:inline-block;height:25px;min-width:30px;padding-top:5px;}
.pagelist span.first {background:none;}
.pagelist a span {cursor:pointer;line-height:1.5em}
.pagelist a:hover span {color:#us-point2 !important; text-decoration:underline;}
.pagelist strong {background:#us-point2; border:1px solid #us-point2;}
.pagelist strong span  { color:#fff !important;font-weight:bold;text-decoration:underline;line-height:1.5em}
.pagelist .firstpage span, .pagelist .lastpage span, .pagelist .firstpage1 span, .pagelist .lastpage1 span,
.pagelist .prevblock span, .pagelist .nextblock span, .pagelist .prevblock1 span, .pagelist .nextblock1 span,
.pagelist .prevpage span, .pagelist .nextpage span, .pagelist .prevpage1 span, .pagelist .nextpage1 span {padding-top:0px;border:0px !important; background:none !important;visibility:hidden;margin-left:0px;margin-right:0px;}
.pagelist .firstpage , .pagelist .lastpage ,.pagelist .firstpage1 , .pagelist .lastpage1 ,
.pagelist .prevblock , .pagelist .nextblock ,.pagelist .prevblock1 , .pagelist .nextblock1 ,
.pagelist .prevpage , .pagelist .nextpage  , .pagelist .prevpage1 , .pagelist .nextpage1  {display:inline-block;background-image:url("../img/content/btn_page.gif");background-repeat:no-repeat;height:32px;width:31px;overflow:hidden;margin-left:0px;margin-right:0px;border:0;}

/*비활성*/
.pagelist .firstpage1 {background-position:0 -64px;}
.pagelist .prevblock1 {background-position:-62px -64px;margin-right:0px;width:32px;}
.pagelist .nextblock1 {background-position:-94px -64px;margin-left:0px;}
.pagelist .lastpage1 {background-position:right -64px;width:31px;}

/*활성*/
.pagelist .firstpage {background-position:0 0;}
.pagelist .prevblock {background-position:-62px 0;margin-right:0px;width:32px;}
.pagelist .nextblock {background-position:-94px 0;margin-left:0px;}
.pagelist .lastpage {background-position:right 0;width:31px;}

/*오버*/
.pagelist .firstpage:hover {background-position:0px -32px;}
.pagelist .prevblock:hover {background-position:-62px -32px;width:32px;}
.pagelist .nextblock:hover {background-position:-94px -32px;}
.pagelist .lastpage:hover {background-position:right -32px;width:31px;}
