@charset "utf-8";
/* ================================== board Contents ================================== */

// 게시판검색
.searchBox {
	margin-bottom: 30px;
	padding: 20px;
	text-align: center;
	border: 1px solid #ccc;
	background: #f7f7f7;
	.inner {
		position: relative;
		max-width: 492px;
		padding-right: 105px;
		margin: 0 auto;
		&.inSelect {
			padding-left: 105px;
		}
	}
	select {
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
	}
	input {
		width: 100%;
	}
	.searchBtn {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 100px;
		vertical-align: top;
		& > * {
			display: block;
			width: 100%;
			padding: 0 10px;
			@include lh(37px);
			text-align: center;
			color: #fff;
			@include font-size(16);
			font-weight: 700;
			background: #444;
			cursor: pointer;
		}
	}
}

// 비밀번호 입력
.passwordBox {
	max-width: 842px;
	margin: 30px auto;
	padding: 26px 20px 32px;
	text-align: center;
	border: 1px solid #dedede;
	background: #f7f7f7;
	.guide {
		margin-bottom: 18px;
		color: #222;
		font-weight: 500;
	}
	.inner {
		position: relative;
		max-width: 527px;
		padding-right: 128px;
		margin: 0 auto;
	}
	input {
		width: 100%;
	}
	.ottButton {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0;
	}
	.ottBtn {
		width: 59px;
		margin: 0;

		& > * {
			width: 100%;
			min-width: 0;
			padding: 0;
		}

	}
}

// 일반게시판
.boardList {
	border-top: 2px solid #222;
	th,
	td {
		padding: 15px 10px 17px;
		text-align: center;
		color: #222;
		font-weight: 300;
		border-bottom: 1px solid #ddd;
	}
	thead {
		th {
			font-weight: 700;
			border-bottom: 1px solid #222;
			background: #f7f7f7;
		}
	}
	$colGroup: (
		'Num': 9%,
		'File': 9%,
		'Author': 11%,
		'Date': 10%,
		'Count': 10%,
		'Period': 20%,
		'Period2': 13%,
		'State': 12%,
	);
	@each $name, $width in $colGroup {
		.col#{$name} {
			width: $width;
		}
	}
	.subject {
		padding-left: 10px;
		text-align: left;
		font-weight: 400;
	}
	.tagNew {
		display: inline-block;
		height: 20px;
		line-height: 18px;
		margin-left: 4px;
		padding: 0 6px;
		text-align: center;
		color: #fff;
		font-weight: 700;
		text-shadow: 0 0 1px rgba(#000, .4);
		background: #f57c13;
		@include border-radius(3px);
	}
	.tagState {
		display: inline-block;
		min-width: 52px;
		padding: 0 4px 2px;
		text-align: center;
		color: #fff;
		line-height: 1.2;
		text-shadow: 0 0 1px rgba(#000, .4);
		@include border-radius(3px);
		&.ing {
			background: #f57c13;
		}
		&.end {
			background: #666;
		}
		br {
			display: none;
		}
	}
	.file {
		&:after {
			content: '';
			display: inline-block;
			width: 16px;
			height: 16px;
			vertical-align: middle;
			background: url('/energy/res/img/board/icon_file.png') no-repeat center center;
			background-size: auto 100%;
		}
	}
	&.inThumb {
		.thumbBox {
			display: table;
			& > * {
				display: table-cell;
				vertical-align: middle;
			}
		}
		.boardImg {
			display: inline-block;
			& > span {
				overflow: hidden;
				position: relative;
				float: left;
				display: block;
				width: 230px;
				padding-bottom: 170px;
				margin-right: 18px;
				background: url('/energy/res/img/board/bg_no_thumb.jpg') no-repeat center center;
				background-size: cover;
				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
				}
			}
			&.noThumb {
				& > span {
					background: #d2caca;
					& > span {
						position: absolute;
						top: 50%;
						left: 20px;
						right: 20px;
						width: auto;
						height: 75px;
						text-align: center;
						color: #fff;
						@include font-size(17);
						font-weight: 700;
						@include multiline-ellipsis (1.5 * 3, 3);
						@include translate(0, -50%);
					}
				}
				$bgColor: (
					'1': #a9d40f,
					'2': #43d1a0,
					'3': #40d2e1,
					'4': #41a7df,
					'5': #f57913,
				);
				@each $name, $color in $bgColor {
					&.bgThumb#{$name} {
						& > span {
							background: $color;
						}
					}
				}
			}
		}
	}
}

// 블로그게시판
.postList {
	border-top: 2px solid #222;
	li {
		position: relative;
		min-height: 210px;
		padding: 20px 130px 20px 270px;
		color: #222;
		font-weight: 300;
		border-bottom: 1px solid #ddd;
		& > * {
			display: block;
		}
		.postImg {
			@include posAbsoluteLT(20px, 20px, auto, auto);
			& > span {
				overflow: hidden;
				position: relative;
				float: left;
				display: block;
				width: 230px;
				padding-bottom: 170px;
				margin-right: 18px;
				background: url('/energy/res/img/board/bg_no_thumb.jpg') no-repeat center center;
				background-size: cover;
				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
				}
			}
			&.noThumb {
				& > span {
					background: #d2caca;
					& > span {
						position: absolute;
						top: 50%;
						left: 20px;
						right: 20px;
						width: auto;
						height: 75px;
						text-align: center;
						color: #fff;
						@include font-size(17);
						font-weight: 700;
						@include multiline-ellipsis (1.5 * 3, 3);
						@include translate(0, -50%);
					}
				}
				$bgColor: (
					'1': #a9d40f,
					'2': #43d1a0,
					'3': #40d2e1,
					'4': #41a7df,
					'5': #f57913,
				);
				@each $name, $color in $bgColor {
					&.bgThumb#{$name} {
						& > span {
							background: $color;
						}
					}
				}
			}
		}
		.postCont {
			padding-right: 30px;
			.postTitle {
				padding: 15px 0 6px;
				font-weight: 700;
				.postCate {
					display: inline-block;
					width: 78px;
					height: 25px;
					line-height: 23px;
					margin-right: 6px;
					padding-left: 1px;
					text-align: center;
					color: #fa8411;
					border: 1px solid #fa8411;
					@include border-radius(3px);
				}
			}
			.postText {
				height: 72px;
				@include multiline-ellipsis (1.5 * 3, 3);
			}
		}
		.postInfo {
			@include posAbsoluteRT(0, 57px, 130px, auto);
			& > * {
				display: block;
				margin-top: 4px;
			}
			.hit {
				font-weight: 700;
			}
			.file {
				&:after {
					content: '';
					display: inline-block;
					width: 16px;
					height: 16px;
					margin: -3px 0 0 6px;
					vertical-align: middle;
					background: url('/energy/res/img/board/icon_file.png') no-repeat center center;
					background-size: auto 100%;
				}
			}
		}
		.postCount {
			@include posAbsoluteLB(270px, 20px, auto, auto);
			@include clearfix;
			& > * {
				float: left;
				padding-right: 12px;
				@include font-size(12);
				&:before {
					content: '';
					display: inline-block;
					width: 15px;
					height: 15px;
					margin: -2px 4px 0 0;
					vertical-align: middle;
					background: url('/energy/res/img/board/icon_count.png') no-repeat 0 center;
					background-size: auto 100%;
				}
				$total: 3;
				$iconPos: -30px;
				@for $i from 1 through $total {
					&.item#{$i} {
						&:before {
							background-position: $iconPos * ($i - 1) center;
						}
					}
				}
			}
		}
	}
	&.noInfo {
		li {
			padding-right: 0;
		}
	}
}

// 갤러리 게시판
.galleryList {
	padding: 30px 15px;
	border-top: 2px solid #222;
	border-bottom: 1px solid #ddd;
	& > .inner {
		overflow: hidden;
		margin: -40px 0 0 -4.8%;
		@include clearfix;
	}
	.listItem {
		float: left;
		width: 100% * 1/4;
		padding: 40px 0 0 4.8%;
		text-align: center;
	}
	.galImg {
		overflow: hidden;
		position: relative;
		display: inline-block;
		width: 84%;
		padding-bottom: 106%;
		border: 1px solid #ccc;
		background: #e6e6e6 url('/energy/res/img/board/bg_no_thumb.jpg') no-repeat center center;
		background-size: 100% auto;
		@include boxShadow(6px, 6px, 0, rgba(#000, .07));
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
	}
	.galTitle {
		padding: 17px 0;
		color: #222;
		font-weight: 700;
		@include text-ellipsis;
	}
	.galBtn {
		overflow: hidden;
		margin-left: -6px;
		a {
			float: left;
			display: block;
			width: 100% * 1/2;
			padding-left: 6px;
			span {
				display: block;
				padding-right: 6px;
				text-align: center;
				color: #fff;
				@include font-size(15);
				@include lh(36px);
				background: #999;
				&:before {
					content: '';
					display: inline-block;
					width: 28px;
					height: 28px;
					vertical-align: middle;
					margin-top: -4px;
					background: url('/energy/res/img/board/icon_gal_btn.png') no-repeat 0 center;
					background-size: auto 100%;
				}
			}
			&.btnView {
				span {
					&:before {
						background-position: -40px * 0 center;
					}
				}
			}
			&.btnDown {
				span {
					&:before {
						background-position: -40px * 1 center;
					}
				}
			}
		}
	}
}

// pagination
// .pagination {
// 	overflow: hidden;
// 	@include clearfix;
// 	margin-top: 30px;
// 	text-align: center;
// 	font-size: 0;
// 	li {
// 		display: inline-block;
// 		a {
// 			overflow: hidden;
// 			display: block;
// 			width: 29px;
// 			height: 29px;
// 			margin: 0;
// 			vertical-align: top;
// 			color: #666;
// 			@include font-size(15);
// 			line-height: 27px;
// 			text-decoration: none;
// 			border: 1px solid #fff;
// 			background: #fff;
// 			&.first,
// 			&.prev,
// 			&.next,
// 			&.last {
// 				border: 1px solid #ccc;
// 				background: #fff;
// 				&:before {
// 					content: '';
// 					display: inline-block;
// 					width: 27px;
// 					height: 27px;
// 					background: #fff url("../../../energy/res/img/board/icon_pagination.png") no-repeat 0 center;
// 					background-size: auto 100%;
// 				}
// 			}
// 			&.first {
// 				&:before {
// 					background-position: -30px * 0 center;
// 				}
// 			}
// 			&.prev {
// 				margin: 0 5px 0 -1px;
// 				&:before {
// 					background-position: -30px * 1 center;
// 				}
// 			}
// 			&.next {
// 				margin: 0 -1px 0 5px;
// 				&:before {
// 					background-position: -30px * 2 center;
// 				}
// 			}
// 			&.last {
// 				&:before {
// 					background-position: -30px * 3 center;
// 				}
// 			}
// 		}
// 		&.currentPage {
// 			a {
// 				color: #fff;
// 				font-weight: 700;
// 				border: 1px solid #f57913;
// 				background: #f57913;
// 			}
// 		}
// 	}
// }

// boardDetail
.boardDetail {
	margin-top: -71px;
	border-top: 2px solid #222;
	.detailTop {
		text-align: left;
		color: #222;
		font-weight: 300;
		& > * {
			display: block;
			width: 100%;
			@include clearfix;
			border-bottom: 1px solid #ddd;
			& > * {
				float: left;
				padding-top: 15px;
				padding-bottom: 18px;
			}
		}
		dt {
			width: 140px;
			padding-left: 50px;
			font-weight: 700;
		}
		dd {
			width: calc(100% - 140px);
			padding-left: 22px;
			strong {
				font-weight: 400;
			}
		}
		.multiCol {
			@include clearfix;
			& > * {
				padding: 0;
				float: left;
				@include clearfix;
				& > * {
					float: left;
					padding-top: 15px;
					padding-bottom: 18px;
				}
			}
			dl {
				&:nth-child(1) {
					width: 31%;
					dd {
						width: calc(31% - 140px);
					}
				}
				&:nth-child(2) {
					width: 33%;
					dd {
						width: calc(33% - 140px);
					}
				}
				&:nth-child(3) {
					width: 36%;
					dd {
						width: calc(36% - 140px);
					}
				}
			}
		}
		.fileList {
			padding-top: 12px;
			padding-bottom: 15px;
			& > * {
				position: relative;
				display: block;
				padding: 3px 0;
				padding-left: 22px;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 8px, 16px, 16px);
					background: url('/energy/res/img/board/icon_file.png') no-repeat center center;
					background-size: auto 100%;
				}
			}
		}
	}
	.detailContent {
		padding: 50px;
		border-bottom: 1px solid #ddd;
		word-break: initial;
	}
	.recommendCount {
		margin-top: 50px;
		text-align: center;
		a {
			display: inline-block;
			padding-left: 53px;
			background: #659f29 url('/energy/res/img/board/icon_recommend.png') no-repeat left center;
			@include border-radius(8px 10px 10px 8px);
			em {
				display: inline-block;
				min-width: 53px;
				@include lh(47px);
				padding: 0 15px;
				color: #fff;
				@include font-size(20);
				font-weight: 700;
				font-style: normal;
				background: #406915;
				@include border-radius(0 8px 8px 0);
			}
		}
	}
}
.bbsCount {
	margin-top: -1px;
	padding: 22px 0 20px;
	text-align: center;
	border: 1px solid #d9d9d9;
	background: #f5f5f5;
	& > * {
		display: inline-block;
		padding-left: 27px;
		color: #222;
		font-weight: 300;
		&:first-child {
			padding-left: 0;
		}
		&:before {
			content: '';
			display: inline-block;
			width: 30px;
			height: 30px;
			margin: -4px 7px 0 0;
			vertical-align: middle;
			background: url('/energy/res/img/board/icon_count_x2.png') no-repeat 0 center;
			background-size: auto 100%;
		}
		$total: 3;
		$iconPos: -50px;
		@for $i from 1 through $total {
			&.item#{$i} {
				&:before {
					background-position: $iconPos * ($i - 1) center;
				}
			}
		}
	}
}
// comment
.commentWrite {
	margin-top: -1px;
	border-top: 1px solid #333;
	padding: 30px 50px 0;
	.realName {
		display: block;
		padding-bottom: 15px;
		color: #666;
		@include font-size(14);
		font-weight: 300;
		&:before {
			content: '';
			display: inline-block;
			width: 30px;
			height: 30px;
			margin: -2px 9px 0 0;
			vertical-align: middle;
			background: url('/energy/res/img/board/icon_count_x2.png') no-repeat -50px center;
			background-size: auto 100%;
		}
	}
	.fieldWrap {
		padding-bottom: 15px;
		@include clearfix;
		label {
			color: #666;
			@include font-size(14);
			font-weight: 300;
		}
		& > span {
			position: relative;
			float: left;
			display: block;
			padding-left: 20px;
			&:first-child {
				padding-left: 0;
			}
			label,
			input {
				display: inline-block;
			}
			label {
				padding-right: 7px;
			}
			input {
				max-width: 120px;
			}
		}
		&.inBtn {
			position: relative;
			padding-right: 130px;
			padding-bottom: 0;
			.fieldBox {
				width: 100%;
				height: 118px;
				border: 1px solid #ccc;
			}
			textarea {
				width: 100%;
				padding-bottom: 0;
				border: none;
				resize: none;
			}
			.ottBtn {
				@include posAbsoluteRT(0, 0, 120px, 118px);
				margin: 0;
				& > * {
					min-width: 0;
					width: 100%;
					height: 118px;
					line-height: 116px;
				}
			}
			.length {
				padding: 6px 0 0 10px;
				color: #666;
				@include font-size(14);
				font-weight: 300;
				em {
					color: #018aca;
					font-style: normal;
					font-weight: 700;
				}
			}
		}
	}
}
.commentList {
	color: #666;
	@include font-size(14);
	font-weight: 300;
	.commentCount {
		padding: 28px 50px;
		em {
			color: #018aca;
			font-style: normal;
			font-weight: 700;
		}
	}
	.commentUnit {
		position: relative;
		padding: 20px 147px 32px 50px;
		border-top: 1px solid #ddd;
		.commentInfo {
			@include clearfix;
			li {
				float: left;
				&:before {
					content: '';
					display: inline-block;
					width: 1px;
					height: 11px;
					margin: 0 11px;
					background: #ddd;
				}
				&:first-child {
					&:before {
						display: none;
					}
				}
				strong {
					color: #018aca;
					font-weight: 700;
				}
			}
		}
		.commentText {
			margin-top: 13px;
		}
		.ottBtn {
			@include posAbsoluteRT(50px, 50%, auto, auto);
			margin-top: -10px;
		}
	}
}

// PrevNext
.bbsPrevNext {
	margin-top: -1px;
	border-top: 1px solid #333;
	li {
		position: relative;
		padding: 17px 50px 18px 162px;
		color: #666;
		border-bottom: 1px solid #ddd;
		span {
			@include posAbsoluteLT(0, 17px, 140px, auto);
			padding-left: 50px;
			color: #222;
			font-weight: 700;
			&:after {
				content: '';
				display: inline-block;
				width: 7px;
				height: 5px;
				margin: -5px 0 0 30px;
				vertical-align: middle;
				background: url("../../../energy/res/img/board/icon_prev_next.png") no-repeat;
			}
		}
		&.bbsPrev {
			span {
				&:after {
					background-position: center -10px * 0;
				}
			}
		}
		&.bbsNext {
			span {
				&:after {
					background-position: center -10px * 1;
				}
			}
		}
		a {
			@include text-ellipsis;
		}
	}
}

// boardWrite
.boardWrite {
	margin-top: -71px;
	border-top: 2px solid #222;
	table {
		width: 100%;
		border: 0;
		padding: 0;
		margin: 0;
		border-collapse: collapse;
	}
	th,
	td {
		border-bottom: 1px solid #ddd;
	}
	th {
		padding: 16px 10px 21px;
		text-align: center;
		vertical-align: top;
		color: #222;
		font-weight: 700;
		background: #f7f7f7;
	}
	td {
		padding: 15px 20px;
		text-align: left;
	}
	select {
		min-width: 60px;
	}
	.fileList {
		li {
			margin-top: 10px;
		}
	}
	.inpGuide {
		position: relative;
		margin-left: 5px;
		padding-left: 15px;
		color: #999;
		@include font-size(14);
		font-weight: 300;
		vertical-align: middle;
		&:before {
			content: '※';
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.colTh {
		width: 15%;
	}
	.widHalf {
		width: 50%;
	}
}

// button
.ottButton {
	margin-top: 25px;
	text-align: center;
	@include clearfix;
	.ottBtn {
		margin-left: 5px;
		&:first-child {
			margin-left: 0;
		}
	}
	& > .floatL,
	& > .floatR {
		float: left;
		.ottBtn {
			float: left;
		}
	}
	& > .floatR {
		float: right;
	}
}
.ottBtn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 5px 0;
	& > * {
		display: inline-block;
		min-width: 78px;
		height: 45px;
		padding: 0 10px;
		text-align: center;
		color: #fff;
		@include font-size(16);
		font-weight: 500;
		line-height: 43px;
		background: #666;
		border: 1px solid #666;
		cursor: pointer;
	}
	&.btnGray {
		& > * {
			background: #666;
			border: 1px solid #666;
		}
	}
	&.btnBlue {
		& > * {
			background: #018aca;
			border: 1px solid #018aca;
		}
	}
	&.btnMd {
		& > * {
			min-width: auto;
			height: 37px;
			line-height: 35px;
			@include font-size(14);
			font-weight: 400;
		}
	}
	&.btnSm {
		& > * {
			min-width: auto;
			height: 21px;
			line-height: 19px;
			@include font-size(14);
			font-weight: 300;
		}
	}
	&.btnRound {
		& > * {
			@include border-radius(3px);
		}
	}
}


/* ================================== cms ================================== */
// pagination : CMS
.pagination {
	overflow: hidden;
	@include clearfix;
	margin-top: 20px;
	text-align: center;
	font-size: 0;
	li {
		display: inline-block;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		em {
			font-style: normal;
		}
		& > * {
			overflow: hidden;
			display: block;
			width: 29px;
			height: 29px;
			margin-left: -1px;
			vertical-align: top;
			color: #666;
			@include font-size(15);
			line-height: 29px;
			text-decoration: none;
			border: 1px solid #fff;
			background: #fff;
		}
		&.first,
		&.prev,
		&.next,
		&.end {
			span {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				border: 0;
			}
			& > * {
				border: 1px solid #ccc;
				&:before {
					content: '';
					display: inline-block;
					width: 27px;
					height: 27px;
					background: #fff url("../../../energy/res/img/board/icon_pagination.png") no-repeat 0 center;
					background-size: auto 100%;
				}
			}
		}
		&.first {
			& > * {
				&:before {
					background-position: -30px * 0 center;
				}
			}
		}
		&.prev {
			padding-right: 6px;
			& > * {
				&:before {
					background-position: -30px * 1 center;
				}
			}
		}
		&.next {
			padding-left: 6px;
			& > * {
				&:before {
					background-position: -30px * 2 center;
				}
			}
		}
		&.end {
			& > * {
				&:before {
					background-position: -30px * 3 center;
				}
			}
		}
		&.active {
			& > * {
				color: #fff;
				border: 1px solid #f57913;
				background: #f57913;
			}
		}
	}
}
// fileAddSet : CMS
.fileAddSet {
	.btnFileAdd {
		display: inline-block;
		min-width: 88px;
		height: 37px;
		padding: 0 10px;
		text-align: center;
		color: #fff;
		@include font-size(14);
		font-weight: 500;
		line-height: 35px;
		background: #018aca;
		border: 1px solid #018aca;
		cursor: pointer;
	}
	.btn_file_del {
		display: inline-block;
		min-width: 59px;
		height: 29px;
		padding: 0 10px;
		text-align: center;
		color: #fff;
		@include font-size(14);
		font-weight: 500;
		line-height: 27px;
		background: #fa8411 url("../../../energy/res/img/board/text_del.png") no-repeat center center;
		border: 1px solid #fa8411;
		cursor: pointer;
	}
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	} 
	.file_set {
		width: 56.5%;
		margin-top: 10px;
	}
	.form-inline {
		position: relative;
		padding-right: 64px;
		.btn {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {

	
}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.boardList {
		$colGroup: (
			'Author': auto,
			'Date': auto,
			'Period': auto,
			'Period2': auto,
		);
		@each $name, $width in $colGroup {
			.col#{$name} {
				width: $width;
			}
		}
		.mobHide {
			display: none;
		}
		&.inThumb {
			.boardImg {
				display: none;
			}
		}
	}
	.postList {
		border-top: 2px solid #222;
		li {
			min-height: auto;
			padding: 20px 0;
			.postImg {
				display: none;
			}
			.postCont {
				padding-right: 0;
				.postTitle {
					padding-top: 0;
				}
			}
			.postInfo {
				position: relative;
				right: auto;
				top: auto;
				width: auto;
				margin-top: 12px;
				@include clearfix;
				& > * {
					float: left;
					margin-top: 0;
					padding-right: 20px;
					@include font-size(14);
					letter-spacing: -0.04em;
				}
				.date,
				.hit {
					.srOnly {
						position: relative;
						width: auto;
						height: auto;
						padding: 0;
						margin: 0;
						padding-right: 4px;
						font-weight: 300;
					}
				}
			}
			.postCount {
				margin-top: 12px;
				position: relative;
				left: auto;
				bottom: auto;
			}
		}
	}
	.galleryList {
		.listItem {
			width: 100% * 1/2;
		}
	}
	.boardDetail {
		.detailTop {
			dt {
				width: 120px;
				padding-left: 30px;
			}
			dd {
				width: calc(100% - 120px);
				padding-left: 11px;
			}
			.multiCol {
				dl {
					&:nth-child(1) {
						dd {
							width: calc(31% - 120px);
						}
					}
					&:nth-child(2) {
						dd {
							width: calc(33% - 120px);
						}
					}
					&:nth-child(3) {
						dd {
							width: calc(36% - 120px);
						}
					}
				}
			}
		}
		.detailContent {
			padding: 30px;
		}
	}
	.commentWrite {
		padding-left: 30px;
		padding-right: 30px;
	}
	.commentList {
		.commentCount {
			padding-left: 30px;
			padding-right: 30px;
		}
		.commentUnit {
			padding-left: 30px;
			padding-right: 107px;
			.ottBtn {
				right: 30px;
			}
		}
	}
	.bbsPrevNext {
		li {
			padding-left: 131px;
			padding-right: 30px;
			span {
				width: 120px;
				padding-left: 30px;
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.postList {
		li {
			.postCont {
				.postText {
					height: 48px;
					@include multiline-ellipsis (1.5 * 2, 2);
				}
			}
		}
	}
	.boardDetail {
		.detailTop {
			.multiCol {
				dl {
					border-top: 1px solid #ddd;
					&:first-child {
						border-top: none;
					}
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						width: 100%;
						dd {
							width: calc(100% - 120px);
						}
					}
				}
			}
		}
	}
	.commentWrite {
		.fieldWrap {
			&.inBtn {
				padding-right: 110px;
				.ottBtn {
					width: 100px;
				}
			}
		}
		.commentForm {
			padding-right: 110px;
			.ottBtn {
				width: 100px;
			}
		}
	}
	.boardWrite {
		select {
			min-width: 100%;
		}
		.inpGuide {
			display: block;
			margin-left: 0;
			margin-top: 5px;
		}
		.colTh {
			width: 25%;
		}
		.widHalf {
			width: 100%;
		}
	}
	.fileAddSet {
		.file_set {
			width: 100%;
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.boardSearch {
		.inner {
			padding-right: 0;
			&.inSelect {
				padding-left: 0;
			}
		}
		select {
			position: relative;
			top: auto;
			left: auto;
			width: 100%;
			margin-bottom: 6px;
		}
		.searchBtn {
			position: relative;
			top: auto;
			right: auto;
			width: 100%;
			margin-top: 6px;
		}
	}
	.boardList {
		td {
			@include font-size(14);
		}
		.subject {
			@include font-size(16);
			word-break: break-all;
		}
		.tagState {
			min-width: 0;
			width: 100%;
			br {
				display: block;
			}
		}
	}
	.postList {
		li {
			.postCont {
				.postText {
					@include multiline-ellipsis (1.5 * 1, 1);
				}
			}
		}
	}
	.galleryList {
		.listItem {
			width: 100%;
		}
	}
	.boardDetail {
		.detailTop {
			dt {
				width: 80px;
				padding-left: 0;
			}
			dd {
				width: calc(100% - 80px);
			}
			.multiCol {
				dl {
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						dd {
							width: calc(100% - 80px);
						}
					}
				}
			}
		}
		.detailContent {
			padding: 30px 0;
		}
	}
	.commentWrite {
		padding-left: 0;
		padding-right: 0;
		.realName {
			padding-bottom: 0;
		}
		.fieldWrap {
			padding-bottom: 0;
			& > span {
				float: none;
				padding-left: 0;
				label,
				input {
					display: block;
				}
				label {
					padding: 11px 0 4px;
				}
				input {
					max-width: 100%;
				}
			}
			&.inBtn {
				padding-right: 0;
				label {
					@include srOnly-Clear;
					display: block;
					padding: 11px 0 4px;
				}
				.ottBtn {
					position: relative;
					right: auto;
					top: auto;
					width: 100%;
					height: auto;
					margin-top: 10px;
					& > * {
						height: 45px;
						line-height: 43px;
					}
				}
			}
		}
		.commentForm {
			position: relative;
			padding-right: 0;
			.ottBtn {
				position: relative;
				right: auto;
				top: auto;
				width: 100%;
				height: auto;
				margin-top: 10px;
				& > * {
					height: 45px;
					line-height: 43px;
				}
			}
		}
	}
	.commentList {
		.commentCount {
			padding-left: 0;
			padding-right: 0;
		}
		.commentUnit {
			padding-left: 0;
			padding-right: 67px;
			.ottBtn {
				right: 0;
			}
		}
	}
	.bbsPrevNext {
		li {
			padding-left: 91px;
			padding-right: 0;
			span {
				width: 80px;
				padding-left: 0;
			}
		}
	}
	// .boardWrite {
	// 	th,
	// 	td {
	// 		display: block;
	// 	}
	// 	th {
	// 		padding: 6px 0 11px;
	// 		border-bottom: none;
	// 	}
	// 	td {
	// 		padding: 15px 0 30px;
	// 	}
	// 	.colTh {
	// 		width: auto;
	// 	}
	// }
}