@charset "utf-8";
/* ================================== Contents ================================== */
// common
.content {
	background: #fff;
	&.bgGray {
		background-color: #f7f7f7;
	}
	&.bgPlaid{
		border-top: 1px solid #ddd;
		background: #fff url("../../../energy/res/img/content/bg_plaid.png") repeat-x center top;
	}
}

.contTop {
	text-align: center;
	h3 {
		padding-bottom: 15px;
		color: #222;
		@include font-size(44);
		font-weight: 700;
		line-height: 1.23;
		& > * {
			display: block;
		}
		span {
			margin-top: -8px;
			em {
				color: #f46802;
				font-style: normal;
			}
		}
		i {
			width: 50px;
			@include lh(50px);
			margin: 0 auto 20px;
			color: #fff;
			font-style: normal;
			@include font-size(18);
			@include border-radius(50%);
			background: #f47302;
		}
		small {
			margin-top: -3px;
			padding-bottom: 13px;
			@include font-size(20);
			font-weight: 400;
		}
	}
	.textEm {
		margin-top: 3px;
		padding-bottom: 15px;
		color: #222;
		@include font-size(28);
		font-weight: 300;
		line-height: 1.38;
		strong {
			font-weight: 500;
		}
	}
	.textNm {
		margin-top: -6px;
		padding-bottom: 15px;
		color: #666;
		@include font-size(18);
		font-weight: 300;
		& + .textNm {
			margin-top: 3px;
		}
	}
	&.white {
		h3,
		.textEm,
		.textNm {
			color: #fff;
			text-shadow: 0 0 1px rgba(#000, .4);
		}
		h3 {
			span {
				text-shadow: 0 0 2px rgba(#000, .4);
			}
			i {
				color: #f47302;
				background: #fff;
				text-shadow: 0 0 1px rgba(#000, .4);
			}
			small {
				text-shadow: 0 0 1px rgba(#000, .4);
			}
		}
	}
}

.contWrap {
	h4 {
		position: relative;
		padding: 8px 0 18px;
		color: #222;
		@include font-size(28);
		font-weight: 700;
		line-height: 1.38;
		em {
			color: #f47302;
			font-style: normal;
		}
		&:before {
			content: '';
			@include posAbsoluteLT(0, 0, 31px, 3px);
			background: #f47302;
		}
		&.nonLine {
			margin-top: -7px;
			padding-top: 0;
			&:before {
				display: none;
			}
		}
		& + h5 {
			margin-top: -9px;
		}
	}
	h5 {
		position: relative;
		margin-top: -5px;
		padding: 0 0 16px 17px;
		color: #222;
		@include font-size(22);
		font-weight: 700;
		line-height: 1.38;
		&:before {
			content: '';
			@include posAbsoluteLT(0, 11px, 10px, 10px);
			border: 2px solid #f47302;
			@include border-radius(50%);
			@include box-sizing(border-box);
		}
	}
	h6 {
		color: #222;
		@include font-size(20);
		font-weight: 400;
	}
	p {
		color: #666;
		@include font-size(18);
		font-weight: 300;
		&.txtGuide {
			color: #999;
			@include font-size(14);
			font-weight: 300;
		}
	}
	&.col2 {
		@include clearfix;
		& > * {
			float: left;
			&.innerL {
				width: 40%;
				.unit,
				.imgBox {
					width: 100%;
					max-width: 390px;
					margin-right: auto;
				}
				h4 {
					& + * {
						margin-top: -10px;
						color: #222;
						@include font-size(20);
						font-weight: 300;
					}
				}
				li {
					padding-top: 6px;
					padding-left: 11px;
					&:before {
						content: '';
						display: inline-block;
						width: 2px;
						height: 2px;
						vertical-align: middle;
						margin: -4px 9px 0 -10px;
						@include border-radius(50%);
						background: #222;
					}
				}
			}
			&.innerR {
				width: 60%;
				.unit,
				.imgBox {
					width: 100%;
					max-width: 600px;
					margin-left: auto;
				}
			}
		}
		& + .col2 {
			padding-top: 50px;
		}
		&.bdtLine {
			margin-top: 50px;
			border-top: 1px dotted #ddd;
		}
		.unit {
			.textBox {
				p {
					color: #fff;
					@include font-size(28);
					font-weight: 500;
				}
			}
			.subText {
				p {
					color: #222;
					@include font-size(20);
				}
			}
		}
	}
}

.conBox {
	padding: 30px;
	border: 1px solid #ddd;
	& + h5 {
		margin-top: 25px;
	}
}

.gridWrap {
	overflow: hidden;
	position: relative;
}
.gridList {
	margin: 0 0 0 -3.75%;
	@include clearfix;
	& > li {
		padding: 0 0 0 3.75%;
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		.unit {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			padding: 30px 15px;
			text-align: center;
			color: #666;
			letter-spacing: -0.06em;
			border-top: 1px solid #f47302;
			background: #f3f3f5;
			@include box-sizing(border-box);
			.icon {
				display: inline-block;
				width: 142px;
				height: 142px;
				margin-bottom: 25px;
				@include border-radius(50%);
				background: #fff;
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			h5 {
				margin-top: -6px;
				padding-bottom: 4px;
				color: #222;
				@include font-size(20);
				font-weight: 700;
				& + .icon {
					margin-top: 10px;
					margin-bottom: 5px;
				}
			}
			li {
				position: relative;
				padding: 3px 0;
				font-weight: 300;
				padding-left: 22px;
				text-align: left;
				&:before {
					content: '';
					@include posAbsoluteLT(15px, 15px, 2px, 2px);
					@include border-radius(50%);
					background: #666;
				}
				ul {
					margin-top: 6px;
					li {
						position: relative;
						padding: 1px 0;
						padding-left: 7px;
						@include font-size(14);
						&:before {
							content: '-';
							@include posAbsoluteLT(0, 2px, auto, auto);
							margin: 0;
							@include border-radius(0);
							background: none;
						}
					}
					& + .note {
						margin-top: 15px;
					}
				}
				.note {
					color: #f47302;
					@include font-size(14);
				}
			}
			ol {
				li {
					position: relative;
					padding-top: 20px;
					padding-left: 0;
					text-align: center;
					&:before {
						content: '';
						@include posAbsoluteLT(50%, 4px, 12px, 12px);
						margin-left: -6px;
						background: url("../../../energy/res/img/content/icon_gridlist_arrow.png") no-repeat center center;
					}
					&:first-child {
						padding-top: 3px;
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
	&.col2 {
		& > li {
			width: 100% * 1/2;
		}
	}
	&.col3 {
		& > li {
			width: 100% * 1/3;
		}
	}
	&.col4 {
		& > li {
			width: 100% * 1/4;
		}
	}
	&.col5 {
		& > li {
			width: 100% * 1/5;
		}
	}
	&.nonGap {
		margin: 0;
		& > li {
			padding: 0;
		}
	}
	&.sloganPlus {
		margin: 0 0 0 -5.9%;
		& > li {
			position: relative;
			padding: 0 0 0 5.9%;
			&:before {
				content: '';
				@include posAbsoluteLT(0, 50%, 17.69%, 25px);
				margin-top: -12px;
				background: url("../../../energy/res/img/content/icon_gridlist_plus.png") no-repeat center center;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
			.unit {
				padding-bottom: 113px;
				.slogan {
					@include posAbsoluteLB(50%, 30px, 80%, 60px);
					@include translate(-50%, 0);
					max-width: 240px;
					line-height: 60px;
					text-align: center;
					color: #fff;
					@include font-size(20);
					font-weight: 700;
					background: #333;
					@include border-radius(30px);
				}
			}
		}
	}
	&.organ {
		margin: 0 0 0 -1.5%;
		& > li {
			position: relative;
			width: 100% * 1/6;
			padding: 60px 0 0 1.5%;
			.divBox {
				position: relative;
				height: 100%;
				border: 1px solid #bbb;
				h5 {
					margin: -1px -1px 10px;
					background: #666;
					& > span {
						display: table;
						width: 100%;
						span {
							display: table-cell;
							height: 60px;
							text-align: center;
							vertical-align: middle;
							color: #fff;
							@include font-size(20);
							font-weight: 700;
							line-height: 1.3;
							text-shadow: 0 0 1px rgba(#000, .4);
						}
					}
					&:after {
						content: '';
						@include posAbsoluteLT(-1px, 59px, auto, 10px);
						right: -1px;
						background: #fff;
					}

				}
				ul {
					position: relative;
					padding: 12px 0 13px 19px;
					border-top: 1px solid #bbb;
					&:before {
						content: '';
						@include posAbsoluteLT(50%, -131px, 1px, 60px);
						background: #bbb;
					}
					&:after {
						content: '';
						@include posAbsoluteLT(50%, -11px, 1px, 10px);
						background: #bbb;
					}
					li {
						position: relative;
						padding: 3px 0;
						padding-left: 8px;
						text-align: left;
						color: #666;
						font-weight: 300;
						&:before {
							content: '.';
							@include posAbsoluteLT(0, -3px, auto, auto);
						}
					}
				}
			}
		}
	}
}
.sloganBox {
	padding: 25px 0 15px;
	text-align: center;
	span {
		position: relative;
		display: inline-block;
		padding-left: 88px;
		color: #222;
		@include font-size(28);
		font-weight: 700;
		line-height: 1.38;
		&:before {
			content: '';
			@include posAbsoluteLT(0, 5px, 70px, 70px);
			background: url("../../../energy/res/img/energy/icon_slogan_box.png") no-repeat center center;
		}
	}
}
.organWrap {
	margin-top: 30px;
}
.headDivision {
	position: relative;
	padding-bottom: 60px;
	h4 {
		display: block;
		width: 100%;
		max-width: 540px;
		@include lh(120px);
		margin: 0 auto;
		text-align: center;
		color: #fff;
		@include font-size(34);
		font-weight: 700;
		background: #a1cb00;
		@include border-radius(3em);
		text-shadow: 0 0 1px rgba(#000, .7);
	}
	&:before {
		content: '';
		@include posAbsoluteLB(50%, 0, 1px, 60px);
		background: #bbb;
	}
	&:after {
		content: '';
		@include posAbsoluteLB(7.8%, -1px, auto, 1px);
		right: 7.7%;
		background: #bbb;
	}
}

.tableWrap {
	position: relative;
	border-top: 2px solid #222;
	border-bottom: 1px solid #222;
	table {
		table-layout: fixed;
	}
	th,
	td {
		padding: 15px 0 17px;
		text-align: center;
		border-top: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
	th {
		font-weight: 700;
		background: #f7f7f7;
	}
	td {
		font-weight: 300;
	}
	thead {
		tr {
			&:first-child {
				& > * {
					border-top: none;
				}
			}
			& > th {
				&:first-child {
					border-left: none;
				}
			}
		}
		& + tbody {
			tr {
				&:first-child {
					& > * {
						border-top: 1px solid #ddd;
					}
				}
			}
		}
	}
	tbody {
		tr {
			&:first-child {
				& > * {
					border-top: none;
				}
			}
			& > th,
			& > td {
				&:first-child {
					border-left: none;
				}
			}
		}
	}
	.em {
		padding: 8px 20px 9px;
		color: #f47302;
		@include font-size(28);
		font-weight: 700;
		font-style: normal;
	}
	.talLeft {
		text-align: left;
		padding-left: 20px;
	}
	.bgWhite {
		background: #fff;
	}
	.unitGuide {
		@include posAbsoluteRT(0, -40px, auto, auto);
		color: #999;
		@include font-size(14);
		font-weight: 300;
	}
	& + p {
		&.tableGuide {
			margin-top: 13px;
			color: #999;
			@include font-size(14);
			font-weight: 300;
		}
	}
}

.tabList {
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-top: -20px;
	margin-bottom: 20px;
	@include clearfix;
	& > li {
		float: left;
		a {
			position: relative;
			display: block;
			padding: 16px 0 17px;
			margin-left: -1px;
			text-align: center;
			color: #666;
			@include font-size(18);
			border: 1px solid #cecece;
			z-index: 1;
		}
		&:first-child {
			a {
				margin-left: 0;
			}
		}
		&.isActive {
			a {
				color: #fff;
				font-weight: 700;
				border: 1px solid #fa8411;
				background: #fa8411;
				z-index: 2;
			}
		}
	}
	&.col3 {
		& > li {
			width: 100% * 1/3;
		}
	}
	&.col4 {
		& > li {
			width: 100% * 1/4;
		}
	}
}

.textBox {
	& > * {
		position: relative;
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 13px 27px;
		text-align: center;
		@include font-size(28);
		font-weight: 500;
		line-height: 1.38;
		border: 3px solid;
		@include border-radius(3em);
		& > * {
			display: inline-block;
		}
		em {
			color: #fff497;
			font-style: normal;
		}
		small {
			@include font-size(18);
			font-weight: 300;
		}
	}
	&.black {
		& > * {
			color: #fff;
			border-color: #333;
			background: #333;
			text-shadow: 0 0 1px rgba(#000, .4);
		}
		em {
			color: #fff497;
		}
	}
	&.line {
		& > * {
			color: #222;
			border-color: #ddd;
			background: #fff;
		}
		em {
			color: #f46802;
		}
	}
	&.result {
		& > * {
			padding: 19px 37px;
			font-weight: 700;
		}
	}
}
.subText {
	margin-top: 10px;
	margin-bottom: -5px;
	text-align: center;
	color: #222;
	@include font-size(20);
	p {
		margin-top: 4px;
	}
	li {
		margin-top: 4px;
		&:before {
			content: '';
			display: inline-block;
			width: 3px;
			height: 3px;
			vertical-align: middle;
			margin: -4px 7px 0 -10px;
			@include border-radius(50%);
			background: #222;
		}
	}
}
.imgBox {
	margin-top: 30px;
	text-align: center;
	img {
		width: 100%;
	}
}

/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.contWrap {
		&.col2 {
			& > * {
				float: none;
				&.innerL {
					width: 100%;
					.unit,
					.imgBox {
						max-width: 600px;
						margin-left: auto;
					}
					h4 {
						br {
							display: none;
						}
					}
				}
				&.innerR {
					width: 100%;
					margin-top: 30px;
					.unit,
					.imgBox {
						margin-right: auto;
					}
				}
			}
		}

	}
	.gridList {
		&.col5 {
			& > li {
				width: 100% * 1/4;
			}
		}
		&.organ {
			& > li {
				width: 100% * 1/3;
				padding-top: 40px;
				.divBox {
					ul {
						&:before {
							top: -111px;
							height: 40px;
						}
					}
				}
			}
		}
	}
	.headDivision {
		padding-bottom: 40px;
		&:before {
			height: 40px;
		}
		&:after {
			left: 16.2%;
			right: 16.1%;
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.contTop {
		.textEm,
		.textNm {
			br {
				display: none;
			}
		}
	}
	.conBox {
		padding: 30px 15px;
	}
	.gridList {
		margin: -30px 0 0 0;
		& > li {
			padding: 30px 0 0 0;
		}
		&.col2,
		&.col3 {
			& > li {
				float: none;
				width: 100%;
			}
		}
		&.col5 {
			& > li {
				width: 100% * 1/3;
			}
		}
		&.sloganPlus {
			margin: -45px 0 0 0;
			& > li {
				padding: 45px 0 0 0;
				&:before {
					content: '';
					@include posAbsoluteLT(50%, 10px, 25px, 25px);
					margin-top: 0;
					margin-left: -12px;
				}
			}
		}
		&.organ {
			& > li {
				width: 100% * 1/2;
			}
		}
		&.nonGap {
			margin: -30px 0 0 0;
			& > li {
				padding: 30px 0 0 0;
			}
		}
	}
	.sloganBox {
		span {
			padding-top: 82px;
			padding-left: 0;
			&:before {
				left: 50%;
				top: 0;
				margin-left: -35px;
			}
		}
	}
	.headDivision {
		&:after {
			left: 24.7%;
			right: 24.6%;
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.gridList {
		&.col5 {
			& > li {
				width: 100% * 1/2;
			}
		}
		&.organ {
			& > li {
				float: none;
				width: 100%;
			}
		}
	}
	.sloganBox {
		span {
			br {
				display: none;
			}
		}
	}
	.headDivision {
		padding-bottom: 0;
		&:before {
			height: auto;
		}
		&:after {
			display: none;
		}
	}
	.tabList {
		& > li {
			a {
				@include font-size(16);
			}
		}
	}
}