@charset "utf-8";
/* ================================== energy Contents ================================== */

// 에너지살림도시, 서울
.seoul01 {
	padding-bottom: 70px;
	.visual {
		display: block;
		width: 1024px;
		margin: 0 auto;
		padding-bottom: 394px;
		background: url("../../../energy/res/img/energy/bg_seoul01_visual.jpg") no-repeat center top;
		background-size: auto 100%;
	} 
	.contWrap {
		position: relative;
		padding-right: 480px;
		h6 {
			margin-top: -12px;
			padding-bottom: 8px;
		}
		.logo {
			@include posAbsoluteRT(9.75%, 4px, auto, auto);
			img {
				width: 100%;
				max-width: 350px;
			}
		}
	}
	.gridWrap {
		margin-top: 48px;
	}
	.gridList {
		& > li {
			.unit {
				.icon {
					&:before {
						background: url("../../../energy/res/img/energy/icon_seoul01.png") no-repeat 0 center;
						background-size: auto 100%;
					}
				}
				$total: 3;
				$iconPos: -150px;
				@for $i from 1 through $total {
					&.item#{$i} {
						.icon {
							&:before {
								background-position: $iconPos * ($i - 1) center;
							}
						}
					}
				}
				li {
					padding-left: 12px;
					&:before {
						left: 5px;
					}
				}
			}
		}
	}
}
.seoul02 {
	padding-top: 70px;
	padding-bottom: 70px;
	.gridWrap {
		margin-top: 32px;
		margin-bottom: 70px;
	}
	.gridList {
		& > li {
			padding: 0 10px;
			img {
				width: 100%;
				max-width: 270px;
				margin-bottom: 14px;
			}
			p {
				color: #666;
				font-weight: 300;
				strong {
					display: block;
					margin-top: 3px;
					color: #222;
					@include font-size(30);
					font-weight: 700;
					line-height: 1.38;
					span {
						@include font-size(18);
					}
				}
			}
		}
	}
	.energyGoods {
		position: relative;
		padding-left: 406px;
		border-top: 1px solid #ddd;
		&:before {
			content: '';
			@include posAbsoluteLT(0, -2px, 370px, 2px);
			background: #f47302;
			z-index: 2;
		}
		.goodsTit {
			@include posAbsoluteLT(0, 25px, auto, auto);
			color: #222;
			@include font-size(20);
			font-weight: 300;
			h4 {
				@include font-size(28);
				font-weight: 700;
				line-height: 1.38em;
			}
		}
		.goodsCont {
			padding: 27px 0 48px;
			li,
			dt {
				position: relative;
				padding-left: 10px;
				color: #222;
				font-weight: 700;
				&:before {
					content: '-';
					@include posAbsoluteLT(0, 0, auto, auto);
				}
			}
			li {
				margin-top: 12px;
				&:first-child {
					margin-top: 0;
				}
			}
			dd {
				padding-top: 2px;
				color: #222;
				font-weight: 300; 
				& + dt {
					margin-top: 12px;
				}
			}
		}
	}
}
.seoul03 {
	padding-top: 70px;
	padding-bottom: 70px;
	background: #3b75e3 url("../../../energy/res/img/energy/bg_seoul03_visual.jpg") no-repeat center bottom;
	background-size: cover;
	.gridWrap {
		margin-top: 30px;
	}
	.gridList {
		margin: -45px 0 0 -4%;
		& > li {
			padding: 45px 0 0 4%;
			color: #fff;
			@include font-size(18);
			line-height: 1.4;
			text-shadow: 0 0 1px rgba(#000, .8);
			.icon {
				display: block;
				width: 160px;
				height: 160px;
				margin: 0 auto;
				margin-bottom: 15px;
				@include border-radius(50%);
				@include boxShadow(0, 0, 1px, rgba(#000, .4));
			}
			$total: 10;
			@for $i from 1 through $total {
				&.item#{$i} {
					.icon {
						background: #fff url("../../../energy/res/img/energy/icon_seoul03_#{$i}.png") no-repeat center center;
					}
				}
			}
		}
	}
}
.seoul04 {
	padding-top: 70px;
	.gridList {
		& > li {
			.unit {
				.icon {
					&:before {
						background: url("../../../energy/res/img/energy/icon_seoul04.png") no-repeat 0 center;
						background-size: auto 100%;
					}
				}
				$total: 3;
				$iconPos: -150px;
				@for $i from 1 through $total {
					&.item#{$i} {
						.icon {
							&:before {
								background-position: $iconPos * ($i - 1) center;
							}
						}
					}
				}
			}
		}
	}
	.organWrap {
		& + .gridWrap {
			margin-top: 50px;
		}
	}
}

// 원전하나줄이기 소개
.introduce01 {
	padding-bottom: 70px;
	.gridWrap {
		margin-top: 30px;
	}
	.gridList {
		&.sloganPlus {
			& > li {
				.unit {
					.icon {
						&:before {
							background: url("../../../energy/res/img/energy/icon_introduce01.png") no-repeat 0 center;
							background-size: auto 100%;
						}
					}
					.slogan {
						&:before {
							content: '';
							display: inline-block;
							width: 36px;
							height: 36px;
							vertical-align: top;
							margin: 12px 12px 0 0;
							background: url("../../../energy/res/img/energy/icon_introduce01_slogan.png") no-repeat 0 center;
						}
					}
					$total: 3;
					$iconPos: -150px;
					$sloganPos: -50px;
					@for $i from 1 through $total {
						&.item#{$i} {
							.icon {
								&:before {
									background-position: $iconPos * ($i - 1) center;
								}
							}
							.slogan {
								&:before {
									background-position: $sloganPos * ($i - 1) center;
								}
							}
						}
					}
				}
			}
		}
	}
}
.introduce02 {
	padding-bottom: 70px;
	background: #fff url("../../../energy/res/img/energy/bg_introduce02_visual.jpg") no-repeat center bottom;
	background-size: cover;
	.contWrap {
		text-align: center;
		& > * {
			display: inline-block;
			vertical-align: top;
		}
	}
	.selfrelPer {
		position: relative;
		width: 360px;
		margin-top: 120px;
		padding: 38px 0 28px;
		padding-left: 190px;
		text-align: left;
		color: #666;
		font-weight: 300;
		.statusPlate {
			@include posAbsoluteLT(8px, 0, 156px, 232px);
			padding-top: 40px;
			text-align: center;
			color: #222;
			@include font-size(20);
			font-weight: 700;
			line-height: 1.25;
			letter-spacing: -0.04em;
			background: #fff url("../../../energy/res/img/energy/bg_status_plate.png") no-repeat center center;
			background-size: cover;
			strong {
				@include font-size(46);
			}
		}
		dl {
			dt {
				margin-bottom: 5px;
				color: #222;
				@include font-size(20);
				font-weight: 700;
			}
		}
		.legendList {
			margin-top: 20px;
			li {
				padding: 5px 0;
				@include font-size(13);
				&:before {
					content: '';
					display: inline-block;
					width: 24px;
					height: 24px;
					vertical-align: top;
					margin: -2px 6px 0 0;
					@include border-radius(50%);
				}
				&.legend1 {
					&:before {
						background: #a9d50f url("../../../energy/res/img/energy/bg_selfrel_legend1.gif") repeat center center;
					}
				}
				&.legend2 {
					&:before {
						background: #f47302 url("../../../energy/res/img/energy/bg_selfrel_legend2.gif") repeat center center;
					}
				}
			}
		}
	}
	.selfrelMap {
		position: relative;
		padding-left: 130px;
		&:before {
			content: '';
			@include posAbsoluteLT(0, 50%, 130px, 140px);
			@include translate(0, -50%);
			margin-top: -15px;
			background: #fff url("../../../energy/res/img/energy/icon_introduce02_arrow.png") no-repeat center center;
		}
		img {
			width: 100%;
			max-width: 360px;
		}
	}
}
.introduce03 {
	padding-top: 70px;
	padding-bottom: 70px;
	.diagram {
		position: relative;
		margin-top: 30px;
		&:before {
			content: '';
			@include posAbsoluteRT(50%, 193px, auto, 2px);
			left: -100%;
			background: #c5bebe;
		}
		&:after {
			content: '';
			@include posAbsoluteLT(50%, 193px, auto, 2px);
			right: -100%;
			background: #3fa2d8;
		}
		ul {
			@include clearfix;
		}
		li {
			float: left;
			width: 100% * 1/5;
			.unit {
				position: relative;
				display: block;
				width: 100%;
				text-align: center;
				&:before {
					content: '';
					@include posAbsoluteLT(-50%, 193px, auto, 2px);
					right: 50%;
					background-color: #9b9b9b;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 100% 100%;
					z-index: 2;
				}
				.icon {
					position: relative;
					display: block;
					width: 146px;
					height: 146px;
					margin: 0 auto;
					@include border-radius(50%);
					background-repeat: no-repeat;
					background-position: center center;
					&:after {
						content: '';
						@include posAbsoluteLB(50%, -15px, 22px, 16px);
						margin-left: -11px;
						background-image: url("../../../energy/res/img/energy/icon_introduce03_arrow.png");
						background-repeat: no-repeat;
						background-position: center center;
					}
				}
				p {
					margin-top: 30px;
					color: #222;
					@include font-size(18);
					line-height: 1.4;
					& > * {
						display: block;
					}
					strong {
						position: relative;
						display: inline-block;
						margin-bottom: 10px;
						padding: 0 15px;
						@include font-size(22);
						font-weight: 700;
						border: 3px solid;
						@include border-radius(1.8em);
						background: #fff;
						z-index: 3;
					}
				}
				$iconBgColor: (
					1: #c5bebe,
					2: #a4cd0f,
					3: #41ca9b,
					4: #3ecbda,
					5: #3fa2d8
				);
				@each $number, $bgColor in $iconBgColor {
					&.item#{$number} {
						&:before {
							background-image: url("../../../energy/res/img/energy/line_introduce03_#{$number}.png");
						}
						.icon {
							background-image: url("../../../energy/res/img/energy/icon_introduce03_#{$number}.png");
							background-color: $bgColor;
							&:after {
								background-color: $bgColor;
							}
						}
						p {
							strong {
								border-color: $bgColor;
							}
						}
					}
				}
				&.item1 {
					p {
						strong {
							border-color: #9b9b9b;
						}
					}
				}
			}
			&:first-child {
				.unit {
					&:before {
						display: none;
					}
				}
			}
		}
	}
}
.introduce04 {
	padding-top: 70px;
}

// 원전하나줄이기 성과
.result01 {
	padding-bottom: 70px;
	.contWrap {
		& + .contWrap {
			margin-top: 50px;
		}
	}
	.textBox {
		&.result {
			padding: 30px 0 50px;
			& > * {
				max-width: 710px;
				padding-left: 117px;
				&:before {
					content: '';
					@include posAbsoluteLT(47px, 50%, 68px, 68px);
					margin-top: -34px;
					background: url("../../../energy/res/img/energy/icon_result_total.png") no-repeat center center;
				}
			}
		}
	}
}
.result01a {
	.gridWrap {
		&:before {
			content: '';
			@include posAbsoluteLT(50%, 45px, 1px, auto);
			bottom: 45px;
			background: #ddd;
		}
	}
	.gridList {
		@include clearfix;
		& > li {
			color: #222;
			@include font-size(18);
			font-weight: 300;
			strong {
				font-weight: 700;
			}
			.icon {
				display: block;
				width: 180px;
				height: 180px;
				margin: 0 auto;
				margin-bottom: 15px;
				@include border-radius(50%);
				background: #f7f7f7 url("../../../energy/res/img/energy/icon_result01.png") no-repeat 0 center;
				background-size: auto 100%;
			}
			$total: 2;
			$iconPos: -180px;
			@for $i from 1 through $total {
				&.item#{$i} {
					.icon {
						background-position: $iconPos * ($i - 1) center;
					}
				}
			}
		}
	}
}
.result01b {
	text-align: center;
	.item {
		position: relative;
		display: inline-block;
		text-align: left;
		padding: 45px 0;
		padding-left: 208px;
		.icon {
			@include posAbsoluteLT(0, 50%, 180px, 180px);
			@include border-radius(50%);
			margin-top: -90px;
			background: #f7f7f7 url("../../../energy/res/img/energy/icon_result01.png") no-repeat -180px * 2 center;
			background-size: auto 100%;
		}
		p {
			color: #222;
			@include font-size(18);
			font-weight: 300;
			strong {
				font-weight: 700;
			}
		}
		li {
			position: relative;
			margin-top: 8px;
			padding-left: 8px;
			color: #666;
			font-weight: 300;
			&:before {
				content: '-';
				@include posAbsoluteLT(0, 0, auto, auto);
			}
		}
	}
}
.result02 {
	min-height: 1122px;
	margin-bottom: -100px;
	padding-top: 70px;
	padding-bottom: 70px;
	background: url("../../../energy/res/img/energy/bg_result02_visual.jpg") no-repeat center 150px;
	.contWrap {
		position: relative;
	}
	.conBox {
		position: absolute;
		left: 50%;
		right: 0;
		padding: 0;
		border: none;
		.inBox {
			margin-top: -18px;
		}
		p {
			padding: 9px 0 5px;
			@include font-size(20);
			font-weight: 700;
			line-height: 1.45;
			&.fcOrange {
				color: #f46802;
			}
			&.fcRed {
				color: #d50f0f;
			}
			small {
				display: block;
				margin-top: 2px;
				@include font-size(16);
				font-weight: 300;
			}
		}
		li {
			position: relative;
			padding: 1px 0;
			padding-left: 20px;
			color: #222;
			font-weight: 300;
			line-height: 1.45;
			&:before {
				content: '＊';
			@include posAbsoluteLT(0, 1px, auto, auto);
			}
		}
		strong {
			font-weight: 700;
		}
		&.result02a {
			top: 30px;
		}
		&.result02b {
			top: 315px;
			margin-left: 120px;
		}
		&.result02c {
			top: 540px;
			margin-left: -135px;
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {
	.seoul03 {
		background-size: 100% 877px;
	}
	.introduce02 {
		background-size: 100% 740px;
	}
}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.seoul01 {
		.visual {
			width: 100%;
			margin-bottom: 20px;
			padding-bottom: 40%;
		}
		.contWrap {
			padding-right: 360px;
			.logo {
				right: 0;
			}
		}
	}
	.seoul03 {
		background-size: auto;
		.gridList {
			& > li {
				.icon {
					width: 100%;
					height: auto;
					padding-bottom: 100%;
				}
			}
		}
	}
	.introduce01 {
		.contTop {
			.textNm {
				br {
					display: none;
				}
			}
		}
	}
	.introduce02 {
		.contWrap {
			& > * {
				display: block;
			}
		}
		.selfrelPer {
			margin: 30px auto;
		}
		.selfrelMap {
			padding-left: 0;
			&:before {
				display: none;
			}
		}
	}
	.introduce03 {
		.diagram {
			text-align: center;
			&:before,
			&:after {
				display: none;
			}
			ul {
				display: inline-block;
			}
			li {
				float: none;
				width: 100%;
				padding-top: 30px;
				&:first-child {
					padding-top: 0;
				}
				.unit {
					text-align: left;
					&:before {
						content: '';
						@include posAbsoluteLT(213px, -85px, 2px, 140px);
						right: auto;
					}
					.icon {
						display: inline-block;
						vertical-align: middle;
						&:after {
							@include posAbsoluteRT(-15px, 50%, 16px, 22px);
							left: auto;
							bottom: auto;
							margin-left: auto;
							margin-top: -11px;
							background-image: url("../../../energy/res/img/energy/icon_introduce03_arrow_m.png");
							background-size: 100% 100%;
						}
					}
					p {
						display: inline-block;
						margin-top: auto;
						margin-left: 25px;
						vertical-align: middle;
						& > * {
							display: inline-block;
							vertical-align: middle;
						}
						strong {
							margin-bottom: auto;
						}
						span {
							padding-left: 10px;
							text-align: left;
						}
						br {
							display: none;
						}
					}
					$total: 5;
					@for $i from 2 through $total {
						&.item#{$i} {
							&:before {
								background-image: url("../../../energy/res/img/energy/line_introduce03_#{$i}_m.png");
							}
						}
					}
					&.item1 {
						&:before {
							@include posAbsoluteLT(213px, 0, 2px, 55px);
							background: #c5bebe;
						}
					}
					&.item5 {
						&:after {
							content: '';
							@include posAbsoluteLB(213px, 0, 2px, 55px);
							background: #3fa2d8;
						}
					}
				}
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.seoul01 {
		.contWrap {
			padding-right: 0;
			.logo {
				position: relative;
				top: auto;
				right: auto;
				padding: 13px 0 3px;
				text-align: center;
			}
		}
	}
	.seoul02 {
		.gridList {
			& > li {
				padding-top: 30px;
			}
		}
		.energyGoods {
			padding-left: 0;;
			&:before {
				width: 100%;
			}
			.goodsTit {
				position: relative;
				left: auto;
				top: auto;
				padding: 26px 0;
				text-align: center;
			}
			.goodsCont {
				padding-left: 5px;
				border-top: 1px solid #ddd;
			}
		}
	}
	.introduce03 {
		.diagram {
			li {
				.unit {
					&:before {
						left: 183px;
						top: -72px;
						height: 114px;
					}
					.icon {
						width: 120px;
						height: 120px;
						background-size: 70% auto;
						&:after {
							right: -13px;
							width: 14px;
							height: 18px;
							margin-top: -9px;
						}
					}
					p {
						margin-left: 20px;
						br {
							display: block;
						}
					}
					&.item1 {
						&:before {
							left: 183px;
							height: 42px;
						}
					}
					&.item5 {
						&:after {
							left: 183px;
							height: 42px;
						}
					}
				}
			}
		}
	}
	.result01a {
		.gridWrap {
			&:before {
				display: none;
			}
		}
	}
	.result01b {
		.item {
			padding: 0;
			padding-top: 208px;
			.icon {
				top: 0;
				left: 50%;
				margin-top: auto;
				margin-left: -90px;
			}
		}
	}
	.result02 {
		min-height: 0;
		padding-bottom: 100px;
		background: none;
		.conBox {
			position: relative;
			left: auto;
			right: auto;
			margin-top: 50px;
			&:first-child {
				margin-top: 30px;
			}
			.inBox {
				margin-top: 0;
				padding: 15px 15px 20px;
				border: 1px solid #ddd;
				background: #fff;
			}
			&.result02a {
				top: auto;
			}
			&.result02b {
				top: auto;
				margin-left: auto;
			}
			&.result02c {
				top: auto;
				margin-left: auto;
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.introduce02 {
		.selfrelPer {
			width: auto;
			margin: 30px auto;
			padding-left: 175px;
			.statusPlate {
				left: 0;
			}
		}
		.selfrelMap {
			padding-left: 0;
			&:before {
				display: none;
			}
		}
	}
	.introduce03 {
		.diagram {
			li {
				.unit {
					&:before {
						left: 134px;
						top: -57px;
						height: 83px;
					}
					.icon {
						width: 84px;
						height: 84px;
						&:after {
							right: -9px;
							width: 10px;
							height: 14px;
							margin-top: -7px;
						}
					}
					p {
						margin-left: 15px;
						@include font-size(16);
						strong {
							padding: 0 12px;
							@include font-size(18);
						}
					}
					&.item1 {
						&:before {
							left: 134px;
							height: 26px;
						}
					}
					&.item5 {
						&:after {
							left: 134px;
							height: 26px;
						}
					}
				}
			}
		}
	}
	.resultTotal {
		p {
			padding: 22px 40px;
			&:before {
				display: none;
			}
		}
	}
}