@charset "utf-8";
/* ================================== Layout ================================== */

html {
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	position: relative;
	min-height: 100%;
	overflow-y: auto;
}
body {
	font-family: $fontFamily;
	font-weight: 400;
	font-style: normal;
	@include font-size(16);
	line-height: 1.5;
	letter-spacing: -0.04em;
	word-break: keep-all;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: hidden;
}
.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
#errWrap {
	@include posFixedFull;
	background: #f0f0f0;
}
.errBox {
	@include posAbsoluteLT(50%, 50%, 90%, auto);
	@include translate(-50%, -50%);
	max-width: 600px;
	border-top: 2px solid #fa8411;
	background: #fff;
}
.errLogo {
	border-bottom: 1px solid #ccc;
	a {
		display: block;
		width: 100px;
		height: 99px;
		margin: 0 auto;
		background: url("../../../energy/res/img/error/logo_error.png") no-repeat center center;
		background-size: cover;
	}
}
.errCont {
	padding: 0 30px 50px;
	text-align: center;
	color: #777;
	strong {
		color: #f46802;
		@include font-size(18);
		font-weight: 700;
	}
	&:before {
		content: '';
		display: block;
		width: 180px;
		height: 120px;
		margin: 0 auto 20px;
		background: url("../../../energy/res/img/error/icon_error.png") no-repeat center center;
		background-size: cover;
	}
}
.errButton {
	margin-top: 15px;
	text-align: center;
}
.errBtn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 5px 3px;
	& > * {
		display: inline-block;
		min-width: 145px;
		padding: 8px 10px;
		text-align: center;
		color: #fff;
		@include font-size(16);
		cursor: pointer;
		text-shadow: 0 0 1px rgba(#000, .4);
	}
	&.btnOrange {
		& > * {
			background: #fa8411;
		}
	}
	&.btnGray {
		& > * {
			background: #999;
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 480px 이하
@include respond-below(xs) {
	.errBtn {
		display: block;
		& > * {
			display: block;
			width: 100%;
		}
	}
}