@charset "utf-8";
/* ================================== infomation Contents ================================== */

// 센터소개
.info01 {
	padding-bottom: 70px;
	.openInfo {
		position: relative;
		max-width: 840px;
		margin: 0 auto;
		margin-top: 30px;
		padding-right: 316px;
		.photo {
			overflow: hidden;
			position: relative;
			display: block;
			width: 100%;
			padding-bottom: 59.65%;
			border: 7px solid #ddd;
			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
			}
		}
		.openTime {
			@include posAbsoluteRB(0, 0, 264px, auto);
			p {
				position: relative;
				margin-bottom: 8px;
				padding-left: 15px;
				color: #333;
				@include font-size(20);
				font-weight: 700;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 12px, 10px, 10px);
					border: 2px solid #f47302;
					@include border-radius(50%);
					@include box-sizing(border-box);
				}
			}
			li {
				position: relative;
				padding: 7px 0 8px;
				padding-left: 10px;
				color: #666;
				font-weight: 300;
				border-bottom: 1px solid #ddd;
				span {
					color: #333;
					font-weight: 300;
				}
				&:before {
					content: '';
					@include posAbsoluteLT(0, 18px, 2px, 2px);
					@include border-radius(50%);
					background: #999;
				}
			}
		}
	}
}
.info02 {
	padding-top: 70px;
	padding-bottom: 70px;
	.facilityList {
		margin-top: 30px;
		li {
			display: table;
			width: 100%;
			margin-top: 30px;
			min-height: 160px;
			&:first-child {
				margin-top: 0;
			}
			div {
				position: relative;
				display: table-cell;
				vertical-align: middle;
				padding-left: 190px;
				color: #222;
				font-weight: 300;
				.icon {
					@include posAbsoluteLT(0, 0, 160px, 160px);
					@include border-radius(50%);
					background: #fff;
					&:before {
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						background: url("../../../energy/res/img/infomation/icon_facility.png") no-repeat 0 center;
						background-size: auto 100%;
					}
				}
				$total: 5;
				$iconPos: -160px;
				@for $i from 1 through $total {
					&.item#{$i} {
						.icon {
							&:before {
								background-position: $iconPos * ($i - 1) center;
							}
						}
					}
				}
				h5 {
					color: #f47302;
					@include font-size(16);
					font-weight: 700;
				}
				dt {
					margin-bottom: 5px;
					@include font-size(20);
					font-weight: 700;
				}
			}
		}
	}
	.facilityPhoto {
		margin-top: 50px;
		padding: 29px;
		border: 1px solid #ddd;
		background: #fff;
		ul {
			overflow: hidden;
			position: relative;
			margin: -30px 0 0 -30px;
			@include clearfix;
		}
		li {
			position: relative;
			float: left;
			width: 100% * 1/3;
			padding: 30px 0 0 30px;
			& > .photo {
				overflow: hidden;
				position: relative;
				display: block;
				width: 100%;
				padding-bottom: 89%;
				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
				}
			}
			& > .text {
				@include posAbsoluteLB(0, 20px, 100%, auto);
				text-align: center;
				padding-left: 30px;
				color: #fff;
				@include font-size(20);
				font-weight: 500;
				text-shadow: 0 0 1px rgba(#000, .4);
				z-index: 2;
			}
		}
	}	
}
.info03 {
	padding-top: 70px;
	.gridWrap {
		margin-top: 30px;
	}
	.gridList {
		margin: -40px 0 0 -3.25%;
		& > li {
			padding: 40px 0 0 3.25%;
			.unit {
				min-height: 203px;
				text-align: left;
				padding-left: 200px;
				.icon {
					position: absolute;
					top: 30px;
					left: 30px;
					margin-bottom: 0;
					&:before {
						background: url("../../../energy/res/img/infomation/icon_info03.png") no-repeat 0 center;
						background-size: auto 100%;
					}
				}
				$total: 5;
				$iconPos: -150px;
				@for $i from 1 through $total {
					&.item#{$i} {
						.icon {
							&:before {
								background-position: $iconPos * ($i - 1) center;
							}
						}
					}
				}
				li {
					padding-left: 12px;
					&:before {
						left: 5px;
					}
				}
			}
		}
	}
	.ulcol2 {
		@include clearfix;
		& > * {
			float: left;
			width: 55%;
			letter-spacing: -0.08em;
			&:first-child {
				width: 45%;
			}
		}
	}
}

// 찾아오시는 길
.location {
	.contWrap {
		margin-top: -40px;
	}
	.contMap {
		height: 400px;
		margin-bottom: 50px;
		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
}
.trafficInfo {
	position: relative;
	padding: 45px 0;
	padding-left: 130px;
	&:before {
		content: '';
		@include posAbsoluteLT(0, 50px, 110px, 110px);
		@include border-radius(50%);
		background: #f7f7f7 url("../../../energy/res/img/infomation/icon_traffic.png") no-repeat 0 center;
		background-size: auto 100%;
	}
	& > p {
		color: #222;
		@include font-size(18);
		font-weight: 700;
	}
	ul {
		@include clearfix;
		& + .txtGuide {
			margin-top: 22px;
		}
	}
	li {
		float: left;
		padding-top: 20px;
		padding-right: 36px;
		color: #222;
		font-weight: 300;
		& > * {
			display: inline-block;
			margin-top: 2px;
			&:first-child {
				margin-top: 0;
			}
		}
		strong {
			font-weight: 700;
		}
		.line {
			position: relative;
			margin: 3px 0 8px;
			padding: 0 10px;
			& > * {
				display: inline-block;
				height: 26px;
				padding: 0 14px;
				line-height: 18px;
				font-weight: 500;
				border: 3px solid #666;
				@include border-radius(13px);
			}
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 11px;
				width: 10px;
				height: 3px;
				background: #666;
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
			&.num1 {
				& > * {
					border-color: #0f63c3;
				}
				&:before,
				&:after {
					background: #0f63c3;
				}
			}
			&.num2 {
				& > * {
					border-color: #6ca220;
				}
				&:before,
				&:after {
					background: #6ca220;
				}
			}
		}
		.tag {
			display: inline-block;
			height: 18px;
			line-height: 16px;
			margin-right: 5px;
			padding: 0 6px;
			text-align: center;
			color: #fff;
			font-style: normal;
			@include font-size(14);
			font-weight: 700;
			background: #666;
			@include border-radius(3px);
			$busTag: (
				'red': #df050d,
				'orange': #e7380f,
				'yellow': #f3921f,
				'green': #7ea220,
				'sky': #199bd8,
				'blue': #0f63c3
				);
			@each $name, $bgcolor in $busTag {
				&.#{$name} {
					background: $bgcolor;
				}
			}
		}
	}
	&.subway {
		ul {
			width: 300px * 2;
		}
		li {
			width: 300px;
		}
	}
	&.bus {
		padding-bottom: 50px;
		ul {
			width: 260px * 3;
		}
		li {
			width: 260px;
		}
	}
	$traffic: (
		1: subway, 
		2: bus, 
		3: car
		);
	$iconPos: -110px;
	@each $num, $way in $traffic {
		&.#{$way} {
			&:before {
				background-position: $iconPos * ($num - 1) center;
			}
		}
	}
	& + .trafficInfo {
		border-top: 1px solid #ddd;
	}
}

// 프로그램
.program {
	.contWrap {
		margin-top: -20px;
	}
	.contCalendar {
		height: 740px;
		margin-bottom: 50px;
		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.info01 {
		.openInfo {
			max-width: 524px;
			padding-right: 0;
			.openTime {
				position: relative;
				right: auto;
				bottom: auto;
				width: auto;
				margin-top: 25px;
			}
		}
	}
	.info03 {
		.gridList {
			& > li {
				width: 100%;
			}
		}
		.ulcol2 {
			& > * {
				letter-spacing: -0.06em;
			}
		}
	}
	.trafficInfo {
		&.subway {
			ul {
				width: auto;
			}
			li {
				width: 50%;
			}
		}
		&.bus {
			ul {
				width: auto;
			}
			li {
				width: 33%;
			}
		}
	}
	.program {
		.contCalendar {
			height: 520px;
			overflow-x: scroll;
			iframe {
				width: 160%;
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.info02 {
		.facilityPhoto {
			ul {
				margin-left: 0;
			}
			li {
				width: 100%;
				padding-left: 10%;
				padding-right: 10%;
				& > .text {
					padding-left: 0;
				}
			}
		}	
	}
	.info03 {
		.ulcol2 {
			& > * {
				float: none;
				width: 100%;
				&:first-child {
					width: 100%;
				}
			}
		}
	}
	.trafficInfo {
		padding-left: 0;
		&:before {
			display: none;
		}
		&.bus {
			li {
				width: 50%;
			}
		}
	}
	.program {
		.contCalendar {
			iframe {
				width: 200%;
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.info02 {
		.facilityList {
			li {
				display: block;
				div {
					padding-top: 170px;
					padding-left: 0;
					.icon {
						left: 50%;
						margin-left: -80px;
					}
					h5 {
						margin-bottom: 10px;
						text-align: center;
					}
				}
			}
		}
		.facilityPhoto {
			li {
				padding-left: 0;
				padding-right: 0;
			}
		}	
	}
	.info03 {
		.gridList {
			& > li {
				.unit {
					padding-top: 192px;
					padding-left: 15px;
					.icon {
						left: 50%;
						margin-left: -71px;
					}
					h5 {
						margin-bottom: 10px;
						text-align: center;
					}
				}
			}
		}
	}
	.trafficInfo {
		&.subway,
		&.bus {
			li {
				width: 100%;
			}
		}
	}
	.program {
		.contCalendar {
			iframe {
				width: 280%;
			}
		}
	}
}