@charset "utf-8";
/* ================================== Header ================================== */
#header {
	.headerNav {
		overflow: visible;
		&.led {
			height: 55px !important;
			&:after {
				display: none;
			}
			& > .inner {
				padding: 0 15%;
			}
			#gnb {
				a {
					display: block;
					width: 100%;
				}
				.depth1 {
					& > li {
						width: 100% * 1/3;
						& > a {
							background: transparent;
						}
						&:hover,
						&:focus {
							background-color: transparent;
						}
						&:nth-child(3) {
							width: 100%;
						}
					}
				}
			}
		}
	}
	.headerBtn {
		&.led {
			display: none;
		}
	}
}

/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	#header {
		.headerNav {
			&.led {
				height: auto !important;
				& > .inner {
					padding: 0;
				}
				#gnb {
					a {
						display: block;
						width: 100%;
					}
					.depth1 {
						& > li {
							width: 100%;
							& > a {
								&:after {
									display: none;
								}
							}
						}
					}
				}
			}
		}
		.headerBtn {
			&.led {
				display: block;
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {


}

// ##Screen = 480px 이하
@include respond-below(xs) {


}





/* ================================== led Contents ================================== */

.tabList {
	&.col2 {
		& > li {
			width: 100% * 1/2;
		}
	}
}

// 알림노트
.led01 {
	.visual {
		display: block;
		width: 707px;
		margin: 0 auto;
		margin-bottom: 20px;
		padding-bottom: 344px;
		background: url("../../../energy/res/img/led/bg_led01_visual.jpg") no-repeat center top;
		background-size: auto 100%;
	} 
	.textBox {
		& > * {
			max-width: 840px;
		}
	}
	.subText {
		.textEm {
			margin-top: 23px;
			padding-bottom: 15px;
			color: #222;
			@include font-size(28);
			font-weight: 300;
			line-height: 1.38;
			strong {
				font-weight: 700;
			}
		}
		.textNm {
			margin-top: -6px;
			padding-bottom: 15px;
			color: #666;
			@include font-size(18);
			font-weight: 300;
			& + .textNm {
				margin-top: 3px;
			}
		}
	}
}

// LED조명의 특징
.feature01 {
	padding-top: 20px;
	padding-bottom: 60px;
	.contTop {
		.textNm {
			margin-top: 4px;
		}
	}
}
.feature02 {
	padding-bottom: 100px;
	.contTop {
		.textNm {
			margin-top: 14px;
		}
	}
	.imgBox {
		img {
			max-width: 840px;
		}
	}
}
.feature03 {
	padding-bottom: 50px;
}
.feature04 {
	padding-top: 70px;
	padding-bottom: 70px;
	.advantageList {
		.unit {
			display: table;
			margin-top: 30px;
			& > * {
				display: table-cell;
				vertical-align: middle;
				text-align: left;
				&:first-child {
					width: 160px;
				}
			}
			i {
				width: 160px;
				height: 160px;
				@include border-radius(50%);
				background: #fff url("../../../energy/res/img/led/icon_feature04.png") no-repeat 0 center;
				$total: 9;
				$iconPos: -160px;
				@for $i from 1 through $total {
					&.icon#{$i} {
						background-position: $iconPos * ($i - 1) center;
					}
				}
			}
			dl {
				padding-left: 30px;
				color: #222;
				line-height: 1.7;
				dt {
					padding-bottom: 2px;
					@include font-size(20);
					font-weight: 700;
				}
			}
		}
	}
}
.feature05 {
	padding-top: 70px;
	padding-bottom: 70px;
	.contWrap {
		h5 {
			margin-top: 15px;
		}
	}
}
.feature06 {
	padding-bottom: 70px;
	.contTop {
		.textNm {
			margin-top: 14px;
			padding-bottom: 25px;
		}
	}
	.textBox {
		& > * {
			max-width: 800px;
		}
	}
}
.feature07 {
	.contTop {
		.textNm {
			margin-top: 14px;
			padding-bottom: 25px;
		}
	}
	.textBox {
		padding-bottom: 50px;
		& > * {
			max-width: 710px;
		}
	}
	.contWrap {
		h4 {
			& + h5 {
				margin-top: 0;
			}
		}
		& + .contWrap {
			margin-top: 50px;
		}
	}
	.tableWrap {
		td {
			&.em {
				padding: 15px 20px 16px;
				@include font-size(18);
			}
		}
	}
}
.feature07Box {
	text-align: center;
	.item {
		position: relative;
		display: inline-block;
		text-align: left;
		padding: 30px 0;
		padding-left: 208px;
		.icon {
			@include posAbsoluteLT(0, 50%, 180px, 180px);
			@include border-radius(50%);
			margin-top: -90px;
			background: #f7f7f7 url("../../../energy/res/img/led/icon_feature07.png") no-repeat 0 center;
			background-size: auto 100%;
		}
		p {
			color: #222;
			@include font-size(18);
			font-weight: 300;
			strong {
				font-weight: 700;
			}
		}
		li {
			position: relative;
			margin-top: 8px;
			color: #666;
			font-weight: 300;
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {


}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.led01 {
		.visual {
			width: 100%;
			margin-bottom: 20px;
			padding-bottom: 50%;
		}
		.subText {
			.textEm,
			.textNm {
				br {
					display: none;
				}
			}
		}
	}

	.feature04 {
		.advantageList {
			.unit {
				display: block;
				& > * {
					display: block;
					text-align: center;
				}
				i {
					margin: 0 auto;
					margin-bottom: 12px;
				}
				dl {
					padding-left: 0;
				}
			}
		}
	}
	.feature07Box {
		.item {
			padding: 0;
			padding-top: 208px;
			.icon {
				top: 0;
				left: 50%;
				margin-top: auto;
				margin-left: -90px;
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {


}