@charset "utf-8";
/* ================================== Main ================================== */

/***** main common *****/
.mContent {
	& > .inner {
		position: relative;
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
		@include clearfix;
		.colBox {
			position: relative;
			float: left;
			width: 100% * 1/2;
			&.left {
				padding-right: 20px;
				.moreBtn {
					right: 20px;
				}
			}
			&.right {
				padding-left: 20px;
			}
			h3 {
				a {
					display: inline-block;
				}
				span {
					display: inline-block;
					padding: 14px 0;
					color: #222;
					@include font-size(20);
					font-weight: 700;
					letter-spacing: -0.04em;
				}
			}
			.moreBtn {
				@include posAbsoluteRT(0, 21px, auto, auto);
				&:before {
					content: '';
					display: block;
					width: 16px;
					height: 16px;
					background: url("../../../energy/res/img/main/btn_more.png") no-repeat 0 center;
				}
			}
		}
	}
}


/***** main visual *****/
.visualArea {
	position: relative;
	background: #f2f2f2;
}
.visualSlide {
	width: 100%;
	overflow: hidden;
	position: relative;
	.slideItem {
		position: relative;
		background-repeat: no-repeat; 
		background-position: center center;
		background-size: cover;
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 520px;
			@include transition(all, .3s, ease);
		}
		.slogan {
			@include posAbsoluteLT(50%, 125px, 100%, auto);
			@include translate(-50%, 0);
			max-width: $maxWidth;
			padding: 0 30px;
			@include transition(all, .3s, ease);
			& > * {
				display: block;
				padding: 1px 0;
				color: #fff;
				@include font-size(40);
				line-height: 1.2;
				letter-spacing: -0.04em;
			}
			i {
				position: relative;
				margin-bottom: 12px;
				padding-bottom: 20px;
				font-style: normal;
				@include font-size(16);
				font-weight: 500;
				&:after {
					content: '';
					@include posAbsoluteLB(0, 0, 30px, 2px);
					background: #fff;
				}
			}
			strong {
				font-weight: 700;
			}
		}
		&.visual1 {
			background: url("../../../energy/res/img/main/visual1.jpg") no-repeat center center;
			background-size: cover;
			.slogan {
				& > * {
					text-shadow: 0 0 2px rgba(#3c3e42,.3);
				}
				i {
					text-shadow: 0 0 1px rgba(#3c3e42,.4);
					&:after {
						background: rgba(#fff,.9);
					}
				}
			}
		}
		&.visual2 {
			background: url("../../../energy/res/img/main/visual2.jpg") no-repeat center center;
			background-size: cover;
			.slogan {
				& > * {
					text-shadow: 0 0 5px rgba(#000,.4);
				}
				i {
					text-shadow: 0 0 5px rgba(#000,.4);
					&:after {
						background: rgba(#fff,.4);
					}
				}
			}
		}
	}
	.slick-arrow {
		overflow: hidden;
		width: 80px;
		height: 80px;
		background: url("../../../energy/res/img/main/icon_visual_arrow.png") no-repeat 0 center;
	}
	.slick-prev {
		margin-left: -680px;
		background-position: 0 center;
	}
	.slick-next {
		margin-left: 680px;
		background-position: -100px center;
	}
	.slideControl {
		@include posAbsoluteLB(50%, 165px, auto, auto);
		@include translate(-50%, 0);
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
		@include clearfix;
		z-index: 999;
		.slick-dots {
			float: left;
			@include clearfix;
			li {
				float: left;
				button {
					width: 28px;
					height: 28px;
					padding: 6px;
					background: transparent;
					&:before {
						width: 16px;
						height: 16px;
						border: 1px solid #fff;
						@include box-sizing(border-box);
					}
				}
				&.slick-active {
					button {
						&:before {
							background: #fff;
						}
					}
				}
			}
		}
		.slidePlay {
			position: relative;
			float: left;
			width: 28px;
			height: 28px;
			padding: 4px;
			background: transparent;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 18px;
				height: 18px;
				text-align: center;
				border: 2px solid #fff;
				@include border-radius(50%);
				@include translate(-50%, -50%);
				background: url("../../../energy/res/img/main/icon_visual_control.png") no-repeat center 0;
				@include box-sizing(border-box);
			}
			&.pause {
				&:before {
					background-position: center -20px;
				}
			}
		}
	}
}
#siteLink {
	@include posAbsoluteLB(50%, 50px, 100%, auto);
	@include translate(-50%, 0);
	max-width: $maxWidth;
	padding: 0 30px;
	ul {
		@include clearfix;
		background: #fff;
		@include boxShadow(0, 0, 2px, rgba(#000, .68));
		@include transition(all, .5s, linear);
		li {
			position: relative;
			float: left;
			width: 100% * 1/6;
			text-align: center;
			line-height: 1.35;
			&:before {
				content: '';
				@include posAbsoluteLT(0, 50%, 1px, 40px);
				@include translate(0, -50%);
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
			a {
				display: block;
				width: 100%;
				padding: 19px 0 21px;
				text-align: center;
				@include transition(all, .5s, linear);
				span {
					display: inline-block;
					padding: 4px 0;
					text-align: left;
					vertical-align: middle;
				}
				&:before {
					content: '';
					display: inline-block;
					height: 50px;
					margin-right: 5%;
					vertical-align: middle;
					@include transition(background-image, .5s, linear);
				}
			}
			$iconSize: (
				1: 50px,
				2: 50px,
				3: 42px,
				4: 52px,
				5: 52px,
				6: 46px
			);
			&.link{
				@each $number, $size in $iconSize {
					&#{$number} {
						a {
							&:before {
								width: $size;
								background-position: right -50px * ($number - 1) !important;
							}
						}
					}
				}
			}
		}
	}
	&.slide1 {
		ul {
			background: #fff;
			li {
				&:before {
					background: rgba(#ddd, 1);
				}
				a {
					color: #222;
					&:before {
						background: url("../../../energy/res/img/main/icon_slide1_link.png") no-repeat right top;
					}
				}
			}
		}
	}
	// &.slide2 {
	// 	ul {
	// 		background: rgba(#1a4dc7, .9);
	// 		li {
	// 			&:before {
	// 				background: rgba(#ddd, .4);
	// 			}
	// 			a {
	// 				color: #fff;
	// 				&:before {
	// 					background: url("../../../energy/res/img/main/icon_slide2_link.png") no-repeat right top;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}


/***** main comm : 공지사항, 보도자료, 자료실, 팝업존 *****/
.mComm {
	& > .inner {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.mainBoard {
		padding-top: 58px;
		h3 {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			a {
				position: relative;
				padding: 0 15px;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 50%, 1px, 20px);
					@include translate(0, -50%);
					background: #ddd;
				}
			}
			span {
				position: relative;
				&:after {
					content: '';
					@include posAbsoluteLB(50%, -2px, 0, 3px);
					@include translate(-50%, 0);
					background: #fa8411;
					@include transition(all, .2s, ease);
					z-index: 2;
				}
			}
			&.mNotice {
				a {
					padding-left: 0;
					&:before {
						display: none;
					}
				}
			}
			&.mPress {
				left: 86px;
			}
			&.mData {
				left: 186px;
			}
			&.isActive {
				span {
					position: relative;
					&:after {
						width: 100%;
					}
				}
				& + .bbsList {
					display: block;
				}
			}
		}
		.bbsList {
			display: none;
			font-weight: 300;
			border-top: 1px solid #ddd;
			.latest {
				position: relative;
				padding: 20px 0 17px;
				padding-left: 75px;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 50%, 56px, 44px);
					@include translate(0, -50%);
				}
				dt {
					margin-bottom: 7px;
					color: #000;
					@include font-size(18);
					font-weight: 700;
					@include text-ellipsis;
				}
				dd {
					height: 48px;
					color: #444;
					@include multiline-ellipsis (1.6 * 2, 2);
				}
			}
			ul {
				padding: 10px 0 5px;
				border-top: 1px dotted #ccc;
				li {
					position: relative;
					padding: 3px 80px 4px 12px;
					&:before {
						content: '';
						@include posAbsoluteLT(0, 50%, 3px, 3px);
						@include translate(0, -50%);
						@include border-radius(50%);
						background: #fa8411;
					}
					a {
						color: #333;
						@include text-ellipsis;
					}
					.date {
						@include posAbsoluteRT(0, 50%, auto, auto);
						@include translate(0, -50%);
						text-align: right;
						color: #666;
					}
				}
			}
		}
		.mNotice {
			& + .bbsList {
				.latest {
					&:before {
						background: url("../../../energy/res/img/main/icon_notice.png") no-repeat center center;
					}
				}
			}
		}
		.mPress {
			& + .bbsList {
				.latest {
					&:before {
						background: url("../../../energy/res/img/main/icon_press.png") no-repeat center center;
					}
				}
			}
		}
		.mData {
			& + .bbsList {
				.latest {
					&:before {
						background: url("../../../energy/res/img/main/icon_data.png") no-repeat center center;
					}
				}
			}
		}
	}
	.popupZone {
		padding-top: 18px;
		.pzControl {
			@include posAbsoluteRT(0, 18px, auto, auto);
			@include clearfix;
			z-index: 2;
			.pzState {
				position: relative;
				display: block;
				width: 69px;
				height: 44px;
				float: left;
				margin-right: 1px;
				color: #fff;
				background: rgba(#030303, .35) url("../../../energy/res/img/main/bg_pz_state.png") no-repeat center center;
				.totalNum {
					@include posAbsoluteRB(17px, 8px, auto, auto);
				}
				.currentNum {
					@include posAbsoluteLT(17px, 3px, auto, auto);

					@include font-size(24);
					font-weight: 700;
				}
			}
			button {
				float: left;
				width: 28px;
				height: 44px;
				background: rgba(#030303, .35) url("../../../energy/res/img/main/icon_pz_control.png") no-repeat 0 center;
				&.pzPlay {
					background-position: -30px * 1 center;
					&.pause {
						background-position: -30px * 0 center;
					}
				}
				&.pzPrev {
					background-position: -30px * 2 center;
				}
				&.pzNext {
					background-position: -30px * 3 center;
				}
			}
		}
		.pzList {
			img {
				width: 100%;
				height: 300px;
				vertical-align: top;
			}
		}
	}
}


/***** main together : 공모전 *****/
.mTogether {
	text-align: center;
	background: #f8f8f8 url("../../../energy/res/img/main/bg_pattern.png") repeat center center;
	& > .inner {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	h2 {
		color: #222;
		@include font-size(32);
		font-weight: 700;
		& + p {
			padding-top: 2px;
			color: #666;
		}
	}
	.contSlideWrap {
		position: relative;
		margin: 26px 0 40px;
	}
	.contSlide {
		margin: 0 -13px;
		.slideItem {
			// outline: none;
			padding: 0 13px;
			a {
				position: relative;
				display: block;
				border: solid #ddd;
				border-width: 0 1px 1px 0;
				background: #fff;
				@include boxShadow(1px, 0, 1px, rgba(#000, .15));
			}
			.thumb {
				overflow: hidden;
				position: relative;
				display: block;
				width: 100%;
				padding-bottom: 75%;
				background: url('/energy/res/img/board/bg_no_thumb.jpg') no-repeat center center;
				background-size: cover;
				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
				}
			}
			.info {
				display: block;
				padding: 16px 16px 22px;
				line-height: 1.4;
				& > * {
					font-style: normal;
				}
				em {
					height: 44px;
					color: #333;
					@include multiline-ellipsis (1.4 * 2, 2);
				}
				i {
					padding-top: 8px;
					color: #666;
					font-weight: 300;
				}
			}
		}
	}
	.slick-arrow {
		overflow: hidden;
		width: 50px;
		height: 50px;
		border: 1px solid rgba(#333, .6);
		background: url("../../../energy/res/img/main/icon_cont_arrow.png") no-repeat 0 center;
	}
	.slick-prev {
		margin-left: -675px;
		background-position: 0 center;
	}
	.slick-next {
		margin-left: 675px;
		background-position: -100px center;
	}
	.btnMore {
		margin: 0;
		& > * {
			min-width: 200px;
			color: #444;
			@include font-size(16);
			font-weight: 500;
			//@include lh(50px);
			background: transparent;
			border: 1px solid #808080;
		}
	}
}


/***** main infomation : 센터소개, 찾아오시는길 *****/
.mInfomation {
	& > .inner {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.contInfo {
		padding-top: 19px;
		border-top: 1px solid #ddd;
		@include clearfix;
		& > * {
			float: left;
		}
		.thumb {
			overflow: hidden;
			position: relative;
			width: 55%;
			height: 220px;
			img {
				@include posAbsoluteLT(50%, 0, auto, 100%);
				@include translate(-50%, 0);
				right: 0;
				bottom: 0;
				min-width: 100%;
			}
		}
		dl {
			width: 45%;
			padding-left: 16px;
			color: #333;
			@include font-size(14);
			font-weight: 300;
			letter-spacing: -0.05em;
			dt {
				@include font-size(16);
				font-weight: 700;
			}
			dd {
				p {
					padding-top: 14px;
					letter-spacing: -0.1em;
				}
			}
		}
	}
	.contMap {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 240px;
		& > img {
			@include posAbsoluteLT(50%, 0, auto, auto);
			@include translate(-50%, 0);
		}
		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
}


/***** main sitemap : 사이트맵 *****/
.mSitemap {
	margin-bottom: -100px;
	border-top: 1px solid #ddd;
	background: #f8f8f8;
	& > .inner {
		padding-top: 30px;
		padding-bottom: 70px;
	}
	a {
		display: block;
		width: 100%;
	}
	.depth1 {
		display: table;
		width: 100%;
		& > li {
			display: table-cell;
			width: 100% * 1/6;
			& > a {
				padding: 0 0 3px;
				color: #222;
				@include font-size(16);
				font-weight: 500;
				letter-spacing: -0.05em;
			}
		}
	}
	.depth2 {
		& > li {
			& > a {
				position: relative;
				padding: 4px 0 4px 8px;
				color: #666;
				@include font-size(14);
				font-weight: 300;
				line-height: 1.45;
				letter-spacing: -0.04em;
				&:before {
					content: '-';
					@include posAbsoluteLT(0, 4px, auto, auto);
				}
			}
		}
	}
}

/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {
	.mTogether {
		.slick-arrow {
			top: -80px;
			left: auto;
			margin-left: auto;
			@include translate(0, 0);
		}
		.slick-prev {
			left: 0;
		}
		.slick-next {
			right: 0;
		}
	}
}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.visualSlide {
		.slideControl {
			bottom: 30px;
		}
	}
	#siteLink {
		position: relative;
		left: auto;
		bottom: auto;
		@include translate(0, 0);
		padding: 0;
		ul {
			border: solid #ddd;
			border-width: 1px 0 0 1px;
			@include boxShadow(0, 0, 0, rgba(#000, 0));
			li {
				width: 100% * 1/3;
				border: solid #ddd;
				border-width: 0 1px 1px 0;
				&:before {
					display: none;
				}
				a {
					padding-left: 16%;
					text-align: left;
				}
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.visualSlide {
		.slideItem {
			&:before {
				height: 277px;
			}
			// &:after {
			// 	content: '';
			// 	@include posFixedFull;
			// 	background: rgba(#000, .1);
			// 	z-index: 1;
			// }
			.slogan {
				top: 45px;
				padding: 0 m-get-per(30px);
				z-index: 2;
				& > * {
					padding: 2px 0;
					@include font-size(30);
				}
				i {
					&:after {
						width: 23px;
					}
				}
			}
		}
	}
	.mContent {
		& > .inner {
			padding-left: m-get-per(30px);
			padding-right: m-get-per(30px);
			.colBox {
				float: none;
				width: 100%;
				&.left {
					padding-right: 0;
					.moreBtn {
						right: 0;
					}
				}
				&.right {
					margin-top: 26px;
					padding-left: 0;
				}
			}
		}
	}
	#siteLink {
		ul {
			li {
				width: 100% * 1/2;
			}
		}
	}
	.mComm {
		.popupZone {
			padding-top: 0;
			.pzControl {
				top: 0;
			}
		}
	}
	.mSitemap {
		& > .inner {
			padding-top: 17px;
			padding-bottom: 20px;
		}
		.depth1 {
			display: block;
			& > li {
				display: block;
				width: 100%;
				border-top: 1px solid #ddd;
				&:first-child {
					border-top: none;
				}
				& > a {
					position: relative;
					padding: 8px 0 10px;
					&:after {
						content: '';
						@include posAbsoluteRT(0, 19px, 7px, 5px);
						background: url("../../../energy/res/img/main/icon_sitemap_arrow.png") no-repeat center 0;
					}
				}
				// &:first-child {
				// 	& > a {
				// 		&:after {
				// 			display: none;
				// 		}
				// 	}
				// }
				&.on {
					& > a {
						&:after {
							background-position: center -10px;
						}
					}
				}
			}
		}
		.depth2 {
			display: none;
			padding: 10px;
			margin-bottom: 15px;
			background: #fefefe;
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.visualSlide {
		.slideItem {
			.slogan {
				& > * {
					@include font-size(26);
				}
			}
		}
	}
	#siteLink {
		ul {
			li {
				a {
					padding-left: 8%;
					@include font-size(14);
				}
			}
		}
	}
	.mComm {
		.mainBoard {
			.bbsList {
				ul {
					li {
						padding-right: 0;
						.date {
							display: none;
						}
					}
				}
			}
		}
	}
	.mInfomation {
		.contInfo {
			& > * {
				float: none;
				display: block;
			}
			.thumb {
				width: 100%;
				height: auto;
				padding-bottom: 68.5%;
				img {
					width: 100%;
				}
			}
			dl {
				width: 100%;
				padding-left: 0;
				dt {
					padding-top: 14px;
				}
			}
		}
	}
}