@charset "utf-8";
/* ================================== search Contents ================================== */

.totalSearch {
	.searchBox {
		margin-top: -20px;
		margin-bottom: 0;
	}
	.tabList {
		margin-top: 30px;
	}
}

.searchDetail {
	overflow: hidden;
	display: none;
	border: 1px solid #ccc;
	border-top: none;
	.fieldWrap {
		position: relative;
		padding-left: 176px;
		border-top: 1px solid #ddd;
		&:first-child {
			border-top: none;
		}
		.fieldTitle {
			@include posAbsoluteLT(0, 0, 157px, auto);
			bottom: 0;
			padding: 17px 0 15px;
			text-align: center;
			color: #222;
			font-weight: 700;
			border-right: 1px solid #ccc;
			background: #f7f7f7;
		}
		.chkField {
			padding: 2px 0 6px;
			& > * {
				display: inline-block;
				padding: 12px 0;
				padding-right: 65px;
			}
		}
		input[type="radio"] {
			margin-top: 9px;
			vertical-align: top;
		}
		label {
			font-weight: 300;
		}
		.inpCal {
			width: 157px;
			@include lh(28px);
			margin-bottom: -1px;
			border: 1px solid #dadada;
			background: url("../../../energy/res/img/board/icon_cal.png") no-repeat right center;
		}
		.inInp {
			padding-left: 113px;
			input[type="radio"] {
				& + label {
					padding-right: 20px;
				}
			}
		}
	}
}
.btnWrap {
	position: relative;
	text-align: center;
}
.detailBtn {
	& > * {
		display: inline-block;
		min-width: 120px;
		padding: 0 10px;
		text-align: center;
		color: #fff;
		@include font-size(14);
		@include lh(34px);
		font-weight: 700;
		background: #8f8f8f;
		&:after {
			content: '';
			display: inline-block;
			width: 9px;
			height: 5px;
			margin-top: -2px;
			margin-left: 8px;
			vertical-align: middle;
			background: url("../../../energy/res/img/board/icon_detail_btn.png") no-repeat center -10px * 0;
		}
	}
	&.isOpen {
		& > * {
			&:after {
				background-position: center -10px * 1;
			}
		}
	}
}

.searchResultText {
	padding: 2px 10px 34px;
	text-align: center;
	color: #222;
	@include font-size(24);
	font-weight: 500;
	strong {
		color: #f46802;
		font-weight: 700;
	}
}

.searchResultList {
	position: relative;
	& + .searchResultList {
		margin-top: 62px;
	}
	.resultListTop {
		padding-bottom: 14px;
		border-bottom: 2px solid #222;
		& > * {
			display: inline-block;
		}
		h3 {
			padding-right: 4px;
			color: #222;
			@include font-size(24);
			font-weight: 700;
			.count {
				color: #f46802;
				@include font-size(20);
			}
		}
		p {
			color: #777;
			em {
				color: #222;
				font-style: normal;
			}
		}
	}
	.resultListUnit {
		position: relative;
		padding: 25px 30px;
		padding-right: 190px;
		border-bottom: 1px solid #ddd;
		dt {
			padding-bottom: 10px;
			color: #222;
			@include font-size(20);
			font-weight: 700;
			line-height: 1.4;
		}
		dd {
			color: #777;
		}
		.srchSubj {
			padding-bottom: 10px;
			color: #222;
			@include font-size(20);
			font-weight: 700;
			line-height: 1.4;
		}
		.srchCont {
			color: #777;
		}
		.srchLoca {
			padding-top: 12px;
			color: #a27d1b;
			@include font-size(15);
		}
		.srchInfo {
			@include posAbsoluteRT(30px, 50%, auto, auto);
			display: inline-block;
			margin-top: -23px;
			color: #777;
			font-weight: 300;
			text-align: right;
			line-height: 1.45;
		}
		&.noData {
			padding-top: 65px;
			padding-bottom: 65px;
			padding-right: 30px;
			color: #333;
			@include font-size(20);
			font-weight: 300;
		}
		strong {
			color: #f46802;
			font-weight: 700;
		}
	}
	.searchMore {
		@include posAbsoluteRT(0, 7px, auto, auto);
		color: #777;
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {

	
}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.searchDetail {
		.fieldWrap {
			padding-left: 136px;
			.fieldTitle {
				width: 117px;
			}
			.chkField {
				& > * {
					padding-right: 30px;
				}
			}
			.inInp {
				padding-left: 78px;
				input[type="radio"] {
					& + label {
						padding-right: 10px;
					}
				}
			}
		}
	}
	.searchResultList {
		.resultListTop {
			& > * {
				display: block;
			}
			h3 {
				padding-bottom: 5px;
			}
		}
		.resultListUnit {
			padding-right: 30px;
			.srchInfo {
				position: relative;
				right: auto;
				top: auto;
				display: block;
				margin-top: 0;
				padding-top: 8px;
				text-align: left;
				@include font-size(15);
				@include clearfix;
				li {
					float: left;
					padding-right: 20px;
				}
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.searchDetail {
		.fieldWrap {
			padding-left: 0;
			.fieldTitle {
				position: relative;
				left: auto;
				top: auto;
				bottom: auto;
				width: auto;
				text-align: center;
				border-right: none;
			}
			.chkField {
				padding: 2px 20px 6px;
				& > * {
					padding-right: 30px;
				}
			}
			.inpCal {
				width: 117px;
			}
			.inInp {
				padding-left: 0;
			}
		}
	}
	.searchResultList {
		.resultListUnit {
			padding-left: 0;
			padding-right: 0;
			&.noData {
				text-align: center;
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.searchDetail {
		.fieldWrap {
			.inpCal {
				width: 46%;
			}
			.inInp {
				padding-right: 0;
				.inpWrap {
					display: inline-block;
					padding-left: 16px;
    			padding-top: 8px;
				}
			}
		}
	}
}