@charset "utf-8";
/* ================================== sitemap Contents ================================== */

.sitemap {
	margin-top: -53px;
	margin-bottom: -45px;
}
.sitemapBox {
	padding: 10px 0;
	border-top: 1px dashed #dadade;
	@include clearfix;
	&:first-child {
		border-top: none;
	}
	& > * {
		float: left;
	}
	h3 {
		width: 20%;
		padding: 10px 0;
		padding-right: 10px;
		color: #f46802;
		@include font-size(22);
		font-weight: 700;
		letter-spacing: -0.04em;
	}
	ul {
		width: 80%;
		@include clearfix;
	}
	li {
		float: left;
		width: 100% * 1/4;
		padding: 14px 0 16px;
		padding-right: 10px;
		position: relative;
		padding-left: 8px;
		color: #333;
		&:before {
			content: '-';
			@include posAbsoluteLT(0, 14px, auto, auto);
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {

	
}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.sitemapBox {
		& > * {
			float: none;
		}
		h3 {
			width: 100%;
			br {
				display: none;
			}
		}
		ul {
			width: 100%;
		}
		li {
			width: 100% * 1/3;
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.sitemapBox {
		li {
			width: 100% * 1/2;
			padding-top: 9px;
			padding-bottom: 11px;
			&:before {
				top: 9px;
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.sitemapBox {
		li {
			width: 100% * 1/1;
		}
	}
}