@charset "utf-8";
/* ================================== sun Contents ================================== */

// 왜 태양광인가요.whySun01 {
.whySun01,
.whySun02,
.whySun03,
.whySun04 {
	.textBox {
		margin-top: 10px;
		& > * {
			max-width: 800px;
		}
	}
}
.whySun01,
.whySun02,
.whySun03 {
	padding-bottom: 70px;
	.imgBox {
		img {
			max-width: 800px;
		}
	}
}
.whySun04 {
	padding-bottom: 0;
	.imgBox {
		img {
			max-width: 1000px;
		}
	}
}

// 태양의 도시 서울의 비전
.sun01 {
	margin-top: -70px;
	padding-top: 70px;
	padding-bottom: 80px;
	background: #cbae8e url("../../../energy/res/img/sun/bg_sun01_visual.jpg") no-repeat center bottom;
	background-size: cover;
	.gridWrap {
		margin-top: 30px;
	}
	.gridList {
		& > li {
			.cercle {
				width: 228px;
				height: 228px;
				margin: 0 auto;
				padding-top: 38px;
				color: #222;
				@include font-size(18);
				font-weight: 700;
				@include border-radius(50%);
				background: #fff;
				.icon {
					display: block;
					width: 86px;
					height: 86px;
					margin: 0 auto 5px; 
					&:before {
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						background: url("../../../energy/res/img/sun/icon_sun01.png") no-repeat 0 center;
						background-size: auto 100%;
					}
				}
				$total: 4;
				$iconPos: -100px;
				@for $i from 1 through $total {
					&.item#{$i} {
						.icon {
							&:before {
								background-position: $iconPos * ($i - 1) center;
							}
						}
					}
				}
			}
		}
	}
}
.sun02 {
	padding-top: 60px;
	padding-bottom: 60px;
	.gridList {
		& > li {
			.icon {
				display: inline-block;
				width: 174px;
				height: 174px;
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					background: url("../../../energy/res/img/sun/icon_sun02.png") no-repeat 0 center;
					background-size: auto 100%;
				}
			}
			$total: 3;
			$iconPos: -200px;
			@for $i from 1 through $total {
				&.item#{$i} {
					.icon {
						&:before {
							background-position: $iconPos * ($i - 1) center;
						}
					}
				}
			}
			dt {
				position: relative;
				padding: 58px 0 10px;
				color: #222;
				@include font-size(22);
				font-weight: 700;
				strong {
					@include posAbsoluteLT(0, 0, 100%, auto);
					text-align: center;
					color: #f46802;
					@include font-size(44);
					line-height: 1.3;
				}
			}
			dd {
				padding-bottom: 6px;
				color: #666;
				em {
					color: #f46802;
					font-style: normal;
				}
			}
		}
	}
}
.sun03 {
	margin-bottom: -100px;
	padding-top: 70px;
	padding-bottom: 70px;
	.gridWrap {
		margin-top: 30px;
		border-top: 2px solid #f47302;
	}
	.gridList {
		border-left: 1px solid #d7d7d7;
		& > li {
			text-align: left;
			padding: 36px 30px 46px 78px;
			border-right: 1px solid #d7d7d7;
			border-bottom: 1px solid #d7d7d7;
			background: #fff;
			dt {
				position: relative;
				margin-bottom: 5px;
				color: #222;
				@include font-size(20);
				font-weight: 700;
				.num {
					@include posAbsoluteLT(-48px, 2px, 40px, 24px);
					line-height: 22px;
					text-align: center;
					color: #fff;
					@include font-size(16);
					font-style: normal;
					@include border-radius(20px);
					background: #f47302;
				}
			}
			dd {
				color: #666;
				font-weight: 300;
			}
		}
	}
}

// 태양의 도시 7대 실행과제
.action {
	margin-top: -70px;
	margin-bottom: -100px;
	padding-top: 70px;
	padding-bottom: 90px;
	.gridWrap {
		margin-top: 25px;
	}
	.gridList {
		margin-top: -30px;
		& > li {
			width: 100% * 1/4;
			padding-top: 30px;
			color: #222;
			@include font-size(20);
			&:nth-child(1),
			&:nth-child(3) {
				width: (100% * 3/4) * 1/2;
			}
			&:nth-child(1) {
				padding-left: (100% * 1/4) * 1/2;
			}
			&:nth-child(3) {
				padding-right: (100% * 1/4) * 1/2;
			}
			em {
				color: #f46802;
				font-style: normal;
				font-weight: 700;
			}
			.icon {
				display: block;
				width: 170px;
				height: 170px;
				margin: 0 auto;
				margin-bottom: 8px;
				border: 10px solid #eaeaea;
				@include border-radius(50%);
				background: #fff;
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					background: url("../../../energy/res/img/sun/icon_action7.png") no-repeat 0 center;
					background-size: auto 100%;
				}
			}
			$total: 7;
			$iconPos: -150px;
			@for $i from 1 through $total {
				&.item#{$i} {
					.icon {
						&:before {
							background-position: $iconPos * ($i - 1) center;
						}
					}
				}
			}
		}
	}
}

// 2022년 서울의 모습
.sunSeoul01,
.sunSeoul02,
.sunSeoul03 {
	.contTop {
		& + .contWrap {
			margin-top: 30px;
		}
	}
}
.sunSeoul01 {
	padding-bottom: 70px;
	.imgBox {
		margin-top: 0;
	}
}
.sunSeoul02 {
	padding-top: 70px;
	padding-bottom: 70px;
	.unit {
		.pictogram {
			display: block;
			width: 100%;
			padding-bottom: 26.34%;
			&.item1 {
				background: url("../../../energy/res/img/sun/pictogram_sunseoul02_1.png") no-repeat center center;
				background-size: 100% 100%;
			}
			&.item2 {
				background: url("../../../energy/res/img/sun/pictogram_sunseoul02_2.png") no-repeat center center;
				background-size: 100% 100%;
			}
		}
	}
}
.sunSeoul03 {
	margin-bottom: -40px;
	padding-top: 70px;
	.contWrap {
		position: relative;
		.arrow {
			@include posAbsoluteLT(33%, 50%, 110px, 136px);
			margin-top: -54px;
			background: url("../../../energy/res/img/sun/arrow_sunseoul03.png") no-repeat center center;
		}
	}
	.textBox {
		&.result {
			padding: 30px 0;
		}
	}
	.imgBox {
		&.benefit {
			width: 100%;
			padding-bottom: 42.25%;
			background: url("../../../energy/res/img/sun/diagram_sunseoul03_3.png") no-repeat center center;
			background-size: 100% 100%;
		}
	}

}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {

	
}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.sun01 {
		.gridList {
			&.col4 {
				margin: -30px 0 0 0;
				& > li {
					padding: 30px 0 0 0;
					width: 100% * 1/2;
				}
			}
		}
	}
	.sun03 {
		.gridList {
			&.col3 {
				& > li {
					width: 100% * 1/2;
				}
			}
		}
	}
	.action {
		.gridList {
			& > li {
				width: 100% * 1/2;
				&:nth-child(1),
				&:nth-child(3) {
					width: 100% * 1/2;
				}
				&:nth-child(1) {
					padding-left: 0;
				}
				&:nth-child(3) {
					padding-right: 0;
				}
			}
		}
	}
	.sunSeoul03 {
		.contWrap {
			& > * {
				&.innerL {
					position: relative;
					padding-bottom: 130px;
					.imgBox {
						max-width: 390px;
					}
				}
			}
			.arrow {
				left: 48%;
				top: auto;
				bottom: 0;
				width: 136px;
				height: 110px;
				margin-top: 0;
				margin-left: -58px;
				background: url("../../../energy/res/img/sun/arrow_sunseoul03_m.png") no-repeat center center;
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.sun01 {
		.gridList {
			&.col4 {
				& > li {
					width: 100%;
				}
			}
		}
	}
	.sun03 {
		.gridList {
			&.col3 {
				& > li {
					width: 100%;
				}
			}
			&.nonGap {
				margin: 0;
			}
		}
	}
	.sunSeoul03 {
		.contWrap {
			& > * {
				&.innerL {
					.imgBox {
						width: 80%;
					}
				}
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.action {
		.gridList {
			& > li {
				width: 100%;
				&:nth-child(1),
				&:nth-child(3) {
					width: 100%;
				}
			}
		}
	}
}