@charset "utf-8";
/* ================================== together Contents ================================== */


// 에너지컨설팅
.consulting {
	.visual {
		display: block;
		width: 1024px;
		margin: 0 auto;
		margin-bottom: 30px;
		padding-bottom: 332px;
		background: url("../../../energy/res/img/together/bg_consulting_visual.jpg") no-repeat center top;
		background-size: auto 100%;
	} 
	.consultStep {
		position: relative;
		padding-left: 125px;
		p {
			font-weight: 700;
			span {
				@include posAbsoluteLT(0, 5px, 110px, 110px);
				text-align: center;
				line-height: 110px;
				color: #fff;
				@include font-size(18);
				@include border-radius(50%);
				background: #f47302;
			}
		}
		li {
			position: relative;
			margin-top: 6px;
			padding-left: 8px;
			&:before {
				content: '-';
				@include posAbsoluteLT(0, 0, auto, auto);
			}
		}
		& + .consultStep {
			margin-top: 30px;
		}
	}
}





/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {

	
}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.consulting {
		.visual {
			width: 100%;
			padding-bottom: 36%;
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {


}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.consulting {
		.consultStep {
			padding-left: 0;
			padding-top: 125px;
			p {
				margin-top: -5px;
				span {
					top: 0;

				}
			}
		}
	}
}