@charset "utf-8";

// Content Width
$maxWidth: 1260px;
$webWidth: 1200px;
$mobileWidth: 640px;

// font family
$fontFamily: 'Noto Sans KR', sans-serif;

// A map of breakpoints.
$breakpoints: (
  xs: 480px,
  sm: 767px,
  md: 1024px,
  lg: 1280px,
  xlg: 2000px,
  custom640: 640px,
);