@charset "utf-8";
/* ================================== Common ================================== */
// img { max-width: 100%; height: auto; }
a, a:hover, a:focus, a:active {
	text-decoration: none;
}

#skipNav {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
	a {
		overflow: hidden;
		display: block;
		width: 1px;
		height: 1px;
		margin-bottom: -1px;
		color: #444;
		font-size: 0;
		text-decoration: none;
		&:hover,
		&:active,
		&:focus {
			width: 100%;
			height: auto;
			padding: 9px 0;
			background: #303030;
			@include font-size(20);
			text-align: center;
			color: #fff;
		}
	}
}

caption,
.hidden {
	position: absolute;
	top: -9999;
	left: -9999;
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}
caption {
	font-size: 0;
	height: 0;
	visibility: hidden;
	overflow:hidden;
}
.hidden,
legend {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

// Placeholder Text Color
input[placeholder] {
	&::-webkit-input-placeholder{ color: #777; }
	&:-moz-placeholder { color: #777;}
	&::-moz-placeholder { color: #777;}
	&:-ms-input-placeholder { color: #777; }
	&.placeholder{color: #777;}
}
html {
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	position: relative;
	min-height: 100%;
	overflow-y: auto;
}
body {
	font-family: $fontFamily;
	font-weight: 400; // Light:100,Medium:400, SemiBold:700, Bold:900;
	font-style: normal;
	color: #444;
	@include font-size(18);
	line-height: 1.6;
	letter-spacing: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: hidden;
}
html, body {
	overflow-x: hidden;
	//height: 100%;
}
.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.webOnly {
	display: inline-block;
}
.mobOnly {
	display: none;
}

button {
	font-family: inherit;
	cursor: pointer;
	background: transparent;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

table {
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}
// input
input[type="text"],
input[type="password"],
textarea {
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	@include border-radius(0);
	font-family: inherit;
	border: 1px solid #ddd;
	@include box-sizing(border-box);
}
input[type="text"],
input[type="password"] {
	padding: 0 10px;
	@include lh(40px);
}
input[type="file"] {
	width: 100%;
	// appearance: none;
	// -webkit-appearance: none;
	// -moz-appearance: none;
	// @include border-radius(0);
	font-family: inherit;
}
textarea {
	height: auto;
	padding: 10px;
}
select {
	width: 100%;
	height: 40px;
	line-height: 34px;
	padding: 4px 5px;
	font-family: inherit;
	vertical-align: middle;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 0px;
}
input[type="text"],
input[type="password"],
input[type="file"],
textarea,
select {
	color: #666;
	@include font-size(16);
	line-height: 1.6;
	letter-spacing: -0.02em;
}
input[type="checkbox"],
input[type="radio"] {
	&.custom {
		opacity: 0;
		position: absolute; 
		width: 20px;
		height: 20px;
		margin-top: 4px;
		+ label {
			position: relative;
			display: inline-block;
			height: 24px;
			padding-left: 29px;
			color: #666;
			i {
				@include posAbsoluteLT(0, 2px, 20px, 20px);
				border: 1px solid #ddd;
				background: #fff;
				cursor: pointer;
			}
		}
	}
	&.boxOnly {
		+ label {
			padding-left: 20px;
		}
	}
}
input[type="checkbox"] {
	&.custom {
		&:checked {
			+ label {
				i {
					background: #fff url("/kedi_eng/res/img/common/icon_checkbox.png") no-repeat center center;
				}
			}
		}
	}
}
input[type="radio"] {
	&.custom {
		+ label {
			line-height: 24px;
			i {
				@include border-radius(50%);
			}
		}
		&:checked {
			+ label {
				i {
					background: #fff url("/kedi_eng/res/img/common/icon_radio.png") no-repeat center center;
				}
			}
		}
	}
}

.modalOverlay {
	display: none;
	@include posFixedFull;
	background: rgba(#000, .7);
	&.gnbDim {
		z-index: 9;
	}
	&.layerDim {
		z-index: 998;
	}
}

.viewBtn {
	display: inline-block;
	margin: 3px 0 4px;
	padding: 0 8px 0 7px;
	color: #fff;
	@include font-size(15);
	@include lh(25px);
	font-weight: 900;
	background: #000;
	&.end {
		background: #484848;
	}
}

.buyBtn {
	display: inline-block;
	min-width: 90px;
	margin: 0;
	padding: 0 8px 0 7px;
	color: #fff;
	@include font-size(16);
	@include lh(29px);
	font-weight: 900;
	background: #006835;
	text-shadow: 0 0 1px rgba(#000,.7);
	&.end {
		background: #484848;
	}
}

.participateBtn {
	display: inline-block;
	min-width: 110px;
	margin: 0;
	padding: 0 8px 0 7px;
	color: #fff;
	@include font-size(18);
	@include lh(39px);
	font-weight: 900;
	background: #006835;
	text-shadow: 0 0 1px rgba(#000,.7);
	&.end {
		background: #484848;
	}
}

.arrowBtn {
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 580px;
	margin: 0;
	padding: 16px 18px 15px;
	color: #fff;
	@include font-size(28);
	font-weight: 900;
	line-height: 1.4;
	background: #00a235;
	text-shadow: 0 0 1px rgba(#000,.7);
	&:after {
		content: '';
		display: inline-block;
		width: 8px;
		height: 14px;
		vertical-align: middle;
		margin: -2px 0 0 28px;
		background: url("../img/content/view_btn_arrow.png") no-repeat center center;
	}
	&.end {
		background: #484848;
	}
}

.ottBtn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 5px 0;
	& > * {
		display: inline-block;
		min-width: 138px;
		height: 40px;
		line-height: 38px;
		padding: 0 10px;
		text-align: center;
		color: #fff;
		@include font-size(16);
		font-weight: 600;
		background: #666;
		border: 1px solid #666;
		cursor: pointer;
	}
	&.btnLight {
		& > * {
			color: #666;
			background: #f4f4f4;
			border: 1px solid #f4f4f4;
		}
	}
	&.btnDark {
		& > * {
			background: #999999;
			border: 1px solid #999999;
		}
	}
	&.btnGray {
		& > * {
			background: #666;
			border: 1px solid #666;
		}
	}
	&.btnBlue {
		& > * {
			background: #157cb6;
			border: 1px solid #157cb6;
		}
	}
	&.btnLine {
		& > * {
			color: #666;
			background: #fff;
			border: 1px solid #ddd;
		}
	}
	&.btnLg {
		& > * {
			height: 50px;
			line-height: 48px;
			@include font-size(18);
			font-weight: 700;
		}
	}
	&.btnSm {
		& > * {
			min-width: 104px;
			height: 30px;
			line-height: 28px;
			@include font-size(15);
		}
	}
}


/* custom */
.flL {
	float: left !important;
}
.flR {
	float: right !important;
}
.taL {
	text-align: left !important;
}
.taC {
	text-align: center !important;
}
.taR {
	text-align: right !important;
}
.mgt10 {
	margin-top: 10px !important;
}
.mgt20 {
	margin-top: 20px !important;
}
.mgt25 {
	margin-top: 25px !important;
}
.mgt30 {
	margin-top: 30px !important;
}
.mgt40 {
	margin-top: 40px !important;
}
.mgt45 {
	margin-top: 45px !important;
}
.mgtm20 {
	margin-top: -20px !important;
}
.mgb40 {
	margin-bottom: 40px !important;
}

/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {


}

// ##Screen = 767px 이하
@include respond-below(sm) {
	body {
		@include font-size(16);
	}
	.webOnly {
		display: none;
	}
	.mobOnly {
		display: inline-block;
	}
	.arrowBtn {
		padding: 13px 15px 12px;
		@include font-size(20);
		&:after {
			margin-left: 22px;
		}
	}

}

// ##Screen = 480px 이하
@include respond-below(xs) {


}
