/** Filename : error.css color **/
/* ================================== Font ================================== */
@import url(/energy/res/font/NotoSansKR.css);
/* ================================== Reset ================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, article, aside, canvas, details, embed, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

img, fieldset, form, label, legend, figure, figcaption, input, button { margin: 0; padding: 0; border: 0; vertical-align: middle; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

button::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner { padding: 0; border: 0; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; }

img { line-height: 0; font-size: 0; }

a { text-decoration: none; color: inherit; }

table { border-collapse: collapse; padding: 0; margin: 0; width: 100%; border: 0; }

/* ================================== Layout ================================== */
html { font-size: 62.5%; /* Sets up the Base 10 stuff */ position: relative; min-height: 100%; overflow-y: auto; }

body { font-family: "Noto Sans KR", sans-serif; font-weight: 400; font-style: normal; font-size: 16px; font-size: 1.6rem; line-height: 1.5; letter-spacing: -0.04em; word-break: keep-all; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow-y: hidden; }

.srOnly { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

#errWrap { position: fixed; left: 0; top: 0; right: 0; bottom: 0; min-width: 100%; min-height: 100%; background: #f0f0f0; }

.errBox { position: absolute; left: 50%; top: 50%; display: block; width: 90%; height: auto; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); max-width: 600px; border-top: 2px solid #fa8411; background: #fff; }

.errLogo { border-bottom: 1px solid #ccc; }
.errLogo a { display: block; width: 100px; height: 99px; margin: 0 auto; background: url("../../../energy/res/img/error/logo_error.png") no-repeat center center; background-size: cover; }

.errCont { padding: 0 30px 50px; text-align: center; color: #777; }
.errCont strong { color: #f46802; font-size: 18px; font-size: 1.8rem; font-weight: 700; }
.errCont:before { content: ''; display: block; width: 180px; height: 120px; margin: 0 auto 20px; background: url("../../../energy/res/img/error/icon_error.png") no-repeat center center; background-size: cover; }

.errButton { margin-top: 15px; text-align: center; }

.errBtn { position: relative; display: inline-block; vertical-align: top; padding: 5px 3px; }
.errBtn > * { display: inline-block; min-width: 145px; padding: 8px 10px; text-align: center; color: #fff; font-size: 16px; font-size: 1.6rem; cursor: pointer; text-shadow: 0 0 1px rgba(0, 0, 0, 0.4); }
.errBtn.btnOrange > * { background: #fa8411; }
.errBtn.btnGray > * { background: #999; }

/* ================================== media query ================================== */
@media only screen and (max-width: 480px) { .errBtn { display: block; }
  .errBtn > * { display: block; width: 100%; } }

/*# sourceMappingURL=error.css.map */
