/** Filename : led_style.css color **/
/* ================================== Header ================================== */
#header .headerNav { overflow: visible; }
#header .headerNav.led { height: 55px !important; }
#header .headerNav.led:after { display: none; }
#header .headerNav.led > .inner { padding: 0 15%; }
#header .headerNav.led #gnb a { display: block; width: 100%; }
#header .headerNav.led #gnb .depth1 > li { width: 33.3333333333%; }
#header .headerNav.led #gnb .depth1 > li > a { background: transparent; }
#header .headerNav.led #gnb .depth1 > li:hover, #header .headerNav.led #gnb .depth1 > li:focus { background-color: transparent; }
#header .headerNav.led #gnb .depth1 > li:nth-child(3) { width: 100%; }
#header .headerBtn.led { display: none; }

/* ================================== media query ================================== */
@media only screen and (max-width: 1024px) { #header .headerNav.led { height: auto !important; }
  #header .headerNav.led > .inner { padding: 0; }
  #header .headerNav.led #gnb a { display: block; width: 100%; }
  #header .headerNav.led #gnb .depth1 > li { width: 100%; }
  #header .headerNav.led #gnb .depth1 > li > a:after { display: none; }
  #header .headerBtn.led { display: block; } }
/* ================================== led Contents ================================== */
.tabList.col2 > li { width: 50%; }

.led01 .visual { display: block; width: 707px; margin: 0 auto; margin-bottom: 20px; padding-bottom: 344px; background: url("../../../energy/res/img/led/bg_led01_visual.jpg") no-repeat center top; background-size: auto 100%; }
.led01 .textBox > * { max-width: 840px; }
.led01 .subText .textEm { margin-top: 23px; padding-bottom: 15px; color: #222; font-size: 28px; font-size: 2.8rem; font-weight: 300; line-height: 1.38; }
.led01 .subText .textEm strong { font-weight: 700; }
.led01 .subText .textNm { margin-top: -6px; padding-bottom: 15px; color: #666; font-size: 18px; font-size: 1.8rem; font-weight: 300; }
.led01 .subText .textNm + .textNm { margin-top: 3px; }

.feature01 { padding-top: 20px; padding-bottom: 60px; }
.feature01 .contTop .textNm { margin-top: 4px; }

.feature02 { padding-bottom: 100px; }
.feature02 .contTop .textNm { margin-top: 14px; }
.feature02 .imgBox img { max-width: 840px; }

.feature03 { padding-bottom: 50px; }

.feature04 { padding-top: 70px; padding-bottom: 70px; }
.feature04 .advantageList .unit { display: table; margin-top: 30px; }
.feature04 .advantageList .unit > * { display: table-cell; vertical-align: middle; text-align: left; }
.feature04 .advantageList .unit > *:first-child { width: 160px; }
.feature04 .advantageList .unit i { width: 160px; height: 160px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; background: #fff url("../../../energy/res/img/led/icon_feature04.png") no-repeat 0 center; }
.feature04 .advantageList .unit i.icon1 { background-position: 0px center; }
.feature04 .advantageList .unit i.icon2 { background-position: -160px center; }
.feature04 .advantageList .unit i.icon3 { background-position: -320px center; }
.feature04 .advantageList .unit i.icon4 { background-position: -480px center; }
.feature04 .advantageList .unit i.icon5 { background-position: -640px center; }
.feature04 .advantageList .unit i.icon6 { background-position: -800px center; }
.feature04 .advantageList .unit i.icon7 { background-position: -960px center; }
.feature04 .advantageList .unit i.icon8 { background-position: -1120px center; }
.feature04 .advantageList .unit i.icon9 { background-position: -1280px center; }
.feature04 .advantageList .unit dl { padding-left: 30px; color: #222; line-height: 1.7; }
.feature04 .advantageList .unit dl dt { padding-bottom: 2px; font-size: 20px; font-size: 2rem; font-weight: 700; }

.feature05 { padding-top: 70px; padding-bottom: 70px; }
.feature05 .contWrap h5 { margin-top: 15px; }

.feature06 { padding-bottom: 70px; }
.feature06 .contTop .textNm { margin-top: 14px; padding-bottom: 25px; }
.feature06 .textBox > * { max-width: 800px; }

.feature07 .contTop .textNm { margin-top: 14px; padding-bottom: 25px; }
.feature07 .textBox { padding-bottom: 50px; }
.feature07 .textBox > * { max-width: 710px; }
.feature07 .contWrap h4 + h5 { margin-top: 0; }
.feature07 .contWrap + .contWrap { margin-top: 50px; }
.feature07 .tableWrap td.em { padding: 15px 20px 16px; font-size: 18px; font-size: 1.8rem; }

.feature07Box { text-align: center; }
.feature07Box .item { position: relative; display: inline-block; text-align: left; padding: 30px 0; padding-left: 208px; }
.feature07Box .item .icon { position: absolute; left: 0; top: 50%; display: block; width: 180px; height: 180px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; margin-top: -90px; background: #f7f7f7 url("../../../energy/res/img/led/icon_feature07.png") no-repeat 0 center; background-size: auto 100%; }
.feature07Box .item p { color: #222; font-size: 18px; font-size: 1.8rem; font-weight: 300; }
.feature07Box .item p strong { font-weight: 700; }
.feature07Box .item li { position: relative; margin-top: 8px; color: #666; font-weight: 300; }

/* ================================== media query ================================== */
@media only screen and (max-width: 767px) { .led01 .visual { width: 100%; margin-bottom: 20px; padding-bottom: 50%; }
  .led01 .subText .textEm br, .led01 .subText .textNm br { display: none; }
  .feature04 .advantageList .unit { display: block; }
  .feature04 .advantageList .unit > * { display: block; text-align: center; }
  .feature04 .advantageList .unit i { margin: 0 auto; margin-bottom: 12px; }
  .feature04 .advantageList .unit dl { padding-left: 0; }
  .feature07Box .item { padding: 0; padding-top: 208px; }
  .feature07Box .item .icon { top: 0; left: 50%; margin-top: auto; margin-left: -90px; } }

/*# sourceMappingURL=led_style.css.map */
