			</div><!-- e: #contentsEditHtml //-->	
		</div><!-- e: #contents //-->	
	</div>
	<!-- e: #container-wrap //-->

	<footer id="footer-wrap">
		<p>Copyright © 1997~2010 KOICA 개발협력 커리어센터 All rights reserved</p>
	</footer>

</body>
</html>