<? include_once ('../_res/cmmInc/headProc.html');?>

	<!-- s: #container-wrap //-->
	<div id="container-wrap">
		<div id="side-wrap">
			<h1 class="logo"><a href="../statistical/statistical.html"><img src="../_res/img/logo.png" alt=""></a></h1>
			<div class="info">
				<span>관리자페이지</span>
				<button class="logout-btn" onclick=""><span>로그아웃</span></button>
			</div>
			<!-- s : 좌측메뉴 [li 활성화 클래스 "over"] -->
			<div class="leftmenu" id="leftmenu">
				<ul class="depth1">
					<li class="lm_l1">
						<a href="../_guide/guide.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Dashboard</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_element1.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Title, Color, Line, Box</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_element2.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Note, List</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_element3.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Button, State, Link</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_tab.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Tab</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_search.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Search</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_table.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Table</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_board_list1.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Board (list basic)</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_board_list2.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Board (list box)</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_board_view.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Board (view)</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_board_write.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Board (write)</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_popup.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Popup</span></a>
					</li>
					<li class="lm_l1">
						<a href="../_guide/guide_sample.html" class="lm_a1"><span class="isMask"></span><span class="isTxt">Sample</span></a>
					</li>
				</ul>			
			</div>
			<!-- e : 좌측메뉴 -->
			<script  type="text/javascript" src="../_res/js/leftMenu.js"></script>
			<script type="text/javascript" >
				$(document).ready(function(){ 
					subNavi._init();
					$("#leftmenu a").prepend('<span>');
					$("#leftmenu a").append('</span>');	
					if($("#leftmenu li").length<1) $(".lm-tit button").hide();
				});
			</script>
		</div>
		<div id="contents">