@charset "utf-8";
/* ================================== md ================================== */
#fnb {
	background: #ffe324;
	.keyword {
		@include posAbsoluteRB(182px, 102px, auto, auto);
		text-align: right;
		color: #ffae00;
	}
	.contentWrap {
		@include posAbsoluteRT(330px, 145px, auto, auto);
	}
	.slideWrap {
		@include posAbsoluteLT(368px, 145px, 476px, auto);
		z-index: 10;
		h3 {
			margin-bottom: 8px;
			color: #111;
			font-family: $fontFamilyMontserrat;
			font-size: 22px;
			font-weight: 700;
			letter-spacing: -0.05em;
		}
		.photoSlide {
			.slideItem {
				margin: 0 10px;
				text-align: left;
			}
			img {
				border: 2px solid #111;
				margin-bottom: 10px;
			}
			.menu {
				color: #444;
				font-size: 18px;
			}
			.place {
				position: relative;
				padding-left: 20px;
				font-size: 16px;
				font-weight: 400;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 6px, 10px, 14px);
					background: url('../img/icon_place.png') no-repeat 0 0;
				}
			}
			.slick-prev,
			.slick-next {
				width: 48px;
				height: 48px;
			}
		}
		&.food {
			width: 496px;
			.photoSlide {
				.place {
					color: #08368e;
				}
				.slick-prev {
					top: 103px;
					left: -15px;
					background: #08368e url('../img/icon_arrow_food.png') no-repeat 0 0;
				}
				.slick-next {
					top: 103px;
					right: -15px;
					background: #08368e url('../img/icon_arrow_food.png') no-repeat -45px 0;
				}
			}
		}
		&.beverage {
			top: 530px;
			width: 496px;
			.photoSlide {
				img {
					width: auto;
				}
				.place {
					color: #e73824;
					&:before {
						background-position: -20px 0;
					}
				}
				.slick-prev {
					top: 50px;
					left: -25px;
					background: #e73824 url('../img/icon_arrow_beverage.png') no-repeat 0 0;
				}
				.slick-next {
					top: 50px;
					right: -5px;
					background: #e73824 url('../img/icon_arrow_beverage.png') no-repeat -45px 0;
				}
			}
		}
	}
	.fnbVisual {
		@include posAbsoluteRT(110px, 365px, 610px, 420px);
		background: url('../img/fnb_visual.png') no-repeat center center;
		z-index: 3;
	} 
	.fnbLeaf {
		@include posAbsoluteLB(120px, 0, 310px, 110px);
		background: url('../img/fnb_leaf.png') no-repeat center center;
		z-index: 4;
	}
	.fnbBg {
		display: block;
		width: 100%;
		height: 100%;
		padding: 303px 330px 0 0;
		span {
			display: block;
			width: 100%;
			height: 100%;
			background: #fff;
		}
		z-index: 2;
	}
}

#md {
	background: url('../img/md_bg.jpg') no-repeat right bottom;
	.keyword {
		@include posAbsoluteRT(78px, 86px, auto, auto);
		text-align: right;
	}
	.contentWrap {
		@include posAbsoluteLT(332px, 288px, auto, auto);
	}

	.btnMdMall {
		@include posAbsoluteLT(332px, 530px, 179px, 67px);
		background: url('../img/btn_md_mall.png') no-repeat center center;
		@include boxShadow;
		z-index: 4;
	}
	.mdFrame {
		@include posAbsoluteLT(332px, -2px, 144px, 182px);
		background: url('../img/md_frame.png') no-repeat center center;
		z-index: 4;
	}
	.mdTulip {
		@include posAbsoluteRB(0, 0, 540px, 360px);
		background: url('../img/md_Tulip.png') no-repeat center center;
		z-index: 3;
	}
	.mdVisual {
		@include posAbsoluteRT(80px, 120px, 825px, 645px);
		background: url('../img/md_visual.png') no-repeat center center;
		z-index: 2;
	}
}