@charset "utf-8";
/* ================================== board Contents ================================== */

// boardTop
.boardTop {
	margin-bottom: 20px;
	@include clearfix;
	.boardTit {
		float: left;
		padding: 4px 0;
		@include font-size(15);
	}
	.boardSort {
		float: right;
		@include clearfix;
		& > * {
			float: left;
			display: inline-block;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
		}
		select {
			min-width: 125px;
			height: 32px;
			line-height: 26px;
			@include font-size(15);
		}
		.ottBtn {
			margin: 0;
			vertical-align: middle;
			& > * {
				height: 32px;
				padding: 0 10px;
				color: #157cb6;
				@include font-size(15);
				font-weight: 400;
				line-height: 30px;
				background: #fff;
				border: 1px solid #157cb6;
			}
		}
	}
	.boardLegend {
		float: right;
	}
	&.guide {
		margin-top: -5px;
		margin-bottom: 10px;
	}
}

// boardList
.boardList {
	border-top: 2px solid #46474c;
	tr {
		& > * {
			text-align: center;
		}
	}
	thead {
		background: #f4f4f4;
		th {
			position: relative;
			padding: 13px 10px 12px;
			color: #333;
			font-weight: 700;
			border-left: 1px solid #ddd;
			border-bottom: 1px solid #46474c;
			&:first-child {
				border-left: none;
			}
		}
	}
	tbody {
		th,
		td {
			padding: 13px 10px 12px;
			border-left: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			&:first-child {
				border-left: none;
			}
		}
	}
	.subject {
		padding-left: 20px;
		text-align: left;
	}
	.process {
		padding-left: 20px;
		text-align: left;
	}
	.file {
		min-width: 70px;
		& > * {
			margin-left: 6px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	&.typeBlue {
		thead {
			th {
				color: #157cb6;
			}
		}
	}
	&.bdLight {
		border-top: 1px solid #ddd;
		thead {
			th {
				font-weight: 600;
				border-bottom: 1px solid #ddd;
			}
		}
	}
	&.scroll {
		overflow-x: auto;
		width: 100%;
		table {
			width: 135%;
		}
	}
}

// cardList
.cardList {
	ul {
		overflow: hidden;
		margin: -20px 0 0 -20px;
		@include clearfix;
		li {
			float: left;
			width: 100% * 1/2;
			padding: 20px 0 0 20px;
		}
	}
	.itemBox {
		position: relative;
    height: 100%;
		min-height: 162px;
		padding: 20px 20px;
		padding-left: 142px;
		text-align: left;
		border: 1px solid #ddd;
		.thumb {
			@include posAbsoluteLT(20px, 20px, auto, auto);
			span {
				overflow: hidden;
				position: relative;
				display: inline-block;
				width: 100px;
				padding-bottom: 120px;
				vertical-align: top;
				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
		.editerInfo {
			margin-top: -3px;
			p {
				@include font-size(14);
				&.name {
					padding-top: 10px;
					padding-bottom: 2px;
					color: #333;
					@include font-size(16);
				}
				&:first-child {
					padding-top: 0;
				}
			}
		}
	}
}

// galleryList
.galleryList {
	ul {
		overflow: hidden;
		margin: -20px 0 0 -20px;
		@include clearfix;
		li {
			float: left;
			width: 100% * 1/4;
			padding: 20px 0 0 20px;
		}
	}
	.itemBox {
		padding: 20px 10px;
		text-align: center;
		border: 1px solid #ddd;
		.thumb {
			span {
				overflow: hidden;
				position: relative;
				display: inline-block;
				width: 100px;
				padding-bottom: 120px;
				vertical-align: top;
				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
		.year {
			padding: 4px 0;
			@include font-size(15);
		}
	}
}

// boardDetail
.boardDetail {
	border-top: 2px solid #46474c;
	border-bottom: 1px solid #46474c;
	.detailTop,
	.detailList {
		text-align: left;
		& > * {
			position: relative;
			display: block;
			width: 100%;
			padding-left: 190px;
			border-top: 1px solid #ddd;
			background: #f4f4f4;
			@include transition(padding, .2s, ease);
			&:first-child {
				border-top: none;
			}
		}
		dt {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			display: table;
			width: 190px;
			height: 100%;
			padding: 13px 0 12px;
			@include transition(width, .2s, ease);
			span {
				display: table-cell;
				width: 100%;
				text-align: center;
				vertical-align: middle;
				color: #333;
				font-weight: 600;
				line-height: 1.2;
			}
		}
		dd {
			padding: 13px 0 12px 18px;
			border-left: 1px solid #ddd;
			background: #fff;
			img {
				margin-top: -2px;
			}
		}
		.file {
			& > * {
				margin-left: 6px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	.detailList {
		.file {
			&.inFile2 {
				padding-top: 32px;
				padding-bottom: 31px;
			}
		}
	}
	.detailContent {
		padding: 50px 30px;
		border-top: 1px solid #46474c;
	} 
}

// boardWrite
.boardWrite {
	border: solid #46474c;
	border-width: 2px 0 1px;
	.fieldWrap {
		position: relative;
		display: block;
		width: 100%;
		padding-left: 190px;
		border-top: 1px solid #ddd;
		background: #f4f4f4;
		&:first-child {
			border-top: none;
		}
		& > * {
			padding: 10px 0;
			line-height: 1.2;
		}
	}
	.labBox {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		display: table;
		width: 190px;
		height: 100%;
		font-weight: 600;
		& > * {
			display: table-cell;
			width: 100%;
			color: #333;
			text-align: center;
			vertical-align: middle;
		}
		i {
			&:before {
				content: '*';
				display: inline-block;
			}
		}
	}
	.inpBox {
		padding-left: 10px;
		border-left: 1px solid #ddd;
		background: #fff;
		@include clearfix;
		& > * {
			display: block;
			float: left;
		}
		&.inFile1 {
			padding-top: 14px;
			padding-bottom: 14px;
		}
		&.inFile2 {
			padding-top: 26px;
			padding-bottom: 26px;
		}
		&.inTable {
			padding-top: 15px;
			padding-bottom: 15px;
			& > * {
				float: none;
			}
			.ottButton {
				margin-top: 10px;
			}
			.ottBtn {
				margin: 0;
			}
		}
	}
	.em {
		color: #157cb6;
	}
	.dem {
		width: 30px;
		@include lh(40px);
		text-align: center;
	}
	.adj {
		margin-left: 10px;
	}
	input[type="text"],
	input[type="password"],
	input[type="file"],
	select {
		max-width: 470px;
		&.widFull {
			max-width: none;
		}
		&.widHalf {
			max-width: 220px;
		}
		&.widCustom1 {
			max-width: 240px;
		}
	}
	&.typeBlue {
		.labBox {
			& > * {
				color: #157cb6;
			}
		}
	}
	&.bdLight {
		border: solid #ddd;
		border-width: 1px 0 1px;
	}
}

// search
.boardSearch {
	margin-top: 20px;
	.inner {
		position: relative;
		max-width: 336px;
		margin: 0 auto;
	}
	input {
		width: calc(100% - 36px);
		@include lh(35px);
	}
	.btnSearch {
		@include posAbsoluteRT(0, 0, auto, auto);
		&:before {
			content: '';
			display: block;
			width: 36px;
			height: 35px;
			background: #157cb6 url("/kedi_eng/res/img/board/icon_search.png") no-repeat center center;
			cursor: pointer;
		}
	}
}

// pagination
// .pagination {
// 	overflow: hidden;
// 	@include clearfix;
// 	margin-top: 20px;
// 	text-align: center;
// 	font-size: 0;
// 	li {
// 		display: inline-block;
// 		a {
// 			overflow: hidden;
// 			display: block;
// 			width: 29px;
// 			height: 29px;
// 			margin-left: -1px;
// 			vertical-align: top;
// 			color: #666;
// 			@include font-size(16);
// 			line-height: 29px;
// 			text-decoration: none;
// 			border: 1px solid #ddd;
// 			background: #fff;
// 			&:hover {
// 				text-decoration: underline;
// 			}
// 			&.first,
// 			&.prev,
// 			&.next,
// 			&.last {
// 				&:before {
// 					content: '';
// 					display: inline-block;
// 					width: 27px;
// 					height: 27px;
// 					background: #fff url("/kedi_eng/res/img/board/icon_pagination.png") no-repeat 0 center;
// 					background-size: auto 100%;
// 				}
// 			}
// 			&.first {
// 				&:before {
// 					background-position: -30px * 0 center;
// 				}
// 			}
// 			&.prev {
// 				&:before {
// 					background-position: -30px * 1 center;
// 				}
// 			}
// 			&.next {
// 				&:before {
// 					background-position: -30px * 2 center;
// 				}
// 			}
// 			&.last {
// 				&:before {
// 					background-position: -30px * 3 center;
// 				}
// 			}
// 		}
// 		&.currentPage {
// 			a {
// 				color: #fff;
// 				text-decoration: underline;
// 				background: #157cb6;
// 			}
// 		}
// 	}
// }

// pagination :CMS;
.pagination {
	overflow: hidden;
	@include clearfix;
	margin-top: 20px;
	text-align: center;
	font-size: 0;
	li {
		display: inline-block;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		em {
			font-style: normal;
		}
		& > * {
			overflow: hidden;
			display: block;
			width: 29px;
			height: 29px;
			margin-left: -1px;
			vertical-align: top;
			color: #666;
			@include font-size(16);
			line-height: 29px;
			text-decoration: none;
			border: 1px solid #ddd;
			background: #fff;
		}
		&.first,
		&.prev,
		&.next,
		&.end {
			span {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				border: 0;
			}
			& > * {
				&:before {
					content: '';
					display: inline-block;
					width: 27px;
					height: 27px;
					background: #fff url("/kedi_eng/res/img/board/icon_pagination.png") no-repeat 0 center;
					background-size: auto 100%;
				}
			}
		}
		&.first {
			& > * {
				&:before {
					background-position: -30px * 0 center;
				}
			}
		}
		&.prev {
			& > * {
				&:before {
					background-position: -30px * 1 center;
				}
			}
		}
		&.next {
			& > * {
				&:before {
					background-position: -30px * 2 center;
				}
			}
		}
		&.end {
			& > * {
				&:before {
					background-position: -30px * 3 center;
				}
			}
		}
		&.active {
			& > * {
				color: #fff;
				text-decoration: underline;
				background: #157cb6;
			}
		}
	}
}

// PrevNext
.bbsPrevNext {
	margin-top: -1px;
	border-top: 1px solid #46474c;
	li {
		position: relative;
		padding: 13px 0 12px 190px;
		border-bottom: 1px solid #ddd;
		@include transition(padding, .2s, ease);
		span {
			@include posAbsoluteLT(0, 0, 190px, auto);
			bottom: 0;
			padding: 13px 0 12px;
			text-align: center;
			color: #333;
			font-weight: 600;
			background: #f4f4f4;
			@include transition(width, .2s, ease);
		}
		a {
			padding-left: 18px;
			@include text-ellipsis;
		}
	}
}

// button
.ottButton {
	margin-top: 15px;
	text-align: center;
	@include clearfix;
	.ottBtn {
		margin-left: 5px;
		&:first-child {
			margin-left: 0;
		}
	}
	& > .floatL,
	& > .floatR {
		float: left;
		.ottBtn {
			float: left;
		}
	}
	& > .floatR {
		float: right;
	}
}

//boardTitle
.boardTitle {
	margin-top: 10px;
	@include clearfix;
	h4 {
		float: left;
		& + p {
			float: right;
			padding-top: 19px;
		}
	}
	h5 {
		float: left;
		& + p {
			float: right;
			padding-top: 15px;
		}
	}
}

//boardGuide
.boardGuide {
	padding: 25px 25px 23px;
	border: 1px solid #dfdfdf;
	li {
		position: relative;
		padding-left: 14px;
		&:before {
			content: '';
			@include posAbsoluteLT(4px, 11px, 3px, 3px);
			background: #157cb6;
		}
	}
}

//boardOutline
.boardOutline {
	margin-top: -6px;
	padding-bottom: 27px;
}

//required
.required {
	color: #ef3e61;
	font-weight: 700;
	font-style: normal;
}

//acknowledge
.acknowledge {
	margin-top: 10px;
	padding: 12px 0;
	@include clearfix;
	& > * {
		float: right;
		padding: 4px 0;
		&:first-child {
			float: left;
		}
	}
	.acknTit {
		margin-top: -3px;
		color: #333;
		@include font-size(18);
		font-weight: 700;
	}
	.acknCont {
		position: relative;
		display: none;
		width: 100%;
		margin: 8px 0;
		padding: 25px 30px;
		border: 1px solid #ddd;
	}
	.acknOpen {
		display: inline-block;
		width: 24px;
		height: 23px;
		margin: -2px 0 0 6px;
		border: 1px solid #d9d9d9;
		background: url("/kedi_eng/res/img/content/icon_ackn_open.png") no-repeat center center;
	}
	.acknClose {
		position: absolute;
		top: 10px;
		right: 10px;
		display: inline-block;
		width: 33px;
		height: 30px;
		background: url("/kedi_eng/res/img/content/icon_ackn_close.png") no-repeat center center;
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {

	
}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.boardDetail {
		.detailTop {
			& > * {
				padding-left: 150px;
			}
			dt {
				width: 150px;
			}
		}
	}
	.bbsPrevNext {
		li {
			padding-left: 150px;
			span {
				width: 150px;
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.boardTop {
		.boardTit {
			float: none;
		}
		.boardSort {
			float: none;
			margin-top: 8px;
		}
	}
	.boardList {
		table {
			table-layout: fixed;
		}
		colgroup,
		thead {
			display: none;
		}
		tbody {
			tr {
				display: block;
				padding: 18px 0;
				padding-left: m-get-per(26px);
				border-bottom: 1px solid #ddd;
			}
			th,
			td {
				display: block;
				width: 100%;
				height: auto;
				padding: 2px 0;
				text-align: left;
				@include font-size(14);
				border-left: none;
				border-bottom: none;
			}
		}
		.subject {
			padding: 0;
			a {
				color: #333;
				@include font-size(16);
				@include text-ellipsis;
			}
		}
		.process {
			padding-left: 0;
		}
		.mobInline {
			display: inline-block;
			width: auto;
			& + .mobInline {
				padding-left: 15px;
			}
			& + .file {
				padding-left: 10px;
			}
		}
		.file {
			padding: 0;
		}
		&.scroll {
			width: 100%;
			table {
				width: 100%;
			}
		}
	}
	.cardList {
		ul {
			li {
				float: none;
				width: 100%;
			}
		}
	}
	.galleryList {
		ul {
			li {
				width: 100% * 1/2;
			}
		}
	}
	.boardWrite {
		.inpBox {
			& > * {
				& + * {
					margin-top: 10px;
				}
			}
		}
		.dem,
		input[type="hidden"] {
			margin-top: 0;
		}
		.adj {
			margin-left: 0;
		}
		input[type="text"],
		input[type="password"],
		input[type="file"] {
			max-width: none;
			&.widHalf {
				max-width: none;
				&.adjDim {
					width: calc(100% - 30px) !important;
				}
			}
		}
		select {
			&.widHalf {
				max-width: none;
			}
			&.widCustom1 {
				max-width: none;
			}
		}
		&.bdLight {
			padding: 10px 0 11px;
			border: solid #ddd;
			border-width: 1px 0 1px;
			.fieldWrap {
				padding-left: 0;
				border-top: none;
				background: #fff;
			}
			.labBox {
				position: relative;
				left: auto;
				top: auto;
				bottom: auto;
				display: block;
				width: auto;
				height: auto;
				padding: 8px 0;
				& > * {
					display: block;
					text-align: left;
				}
			}
			.inpBox {
				padding-top: 0;
				padding-left: 0;
				border-left: none;
				&.inFile1,
				&.inFile2 {
					padding-top: 6px;
					padding-bottom: 16px;
				}
			}
		}
	}
}

// ##Screen = 640px 이하
@include respond-below(custom640) {
	.boardDetail {
		.detailTop {
			& > * {
				padding-left: 120px;
			}
			dt {
				width: 120px;
			}
		}
		.detailContent {
			padding: 30px m-get-per(30px);
		}
	}

	.boardWrite {
		border: solid #46474c;
		border-width: 2px 0 1px;
		.fieldWrap {
			position: relative;
			display: block;
			width: 100%;
			padding-left: 190px;
			border-top: 1px solid #ddd;
			background: #f4f4f4;
			&:first-child {
				border-top: none;
			}
			& > * {
				padding: 10px 0;
				color: #333;
				line-height: 1.2;
			}
		}
		.labBox {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			display: table;
			width: 190px;
			height: 100%;
			font-weight: 600;
			& > * {
				display: table-cell;
				width: 100%;
				text-align: center;
				vertical-align: middle;
			}
			i {
				color: #ef3e61;
				font-style: normal;
				&:before {
					content: '*';
					display: inline-block;
				}
			}
		}
		.inpBox {
			padding-left: 10px;
			border-left: 1px solid #ddd;
			background: #fff;
			@include clearfix;
			& > * {
				display: block;
				float: left;
			}
		}
	}
	.bbsPrevNext {
		li {
			padding-left: 120px;
			span {
				width: 120px;
			}
		}
	}
	.acknowledge {
		& > * {
			float: left;
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.boardTop {
		.boardSort {
			& > * {
				float: none;
				display: block;
				margin-left: 0;
				margin-top: 10px;
				&:first-child {
					margin-top: 0;
				}
			}
			select {
				width: 100%;
			}
			.ottBtn {
				width: 100%;
				& > * {
					display: block;
				}
			}
		}
	}
	.boardDetail {
		.detailContent {
			padding: 30px 0;
		}
	}
	.boardWrite {
		padding: 10px 0 11px;
		.fieldWrap {
			padding-left: 0;
			border-top: none;
			background: #fff;
		}
		.labBox {
			position: relative;
			left: auto;
			top: auto;
			bottom: auto;
			display: block;
			width: auto;
			height: auto;
			padding: 8px 0;
			& > * {
				display: block;
				text-align: left;
			}
		}
		.inpBox {
			padding-top: 0;
			padding-left: 0;
			border-left: none;
			&.inFile1,
			&.inFile2 {
				padding-top: 6px;
				padding-bottom: 16px;
			}
		}
	}
	.boardTitle {
		margin-top: 10px;
		margin-bottom: 12px;
		h4 {
			float: none;
			& + p {
				float: none;
				padding-top: 0;
				padding-bottom: 2px;
			}
		}
		h5 {
			float: none;
			& + p {
				float: none;
				padding-top: 0;
				padding-bottom: 2px;
			}
		}
	}
}