@charset "utf-8";
/* ================================== Contents ================================== */

//gridWrap
.gridWrap {
	position: relative;
}
.gridList {
	margin: -30px 0 0 -30px;
	@include clearfix;
	& > li {
		padding: 30px 0 0 30px;
		float: left;
		text-align: center;
		.unit {
			position: relative;
			display: block;
			width: 100%;
			@include transition(all, .3s, ease);
			&:before {
				content: '';
				@include posAbsoluteLT(0, 0, auto, auto);
				right: 0;
				bottom: 0;
				border: 1px solid rgba(#fff,.6);
				opacity: 0;
				@include transition(all, .3s, ease);
				z-index: 2;
			}
			&:hover {
				@include boxShadow(10px, 10px, 7px, rgba(#000,.4));
				&:before {
					top: 10px;
					right: 10px;
					bottom: 10px;
					left: 10px;
					opacity: 1;
				}
			}
			.cont {
				text-align: center;
				@include transition(all, .3s, ease);
				letter-spacing: -0.05em;
				z-index: 3;
				dl {
					margin-top: -4px;
				}
				dt {
					padding-bottom: 6px;
					@include font-size(26);
					font-weight: 900;
					line-height: 1.4;
				}
				dd {
					font-weight: 700;
				}
				.price {
					strong {
						font-weight: 900;
					}
				}
			}
		}
	}
	&.typeCont {
		& > li {
			width: 100% * 1/2;
		}
		.unit {
			display: table;
			height: 100%;
			padding: 10px;
			border: 1px solid #e3ead3;
			background: #fff url("../img/package/bg_type_cont.png") repeat-y center center;
			&:before {
				border-color: #a6cab8;
			}
			& > * {
				display: table-cell;
				width: 50%;
				text-align: center;
				vertical-align: middle;
			}
			.thumb {
				img {
					width: 100%;
					max-width: 278px;
					margin: 0 auto;
				}
			}
			.cont {
				position: relative;
				color: #000;
				padding: 20px;
				.price {
					color: #ff6c00;
					@include font-size(26);
				}
				em {
					font-style: normal;
					@include font-size(16);
					font-weight: 900;
				}
				.benefit {
					margin-top: 2px;
					color: #666;
					@include font-size(16);
					line-height: 1.5;
				}
				.buyBtn {
					margin-top: 8px;
				}
			}
		}
	}
	&.typeGallery {
		& > li {
			width: 100% * 1/3;
		}
		.unit {
			&:before {
				border-color: rgba(#fff,.6);
			}
			&:after {
				content: '';
				@include posAbsoluteLT(0, 0, auto, auto);
				right: 0;
				bottom: 0;
				background: rgba(#000,.6);
				opacity: 0;
				@include transition(all, .3s, ease);
				z-index: 1;
			}
			.thumb {
				overflow: hidden;
				position: relative;
				width: 100%;
				padding-bottom: 100%;
				img {
					@include posAbsoluteLT(0, 0, 100%, auto);
				}
			}
			.cont {
				@include posAbsoluteLB(0, 30px, 100%, auto);
				dt {
					color: #fff;
					text-shadow: 1px 1px 2px rgba(#000,.7);
				}
				dd {
					color: #fff;
					text-shadow: 1px 1px 2px rgba(#000,.7);
				}
				.price {
					color: #ffe699;
					text-shadow: 1px 1px 2px rgba(#000,.7);
					.delText {
						text-decoration: line-through;
					}
				}
				.buyBtn {
					display: none;
					margin-top: 14px;
				}
			}
			&:hover {
				&:after {
					opacity: 1;
				}
				.cont {
					bottom: auto;
					top: 50%;
					@include translate(0, -50%);
					.buyBtn {
						display: inline-block;
					}
				}
			}
		}	
	}
}

//event
.eventWrap {
	position: relative;
}
.eventList {
	margin: -50px 0 0 -50px;
	@include clearfix;
	& > li {
		width: 100%;
		padding: 50px 0 0 50px;
		float: left;
		text-align: center;
	}
	.unit {
		position: relative;
		width: 100%;
		padding: 37px 0 17px;
		& > .inner {
			.thumb {
				img,
				.noThumb {
					display: block;
					width: 336px;
					height: 292px;
					margin: 0 auto 18px;
					//border: 1px solid #006535;
					//@include border-radius(50%);
					@include box-sizing(border-box);
				}
				.noThumb {
					background: #fff url("../img/common/no_thumb_logo.png") no-repeat center center;
				}
			}
			.cont {
				text-align: center;
				padding: 0 10px;
				.tag {
					@include posAbsoluteLT(50%, 0, auto, auto);
					@include translate(-50%, 0);
					margin-top: -8px;
					color: #006835;
					@include font-size(22);
					font-weight: 900;
					font-style: normal;
				}
				h3 {
					@include font-size(26);
					font-weight: 900;
					line-height: 1.4;
					span {
						display: inline-block;
					}
				}
				.date {
					margin-top: -4px;
					color: #666;
				}
				.participateBtn {
					margin-top: 14px;
				}
			}
		}
	}
	&.col2 {
		& > li {
			width: 100% * (1/2);
		}
	}
}

//openInfo
.openInfo {
	@include clearfix;
	max-width: 894px;
	margin: 0 auto;
	padding-bottom: 20px;
	li {
		float: left;
		display: block;
		width: 100% * 1/3;
		@include font-size(20);
		line-height: 1.4;
		.dateBox {
			display: block;
			width: 228px;
			height: 228px;
			margin: 0 auto;
			margin-bottom: 14px;
			padding: 13px;
			@include border-radius(50%);
			& > * {
				display: table;
				width: 100%;
				height: 100%;
				@include border-radius(50%);
				background: #fff;
				& > * {
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					@include font-size(28);
					font-weight: 900;
					line-height: 1.15;
					em {
						font-style: normal;
						@include font-size(46);
					}
				}
			}
			&.item1 {
				background: #29b085 url("../img/content/datebox_bg1.jpg") no-repeat center center;
				background-size: cover;
				& > * {
					& > * {
						color: #11a878;
					}
				}
			}
			&.item2 {
				background: #7fb029 url("../img/content/datebox_bg2.jpg") no-repeat center center;
				background-size: cover;
				& > * {
					& > * {
						color: #6ba20b;
					}
				}
			}
			&.item3 {
				background: #d0b311 url("../img/content/datebox_bg3.jpg") no-repeat center center;
				background-size: cover;
				& > * {
					& > * {
						color: #bfa307;
					}
				}
			}
		}
	}
}

//limited
.limited {
	margin-top: 70px;
	margin-bottom: 40px;
	border: 2px solid #e3ead3;
	background: rgba(#fcfbea,.5);
	.tit {
		width: 100%;
		@include lh(55px);
		text-align: center;
		color: #000;
		@include font-size(26);
		font-weight: 900;
		background: #e3ead3;
	}
	.ltCont {
		padding: 28px;
	}
	.ltBg {
		width: 100%;
		margin-top: 28px;
		padding-bottom: 100.88%;
		background: #fff url("../img/package/limited_package.jpg") no-repeat center center;
		background-size: 100% 100%;
	}
}

//benefit
#benefit {
	margin-top: -43px;
	background: #275d33;
	& > .inner {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.tit {
		width: 100%;
		@include lh(55px);
		text-align: center;
		color: #fff;
		@include font-size(26);
		font-weight: 900;
		text-shadow: 0 0 1px rgba(#000,.7);
		background: #1d4025;
	}
	.benefitList {
		margin: -30px 0 0 -38px;
		@include clearfix;
		li {
			float: left;
			width: 100% * 1/5;
			padding: 30px 0 0 38px;
			text-align: center;
			color: #fff;
			@include font-size(22);
			font-weight: 900;
			text-shadow: 0 0 1px rgba(#000,.7);
			@include transition(all, .3s, ease);
			.thumb {
				overflow: hidden;
				position: relative;
				display: block;
				width: 100%;
				padding-bottom: 100%;
				margin-bottom: 15px;
				background: #fff url("../img/content/no_thumb.gif") no-repeat center center;
				background-size: cover;
				@include boxShadow(0, 0, 1px, rgba(#000,.4));
				@include transition(all, .3s, ease);
				img {
					@include posAbsoluteLT(0, 0, 100%, 100%);
					right: 0;
					bottom: 0;
				}
			}
			&:hover {
				color: #d4d72a;
				.thumb {
					@include boxShadow(10px, 10px, 7px, rgba(#000,.4));
				}
			}
		}
	}
}
//down
#down {
	border: solid #e3ead3;
	border-width: 1px 0;
	background: url("../img/common/rhombus_bg.jpg") repeat center center;
	& > .inner {
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: right;
		&:before {
			content: '';
			@include posAbsoluteLB(30px, -1px, 214px, 214px);
			background: url("../img/content/quick_illust.png") no-repeat center center;
			background-size: cover;
		}
	}
}
.downLinkWrap {
	display: table;
	height: 125px;
	margin-left: auto;
}
.downLink {
	display: table-cell;
	vertical-align: middle;
	p {
		display: inline-block;
		a {
			display: inline-block;
			padding: 4px 0 3px;
			@include font-size(20);
			font-weight: 900;
			letter-spacing: -0.04em;
			@include transition(all, .2s, ease);
			i {
				display: inline-block;
				height: 23px;
				margin-top: -2px;
				margin-right: 8px;
				vertical-align: middle;
				background: url("../img/common/icon_down.png") no-repeat 0 0;
			}
			$map-down-link: (
				1: (icon-width: 30px, object-padding: 60px),
				2: (icon-width: 23px, object-padding: 60px),
				3: (icon-width: 21px, object-padding: 60px),
				4: (icon-width: 24px, object-padding: 0)
			);
			@each $number, $value in $map-down-link {
				&.item#{$number} {
					padding-right: map-get($value, object-padding);
					i {
						width: map-get($value, icon-width);
						background-position:0 -50px * ($number - 1);
					}
				}
			}
		}
	}
}
//note
#note {
	background: #fff;
	& > .inner {
		padding-top: 46px;
		padding-bottom: 45px;
		@include clearfix;
		& > * {
			float: left;
			display: block;
		}
	}
	h2 {
		width: 25%;
		padding-top: 1px;
		color: #343434;
		@include font-size(30);
		font-weight: 900;
		line-height: 1.2;
	}
	ul {
		width: 75%;
		li {
			position: relative;
			margin-top: 5px;
			padding-left: 12px;
			color: #444;
			@include font-size(14);
			//font-weight: 100;
			&:first-child {
				margin-top: 0;
			}
			&:before {
				content: '';
				@include posAbsoluteLT(0, 7px, 6px, 6px);
				background: url("../img/content/bul_dot.png") no-repeat 0 0;
			}
		}
	}
}
//layerWrap
.layerWrap {
	display: none;
	position: fixed;
	left: 50%;
	top: 0;
	@include translate(-50%, 0);
	width: 100%;
	max-width: $maxWidth;
	padding: 0 30px;
	z-index: 999;
	.layerBox {
		position: relative;
		background: #fff;
	}
	.layerHeader {
		padding: 19px 10px 14px;
		text-align: center;
		background: #275d33;
		h3 {
			color: #fff;
			@include font-size(30);
			font-weight: 900;
			line-height: 1.25;
			letter-spacing: -0.04em;
			text-shadow: 0 0 1px rgba(#000, .4);
		}
	}
	.layerContent {
		overflow-y: auto;
		padding: 47px 50px 43px;
		@include font-size(18);
		.conBox {
			margin-top: 40px;
			&:first-child {
				margin-top: 0;
			}
		}
		strong {
			font-weight: 900;
			span {
				font-weight: 400;
			}
		}
		em {
			color: #e0282c;
			font-weight: 900;
			font-style: normal;
		}
		h4 {
			padding-bottom: 10px;
			color: #222;
			@include font-size(26);
			font-weight: 900;
			line-height: 1.3;
			letter-spacing: -0.04em;
		}
		.dotUl {
			li {
				position: relative;
				margin-top: 3px;
				padding-left: 10px;
				&:first-child {
					margin-top: 0;
				}
				&:before {
					content: '';
					@include posAbsoluteLT(0, 10px, 4px, 4px);
					@include border-radius(50%);
					background: #343434;
				}
				&.indent70 {
					padding-left: 80px;
					strong {
						@include posAbsoluteLT(10px, 0, auto, auto);
					}
				}
			}
		}
		.chamgo {
			position: relative;
			padding-left: 22px;
			& > i {
				@include posAbsoluteLT(0, 0, auto, auto);
				font-style: normal;
			}
		}
		.processBox {
			margin: 5px 0 7px;
			padding: 20px;
			background: #f4f4f4;
			& > .inner {
				max-width: 878px;
				margin: 0 auto;
			}
		}
		.processList {
			margin-left: -16px;
			@include transition(margin, .2s, ease);
			@include clearfix;
			li {
				position: relative;
				float: left;
				width: 100% * 1/5;
				padding-left: 16px;
				text-align: center;
				@include font-size(16);
				line-height: 1.4;
				@include transition(padding, .2s, ease);
				& > span {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					text-align: center;
					& > i {
						display: block;
						width: 110px;
						height: 110px;
						margin: 0 auto 10px;
						@include border-radius(50%);
						background: #fff url("../img/content/icon_process.png") no-repeat 0 center;
					}
				}
				@for $i from 1 through 5 {
					&.item#{$i} {
						& > span {
							& > i {
								background-position: -110px * ($i - 1) center;
							}
						}
					}
				}
				&:before {
					content: '';
					@include posAbsoluteLT(0, 40px, 16px, 29px);
					background: url("../img/content/process_arrow.png") no-repeat center center;
				}
				&:first-child {
					&:before {
						display: none;
					}
				}
			}
		}
	}
	.layerClose {
		@include posAbsoluteRT(0, 0, 67px, 70px);
		background: url("../img/common/icon_layer_close.png") no-repeat center center;
	}
}


.packageTit {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 300px;
	border: 2px solid;
	border-color: #275b34 #e2ead3 #e2ead3;
	background: #fff url("../img/package/bg_type_cont.png") repeat-y 68% center;
	& > * {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	.thumb {
		width: 33%;
		img {
			width: 100%;
			max-width: 318px;
			margin: 0 auto;
		}
	}
	.cont {
		position: relative;
		width: 67%;
		padding: 30px 20px;
		strong {
			font-weight: 900;
		}
		h2 {
			margin-bottom: 16px;
			color: #000;
			@include font-size(36);
		}
		.discount {
			margin-top: 8px;
			color: #ff6c00;
			@include font-size(28);
			font-weight: 900;
			line-height: 1.1;
			i {
				display: inline-block;
				padding: 3px 7px 0;
				color: #fff;
				font-style: normal;
				background: #ff6c00;
			}
		}
		.price {
			margin-top: 6px;
			color: #000;
			@include font-size(20);
			.delText {
				text-decoration: line-through;
			}
		}
	}
}

.packageInfo {
	margin-top: 30px;
	padding: 48px 28px;
	border: 2px solid #e3ead3;
	background: rgba(#fcfbea,.8);
	.legend {
		margin-top: -23px;
		text-align: right;
		li {
			display: inline-block;
			vertical-align: middle;
			color: #000;
			em {
				color: #275d33;
				font-weight: 900;
				font-style: normal;
			}
			&:before {
				content: '';
				display: inline-block;
				width: 1px;
				height: 16px;
				vertical-align: middle;
				margin: -4px 20px 0 14px;
				background: #ddd;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}
	.benefitBox {
		margin: 45px 15px 0;
		padding: 20px;
		border: 1px solid #e3ead3;
		background: #fff;
		dl {
			color: #666;
			@include font-size(20);
			& > * {
				display: inline-block;
				vertical-align: middle;
			}
			dt {
				color: #275d33;
				font-weight: 900;
				&:after {
					content: '';
					display: inline-block;
					width: 1px;
					height: 20px;
					vertical-align: middle;
					margin: -4px 12px 0 18px;
					background: #ddd;
				}
			}
			dd {
				span {
					display: inline-block;
					padding-right: 4px;
				}
			}
			& + .guideList {
				margin-top: 8px;
			}
		}
		.guideList {
			display: inline-block;
		}
	}
	& + .arrowBtn {
		max-width: 100%;
		margin-top: -2px;
	}
}
.noteBox {
	margin: 45px 15px 0;
	padding: 15px 15px 14px;
	color: #666;
	@include font-size(18);
	border: 1px solid #e3ead3;
	background: #fff;
}

.performanceWrap {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	&.col2 {
		max-width: 1025px;
		.performanceList {
			& > li {
				width: 100% * 1/2;
				.cont {
					max-width: 420px;
				}
			}
		}
	}
	&.col3 {
		.performanceList {
			& > li {
				width: 100% * 1/3;
				.cont {
					max-width: 350px;
				}
			}
		}
	}
}
.performanceList {
	margin-left: -15px;
	@include clearfix;
	& > li {
		padding: 45px 0 0 15px;
		float: left;
		text-align: center;
		.thumb {
			overflow: hidden;
			position: relative;
			max-width: 290px;
			margin: 0 auto 20px;
			padding-bottom: 290px;
			img {
				@include posAbsoluteLT(0, 0, 100%, 100%);
				@include border-radius(50%);
			}
		}
		.cont {
			margin: 0 auto;
			h3 {
				color: #275d33;
				line-height: 1.2;
			}
			.date {
				color: #666;
				@include font-size(18);
			}
			.price {
				color: #000;
				@include font-size(18);
				font-weight: 900;
				span {
					text-decoration: underline;
				}
				.tag {
					display: inline-block;
					margin-right: 5px;
					padding: 3px 8px 2px;
					color: #fff;
					font-style: normal;
					font-weight: 400;
					line-height: 1.2;
					text-shadow: 0 0 1px rgba(#000,.4);
					background: #ff9c00;
					@include border-radius(3px);
				}
			}
			.note {
				margin-top: 2px;
				color: #999;
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}


// ##Screen = 1180px 이하
@include respond-below(custom1180) {
	.downLink {
		p {
			a {
				$down-link-padding: (
					1: 15px,
					2: 15px,
					3: 15px,
					4: 0
				);
				@each $number, $padding in $down-link-padding {
					&.item#{$number} {
						padding-right: #{$padding};
					}
				}
			}
		}
	}
}

// ##Screen = 1024px 이하
@include respond-below(md) {
	.gridList {
		&.typeCont {
			& > li {
				width: 100%;
			}
		}
		&.typeGallery {
			& > li {
				width: 100% * 1/2;
			}	
		}
	}
	.eventList {
		& > li {
			width: 100%;
		}
		.unit {
			padding: 0;
			& > .inner {
				display: table;
				width: 100%;
				height: 100%;
				& > * {
					display: table-cell;
					width: 50%;
					text-align: center;
					vertical-align: middle;
				}
				.thumb {
					img,
					.noThumb {
						position: static;
						left: auto;
						top: auto;
						width: 100%;
						max-width: 336px;
						height: auto;
						margin: 0 auto;
					}
				}
				.cont {
					padding: 0;
					.tag {
						position: relative;
						left: auto;
						top: auto;
						@include translate(0, 0);
						margin-top: -8px;
						margin-bottom: 16px;
					}
				}
			}
		}
		&.col2 {
			& > li {
				width: 100%;
			}
		}
	}
	#benefit {
		.benefitList {
			li {
				width: 100% * 1/3;
			}
		}
	}
	.downLinkWrap {
		margin-left: 240px;
	}
	.downLink {
		p {
			display: block;
			a {
				$down-link-padding: (
					1: 79px,
					2: 43px,
					3: 60px,
					4: 0
				);
				@each $number, $padding in $down-link-padding {
					&.item#{$number} {
						padding-right: #{$padding};
					}
				}
			}
		}
	}
	.layerWrap {
		.layerContent {
			.processList {
				margin-left: 0;
				li {
					float: none;
					width: 100%;
					padding-left: 0;
					padding-top: 36px;
					br {
						display: none;
					}
					&:before {
						@include posAbsoluteLT(50%, 10px, 29px, 16px);
						margin-left: -15px;
						background: url("../img/content/process_arrow_v.png") no-repeat center center;
					}
					&:first-child {
						padding-top: 0;
					}
				}
			}
		}
	}
	.performanceWrap {
		&.col3 {
			.performanceList {
				& > li {
					width: 100% * 1/2;
					.cont {
						max-width: 420px;
					}
				}
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.gridList {
		& > li {
			.unit {
				.cont {
					dt {
						@include font-size(20);
					}
					dd {
						@include font-size(16);
					}
					.price {
						@include font-size(16);
					}
				}
			}
		}
		&.typeCont {
			.unit {
				.cont {
					.price {
						@include font-size(20);
					}
					.benefit {
						@include font-size(14);
					}
				}
			}
		}
		&.typeGallery {
			& > li {
				width: 100%;
			}
			.unit {
				& > .inner {
					& > * {
						padding-bottom: 50%;
					}
				}
				.thumb {
					padding-bottom: (380/580)*100%;
					img {
						@include posAbsoluteLT(0, 0, 100%, auto);
					}
				}
			}
		}
	}
	.eventList {
		.unit {
			& > .inner {
				.cont {
					.tag {
						margin-top: -4px;
						margin-bottom: 8px;
						@include font-size(18);
					}
					h3 {
						@include font-size(20);
					}
					.date {
						@include font-size(16);
					}
				}
			}
		}
	}

	.limited {
		margin-top: 56px;
		margin-bottom: 32px;
		.tit {
			@include lh(45px);
			@include font-size(20);
		}
		.ltCont {
			padding: 22px;
		}
		.ltBg {
			margin-top: 22px;
			padding-bottom: 403.51%;
			background: #fff url("../img/package/limited_package_m.jpg") no-repeat center center;
			background-size: 100% 100%;
		}
	}


	#benefit {
		& > .inner {
			padding-top: 32px;
			padding-bottom: 32px;
		}
		.tit {
			@include lh(45px);
			@include font-size(20);
		}
		.benefitList {
			margin: -24px 0 0 -30px;
			li {
				width: 100% * 1/2;
				padding: 24px 0 0 30px;
				@include font-size(18);
				.thumb {
					margin-bottom: 12px;
				}
			}
		}
	}

	.openInfo {
		li {
			@include font-size(16);
			.dateBox {
				width: 114px;
				height: 114px;
				padding: 6px;
				& > * {
					& > * {
						@include font-size(18);
						em {
							@include font-size(26);
						}
					}
				}
			}
		}
	}

	#down {
		& > .inner {
			&:before {
				left: auto;
				right: m-get-per(30px);
				width: 192px;
				height: 192px;
			}
		}
	}
	.downLinkWrap {
		margin-left: 0;
	}
	.downLink {
		p {
			a {
				display: block;
				@include font-size(16);
				$down-link-padding: (
					1: 48px,
					2: 33px,
					3: 33px,
					4: 0
				);
				@each $number, $padding in $down-link-padding {
					&.item#{$number} {
						padding-right: #{$padding};
					}
				}
			}
		}
	}

	#note {
		& > .inner {
			padding-top: 46px;
			padding-bottom: 45px;
			& > * {
				float: none;
			}
		}
		h2 {
			width: 100%;
			margin-bottom: 10px;
			padding-top: 1px;
			@include font-size(24);
			br {
				display: none;
			}
		}
		ul {
			width: 100%;
		}
	}
	.layerWrap {
		padding: 0 m-get-per(30px);
		.layerHeader {
			h3 {
				color: #fff;
				@include font-size(24);
			}
		}
		.layerContent {
			padding: 30px m-get-per(50px) 26px;
			@include font-size(16);
			.conBox {
				margin-top: 25px;
			}
			h4 {
				@include font-size(20);
			}

		}
		.layerClose {
			width: 60px;
			height: 63px;
		}
	}

	.packageTit {
		min-height: 0;
		background: none;
		.thumb {
			display: none;
		}
		.cont {
			width: 100%;
			h2 {
				@include font-size(28);
			}
			.discount {
				@include font-size(22);
			}
			.price {
				@include font-size(18);
			}
		}
	}
	.packageInfo {
		margin-top: 24px;
		padding: 38px 22px;
		.legend {
			margin-top: -18px;
			text-align: center;
			li {
				padding: 0 1%;
				width: 38%;
				&:before {
					display: none;
				}
			}

		}
		.benefitBox {
			margin: 36px 12px 0;
			padding: 16px;
			dl {
				@include font-size(18);
				& > * {
					display: block;
				}
				dt {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	.performanceWrap {
		&.col2,
		&.col3 {
			.performanceList {
				& > li {
					width: 100%;
				}
			}
		}
	}
	.performanceList {
		margin-left: 0;
		& > li {
			padding: 36px 0 0 0;
		}
	}
}

// ##Screen = 640px 이하
@include respond-below(custom640) {


}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.gridList {
		& > li {
			.unit {
				.cont {
					dt {
						letter-spacing: -0.08em;
					}
					dd {
						letter-spacing: -0.06em;
					}
				}
			}
		}
		&.typeCont {
			.unit {
				padding: 4px;
				.cont {
					dt {
						letter-spacing: -0.08em;
					}
					dd {
						letter-spacing: -0.06em;
					}
				}
			}
		}
	}
	#benefit {
		& > .inner {
			padding-top: 30px;
			padding-bottom: 26px;
		}
	}
	#down {
		& > .inner {
			&:before {
				width: 150px;
				height: 150px;
			}
		}
	}
	.performanceList {
		& > li {
			.thumb {
				max-width: 75%;
				padding-bottom: 75%;
			}
		}
	}

}