@charset "utf-8";
/* ================================== Event ================================== */

//evBg
.evBg1 {
	background: #fff87a url("../img/event/ev_bg1.gif") repeat center center;
}
.evBg2 {
	background: #03a66c url("../img/event/ev_bg2.gif") repeat center center;
}
.evBg3 {
	background: #039b66 url("../img/event/ev_bg3.gif") repeat center center;
}
.evBg4 {
	background: #057a43 url("../img/event/ev_bg4.gif") repeat center center;
}
.evBg5 {
	background: #035330 url("../img/event/ev_bg5.gif") repeat center center;
}

//evTop
#evTop {
	height: 60px;
	background: #222;
	& > .inner {
		position: relative;
		max-width: $evMaxWidth;
		width: 100%;
		margin: 0 auto;
		padding: 0 30px;
		@include clearfix;
	}
	.goCenter {
		float: left;
		a {
			display: block;
			width: 154px;
			height: 60px;
			background: url("../img/event/logo_sejong_center.png") no-repeat center center;
		}
	}
	.goSeason {
		float: right;
		a {
			display: block;
			width: 72px;
			height: 60px;
			background: url("../img/event/logo_sejong_season.png") no-repeat center center;
		}
	}
}

//evHeader
#evHeader {
	.title {
		& > .inner {
			position: relative;
			max-width: $evMaxWidth;
			width: 100%;
			min-height: 616px;
			margin: 0 auto;
			padding: 0 30px;
			@include clearfix;
		}
		.object {
			.objTit {
				@include posAbsoluteLT(-30px, 17px, 576px, 550px);
				background: url("../img/event/ev_header_title.png") no-repeat center center;
				background-size: cover;
				z-index: 3;
			}
			.obj1 {
				@include posAbsoluteLB(-399px, -75px, 410px, 691px);
				background: url("../img/event/ev_header_obj1.png") no-repeat center center;
				background-size: cover;
				z-index: 2;
			}
			.obj2 {
				@include posAbsoluteRB(-141px, 0, 660px, 578px);
				background: url("../img/event/ev_header_obj2.png") no-repeat center center;
				background-size: cover;
				z-index: 2;
			}
			.obj3 {
				@include posAbsoluteLT(-576px, 132px, 334px, 342px);
				background: url("../img/event/ev_header_obj3.png") no-repeat center center;
				background-size: cover;
				z-index: 1;
			}
			.obj4 {
				@include posAbsoluteRT(-538px, 149px, 314px, 320px);
				background: url("../img/event/ev_header_obj4.png") no-repeat center center;
				background-size: cover;
				z-index: 1;
			}
		}
	}
	.schedule {
		& > .inner {
			position: relative;
			max-width: 980px;
			width: 100%;
			margin: 0 auto;
			padding: 40px 30px 60px;
			text-align: center;
		}
		.scheduleText {
			@include clearfix;
			& > * {
				float: left;
				img {
					width: 100%;
				}
			}
			.txt {
				width: 65.65%;
				img {
					max-width: 604px;
				}
			}
			.btn {
				width: 34.35%;
				padding-left: 0.87%;
				a {
					display: inline-block;
				}
				img {
					max-width: 308px;
				}
			}
		}
		.scheduleList {
			@include clearfix;
			margin: -35px 0 0 -40px;
			& > li {
				float: left;
				width: 100% * (1/3);
				padding: 35px 0 0 40px;
				text-align: center;
				img {
					width: 100%;
					max-width: 280px;
				}
			}
		}
	}
}

//evContainer
#evContainer {
	-ms-word-break: keep-all;
	word-break: keep-all;
}

//evContent
.evContent {
	& > .inner {
		position: relative;
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
		padding: 0 9px;
		text-align: center;
		@include clearfix;
	}
}

//evBtnWrap
.evBtnWrap {
	margin-bottom: 40px;
}
.evBtn {
	display: inline-block;
	&.submit {
		padding: 0 21px;
		img {
			width: 100%;
			max-width: 511px;
		}
	}
	&.close {
		@include posAbsoluteRT(7%, 12%, 6%, auto);
		img {
			width: 100%;
			max-width: 40px;
		}
	}
}

//evTitle
.evTitle {
	text-align: center;
	h2 {
		img {
			width: 100%;
			max-width: 774px;
		}
	}
	ul {
		margin-top: 15px;
		display: inline-block;
		li {
			display: inline-block;
			text-align: left;
			img {
				width: 100%;
				max-width: 389px;
			}
		}
	}
}

//event1
.event1 {
	padding-top: 50px;
	background: #039b66 url("../img/event/ev1_bg.gif") repeat center top;
	.crosswordWrap {
		position: relative;
		padding: 25px 0 40px;
		text-align: center;
		@include clearfix;
		.object {
			.obj1 {
				@include posAbsoluteLT(-71px, 263px, 105px,095px);
				background: url("../img/event/ev_crossword_obj1.png") no-repeat center center;
				background-size: cover;
				z-index: 2;
			}
			.obj2 {
				@include posAbsoluteRT(0, -38px, 90px, 96px);
				background: url("../img/event/ev_crossword_obj2.png") no-repeat center center;
				background-size: cover;
				z-index: 2;
			}
			.obj3 {
				@include posAbsoluteRT(-111px, 272px, 161px, 240px);
				background: url("../img/event/ev_crossword_obj3.png") no-repeat center center;
				background-size: cover;
				z-index: 2;
			}
		}
		.crosswordBox {
			position: relative;
			display: block;
			float: left;
			width: 619px;
			height: 619px;
			background: url("../img/event/bg_crossword_619.png") no-repeat center center;
		}
		.crosswordCell {
			@include posAbsoluteLT(auto, auto, 102px, 102px);
			text-align: center;
			background-color: #fff883;
			@for $i from 1 through 6 {
				&.posX#{$i} {
					left: (103px * ($i - 1)) + 1;
				}
				&.posY#{$i} {
					top: (103px * ($i - 1)) + 1;
				}
			}
			.num {
				@include posAbsoluteLT(-1px, -1px, 104px, 104px);
				border: 4px solid transparent;
				z-index: 2;
				em {
					@include posAbsoluteLT(4px, 4px, 16px, 16px);
					background: url("../img/event/crossword_num.png") no-repeat 0 0;
					@for $i from 1 through 9 {
						&.hrzN#{$i} {
							background-position: -20px * ($i - 1) 0;
						}
						&.vrtN#{$i} {
							background-position: -20px * ($i - 1) -20px;
						}
					}
				}
				& + .num {
					em {
						top: 21px;
					}
				}
				@for $i from 1 through 6 {
					&.hrzC#{$i} {
						width: (103px * $i) + 1px;
					}
					&.vrtC#{$i} {
						height: (103px * $i) + 1px;
					}
				}
			}
			&.on {
				.num {
					border-color: #006835;
				}
			}
			&.wrong {
				input[type="text"] {
					color: #ff0c00;
				}
			}
			input[type="text"] {
				@include posAbsoluteLT(3px, 3px, 96px, 96px);
				line-height: 96px;
				text-align: center;
				vertical-align: middle;
				padding: 6px 0 0;
				font-family: $fontFamily;
				color: #222;
				@include font-size(36);
				font-weight: 900;
				border: none;
				outline: none;
				background-color: transparent;
				border-radius: 0;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				z-index: 3;
			}
		}
		.questionBox {
			display: block;
			float: right;
			background: #017c3f url("../img/event/bg_question.gif") repeat center center;
			img {
				width: 100%;
				max-width: 362px;
			}
		}
	}
}

//event2
.event2 {
	padding-top: 50px;
	& > .inner {
		.txt {
			padding-top: 10px;
			padding-bottom: 45px;
			img {
				width: 100%;
				max-width: 720px;
			}
		}
	}
	.evSlideWrap {
		.slick-arrow {
			overflow: hidden;
			width: 37px;
			height: 60px;
			background: url("../img/event/ev_slide_arrow.png") no-repeat 0 center;
		}
		.slick-prev {
			margin-left: -460px;
			background-position: 0 center;
		}
		.slick-next {
			margin-left: 460px;
			background-position: -50px center;
		}
	}
	.commentWrap {
		font-family: $evFontFamily;
		font-weight: 400;
		font-style: normal;
		color: #000;
		@include font-size(18);
		& > .inner {
			position: relative;
			max-width: $evMaxWidth;
			width: 100%;
			margin: 0 auto;
			padding: 0 47px;
			text-align: center;
			@include clearfix;
		}
		.commentWrite {
			position: relative;
			height: 145px;
			margin-bottom: 47px;
			padding: 21px 335px 21px 75px;
			@include border-radius(73px);
			background: #fff;
			textarea {
				width: 100%;
				height: 100%;
				padding: 4px 0;
				border: none;
				resize: none;
				color: #000;
				line-height: 1.5;
				overflow-y: auto;
			}
			.commentBtn {
				@include posAbsoluteRT(-2px, 0, 320px, 145px);
				background: url("../img/event/ev2_comment_btn.gif") no-repeat center center;
				@include border-radius(73px);
				@include boxShadow(3px, 3px, 8px, rgba(#000,.36));
			}
		}
		.commentList {
			margin: -25px 0 0 -30px;
			@include clearfix;
			& > li {
				float: left;
				width: 100% * 1/3;
				padding: 25px 0 0 30px;
			}
		}
		.commentUnit {
			position: relative;
			height: 100%;
			padding: 16px 42px 68px;
			text-align: left;
			color: #000;
			@include font-size(16);
			line-height: 1.3;
			background: #fff883;
			@include border-radius(73px);
			.num {
				color: #057844;
				font-weight: 700;
			}
			.info {
				@include posAbsoluteLB(0, 0, auto, auto);
				right: 0;
				padding: 16px 42px;
				@include font-size(15);
			}
		}
		.commentPaging {
			overflow: hidden;
			@include clearfix;
			margin-top: 55px;
			margin-bottom: 15px;
			text-align: center;
			font-size: 0;
			li {
				display: inline-block;
				padding: 0 7px;
				a {
					overflow: hidden;
					display: block;
					width: 30px;
					@include lh(30px);
					color: #fff;
					@include font-size(14);
					text-decoration: none;
				}
				&.first,
				&.prev,
				&.next,
				&.last {
					padding: 0;
					a {
						width: 20px;
						&:before {
							content: '';
							display: inline-block;
							width: 20px;
							height: 30px;
							background: url("../img/event/comment_paging_arrow.gif") no-repeat 0 center;
						}
					}
				}
				&.first {
					a {
						&:before {
							background-position: -40px * 0 center;
						}
					}
				}
				&.prev {
					padding-right: 27px;
					a {
						width: 34px;
						&:before {
							width: 34px;
							background-position: -40px * 1 center;
						}
					}
				}
				&.next {
					padding-left: 27px;
					a {
						width: 34px;
						&:before {
							width: 34px;
							background-position: -40px * 2 center;
						}
					}
				}
				&.last {
					a {
						&:before {
							background-position: -40px * 3 center;
						}
					}
				}
				&.currentPage {
					a {
						color: #097646;
						background: #fff883;
						@include border-radius(50%);
					}
				}
			}
		}
	}
}

//evSchedule
.evSchedule {
	padding-top: 100px;
	li {
		padding: 5px 0;
		color: #222;
		@include font-size(26);
		font-weight: 700;
		line-height: 1.4;
		strong {
			font-weight: 900;
		}
	}
}

//evGift
.evGift {
	& > .inner {
		position: relative;
		max-width: $evMaxWidth;
		width: 100%;
		margin: 0 auto;
		padding: 0 30px;
		text-align: center;
		@include clearfix;
	}
	h3 {
		padding-bottom: 30px;
		color: #006835;
		@include font-size(36);
		font-weight: 900;
	}
	&.ev1Gift {
		padding-top: 35px;
		.txt {
			padding-bottom: 35px;
			img {
				width: 100%;
				max-width: 450px;
			}
		}
		.giftList {
			& > li {
				width: 100% * 1/5;
				img {
					width: 100%;
					max-width: 178px;
				}
			}
		}
	}
	&.ev2Gift {
		padding-top: 50px;
		padding-bottom: 50px;
		.giftWrap {
			max-width: 883px;
		}
		.giftList {
			& > li {
				width: 100% * 1/3;
				img {
					width: 100%;
					max-width: 260px;
				}
			}
		}
	}
}

//giftWrap
.giftWrap {
	position: relative;
	overflow: hidden;
	display:inline-block;
	width: 100%;
}
.giftList {
	margin: -20px 0 0 -20px;
	@include clearfix;
	& > li {
		width: 100% * 1/5;
		padding: 20px 0 0 20px;
		float: left;
		text-align: center;
	}
}

//evNote
.evNote {
	padding: 25px 0 45px;
	& > .inner {
		position: relative;
		max-width: $evMaxWidth;
		width: 100%;
		margin: 0 auto;
		padding: 0 30px;
		text-align: center;
		@include clearfix;
		img {
			width: 100%;
			max-width: 983px;
		}
	}
}

//modalOverlay
.modalOverlay {
	display: none;
	@include posFixedFull;
	background: rgba(#000, .7);
	&.evDim {
		z-index: 998;
	}
}

//msgWrap
.msgWrap {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	@include translate(-50%, -50%);
	width: 100%;
	max-width: 735px;
	padding: 0 30px;
	z-index: 999;
	.msgBox {
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 112%;
		&.msgRight {
			background: url("../img/event/ev1_msg_right.png") no-repeat center top;
			background-size: 100% auto;
		}
		@for $i from 0 through 5 {
			&.msgWrong#{$i} {
				background: url("../img/event/ev1_msg_wrong#{$i}.png") no-repeat center top;
				background-size: 100% auto;
			}
		}
		.evBtnWrap {
			@include posAbsoluteLB(0, 15%, auto, auto);
			right: 0;
			margin-bottom: 0;
		}
		.evBtn {
			&.again,
			&.hint {
				width: 35.5%;
				img {
					width: 100%;
					max-width: 239px;
				}
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1180px 이하
@include respond-below(custom1180) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	#evHeader {
		.title {
			& > .inner {
				width: 100%;
				min-height: 0;
				padding: 0;
				padding-bottom: 60%;
				background: url("../img/event/bg_header_1024.jpg") no-repeat center center;
				background-size: cover;
			}
			.object {
				display: none;
			}
		}
		.schedule {
			.scheduleText {
				& > * {
					float: none;
				}
				.txt {
					width: 100%;
				}
				.btn {
					width: 100%;
					margin: 20px 0 40px;
					padding: 0 28%;
				}
			}
			.scheduleList {
				margin-left: -30px;
				& > li {
					padding-left: 30px;
				}
			}
		}
	}
	.evContent {
		& > .inner {
			padding: 0 30px;
		}
	}
	.evGift {
		&.ev1Gift {
			.giftList {
				& > li {
					width: 100% * 1/4;
				}
			}
		}
	}
	.event1 {
		.crosswordWrap {
			width: 619px;
			margin: 0 auto;
			.object {
				.obj2 {
					top: 0;
					right: -40px;
				}
				.obj3 {
					top: 450px;
				}
			}
			.crosswordBox {
				float: none;
				width: 619px;
				height: 619px;
			}
			.questionBox {
				float: none;
				width: 100%;
				margin-top: 20px;
				img {
					width: 100%;
					max-width: 362px;
				}
			}
		}
	}
	.event2 {
		.commentWrap {
			& > .inner {
				padding: 0 30px;
			}
			.commentWrite {
				padding-right: 275px;
				.commentBtn {
					width: 260px;
				}
			}
			.commentList {
				& > li {
					width: 100% * 1/2;
				}
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	#evHeader {
		.schedule {
			.scheduleText {
				.btn {
					margin: 10px 0 20px;
				}
			}
			.scheduleList {
				margin-left: -20px;
				& > li {
					padding-left: 20px;
				}
			}
		}
	}
	.evGift {
		&.ev1Gift {
			.giftList {
				& > li {
					width: 100% * 1/3;
				}
			}
		}
		&.ev2Gift {
			.giftList {
				& > li {
					img {
						max-width: 178px;
					}
				}
			}
		}
	}
	.evBtn {
		&.submit {
			img {
				max-width: 427px;
			}
		}
	}
	.event1 {
		.crosswordWrap {
			width: 427px;
			.object {
				display: none;
			}
			.crosswordBox {
				width: 427px;
				height: 427px;
				background: url("../img/event/bg_crossword_427.png") no-repeat center center;
			}
			.crosswordCell {
				@include posAbsoluteLT(auto, auto, 70px, 70px);
				@for $i from 1 through 6 {
					&.posX#{$i} {
						left: (71px * ($i - 1)) + 1;
					}
					&.posY#{$i} {
						top: (71px * ($i - 1)) + 1;
					}
				}
				.num {
					@include posAbsoluteLT(-1px, -1px, 72px, 72px);
					border: 3px solid transparent;
					em {
						@include posAbsoluteLT(3px, 3px, 11px, 11px);
						background-size: auto 28px;
						@for $i from 1 through 9 {
							&.hrzN#{$i} {
								background-position: -14px * ($i - 1) 0;
							}
							&.vrtN#{$i} {
								background-position: -14px * ($i - 1) -14px;
							}
						}
					}
					& + .num {
						em {
							top: 15px;
						}
					}
					@for $i from 1 through 6 {
						&.hrzC#{$i} {
							width: (71px * $i) + 1px;
						}
						&.vrtC#{$i} {
							height: (71px * $i) + 1px;
						}
					}
				}
				input[type="text"] {
					@include posAbsoluteLT(2px, 2px, 66px, 66px);
					line-height: 66px;
					padding: 4px 0 0;
					@include font-size(26);
				}
			}
		}
	}
	.event2 {
		.commentWrap {
			.commentWrite {
				height: auto;
				margin-bottom: 160px;
				padding-left: 42px;
				padding-right: 42px;
				.commentBtn {
					right: auto;
					top: auto;
					left: 5%;
					bottom: -110px;
					width: 90%;
					height: 90px;
					@include boxShadow(2px, 2px, 5px, rgba(#000,.25));
				}
			}
			.commentList {
				& > li {
					width: 100%;
				}
			}
		}
	}
}

// ##Screen = 640px 이하
@include respond-below(custom640) {
	#evTop {
		& > .inner {
			padding: 0 m-get-per(30px);
		}
	}
	#evHeader {
		.title {
			& > .inner {
				padding-bottom: 96%;
				background: url("../img/event/bg_header_640.jpg") no-repeat center center;
				background-size: cover;
			}
		}
		.schedule {
			& > .inner {
				padding: 40px m-get-per(30px) 60px;
			}
		}
	}
	.evContent {
		& > .inner {
			padding: 0 m-get-per(30px);
		}
	}
	.evGift {
		& > .inner {
			padding: 0 m-get-per(30px);
		}
	}
	.evNote {
		& > .inner {
			padding: 0 m-get-per(30px);
		}
	}
	.msgWrap {
		padding: 0 m-get-per(30px);
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.evGift {
		&.ev1Gift,
		&.ev2Gift {
			.giftList {
				& > li {
					width: 100% * 1/2;
				}
			}
		}
	}
	.evBtn {
		&.submit {
			img {
				max-width: 313px;
			}
		}
	}
	.event1 {
		.crosswordWrap {
			width: 313px;
			.crosswordBox {
				width: 313px;
				height: 313px;
				background: url("../img/event/bg_crossword_313.png") no-repeat center center;
			}
			.crosswordCell {
				@include posAbsoluteLT(auto, auto, 51px, 51px);
				@for $i from 1 through 6 {
					&.posX#{$i} {
						left: (52px * ($i - 1)) + 1;
					}
					&.posY#{$i} {
						top: (52px * ($i - 1)) + 1;
					}
				}
				.num {
					@include posAbsoluteLT(-1px, -1px, 53px, 53px);
					border: 2px solid transparent;
					em {
						left: 1px;
						top: 1px;
					}
					& + .num {
						em {
							top: 13px;
						}
					}
					@for $i from 1 through 6 {
						&.hrzC#{$i} {
							width: (52px * $i) + 1px;
						}
						&.vrtC#{$i} {
							height: (52px * $i) + 1px;
						}
					}
				}
				input[type="text"] {
					@include posAbsoluteLT(1px, 1px, 49px, 49px);
					line-height: 49px;
					padding: 2px 0 0;
					@include font-size(22);
				}
			}
		}
	}
	.event2 {
		.commentWrap {
			.commentWrite {
				margin-bottom: 140px;
				.commentBtn {
					bottom: -90px;
					height: 70px;
					background-size: auto 130px;
				}
			}
		}
	}
}