@charset "utf-8";
/* ================================== Intro ================================== */

.loadingWrap {
	.loadingLogo {
		position: fixed;
		left: 50%;
		top: 50%;
		@include translate(-50%, -50%);
		opacity: 1;
		z-index: 99999;
		span {
			position: relative;
			display: block;
			width: 268px;
			padding-bottom: 62%;
			@include transition(width, .2s, ease);
			img {
				@include posAbsoluteLT(0, 0, 100%, 100%);
				right: 0;
				bottom: 0;
			}
		}
	}
	.modalOverlay {
		&.loadingDim {
			display: block;
			opacity: 1;
			background: #fff;
			z-index: 99998;
		}
	}
}

.videoWrap {
	.videoBox {
		position: fixed;
		left: 50%;
		top: 50%;
		@include translate(-50%, -50%);
		width: 90%;
		max-width: 1200px;
		background: #000;
		opacity: 1;
		z-index: 9999;
		& > .inner {
			position: relative;
			width: 100%;
			padding-bottom: 56.25%;//16:9 [56.25%;], 4:3 [75%;]
			video {
				@include posAbsoluteLT(0, 0, 100%, 100%);
			}
			.videoClose {
				@include posAbsoluteRT(0, -47px, 47px, 47px);
				background: url("../img/common/icon_layer_close.png") no-repeat center center;
			}
		}
	}
	.modalOverlay {
		&.videoDim {
			display: block;
			opacity: 1;
			z-index: 9998;
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1180px 이하
@include respond-below(custom1180) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {


}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.loadingWrap {
		.loadingLogo {
			span {
				width: 214px;
			}
		}
	}
}

// ##Screen = 640px 이하
@include respond-below(custom640) {


}

// ##Screen = 480px 이하
@include respond-below(xs) {
	.loadingWrap {
		.loadingLogo {
			span {
				width: 160px;
			}
		}
	}
}