@charset "utf-8";
/* ================================== Main ================================== */

.visualArea {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 800px;
	@include transition(height, .2s, ease);
	.scene,
	.layer {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0; 
	}
	.visualObject {
		position: absolute;
		left: 50%;
		bottom: 0;
		display: table;
		width: 164%;
		max-width: 2945px;
		@include translate(-50%, 0);
		@include transition(bottom, .2s, ease);
		z-index: 2;
		& > * {
			display: table-cell;
			text-align: center;
			vertical-align: bottom;
			& > * {
				position: relative;
				display: block;
				z-index: 5;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 0, 100%, 100%);
					right: 0;
					bottom: 0;
					z-index: 4;
				}
				&:after {
					content: '';
					@include posAbsoluteLT(50%, 0, 3px, 100vh);
					background: #006835;
					z-index: 30;
				}
			}
			$map-visual-item: (
				1: (object-width: 372px, object-padding: 180px, object-margin: 0 33px 300px, stick-margin: 174px 0 0 -38px),
				2: (object-width: 196px, object-padding: 331px, object-margin: 0 0 55px, stick-margin: 312px 0 0 0),
				3: (object-width: 367px, object-padding: 444px, object-margin: 0 -5px 197px, stick-margin: 252px 0 0 50px),
				4: (object-width: 161px, object-padding: 451px, object-margin: 0 35px 0, stick-margin: 408px 0 0 44px),
				5: (object-width: 212px, object-padding: 363px, object-margin: 0 85px 32px, stick-margin: 348px 0 0 50px),
				6: (object-width: 151px, object-padding: 269px, object-margin: 0 20px 257px, stick-margin: 266px 0 0 0),
				7: (object-width: 132px, object-padding: 392px, object-margin: 0 125px 97px, stick-margin: 390px 0 0 -25px),
				8: (object-width: 241px, object-padding: 352px, object-margin: 0 -26px 45px, stick-margin: 348px 0 0 42px),
				9: (object-width: 296px, object-padding: 393px, object-margin: 0 44px 186px, stick-margin: 376px 0 0 52px),
				10: (object-width: 87px, object-padding: 301px, object-margin: 0 51px 58px, stick-margin: 298px 0 0 -3px)
			);
			@each $number, $value in $map-visual-item {
				&.item#{$number} {
					& > * {
						width: map-get($value, object-width);
						padding-bottom: map-get($value, object-padding);
						margin: map-get($value, object-margin);
						&:before {
							background: url("../img/main/visual_object_item#{$number}.png") no-repeat center center;
							background-size: cover;
						}
						&:after {
							margin: map-get($value, stick-margin);
						}
					}
				}
			}
		}
	}
	.visualBg {
		@include posAbsoluteLT(50%, 0, 105%, 100%);
		@include translate(-50%, 0);
		background: url("../img/main/visual_bg.jpg") no-repeat center center;
		background-size: cover;
		z-index: 1;
	}
}

#open {
	background: #23542e url("../img/main/open_bg.jpg") no-repeat center center;
	.mOpenInfo {
		@include clearfix;
		li {
			float: left;
			padding-left: 5.84%;
			background: url("../img/main/open_shadow.png") no-repeat left center;
			&:nth-child(1) {
				width: 30.25%;
				padding-left: 0;
				background: none;
			}
			&:nth-child(2) {
				width: 36.34%;
			}
			&:nth-child(3) {
				width: 33.41%;
			}
			.infoBox {
				position: relative;
				padding: 55px 0 55px 50px;
				color: #fff;
				@include font-size(20);
				line-height: 1.3;
				text-shadow: 0 0 1px rgba(#000,.5);
				.year {
					@include posAbsoluteLT(-13px, 80px, auto, auto);
					@include font-size(14);
					text-shadow: none;
					@include rotate(-90);
					i {
						position: relative;
						padding: 4px 14px 5px 13px;
						font-style: normal;
						&:before,
						&:after {
							content: '';
							@include posAbsoluteLT(0, 0, 100%, 100%);
							border: 1px solid #fff;
							opacity: .35;
						}
						&:after {
							left: -3px;
							top: -3px;
						}
					}
				}
				strong {
					display: block;
					margin: 0 0 8px;
					color: #d4d72a;
					@include font-size(30);
					font-weight: 900;
					letter-spacing: -0.04em;
					line-height: 1.2;
				}
			}
		}
	}
}

#package {
	background: url("../img/common/rhombus_bg.jpg") repeat center center;
	& > .inner {
		padding-top: 50px;
		padding-bottom: 54px;
	}
	.packageList {
		overflow: hidden;
		margin: -42px 0 0 -42px;
		@include clearfix;
		& > * {
			float: left;
			width: 100% * 1/3;
			padding: 42px 0 0 42px;
		}
		.unit {
			position: relative;
			display: block;
			width: 100%;
			padding-bottom: 133.335%;
			& > * {
				@include posAbsoluteLT(0, 0, 100%, 100%);
				right: 0;
				bottom: 0;
			}
			.front {
				opacity: 1;
			}
			.back {
				opacity: 0;
			}
			@for $i from 1 through 3 {
				&.package#{$i} {
					.front {
						background: url("../img/main/package#{$i}_front.png") no-repeat center top;
						background-size: cover;
					}
					.back {
						background: url("../img/main/package#{$i}_back.png") no-repeat center top;
						background-size: cover;
					}
				}
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {
	.visualArea {
		.visualBg {
			background-size: 100% 800px;
		}
	}
}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	#open {
		background-size: cover;
		.mOpenInfo {
			@include clearfix;
			li {
				.infoBox {
					padding-right: 30px;
				}
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	.visualArea {
		height: 700px;
		.visualObject {
			bottom: 70px;
		}
		.visualObject {
			& > * {
				& > * {
					&:after {
						width: 2px;
					}
				}
				// object size 80%
				$map-visual-item: (
					1: (object-width: 297px, object-padding: 144px, object-margin: 0 13px 264px, stick-margin: 140px 0 0 -30px),
					2: (object-width: 156px, object-padding: 264px, object-margin: 0 -20px -12px, stick-margin: 250px 0 0 0),
					3: (object-width: 293px, object-padding: 355px, object-margin: 0 -25px 108px, stick-margin: 200px 0 0 38px),
					4: (object-width: 128px, object-padding: 361px, object-margin: 0 15px -90px, stick-margin: 328px 0 0 30px),
					5: (object-width: 169px, object-padding: 290px, object-margin: 0 65px -41px, stick-margin: 278px 0 0 40px),
					6: (object-width: 120px, object-padding: 215px, object-margin: 0 -20px 203px, stick-margin: 214px 0 0 0),
					7: (object-width: 105px, object-padding: 313px, object-margin: 0 105px 18px, stick-margin: 312px 0 0 -18px),
					8: (object-width: 192px, object-padding: 281px, object-margin: 0 -46px -26px, stick-margin: 276px 0 0 28px),
					9: (object-width: 236px, object-padding: 314px, object-margin: 0 24px 107px, stick-margin: 300px 0 0 40px),
					10: (object-width: 69px, object-padding: 240px, object-margin: 0 31px -3px, stick-margin: 238px 0 0 0)
				);
				@each $number, $value in $map-visual-item {
					&.item#{$number} {
						& > * {
							width: map-get($value, object-width);
							padding-bottom: map-get($value, object-padding);
							margin: map-get($value, object-margin);
							&:after {
								margin: map-get($value, stick-margin);
							}
						}
					}
				}
			}
		}
		.visualBg {
			height: 105%;
		}
	}
	#open {
		background: #23542e url("../img/main/open_bg_m.jpg") no-repeat center center;
		background-size: cover;
		.mOpenInfo {
			margin: 0 m-get-per(-30px);
			li {
				float: none;
				min-height: 0;
				background: url("../img/main/open_shadow_m.png") no-repeat center top;
				background-size: cover;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					padding: 0 m-get-per(30px);
					width: auto;
				}
				.infoBox {
					padding: 35px 30px 30px 82px;
					.year {
						@include posAbsoluteLT(3px, 43px, auto, auto);
						@include rotate(0);
					}
				}
			}
		}
	}

	#package {
		& > .inner {
			padding-top: 50px;
			padding-bottom: 54px;
		}
		.packageList {
			margin-top: -30px;
			& > * {
				float: none;
				width: 100%;
				padding-top: 30px;
			}
			.unit {
				padding-bottom: 44.655%;
				@for $i from 1 through 3 {
					&.package#{$i} {
						.front {
							background: url("../img/main/package#{$i}_front_m.png") no-repeat center top;
							background-size: cover;
						}
						.back {
							background: url("../img/main/package#{$i}_back_m.png") no-repeat center top;
							background-size: cover;
						}
					}
				}
			}
		}
	}
}

// ##Screen = 640px 이하
@include respond-below(custom640) {


}

// ##Screen = 480px 이하
@include respond-below(xs) {


}