@charset "utf-8";

/********************************************************************************/
/* _board.scss
/********************************************************************************/
/* 검색 */
.search-box {
	position: relative;
	padding: 20px;
	text-align: center;
	font-size: 0;
	border: 2px solid #ccc;
	background: #f7f7f7;
}
.inner-gap {
	position: relative;
	padding: 20px;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		width: 100%;
		height: 0;
		border-top: 1px dotted #ccc;
	}
}
.search-inner {
	&> * {
		display: inline-block;
		vertical-align: middle;
		padding: 5px 4px;
		box-sizing: border-box;
	}
}
.search-field {
	text-align: left;
	font-size: 14px;
	& > * {
		display: inline-block;
		vertical-align: middle;
	}
	input[type='text'] {
		margin: 0;
		background: #fff;
	}
	select {
		font-size: 13px;
		background: #fff;
	}
	label {
		min-width: 80px;
		height: 30px;
		line-height: 30px;
		padding-right: 5px;
		text-align: right;
		vertical-align: middle;
		color: #555;
		font-size: 13px;
		font-weight: 400;
		letter-spacing: -0.05em;
	}
	.in-chk {
		& * {
			display: inline-block;
			vertical-align: middle;
		}
		& > * {
			margin-right: 10px;
		}
		input[type=radio],
		input[type=checkbox] {
			& + label {
				min-width: 0;
				padding-left: 4px;
				text-align: left;
			}
		}
	}
	.kca-btn {
		&.cw,
		&.cdw {
			color: #333;
			border-color: #999;
		}
	}
}

.search-btn {
	.kca-btn {
		height: 30px;
		font-size: 12px;
		span {
			padding: 8px 8px;
		}
	}
}

.label-auto {
	.search-field {
		label {
			min-width: 0;
			padding-left: 30px;
		}
	}
}
.multi-line {
	.search-field {
		width: 263px;
		&.wid-auto {
			width: auto;
		}
		&.col2 {
			width: 526px;
		}
		&.col3 {
			width: 789px;
		}
		select {
			min-width: 163px;
			&.year {
				min-width: 75px;
			}
		}
	}
	.search-btn {
		display: block;
		text-align: center;
		.kca-btn {
			margin-top: 10px;
			min-width: 120px;
		}
	}
	&.label-10 {
		.search-field {
			width: 303px;
			&.col2 {
				width: 606px;
			}
			&.col3 {
				width: 909px;
			}
			label {
				min-width: 120px;
			}
		}
	}
}
.btn-right {
	&.search-box {
		padding-right: 140px;
	}
	.search-btn {
		position: absolute;
		top: 50%;
		right: 30px;
		.kca-btn {
			margin-top: -35px;
			min-width: 80px;
			height: 60px;
		}
	}
}
.no-label {
	.search-field {
		width: 180px;
		&.col2 {
			width: 360px;
			select {
				min-width: 170px;
			}
		}
		&.col3 {
			width: 540px;
		}
		&.in-lable {
			label {
				min-width: 0;
			}
			select {
				&.year {
					min-width: 60px;
				}
			}
			&.col2 {
				select {
					min-width: 150px;
				}
			}
		}
	}
}

/* search-inner-filter 추가 200512 */
.search-inner-filter {
	overflow: hidden;
	& > * {
		display: inline-block;
	}
	input[type=text],
	select{
		background: #fff;
		margin-right: 3px;
	}
	.fl,
	.fr {
		width: auto;
		& > * {
			display: inline-block;
			margin-left: 20px;
			padding: 5px 4px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}


/*게시판 상단*/
.board-top {
	overflow: hidden;
	padding: 10px 20px;
	border-bottom: 1px solid #cecece;
	background: #f8f8f8;
	& > * {
		display: inline-block;
	}
	input[type=text],
	select{
		background: #fff;
	}
	.total {
		padding: 5px 0 4px 20px;
		font-size: 14px;
		color: #555;
		background:url(../img/board/bsnum-icon.png) no-repeat left center;
		strong {
			color: #111;
			font-weight: 500;
		}
	}
	.fl,
	.fr {
		width: auto;
		& > * {
			display: inline-block;
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.kca-btn {
		&.cw,
		&.cdw {
			color: #333;
			border-color: #999;
		}
	}
}






/*게시판(목록/상세/등록)공통*/
.board-wrap {
	.bd-line {
		display: block;
		height: 0;
		text-indent:-20000px;
		&.light {
			border-top: 1px solid #cecece;
		}
		&.bold {
			border-top: 2px solid #333;
		}
	}
	.inner {
		overflow: hidden;
		&.over-x {
			overflow-x: auto;
		}
		&.over-y {
			overflow-y: auto;
		}
		&.fix-table {
			table {
				table-layout: fixed;
			}
		}
		&.data-table {
			background: #dedede;
			table {
				width: auto;
				th {
					span {
						display: block;
						min-width: 70px;
					}
					input {
						color: #333;
						font-weight: 500;
					}
				}
				td {
					background: #fff;
				}
			}
		}
	}
	table {
		width: 99.9999%;
	}
	tr {
		& > *:first-child {
			border-width: 0 0 1px 0;
		}
	}
	th,
	td {
		padding: 9px 15px;
		font-size: 14px;
		text-align: center;
		border: solid #dedede;
		border-width: 0 0 1px 1px;
		word-break: keep-all;
		&.no-bd {
			border-width: 0 0 1px 0;
		}
	}
	th {
		color: #333;
		font-weight: 500;
		background: #f5f5f5;
		&.bg-dark {
			color: #222;
			background: #eaeaea;
		}
	}
	td {
		color: #666;
	}
	a {
		color: #2176c6;
		&:hover {
			text-decoration: underline;
		}
	}
	&.td-l {
		td {
			text-align: left;
		}
	}
	&.th-l {
		th {
			padding-left: 20px;
			text-align: left;
		}
	}
	.in-inp,
	.in-textarea,
	.in-btn,
	.in-tag {
		padding-top: 5px;
		padding-bottom: 5px;
		vertical-align: middle;
	}
	.in-chk {
		& * {
			display: inline-block;
			vertical-align: middle;
		}
		& > * {
			margin-right: 20px;
		}
		input[type=radio],
		input[type=checkbox] {
			& + label {
				padding-left: 4px;
			}
		}
	}
	.in-textarea {
		textarea {
			margin-bottom: -4px;
		}
	}
	input[type=file] {
		height: auto;
		padding: 0.3em 5px;
		background: transparent;
	}
	.essntl {
		&:before {
			content: '*';
			display: inline-block;
			padding-left: 5px;
			vertical-align: middle;
			color: #df2519;
		}
	}
	.editor-cont {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.in-scroll {
		padding: 20px 0;
		& > .in-cont {
			overflow: hidden;
			overflow-y: auto;
			max-height: 96px;
			padding: 0 15px;
		}
	}
	.subject {
		padding-top: 15px;
		padding-bottom: 15px;
    color: #111;
    font-size: 16px;
    line-height: 1.3;
	}
	.multi-list {
		& > * {
			margin-top: 5px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	&.board-view {
		th,
		td {
			text-align: left;
		}
	}
	&.board-write {
		th,
		td {
			padding-top: 6px;
			padding-bottom: 6px;
			text-align: left;
		}
		th {
			padding-top: 11px;
			padding-bottom: 11px;
		}
	}
	&.inp-full {
		input,
		select {
			width: 100%;
			box-sizing: border-box;
		}
		input {
			height: 30px;
		}
	}
	.kca-btn {
		&.cw,
		&.cdw {
			color: #333;
			border-color: #999;
		}
	}
}

/* comment */
.comment-write {
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
	background: #f8f8f8;
	padding: 20px 120px 16px 20px;
	textarea {
		width: 100%;
		padding-bottom: 0;
		resize: none;
	}
	.comment-btn {
		position: absolute;
		top: 20px;
		right: 20px;
		.kca-btn {
			min-width: 80px;
			// height: 60px;
			height: 64px;
		}
	}
}
.comment-list {
	display: table;
	width: 100%;
	margin-top: -1px;
	border: solid #dedede;
	border-width: 1px 0;
	& > * {
		display: table-cell;
		padding: 25px 20px;
		text-align: center;
		vertical-align: middle;
	}
	.txt {
		width: 100%;
		text-align: left;
	}
	.info {
		width: 120px;
	}
	.btn {
		width: 100px;
	}
}


/*블록형 게시판*/
.list-box {
	display: table;
	width: 100%;
	border-bottom: 1px solid #dedede;
	background: #fff;
	& > * {
		display: table-cell;
		vertical-align: top;
		padding: 20px;
		color: #555;
	}
	a {
		color: #111;
	}
	.chk {
		width: 20px; 
		padding-left: 25px; 
		padding-right: 0;
		input[type=radio],
		input[type=checkbox],
		input.radio,
		input.checkbox {
			margin-top: 6px;
		}
	}
	.info {
		width: 240px;
		p {
			padding: 1px 2px;
			font-size: 13px;
			em {
				color: #1e5fc9;
				font-style: normal;
			}
		}
		.logo {
			img {
				max-width: 100%;
				margin-bottom: 10px;
			}
		}
		.name {
			margin-bottom: 10px;
			padding: 2px;
			color: #111;
			font-size: 18px;
			line-height: 1.3;
			.u-tag {
				display: inline-block;
				min-width: 42px;
				line-height: 1.6;
    		margin-left: 6px;
    		vertical-align: middle;
			}
		}
	}
	.cont {
		p {
			padding: 2px;
		}
		.subject {
			margin-bottom: 10px;
			color: #111;
			font-size: 18px;
			line-height: 1.3;
			.icon {
				margin: -5px 6px 0 0;
			}
			.u-tag {
				display: inline-block;
				min-width: 42px;
				line-height: 1.6;
    		margin-left: 6px;
    		vertical-align: middle;
			}
		}
		.keyword {
			margin-top: 12px;
		}
	}
	.tag {
		width: 80px;
		text-align: center;
		vertical-align: middle;
		& > * {
			padding: 2px 0;
		}
	}
	.state {
		width: 200px;
		text-align: center;
		vertical-align: middle;
		& > * {
			margin-top: 10px;
			&:first-child {
				margin-top: 0;
			}
		}
		.date {
			& > * {
				display: inline-block;
				font-size: 13px;
			}
			em {
				color: #1e5fc9;
				font-size: 14px;
				font-style: normal;
			}
		}
		.period {
			color: #df2519;
			font-size: 15px;
		}
		.count {
			& > * {
				display: inline-block;
				padding: 0 15px;
			}
			font-size: 13px;
			em {
				color: #1e5fc9;
				font-size: 14px;
				font-style: normal;
			}
		}
		.btn {
			& > * {
				min-width: 80px;
				margin: 0 1px;
			}
		}
		.tag {
			width: auto;
			& > * {
				min-width: 62px;
				margin: 0 1px;
			}
		}
	}
	.no-data {
		padding: 90px 0;
		text-align: center;
	}
	&.in-table {
		display: block;
		width: 100%;
		border-bottom: 1px solid #dedede;
		background: #fff;
		&:after {
			clear: both;
			content: "";
			display: block;
		}
		& > * {
			float: left;
			display: block;
			box-sizing: border-box;
		}
		.info {
			width: 25%;
		}
		.cont {
			width: 75%;
		}
	}
	&.dash {
		display: block;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
		& > * {
			padding: 15px 2px;
			color: #777;
			& > * {
				margin-top: 5px;
				&:first-child {
					margin-top: 0;
				}
				& > span {
					padding-left: 10px;
					&:first-child {
						padding-left: 0;
					}
				}
			}
		}
		.cont {
			float: left;
			.m-txt {
				width: 100%;
				color: #111;
				font-size: 17px;
				line-height: 1.3;
				@include text-ellipsis;
			}
			.m-txt2 {
				width: 100%;
				color: #111;
				font-size: 17px;
				line-height: 1.3;
				@include multiline-ellipsis (1.3, 2);
			}
		}
		.cont-r {
			float: right;
			text-align: right;
			vertical-align: middle;
			padding-top: 20px;
		}

	}
}

/*갤러리 게시판*/
.gallery-list {
	margin-left: -40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #dedede;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	& > li {
		float: left;
		width: 100% * (1/4);
		padding: 40px 0 0 40px;
		box-sizing: border-box;
	}
	@for $i from 1 through 10 {
		&.col#{$i}{
			& > li {
				width: 100% * (1 / $i);
			}
		}
	}
	.gal-box {
		width: 100%;
		height: 100%;
	}
	.info-top {
		display: table;
		width: 100%;
		margin-bottom: 10px;
		& > * {
			display: table-cell;
			vertical-align: middle;
			font-size: 13px;
		}
		.img {
			width: 60px;
			padding-right: 10px;
			img {
				width: 50px;
				height: 50px;
				border: 1px solid #fff;
				border-radius: 100%;
				box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2); 
			}
		}
		em {
			font-style: normal;
			color: #333;
			font-size: 15px;
			font-weight: 500;
		}
		.state {
			padding-left: 20px;
			text-align: right;
		}
	}
	.thumb {
		overflow: hidden;
		position: relative;
		display: inline-block;
		width: 100%;
		padding-bottom: 65%;
		border: 1px solid #ccc;
		background: #dedede url(../img/board/no-img.png) no-repeat center center;
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		.u-tag {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 2;
		}
	}
	.subject {
		padding: 10px 2px;
		color: #111;
		font-size: 18px;
		line-height: 1.3;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
		a {
			color: #111;
		}
	}
	.text {
		line-height: 1.3;
		overflow: hidden;
		max-height: 2.6;
		max-height: 5.2em;
		display: block;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		text-overflow: -o-ellipsis-lastline;
	}
	.info-list {
		margin-top: 15px;
	}
	.no-data {
		float: none;
		width: 100% !important;
		padding: 73px 0 33px 50px;
		text-align: center;
	}
}

/*FAQ 게시판*/
.faq-list,
.faq-reg {
	dl {
		border-bottom: 1px solid #dedede;
	}
	dt {
		position: relative;
		display: block;
		padding: 15px 96px 15px 96px;
		font-weight: 500;
		& > * {
			vertical-align: middle;
		}
		.q-btn {
			position: absolute;
			right: 0;
			top: 0;
			display: inline-block;
			width: 95px;
			height: 67px;
			border: none;
			background: transparent;
			background: url(../img/board/arrow-down.png) no-repeat center center;
			outline: none;
			box-sizing: border-box;
		}
		&.isOpen {
			.q-btn {
				background: url(../img/board/arrow-up.png) no-repeat center center;
			}
		}
	}
	dd {
		position: relative;
		padding: 15px 95px 15px 97px;
		border-top: 1px dashed #dee1e5;
		background: #f7f7f7;
		.q-txt {
			top: 17px;
		}
		textarea {
			width: 100%;
			box-sizing: border-box;
		}
	}
	.q-txt {
		position: absolute;
		top: 21px;
		left: 20px;
		& > i {
			display: inline-block;
			height: 25px;
			line-height: 25px;
			margin-right: 8px;
			padding: 0 20px;
			text-align: center;
			vertical-align: middle;
			color: #111;
			font-size: 14px;
			font-style: normal;
			background: #dee1e5;
			border-radius: 2em;
		}
	}
	.q-inp {
		position: relative;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		& > em {
			display: inline-block;
			padding: 9px 0 9px 7px;
			color: #333;
			font-size: 15px;
			font-weight: 400;
			font-style: normal;
		}
		input {
			width: 100%;
			color: #333;
			font-size: 15px;
			font-weight: 400;
			height: 35px;
			box-sizing: border-box;
		}
		.kca-btn {
			position: absolute;
			top: 1px;
			right: -50px;
		}
	}
}

.faq-list {
	dd {
		display: block;
	}
}
.faq-reg {
	dd {
		display: block;
	}
}

.faq-wrap {
	.faq-box {
		position: relative;
		padding: 20px 121px 16px 87px;
		border-bottom: 1px solid #dedede;
		&:nth-child(even) {
			background: #f6f7f8;
		}
		.q-num {
			position: absolute;
			top: 21px;
			left: 20px;
			& > i {
				display: inline-block;
				height: 25px;
				line-height: 25px;
				padding: 0 20px;
				text-align: center;
				vertical-align: middle;
				color: #111;
				font-size: 14px;
				font-style: normal;
				background: #dee1e5;
				border-radius: 2em;
			}
		}
		.q-inp {
			position: relative;
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
			& > * {
				width: 100%;
				box-sizing: border-box;
			}
			input {
				margin: 0;
				color: #333;
				font-size: 15px;
				font-weight: 400;
				height: 35px;
			}
			textarea {
				margin-top: 5px;
				padding: 8px 5px;
			}
		}
		.q-btn {
			position: absolute;
			top: 50%;
			right: 20px;
			margin-top: -15px;
		}
	}
	.no-data {
		padding: 90px 0;
		text-align: center;
		border-bottom: 1px solid #dedede;
	}
}


/* 키워드 */
.keyword {
	color: #2176c6;
	font-size: 13px;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	& > * {
		float: left;
		display: block;
		margin: 2px;
		padding: 1px 12px;
		border: 1px solid #90bbe3;
		border-radius: 1em;
	}
}

/* btn-box */
.btn-box {
	margin: 25px auto; 
	overflow: hidden;
	&.gap-ss {
		margin: 10px auto;
	}
}

/* 페이징 */
.paging-wrap { 
	position: relative;
	display: block;
	text-align: center;
	font-size: 0px;
	ul,
	li {
		display: inline-block;
		vertical-align: top;
	}
	ul {
		padding: 0;
	}
	li {
		position: relative;
		margin-left: -1px;
		a {
			display: block;
			width: 31px;
			height: 31px;
			text-align:center;
			color: #555;
			font-size: 13px;
			font-weight: 400;
			line-height: 30px;
			text-decoration: none;
			border: 1px solid #cecece;
			background: #fff;
			box-sizing: border-box;
			&.first,
			&.prev,
			&.next,
			&.last {
				font-size: 0px;
				background: #f8fafd url(../img/board/page-btn.png) no-repeat 0 0;
			}
			&.first {
				background-position: (-40px * 0) 0;
			}
			&.prev {
				background-position: (-40px * 1) 0;
			}
			&.next {
				background-position: (-40px * 2) 0;
			}
			&.last {
				background-position: (-40px * 3) 0;
			}
		}
		&.active {
			z-index: 5;
			a {
				color: #299d57;
				font-weight: 500;
				border-color: #299d57;
				background: #fff;
			}
		}
	}
}

.banner-box {
	width: 99%;
	img {
		max-width: 100%;
		margin: 10px 0;
	}
}