@charset "utf-8";

/********************************************************************************/
/* _content2.scss
/********************************************************************************/

/* count */
.count-tit {
	position: relative;
	text-align: center;
	.view-btn {
		position: absolute;
		right: 0;
		top: 2px;
	}
}
.count-wrap {
	position: relative;
	text-align: center;
	padding: 15px;
	// background: #e5e5e5;
	background: url(../img/content/line_box_bg.gif) repeat 0 0;
}
.count-list {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	li {
		float: left;
		padding: 5px;
		box-sizing: border-box;
		> * {
			display: block;
			padding: 25px 15px;
			text-align: center;
			color: #555;
			font-size: 16px;
			font-weight: 500;
			border: 1px solid #dedede;
			background: #fff;
			box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
		}
	}
	i {
		display: block;
		margin-bottom: 10px;
	}
	em {
		display: inline-block;
		color: #111;
		font-size: 28px;
		font-weight: 600;
		font-style: normal;
		letter-spacing: -0.04em;
	}
	small {
		padding-left: 4px;
	}
	@for $i from 1 through 10 {
		&.col#{$i}{
			li {
				width: 100% * (1 / $i);
			}
		}
	}
}

/* overview-tree */
.overview-tree {
	margin-top: 5px;
	li {
		& > * {
			display:  inline-block;
			vertical-align: top;
		}
		span {
			margin: 4px 4px 0 0;
			padding: 3px 10px;
			border: 1px solid #90bbe3;
			border-radius: 1em;
			font-size: 14px;
		}
	}
	& > li {
		& > span {
			min-width: 63px;
		}
		& > ul {
			& > li {
				& > span {
					display: block;
				}
			}
		}
	}
}

/* toggle-choice */
.toggle-choice {
	width: 120px;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	> * {
		float: left;
	}
	input[type="checkbox"],
	input[type="radio"] {
		display: none;
		&:checked {
			& + label {
				background: #191931;
			}
		}
	}
	label {
		display: inline-block;
		vertical-align: baseline;
		background: #aaa;
		font-size: 12px;
		span {
			display: block;
			width: 59px;
			height: 30px;
			color: #fff;
			line-height: 30px;
		}
	}
}
/* color-choice */
.color-choice {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	> * {
		float: left;
	}
	input[type="radio"] {
		display: none;
		&:checked {
			& + label {
				padding: 1px;
				border-color: #111;
				span {
					background-image: url(../img/content/color_check.png);
					background-position: center center;
					background-repeat: no-repeat;
				}
			}
		}
	}
	label {
		display: inline-block;
		padding: 1px;
		border: 1px dotted #f7f7f7;
		min-width: 29px;
		height: 29px;
		span {
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}
}

$themeColor: (
	color1: #db497b,
	color2: #ca885d,
	color3: #ca9905,
	color4: #a1c424,
	color5: #64be2d,
	color6: #299d57,
	color7: #14bf71,
	color8: #189ea3,
	color9: #125a97,
	color10: #6060be
);
@each $name, $value in $themeColor { //해당 변수를 순환하여
	.theme-#{$name} { //각 value에 해당하는 클래스를 생성
		&.bgc {
			background-color: $value !important;
		}
		&.txtc {
			color: $value !important;
		}
		&.bdc {
			border-color: $value !important;
		}
	}
}

/* info list */
.info-list {
	li {
		display: table;
		//width: 100%;
		margin-top: 5px;
		&:first-child {
			margin-top: 0;
		}
		& > span {
			display: table-cell;
			padding: 3px 18px 3px 8px;
			word-break: break-all;
			&.tit {
				width: 80px;
				padding: 3px 2px;
				text-align: center;
				color: #111;
				font-size: 13px;
				background: #dee1e5;
			}
		}
	}
}

/* theme list */
.theme-list {
	max-width: 800px;
	min-width: 800px;
	margin: 0 auto;
	.bd-line {
		display: block;
		height: 0;
		text-indent:-20000px;
		&.light {
			border-top: 1px solid #cecece;
		}
		&.bold {
			border-top: 2px solid #333;
		}
	}
	.theme-unit {
		padding: 9px 0;
		border-bottom: 1px solid #dedede;
		& > * {
			display: inline-block;
			vertical-align: middle;
		}
		.num {
			width: 60px;
			margin: -1px 5px 0 0;
			text-align: right;
			color: #bebebe;
			font-size: 24px;
			font-weight: 600;
		}
		input {
			width: 500px;
			height: 35px;
			font-size: 15px;
			font-weight: 500;
			box-sizing: border-box;
		}
		.color-box {
			width: 50px;
			height: 35px;
			border: 1px solid #cecece;
			box-sizing: border-box;
		}
		.kca-btn {
			&.sc {
				min-width: 100px;
			}
		}
	}
}

.u-link {
	display: block;
	margin-top: 5px;
	font-size: 13px;
	text-decoration: underline;
}

/* edu_status_setting */
.setting-tit {
	position: relative;
	.kca-btn {
		position: absolute;
		right: 0;
		top: -3px;
	}
}

/* .editor contnet */
.editor-cont-wrap {
	padding: 20px;
	font-size: 14px;
	border: 1px solid #ddd; 
	background: #fff;
	input {
		font-size: 14px;
	}
}

/* .textarea contnet */
.textarea-cont-wrap {
	padding: 20px 0 16px;
	border: 1px solid #ddd;
	textarea {
		width: 95.6%;
		padding: 0 20px;
		border: none;
		font-size: 14px;
		resize: none;
		outline: none;
	}
}

/* .guide contnet */
.guide-cont-wrap {
	img {
		max-width: 100%;
		margin-bottom: 30px;
	}
}

.chk-box {
	& * {
		display: inline-block;
		vertical-align: middle;
	}
	& > * {
		margin-right: 10px;
	}
	input[type=radio],
	input[type=checkbox] {
		& + label {
			padding-left: 4px;
		}
	}
}

.in-arrow {
	position: relative;
	&:before,
	&:after {
		content: '<-';
		position: absolute;
		top: 50%;
		margin-top: -10px;
	}
	&:before {
		left: 19%;
	}
	&:after {
		right: 19%;
	}
}

.member-list {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	& > button {
		float: left;
		margin: 0 3px;
		padding: 3px 30px 4px 14px;
		color: #555;
		font-size: 14px;
		font-weight: 500;
		border: 1px solid #dedede;
		border-radius: 2em;
		background: #fff url(../img/content/btn-choice-del2.png) no-repeat right center;
	}
}