@charset "utf-8";

/********************************************************************************/
/* _content.scss
/********************************************************************************/
ul.issue-summary{border-top:1px solid #cacaca;}
ul.issue-summary li{border-bottom:1px solid #cacaca; border-right:1px solid #cacaca; overflow:hidden;}

ul.issue-summary li p.btxt{position:relative; width:15%; padding:15px 0px; background:#f7f7f7; float:left;}
ul.issue-summary li p.btxt:after{background:#cacaca; position:absolute; left:0px; top:0px; width:1px; height:100%; content:"";}
ul.issue-summary li p.btxt span{padding-left:23px; font-weight:500;}

ul.issue-summary li p.stxt{position:relative; padding:15px 0px; width:35%; float:left;}
ul.issue-summary li p.stxt:after{background:#cacaca; position:absolute; left:0px; top:0px; width:1px; height:100%; content:"";}
ul.issue-summary li p.stxt span{padding-left:18px;}


/*코드 메뉴분류*/
.code-wrap{position:relative; max-width:650px}
.code-wrap li{margin-bottom:4px;}
.code-wrap .depth1{ cursor:pointer; padding-left:80px;border:1px solid #d5d5d5;  background:#f9f9f9; position:Relative; height:40px;}
.code-wrap .depth.over:after{ background:#666666 url(../img/content/code-depth1.png) no-repeat center center ;}
.code-wrap .depth:after{ background:#666666 url(../img/content/code-depth3.png) no-repeat center center ; width:42px; height:42px; position:absolute;left:-1px; top:-1px; display:block; content:"";}
.code-wrap  .depth span.stxt, .code-wrap .depth .btxt{line-height:40px;display:inline-block; }
.code-wrap  .depth span.stxt{font-size:11px; width:15% }
.code-wrap  .depth span.btxt{ font-size:14px;font-weight:500; color:#333; width:60%}
.code-wrap .btn-wrap{ position:absolute; right:10px; top:0; padding-top:7px}

.code-wrap .depth2-wrap{padding-left:45px;margin-top:5px;}
.code-wrap .depth2{ padding-left:70px;border:1px solid #d5d5d5;  background:#f9f9f9; position:Relative; height:40px;}
.code-wrap .depth2.over:after{ background:#666666 url(../img/content/code-depth1.png) no-repeat center center ;}
.code-wrap .depth2:after{ background:#666666 url(../img/content/code-depth3.png) no-repeat center center ; width:42px; height:42px; position:absolute;left:-1px; top:-1px; display:block; content:"";}
.code-wrap .board-list-wrap{margin-bottom:25px;}


.menu-wrap{position:relative; max-width:650px}
.menu-wrap li{margin-bottom:4px;}
.menu-wrap .depth1{ cursor:pointer; padding-left:70px;border:1px solid #d5d5d5;  background:#f9f9f9; position:Relative; height:40px;}
.menu-wrap .depth1:hover, .code-wrap .depth1:hover{background:#f0f0f0}
.menu-wrap .depth.over:after{ background:#666666 url(../img/content/code-depth1.png) no-repeat center center ;}
.menu-wrap .depth:after{ background:#666666 url(../img/content/code-depth3.png) no-repeat center center ; width:42px; height:42px; position:absolute;left:-1px; top:-1px; display:block; content:"";}
.menu-wrap .depth span.stxt, .menu-wrap .depth .btxt{line-height:40px;display:inline-block; }
.menu-wrap .depth span.stxt{font-size:11px; width:15% }
.menu-wrap .depth span.btxt{ font-size:14px;font-weight:500; color:#333; width:60%}
.menu-wrap .btn-wrap{ position:absolute; right:10px; top:0; padding-top:7px}

.menu-wrap .depth2-wrap{padding-left:45px;margin-top:5px;}
.menu-wrap .depth2{ padding-left:80px;border:1px solid #d5d5d5;  background:#f9f9f9; position:Relative; height:40px;}
.menu-wrap .depth2:hover, .code-wrap .depth2{background:#f0f0f0}
.menu-wrap .depth2.over:after{ background:#666666 url(../img/content/code-depth1.png) no-repeat center center ;}
.menu-wrap .depth2:after{ background:#666666 url(../img/content/code-depth3.png) no-repeat center center ; width:42px; height:42px; position:absolute;left:-1px; top:-1px; display:block; content:"";}
.menu-wrap .board-list-wrap{margin-bottom:25px;}

/*코드,메뉴 버튼*/
.btn-wrap a{ width:26px; height:26px; display:inline-block; vertical-align:top; position:relative;}
.btn-wrap a span{ position:absolute; opacity:0; left:50%;margin-left:-27px; background:#06a9dc; top:-15px; height:20px; line-height:20px; width:54px;color:#fff; font-size:12px; text-align:center;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.btn-wrap a:hover span{ opacity:1; top:-22px;}
.btn-wrap a.add-btn{ background:url(../img/content/add-ico.jpg) no-repeat center center;}
.btn-wrap a.move-btn{ background:url(../img/content/move-ico.jpg) no-repeat center center;}
.btn-wrap a.modify-btn{ background:url(../img/content/write-ico.jpg) no-repeat center center;}
.btn-wrap a.delete-btn{ background:url(../img/content/delete-ico.jpg) no-repeat center center;}
.btn-wrap a.option-btn{ background:url(../img/content/option-ico.jpg) no-repeat center center;}
.btn-wrap a.home-btn{background:url(../img/content/home-ico.jpg) no-repeat center center;}

.btn-wrap a.move-btn span, .btn-wrap a.modify-btn span, .btn-wrap a.delete-btn span, .btn-wrap a.option-btn span{ width:32px; margin-left:-16px;}

/*layer-pop*/
.layer-wrap {position:absolute; width:550px; top:100px; display:none; left:45%;margin-left:-275px; z-index:1002; height:480px; overflow-y:scroll; background:#fff;  box-shadow:5px 5px 2px 0px rgba(0,0,0,0.15);}
.layer-wrap .bd-line{height:0px; border-top:2px solid #333; text-indent:-20000px; display:block;}
.layer-wrap .layer-top{background:#055496; height:50px; position:relative;}
.layer-wrap .layer-top h2{ color:#fff; padding:0 25px ; color:#fff; font-weight:500; font-size:17px; line-height:50px;}
.layer-wrap .layer-top .close-btn{width:50px; height:50px; background:rgba(0,0,0,0.2) url(../img/content/close-btn.png) no-repeat center center; position:absolute; right:0; top:0;}
.layer-wrap .layer-con{padding:25px;}

.layer-bg{background:rgba(0,0,0,0.4); display:none; position:absolute; left:0; top:0; width:100%; height:100%;z-index:1001}


/*sms*/
.ov-scroll.sms-wrap{ max-height:480px; overflow-y:scroll}
.sms-total{padding:4px 0px 4px 35px; font-size:15px;color:#41454c; background:url(../img/board/bsnum-icon.jpg) no-repeat; display:block;}
.sms-total p{display:inline-block;}
.sms-write-wrap{overflow:hidden;margin-top:20px;}
.sms-write-wrap .sms-left{float:left; width:30%;}
.sms-write-wrap .sms-data{border:1px solid #ddd;background:#f2f2f2 }
.sms-write-wrap .special-box{background:#343434;border:1px solid #222; margin:20px 0 0 0; padding:5px}
.sms-write-wrap .special-box a{display:inline-block; line-height:110%; padding:3px}
.sms-write-wrap .special-box a:hover{ background:#222;}
.sms-write-wrap .sms-data .sms-box{ background:#fff;border:1px solid #cecece;height:200px;  width:84%;overflow-y:scroll; margin:6% 6% 4% 6%; }
.sms-write-wrap .sms-data .sms-byte{margin:0 6% 4% 6%; text-align:right ; font-size:13px;}
.sms-write-wrap .sms-con{float:right; width:68%;}

.gray-box.sms-con-list{ height:200px;background:#fff; padding:0}
.gray-box.sms-con-list ul{padding-right:20px;overflow-y:scroll;}
.gray-box.sms-con-list li{border-bottom:1px dotted #cecece; padding:6px 0 6px 10px;}
.gray-box.sms-con-list li span{display:inline-block;}
.gray-box.sms-con-list li span.name, .gray-box.sms-con-list li span.num{padding:0 6px; position:relative;}
.gray-box.sms-con-list li span.num{border:none; padding-right:15px}
