@charset "utf-8";

/********************************************************************************/
/* _datepicker.scss
/********************************************************************************/

.ui-datepicker {
	padding: .4em .4em;
	.ui-datepicker-header {
		&.ui-widget-header {
			padding: 0 0 4px;
			color: #fff;
			font-weight: 500;
			border: 1px solid #191931;
			background: #191931;
		}
	}
	.ui-datepicker-prev-hover,
	.ui-datepicker-next-hover {
		border-color: transparent;
		background: transparent;
	}
	.ui-datepicker-title {
		select {
			height: 24px;
			margin: 0 1px;
			color: #fff;
			font-size: 13px;
			border: 1px solid rgba(#696979,.5);
			background: #191931;
		}
	}
	table {
		margin: 5px 0 0 0;
	}
	th {
		padding: 0.5em 0.3em;
		color: #111;
		font-weight: 500;
		background: #dee1e5; 
	}
	tbody {
		&:before {
			content:'';
			display: block;
			height: 4px;
		}
	}
	td {
		height: 26px;
		line-height: 26px;
		padding: 1px 1px;
	}
	.ui-state-default {
		text-align: center;
		color: #444;
		border: 1px solid #c5c5c5;
		background: #fefefe;
		&.ui-state-hover {
			color: #000;
			background: #dee1e5;
		}
		&.ui-state-highlight {
			color: #000;
			font-weight: 500;
			border-color: #333;
		}
		&.ui-state-active {
			color: #fff;
			font-weight: 500;
			border-color: #1e5fc9;
			background: #1e5fc9;
		}
	}
	.ui-datepicker-today {
		.ui-state-default {
			text-align: center;
			color: #444;
			border: 1px solid #c5c5c5;
			background: #fefefe;
			&.ui-state-hover {
				color: #000;
				background: #dee1e5;
			}
			&.ui-state-highlight {
				color: #000;
				font-weight: 500;
				border-color: #333;
			}
			&.ui-state-active {
				color: #fff;
				font-weight: 500;
				border-color: #1e5fc9;
				background: #1e5fc9;
			}
		}
		&.ui-datepicker-current-day {
			.ui-state-default {
				text-align: center;
				color: #444;
				border: 1px solid #c5c5c5;
				background: #fefefe;
				&.ui-state-hover {
					color: #000;
					background: #dee1e5;
				}
				&.ui-state-highlight {
					color: #000;
					font-weight: 500;
					border-color: #333;
				}
				&.ui-state-active {
					color: #fff;
					font-weight: 500;
					border-color: #1e5fc9;
					background: #1e5fc9;
				}
			}
		}
	}
	.ui-datepicker-current-day {
		.ui-state-default {
			text-align: center;
			color: #444;
			border: 1px solid #c5c5c5;
			background: #fefefe;
			&.ui-state-hover {
				color: #000;
				background: #dee1e5;
			}
			&.ui-state-highlight {
				color: #000;
				font-weight: 500;
				border-color: #333;
			}
			&.ui-state-active {
				color: #fff;
				font-weight: 500;
				border-color: #1e5fc9;
				background: #1e5fc9;
			}
		}
	}
	.ui-datepicker-buttonpane {
		margin: 8px 0 0 0;
		button {
			height: 25px;
			margin: 10px 0 4px 0;
			color: #fff;
			font-size: 12px;
			font-weight: 300;
			line-height: 1.5;
			border: 1px solid #3e4248;
			background: #3e4248;
			border-radius: 0.2em;
			font-size: 12px;
			&.ui-state-hover {
				color: #fff;
				border: 1px solid #1a1f26;
				background: #1a1f26;
			}
		}
	}
}