@charset "utf-8";

/********************************************************************************/
/* _filter.scss
/********************************************************************************/
.search-filter {
	position: relative;
	display: none;
	padding: 20px;
	border: 1px solid #ddd;
	background: #eee;
	&.mgtm1 {
		margin-top: -1px;
	}
	.f-tab {
		margin-bottom: 5px;
		li {
			a {
				padding: 10px 0;
				font-size: 14px;
				background: #fff;
			}
			&.over {
				a {
					background: #191931;
				}
			}
		}
	}
	.f-tab-cont-wrap {
		padding: 20px;
		border: 1px solid #dadada;
		background: #fff;
	}
	.condition-box {
		width: 100%;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		& > * {
			float: left;
			display: block;
			overflow: hidden;
			overflow-y: auto;
			height: 300px;
			padding: 10px;
			font-size: 13px;
			border: solid #e8e8e8;
			border-width: 1px 1px 1px 0;
			box-sizing: border-box;
			&:first-child {
				border-width: 1px;
			}
		}
		&.col2 {
			& > * {
				&:nth-child(1) {
					width: 20%;
				}
				&:nth-child(2) {
					width: 80%;
				}
			}
		}
		&.col3 {
			& > * {
				&:nth-child(1) {
					width: 20%;
				}
				&:nth-child(2) {
					width: 20%;
				}
				&:nth-child(3) {
					width: 60%;
				}
			}
			&.exception {
				& > * {
					&:nth-child(1) {
						width: 40%;
					}
					&:nth-child(2) {
						width: 20%;
					}
					&:nth-child(3) {
						width: 40%;
					}
				}
			}
		}
	}
	.condition-list {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		& > li {
			padding: 1px;
			float: left;
			width: 100%;
			box-sizing: border-box;
			& > span {
				position: relative;
				display: table;
				width: 100%;
				height: 100%;
				label {
					position: relative;
					display: table-cell;
					vertical-align: middle;
					height: 100%;
					padding: 4px 10px 5px;
					padding-left: 25px;
					color: #555;
					font-size: 13px;
					font-weight: 400;
					letter-spacing:-0.08em;
					border: 1px solid;
					border-color: #e8e8e8;
					box-sizing: border-box;
					background: #f8f8f8 url(../img/content/filter_check_off.png) no-repeat 6px center;
				}
				input[type="radio"],
				input[type="checkbox"] {
					display: none;
					&:checked {
						& + label {
							color: #191931;
							font-weight: 500;
							border-color: rgba(#191931, .6);
							background: #fff url(../img/content/filter_check_on.png) no-repeat 6px center;
						}
					}
				}
				&.in-inp {
					width: auto;
					padding-top: 0;
    			padding-bottom: 0;
					& > * {
						&:first-child {
							margin-left: 0 !important;
						}
					}
					label {
						width: 140px;
					}
					input[type="text"] {
						width: 100px;
						height: 20px;
						line-height: 1.2;
						font-size: 13px;
						margin: 0;
					}
					select {
						width: 112px;
						font-size: 13px;
					}
				}
			}
		}
		&.cate-next {
			& > li {
				& > span {
					label {
						padding-left: 10px;
						padding-right: 25px;
						background: #f8f8f8 url(../img/content/filter_next_off.png) no-repeat right center;
					}
					input[type="radio"],
					input[type="checkbox"] {
						&:checked {
							& + label {
								background: #fff url(../img/content/filter_next_on.png) no-repeat right center;
							}
						}
					}
				}
			}
		}
		@for $i from 1 through 10 {
			&.col#{$i}{
				& > li {
					width: 100% * (1 / $i);
				}
			}
		}
	}

	.choice-list {
		margin-top: 5px;
		padding: 17px;
		border: 1px solid #ddd;
		background: #fff;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		& > button {
			float: left;
			margin: 3px;
			padding: 3px 30px 4px 14px;
			color: #2176c6;
			font-size: 14px;
			font-weight: 400;
			border: 1px solid #90bbe3;
			border-radius: 2em;
			background: #fff url(../img/content/btn-choice-del.png) no-repeat right center;
		}
	}
	.btn-box {
		margin: 0 auto;
		margin-top: 20px;
	}
}

/* 200512 추가 */
.search-box {
	.search-filter {
		margin-top: 15px;
		.btn-box > button {
			margin: 0 2px;
		}
	}
}