@charset "utf-8";

/********************************************************************************/
/* __frontcontent.scss
/********************************************************************************/

.front-content-wrap {

	/*=======================
		common nbsp
	=========================*/
	.gap15 {height:15px;clear:both;overflow:hidden;display:block;}
	.gap10 {height:10px;clear:both;overflow:hidden;display:block;}
	.gap20 {height:20px;clear:both;overflow:hidden;display:block;}
	.gap30 {height:30px;clear:both;overflow:hidden;display:block;}
	.gap40 {height:40px;clear:both;overflow:hidden;display:block;}
	.gap45 {height:45px;clear:both;overflow:hidden;display:block;}
	.gap50 {height:50px;clear:both;overflow:hidden;display:block;}
	.gap60 {height:60px;clear:both;overflow:hidden;display:block;}
	.gap70 {height:70px;clear:both;overflow:hidden;display:block;}
	.gap100 {height:100px;clear:both;overflow:hidden;display:block;}

	.gap {height:70px;clear:both;display:block;}
	.sgap {height:50px;clear:both;display:block;}
	.ssgap {height:30px;clear:both;display:block;}
	.sssgap {height:15px;clear:both;display:block;}
		@media only screen and  (max-width:999px) {
			.gap {height:50px;}
			.sgap {height:30px;}
			.ssgap {height:20px;}
			.sssgap {height:10px;}
			.gap100{height:80px;}
		}
		@media only screen and  (max-width:680px) {
			.gap {height:30px;}
			.sgap {height:20px;}
			.ssgap {height:15px;}
			.sssgap {height:10px;}

			.gap100{height:60px;}
		}	

	html,body,* { font-family:'NanumBarunGothic','Apple SD Gothic Neo', 'Malgun Gothic' !important; }


	/*=======================
		u-tab04
	=========================*/
	.u-tab04{text-align:center;}
	.u-tab04 ul{font-size:0;}
	.u-tab04 ul:after{display:block; content:"";clear:both;}
	.u-tab04 li{display:inline-block;vertical-align:top;  text-align:center; margin:0 10px;}
	.u-tab04 li a{display:block; line-height:60px;font-size:18px; letter-spacing:-0.04em;; font-weight:400; min-width:242px;color:#111; height:65px; position:relative;}
	.u-tab04 li.active a{color:#299d57}
	.u-tab04 li a:after{width:100%;height:1px; background:#ddd; position:absolute; left:0; bottom:0; display:block; content:""}
	.u-tab04 li.active a:after{background:#299d57; height:2px;}

	.u-tab04.c05 ul{margin:0 -0.5%;text-align:left;}
	.u-tab04.c05 li{width:19%; margin:0 0.5%}
	.u-tab04.c05 li a{min-width:auto;}

	.u-tab04.c06 ul{margin:0 -0.5%}
	.u-tab04.c06 li{width:15.66666666%; margin:0 0.5%}
	.u-tab04.c06 li a{min-width:auto;}
		@media only screen and (max-width:1200px) {
			.u-tab04 li{margin:0 7px;}
			.u-tab04 li a{line-height:60px; height:60px; font-size:17px; min-width:200px;}
		}
		@media only screen and (max-width:999px) {
			.u-tab04 li{margin:0 5px;}
			.u-tab04 li a{line-height:55px; height:55px; font-size:17px; min-width:180px;}
			
			.u-tab04.c05 li{width:31.3333333%; margin:0 0.5%}
			.u-tab04.c05 li:nth-child(n+4){margin-top:2%;}

			.u-tab04.c04 ul{margin:0 -0.5%;text-align:left;}
			.u-tab04.c04 li{width:24%; margin:0 0.5%}
			.u-tab04.c04 li a{min-width:auto;}
		}
		@media only screen and (max-width:680px) {
			.u-tab04 li{margin:0 3px;}
			.u-tab04 li a{line-height:50px; height:50px;  font-size:16px; min-width:150px;}

			.u-tab04.c03 li{width:31.3333333%; margin:0 0.5%}
			.u-tab04.c03 li a{min-width:auto;}

			.u-tab04.c04 li{width:49%;}
		}
		@media only screen and (max-width:480px) {
			.u-tab04 li a{line-height:45px; height:45px; font-size:14px; min-width:120px;}

			.u-tab04.c05 ul{margin:0 1%;}
			.u-tab04.c05 li{width:48%; margin:0 1%}
			.u-tab04.c05 li:nth-child(n+3){margin-top:2%;}
		}
		@media only screen and (max-width:480px) {
			.u-tab04 li a{line-height:40px; height:40px; font-size:14px;}
		}


	/*=======================
		input & select
	=========================*/
	/* input & select */
	.chk-input {display:inline-block; vertical-align:top; position:relative;}
	.chk-input input[type="text"], .chk-input input[type="password"]{height:38px; letter-spacing:-0.03em;border:none; border:1px solid #ddd;background:#fff; color:#b4b4b4;padding:0 15px;  font-size:16px; font-weight:300; box-sizing:border-box; display:block; width:100%; position:relative;}
	.chk-input input[type="text"]:focus, .chk-input input[type="password"]:focus{border-color:#111 !important}	
		@media all and (max-width:999px) {
			.chk-input input[type="text"], .chk-input input[type="password"]{font-size:15px; padding:0 12px;}
		}
		@media all and (max-width:680px) {
			.chk-input input[type="text"], .chk-input input[type="password"]{font-size:14px; padding:0 10px;}
		}
	.chk-select{position:relative;box-sizing:border-box;display:inline-block;vertical-align:top;border:1px solid #ddd;}
	.chk-select:after{background:url(../images/biz-select.png) no-repeat center bottom; position:absolute; width:10px; height:6px; position:absolute; right:12px; top:50%;margin-top:-3px; display:block; content:""; z-index:3}
	.chk-select select{padding:0 20px 0 10px;font-size:15px; border:none;height:40px;color:#777; -webkit-appearance:none; -moz-appearance:none;background:none; appearance:none;width:100%; margin:0;letter-spacing:-0.03em;  position:relative; z-index:5; cursor:pointer;}
	.chk-select select::-ms-expand{display:none;}
	.chk-select.active select,.chk-select.active select{color:#111;}
		@media all and (max-width:1240px) {
			.chk-select select{font-size:14px;}
		}
		@media all and (max-width:680px) {
			.chk-select select{font-size:13px; padding:0 12px;}
		}

	.chk-radio{display:inline-block; vertical-align:top;}
	.chk-radio input[type="radio"]{ display:none;}
	.chk-radio label{position:relative; display:block;padding-left:30px; font-size:16px;font-weight:400; letter-spacing:-0.01em;color:#666; line-height:18px;}
	.chk-radio label:after{width:20px; height:20px; position:absolute; border-radius:100%; left:0; top:-1px ;box-sizing:border-box;;border:1px solid #ddd; display:block; content:"";}
	.chk-radio input[type="radio"]:checked + label:before{position:absolute; width:10px; height:10px; background:#20b05a; border-radius:100%; z-index:5;left:5px; top:4px; display:block; content:""}
	.chk-radio input[type="radio"]:checked + label:after{}
	.chk-radio input[type="radio"]:checked + label{color:#111;}
		@media all and (max-width:1240px) {
			.chk-radio label{font-size:14px;}
		}
		@media only screen and (max-width:999px){
			.chk-radio label{padding-left:25px;}
			.chk-radio label:after{width:18px; height:18px; top:0}
			.chk-radio input[type="radio"]:checked + label:before{width:10px; height:10px; left:4px; top:4px;}
		}
		@media only screen and (max-width:680px){
			.chk-radio label{font-size:13px; padding-left:24px; line-height:18px;}
		}
		@media only screen and (max-width:480px){
			
		}
	.chk-check{display:inline-block;vertical-align:top; text-align:left; height:auto;}
	.chk-check input[type="checkbox"]{display:none;}
	.chk-check label{position:relative;display:block;padding-left:27px !important; font-size:15px ;font-weight:300; letter-spacing:-0.02em;color:#4a4a4a; line-height:20px;}
	.chk-check label:after{width:20px; height:20px; position:absolute;  left:0; top:0 ; display:block; content:""; background:#fff;border:1px solid #d9dfea; box-sizing:border-box;display:block; content:""; z-index:1;}
	.chk-check input[type="checkbox"]:checked +  label:after{background:url(../images/check-on.png) no-repeat center center #fff; background-size:16px auto; z-index:3;}
	.chk-check input[type="checkbox"]:checked +  label{color:#323232;}
		@media all and (max-width:1240px) {
			.chk-check label{font-size:14px;}
		}
		@media only screen and (max-width:999px){
			.chk-check label{padding-left:25px;}
			.chk-check label:after{width:18px; height:18px; top:1px}
		}
		@media only screen and (max-width:680px){
			.chk-check label{font-size:13px; padding-left:22px; line-height:18px; letter-spacing:-0.05em;}
			.chk-check label:after{width:16px; height:16px; top:0;}
			.chk-check input[type="checkbox"]:checked + label:after{background-size:16px}
		}
		@media only screen and (max-width:480px){
			
		}

























	/*=======================================================
	    employ-wrap
	=========================================================*/
	.employ-wrap.plan .tit{font-family: 'Noto Sans KR' !important;}
	.employ-wrap.plan h3{font-size:30px;word-break: keep-all;}
	.employ-wrap.plan .u-tit01{font-size:25px;}

	.employ-wrap .plan-tab{font-family: 'Noto Sans KR' !important;}
	.employ-wrap .plan-tab li a{min-height:310px;}
	.employ-wrap .plan-tab li .ico {height:75px;}
	.employ-wrap .plan-tab li .ctxt{font-family: "Montserrat" !important; margin-top:7px;}
	.employ-wrap .plan-tab li .btxt{margin-top:7px;}
	.employ-wrap .plan-tab li .stxt{margin-top:15px;}

	.employ-wrap.plan .sel-tab{margin-top:60px;}
	.employ-wrap.plan .sel-tab li a{padding:32px 20px 0 100px;}
	.employ-wrap.plan .sel-tab li a:before{width:45px;height:48px; background-size:100% auto !important; left:35px;top:25px;}
	.employ-wrap.plan .sel-tab li a .stxt{word-break: keep-all;}
	.employ-wrap.plan .sel-tab li a .stxt br{display:none;}

	.employ-wrap.plan .list{margin-top:75px; font-family: 'Noto Sans KR' !important;}
	.employ-wrap.plan .list .con{margin-top:40px;}
	.employ-wrap.plan .list li a{padding:50px;}
	.employ-wrap.plan .list li .tit .cate{font-size:13px;}
	.employ-wrap.plan .list li .tit .btxt{margin-top:7px;font-size:29px;}
	.employ-wrap.plan .list li .txt{margin-top:30px;}

	.employ-wrap.plan .survey.typeA li a span{ font-size:16px;}
	.employ-wrap.plan .survey.typeA li.other .field.other .ctxt{font-size:15px;}
	.employ-wrap.plan .survey.typeA .field textarea{font-size:15px;}

	.employ-wrap.plan .survey.typeB .c-list03 li a span{ font-size:16px;}
	.employ-wrap.plan .survey.typeB .c-list03 li.other .field.other .ctxt{font-size:15px;}
	.employ-wrap.plan .survey.typeB .c-list04 li a span{ font-size:16px;}
	.employ-wrap.plan .survey.typeB .field textarea{font-size:15px;}

	.employ-wrap.plan .org .tit{font-family: 'NanumBarunGothic' !important;}
	.employ-wrap.plan .org .tit h3{font-size:29px;}
	.employ-wrap.plan .org .tit h3 span{font-family: "Montserrat" !important;}
	.employ-wrap.plan .org .tit h3 i{font-size:25px;}
	.employ-wrap.plan .org .tit p{font-size:16px; margin-top:7px;}
	.employ-wrap.plan .org .tit ul{margin-top:15px;}
	.employ-wrap.plan .org .tit li{font-family: "Montserrat" !important; font-size:15px; padding-left:20px;}
	.employ-wrap.plan .org .tit li:before{width:14px;height:14px; top:3px;}
	.employ-wrap.plan .org .tit li:nth-child(2){margin-left:10px;}

	.employ-wrap.plan .org dl{width:1000px; background-size:1000px auto; margin:50px auto 0 auto; min-height:650px;}
	.employ-wrap.plan .org dl dt span{font-family: "Montserrat" !important; font-size:25px;}
	.employ-wrap.plan .org dl dd.c01{width:130px; margin-left:-65px; height:60px; font-size:13px;}
	.employ-wrap.plan .org dl dd.c02{width:130px; top:145px;}
	.employ-wrap.plan .org dl dd.c03{width:130px; top:145px;}
	.employ-wrap.plan .org dl dd.c02 .dpt01{width:130px; height:60px; font-size:13px;}
	.employ-wrap.plan .org dl dd.c03 .dpt01{width:130px; height:60px; font-size:13px;}
	.employ-wrap.plan .org dl dd .blue-bg{font-family: "Montserrat" !important; font-size:15px;}
	.employ-wrap.plan .org dl dd .red-bg{font-family: "Montserrat" !important; font-size:15px;}
	.employ-wrap.plan .org dl dd.c02 .dpt02-wrap{ width:400px; top:135px;}
	.employ-wrap.plan .org dl dd.c02 .dpt02-wrap li{ width:130px; top:0;}
	.employ-wrap.plan .org dl dd.c02 .dpt02-wrap li .dpt02{width:130px; height:60px; font-size:13px; padding:0 10px}
	.employ-wrap.plan .org dl dd.c02 .dpt03-wrap{width:130px; top:130px;}
	.employ-wrap.plan .org dl dd.c02 .dpt03-wrap li{ width:130px; }
	.employ-wrap.plan .org dl dd.c02 .dpt03-wrap li .dpt03{width:130px; height:60px; font-size:13px; padding:0 10px}
	.employ-wrap.plan .org dl dd.c02 .dpt03-wrap li:nth-child(1){left:-65px;}
	.employ-wrap.plan .org dl dd.c02 .dpt03-wrap li:nth-child(2){right:-70px;}
	.employ-wrap.plan .org dl dd.c02 .dpt04-wrap{width:130px; top:130px;}
	.employ-wrap.plan .org dl dd.c02 .dpt04-wrap li{ width:130px; }
	.employ-wrap.plan .org dl dd.c02 .dpt04-wrap li .dpt04{width:130px; height:60px; font-size:13px; padding:0 10px}
	.employ-wrap.plan .org dl dd.c02 .dpt04-wrap li:nth-child(1){left:0;}
	.employ-wrap.plan .org dl dd.c02 .dpt04-wrap li:nth-child(2){left:135px;}
	.employ-wrap.plan .org dl dd.c03 .dpt02-wrap{ width:400px; top:135px;}
	.employ-wrap.plan .org dl dd.c03 .dpt02-wrap li{ width:130px; top:0;}
	.employ-wrap.plan .org dl dd.c03 .dpt02-wrap li .dpt02{width:130px; height:60px; font-size:13px; padding:0 10px}
	.employ-wrap.plan .org dl dd.c03 .dpt02-wrap li:nth-child(1){left:0;}
	.employ-wrap.plan .org dl dd.c03 .dpt02-wrap li:nth-child(2){right:70px; }
	.employ-wrap.plan .org dl dd.c03 .dpt03-wrap{width:130px; top:130px;}
	.employ-wrap.plan .org dl dd.c03 .dpt03-wrap li{ width:130px; }
	.employ-wrap.plan .org dl dd.c03 .dpt03-wrap li .dpt03{width:130px; height:60px; font-size:13px; padding:0 10px}
	.employ-wrap.plan .org dl dd.c03 .dpt03-wrap li:nth-child(1){left:0;}
	.employ-wrap.plan .org dl dd.c03 .dpt03-wrap li:nth-child(2){right:-70px;}
	.employ-wrap.plan .org dl dd.c02 .dpt04-wrap ul li{font-size:13px}
	.employ-wrap.plan .org dl dd.c02 .v01{top:-45px;margin-left:-40px;}
	.employ-wrap.plan .org dl dd.c03 .v02{top:-45px;margin-left:-30px;}

	.employ-wrap.plan .chart{padding:50px 30px}

	.employ-wrap.plan .strongs{margin-top:55px;}
	.employ-wrap.plan .strongs li{padding:50px 50px 50px 280px}
	.employ-wrap.plan .strongs li:before{left:50px; top:50px;}
	.employ-wrap.plan .strongs li a{right:50px; top:40px; height:42px; line-height:42px; width:130px;}
	.employ-wrap.plan .strongs li a span{padding-right:25px;}
	.employ-wrap.plan .strongs li .btxt{font-size:21px;}
	.employ-wrap.plan .strongs li .stxt{margin-top:17px;font-size:15px;}
	.employ-wrap.plan .strongs li .ctxt p span{min-height:62px;}

	.employ-wrap.plan .counsels .con{padding:35px;}
	.employ-wrap.plan .counsels .con dl dd{word-break: keep-all;}
	.employ-wrap.plan .counsels .con dl dd br{display:none;}
	.employ-wrap.plan .counsels h3{padding:0 30px}
	.employ-wrap.plan .counsels h3 br{display:none;}






	/* 오프라인 컨설팅 달력 */
	.counselor-wrap.offline {max-width: 1200px; margin: 0 auto;}
	.counselor-wrap.offline .month{margin-top:17px;border:1px solid #ddd;min-height:88px; position:relative;text-align:center;box-sizing:border-box; padding:29px 0 29px 0;}
	.counselor-wrap.offline .month p{font-size:32px; color:#333; letter-spacing:-0.02em ;line-height:1.2em; font-weight:800;}
	.counselor-wrap.offline .month a{ position:absolute; left:30px; top:50%;width:36px;height:36px; margin-top:-18px; background-size:100% auto !important;}
	.counselor-wrap.offline .month .prev{background:url(../images/calendar-prev02.png) no-repeat center center;}
	.counselor-wrap.offline .month .next{background:url(../images/calendar-next02.png) no-repeat center center;  left:auto;right:30px;}

	.counselor-wrap.offline .calendar{border:1px solid #ddd; border-top:0;}
	.counselor-wrap.offline .calendar table{table-layout:fixed;}
	.counselor-wrap.offline .calendar table thead th{text-align:center; font-size:18px; color:#111; font-weight:600; line-height:1.2em; padding:13px 0; border-bottom:1px solid #ddd;}
	.counselor-wrap.offline .calendar table tbody td{text-align:left; font-size:14px; color:#111; font-weight:400; line-height:1.2em; padding: 0; border-bottom:1px solid #ddd;border-left:1px solid #ddd;}
	// .employ-wrap.offline .calendar table tbody td a{display:block; min-height:115px; box-sizing:border-box; padding:12px;}
	.counselor-wrap.offline .calendar table tbody td a{position: relative; display:block; padding-bottom: 68%; box-sizing:border-box;}
	// .employ-wrap.offline .calendar table tbody td .day{font-weight:600; font-size:18px; line-height:1.2em; color:#a9a9a9; letter-spacing:-0.03em; margin-bottom:7px;}
	.counselor-wrap.offline .calendar table tbody td .day{position: absolute; top: 10%; left: 8%;   font-weight:600; font-size:18px; line-height:1.2em; color:#a9a9a9; letter-spacing:-0.03em;}
	.counselor-wrap.offline .calendar table tbody td ul{}
	.counselor-wrap.offline .calendar table tbody td li{padding-left:17px;color:#666; font-size:13px; letter-spacing:-0.03em; line-height:1.2em;position:relative;}
	.counselor-wrap.offline .calendar table tbody td li span{font-size:12px; font-weight:300; display:block;margin-top:3px;}
	.counselor-wrap.offline .calendar table tbody td li:before{width:10px;height:10px; border-radius:100%; position:absolute; left:2px; top:4px; background:#777; display:block; content:"";}

	.counselor-wrap.offline .calendar table tbody td li.possible:before{background:#d0174f;}
	.counselor-wrap.offline .calendar table tbody td li.impossible:before{background:#1e5fc9;}

	.counselor-wrap.offline .calendar table tbody td.disable{background:#f7f7f7;}
	.counselor-wrap.offline .calendar table tbody td.disable a{opacity:0.65}
	.counselor-wrap.offline .calendar table tbody td.today{background:#e7f5f6;}

	.counselor-wrap.offline .calendar table thead tr th:first-child{color:#d64c4c}
	.counselor-wrap.offline .calendar table thead tr th:last-child{color:#1e5fc9;}

	.counselor-wrap.offline .calendar table tbody tr td:first-child{color:#d64c4c;border-left:none;}
	.counselor-wrap.offline .calendar table tbody tr td:last-child{color:#1e5fc9;}
	.counselor-wrap.offline .calendar table tbody tr:last-child td{border-bottom:none;}

	/* counselor count */
	.counselor-count {position: absolute; top: 50%; left: 50%; display: block; width: 48px; margin: -24px 0 0 -24px; padding: 18px 0 14px; text-align: center; color:#fff; font-size:24px; font-weight:400; background: #4e70a5; border-radius: 2em; }
	.counselor-wrap.offline .calendar table tbody td.today .counselor-count{background:#191931;}
			
}