@charset "utf-8";

/********************************************************************************/
/* _infobox.scss
/********************************************************************************/
.cinfo-box {
	position: relative;
	padding: 10px;
	background: url(../img/content/line_box_bg.gif) repeat 0 0;
	.inner {
		display: table;
		width: 100%;
		background: #fff;
		& > * {
			display: table-cell;
			padding: 25px 30px;
			text-align: center;
			vertical-align: middle;
		}
	}
	.cont {
		width: 100%;
		& > * {
			margin-top: 10px;
			&:first-child {
				margin-top: 0;
			}
		}
		&.mentor-info {
			position: relative;
			width: auto;
			&:after {
				content: '';
				position: absolute;
				right: 10px;
				top: 25px;
				bottom: 25px;
				width: 0;
				height: auto;
				border-right: 1px dashed #ddd;
			}
			.info-list {
				li {
					width: 240px;
					& > span {
						&.tit {
							width: 80px;
						}
					}
				}
			}
		}
	}
	.cont-r {
		& > * {
			margin: 0 auto;
			margin-top: 10px;
			&:first-child {
				margin-top: 0;
			}
		}
		&.in-btn {
		  min-width: 100px;
		  & > * {
		  	margin-top: 0;
		  }
		}
	}
	.no-cont-l {
		padding-left: 210px;
	}
	.no-cont-r {
		padding-right: 210px;
	}

	.img,
	.thumb,
	.logo {
		overflow: hidden;
		margin: 0 auto;
		border: solid #fff; 
		box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.2); 
	}
	.img {
		width: 80px;
		height: 80px;
		border-width: 3px;
		border-radius: 100%;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.thumb {
		width: 280px;
		height: 180px;
		border-width: 0;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.logo {
		display: table;
		width: 160px;
		height: 70px;
		border-width: 10px;
		span {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	.m-tit {
		color: #333; 
		font-size: 22px; 
		font-weight: 500; 
		line-height: 1.3; 
		word-break: keep-all;
		span {
			font-size: 16px;
		}
	}
	.s-tit {
		color: #333; 
		font-size: 20px; 
		line-height: 1.3;
	}
	.l-txt {
		font-size: 18px;
		font-weight: 500;
	}
	.m-txt {
		font-size: 16px;
		font-weight: 500;
	}
	.s-txt {
		font-size: 14px;
		font-weight: 400;
		& > span {
			display: inline-block;
			&:before {
				content: '';
				display: inline-block; 
				width: 1px;
				height: 10px;
				margin: 0 20px;
				background: #ccc;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
		select {
			vertical-align: baseline;
		}
	}
	.overview-list {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		li {
			float: left;
			margin: 2px;
			padding: 4px 14px;
			border: 1px solid #90bbe3;
			border-radius: 1em;
			font-size: 15px;
			span {
				font-weight: 500;
			}
		}
	}
	.btn {
		width: 120px;
		button {
			display: block; 
			padding: 0;
			span {
				display: block; 
				min-width: 100px;
			}
			& + button {
				margin-top: 5px;
			}
		}
	}

	.interest-check {
		display: inline-block;
		width: 16px;
		height: 14px;
		vertical-align: middle;
		margin: -4px 8px 0 0;
		&.state-on {
			background: url(../img/board/interest-on.png) repeat 0 0;
		}
		&.state-off {
			background: url(../img/board/interest-off.png) repeat 0 0;
		}
	}
	.date {
		width: 160px;
		& > * {
			display: inline-block;
			font-size: 13px;
		}
		em {
			color: #1e5fc9;
			font-size: 14px;
			font-style: normal;
		}
	}
	.period {
		width: 160px;
		margin-top: 5px !important;
		color: #111;
		font-size: 14px;
	}
	.toggle-choice {
		width: 120px;
	}
}