@charset "utf-8";

/********************************************************************************/
/* _login.scss
/********************************************************************************/
/*intro-wrap*/
/*body.page-main {background:url(../img/main/intro-bg.jpg) repeat;}*/

/*#login-wrap {position:relative; max-width:420px; margin:0 auto; padding-top:184px; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}*/

body {
	&.is-login {
		background: #eef0f2;
		.login-footwrap{
			background: #eef0f2;
		}
	}
}

#login-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width:420px;
  transform: translate(-50%, -49%);
  background: #fff;
}

.login-container {padding:0px 0 86px 0; border:1px solid #dedede; background:#fff;}

/* login-top */
.login-top {position:relative; height:120px; padding-top:86px;}
.login-top:before {content:""; position:absolute; left:10%; top:-17px; display:block; width:12px; height:35px; background:url(../img/main/intro-point.png) repeat;}
.login-top:after {content:""; position:absolute; left:50%; bottom:37px; display:block; width:22px; height:1px; margin-left:-11px;  background:#424242;}
.login-top * {text-align:center; letter-spacing:-0.03em; line-height:150%;}
.login-top .logo {position:absolute; left:0; top:-86px; display:block; width:100%; height:86px;}
.login-top .btxt {font-size:26px; font-weight:700; color:#111;}
.login-top .stxt {padding-top:5px; font-size:14px; color:#666;}

/* login-cont */
.login-cont {position:relative; min-height:70px; margin:0 64px;}

/* login-info */
.login-info {position:absolute; left:0; top:0; width:100%; height:100%; opacity:1; z-index:1110; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}

/* login-btn */
.login-btn {display:block; width:100%; line-height:50px; text-align:center; color:#fff; font-size:15px; font-weight:300; letter-spacing:-0.03em; border:none; transition:background .3s, border-color .3s;}
.login-btn {margin-top:10px; background:#191931;}
.login-btn:hover {background:#0e0e1b;}

/* login-footwrap */
.login-footwrap{ position:relative; padding:40px 0; text-align:center; font-size:12px; color:#666;}