@charset "utf-8";

/********************************************************************************/
/* _popup.scss
/********************************************************************************/
.layer-dim {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 998;
}

#container-wrap {
	&.isPupup {
		padding-left: 0;
		&:after {
			display: none;
		}
	}
}

.popup-wrap {
	background: #fff;
	&.layer,
	&.message {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 980px;
		border: 20px solid #222;
		background: #222;
		box-shadow:0 0 20px rgba(0,0,0,0.7);
		transform: translate(-50%, 0);
		.popup-top {
			padding: 0 0 20px 2px;
			.layer-close,
			.popup-close {
				right: 0;
				top: 0;
			}
		}
		.popup-contents {
			overflow-x: hidden;
			overflow-y: auto;
			max-height: 640px;
			background: #fff;
		}
	}
	&.message {
		border: 10px solid #222;
		width: 640px;
		transform: translate(-50%, -50%);
		.popup-top {
			padding: 0;
			.layer-close,
			.popup-close {
				right: 10px;
				top: 10px;
				background: url(../img/layout/pop-close-black.png) no-repeat center center;
			}
		}
	}
}
.popup-top {
	position: relative; 
	padding: 20px 30px;
	background: #222;
	.popup-tit {
		h2 {
			display: block;
			padding-left: 20px;
			color: #dedede;
			font-size: 22px;
			letter-spacing: -0.02em;
			line-height: 110%;
			font-weight: 500;
			background: url(../img/layout/pop-tit.png) no-repeat 0 3px;
		}
	}
	.layer-close,
	.popup-close {
		position: absolute;
		right: 25px;
		top: 20px;
		display: block;
		width: 28px;
		height: 28px;
		border: 0;
		outline: none;
		background: url(../img/layout/pop-close.png) no-repeat center center;
	}
}

.popup-contents {
	padding: 40px 30px;
	.search-filter {
		display: block;
		padding: 0;
		border: none;
		border-radius: 0;
		background: transparent;
		.condition-box {
			& > * {
				height: 180px;
				border-color: #ddd;
			}
		}
		.choice-list {
			.overview-tree {
				margin-top: -4px;
			}
		}
	}
	.recpt-list {
		li {
			padding: 5px 0;
		}
		label {
			font-size: 15px;
			font-weight: 500;
		}
		input[type=radio],
		input[type=checkbox] {
			&:checked {
				& + label {
					color: #2176c6;
				}
			}
		}
	}
	.message-box {
		padding: 30px 20px;
		text-align: center;
		color: #191931;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.4;
		.in-inp {
			display: inline-block;
			margin: 14px auto 0;
			input {
				// border: 2px solid #ccc;
				padding: 8px 5px 8px 5px;
				text-align: center;
				color: #333;
				font-size: 15px;
				font-weight: 500;
			}
			.note {
				display: block;
				padding: 9px 5px 0;
				text-align: left;

				color: #777;
				font-size: 13px;

			}

		}
	}
	.career-box {
		position: relative;
		padding-left: 105px;
		.career-date {
			position: absolute;
			top: 0;
			left: 0;
			color: #2176c6;
			font-size: 18px;
			font-weight: 500;
			line-height: 130%;
			letter-spacing: -0.03em;
		}
	}
	/* 상담사 지정 추가 200514 */
	.choice-list {
		margin-top: 10px;
		padding: 17px;
		text-align: center;
		border: 1px solid #ddd;
		background: #fff;
		p {
			margin-bottom: 10px;
			color: #333;
			font-size: 16px;
			font-weight: 500;
			line-height: 130%;

		}
		& > button {
			display: inline-block;
			margin: 3px;
			padding: 3px 30px 4px 14px;
			color: #2176c6;
			font-size: 13px;
			font-weight: 400;
			border: 1px solid #90bbe3;
			border-radius: 2em;
			background: #fff url(../img/content/btn-choice-del.png) no-repeat right center;
		}
	}
}