@charset "utf-8";
/* ================================== Footer ================================== */

#footer {
	position: relative;
	& * {
		color: #999;
		@include font-size(15);
		font-style: normal;
	}
	background: #333;
	& > .inner {
		position: relative;
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		padding: 27px 30px 64px;
	}
	.footerMenu {
		display: inline-block;
		padding-bottom: 24px;
		@include clearfix;
		li {
			position: relative;
			float: left;
			&:before {
				content: '';
				display: inline-block;
				width: 1px;
				height: 12px;
				vertical-align: middle;
				margin: -2px 12px 0;
				background: #5c5c5c;
			}
			&:first-child {
				margin-left: 0;
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
	address {
		padding-top: 20px;
		border-top: 1px solid #5c5c5c;
		p {
			margin-top: 4px;
			&.contect {
				span {
					display: inline-block;
					padding-right: 13px;
				}
			}
			&.copyright {
				margin-top: 24px;
			}
		}
	}
	.partnerLink {
		@include posAbsoluteRT(30px, 20px, 100%, 40px);
		max-width: 220px;
		& * {
			text-align: left;
		}
		.partnerOpen {
			overflow: hidden;
			position: relative;
			display: inline-block;
			width: 100%;
			@include lh(40px);
			padding-left: 15px;
			background: #222;
			@include box-sizing(border-box);
			&:before {
				content: '';
				@include posAbsoluteRT(15px, 16px, 14px, 8px);
				background: url("../../../kedi_eng/res/img/common/icon_partner_arrow.png") no-repeat center -10px;
			}
		}
		&.isOpen {
			.partnerOpen {
				&:before {
					background-position: center 0;
				}
			}
		}
		.partnerClose {
			@include posAbsoluteRT(0, 0, auto, auto);
			background: transparent;
			&:before {
				content: '';
				display: block;
				width: 39px;
				height: 39px;
				background: url("../../../kedi_eng/res/img/common/icon_partner_close.png") no-repeat center center;
			}
		}
		.partnerList {
			padding: 39px 10px 20px;
			@include posAbsoluteLB(0, 41px, 100%, auto);
			display: none;
			background: #222;
			ul {
				overflow-x: hidden;
				overflow-y: auto;
				max-height: 370px;
			}
			li {
				a {
					display: inline-block;
					width: 100%;
					padding: 5px;
					@include font-size(14);
					line-height: 1.5;
					word-break: keep-all;
				}
				&:first-child {
					a {
						padding-top: 0;
					}
				}
			}
		}
	}
	.snsLink {
		position: absolute;
		right: 30px;
		top: 106px;
		display: inline-block;
		@include clearfix;
		li {
			float: left;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
			a {
				display: block;
				&:before {
					content: '';
					display: block;
					width: 30px;
					height: 30px;
					background: url("../../../kedi_eng/res/img/common/icon_sns.png") no-repeat 0 center;
				}
			}
			$iconSns: (
				1: youtube,
				2: facebook,
				3: instagram
			);
			@each $number, $value in $iconSns {
				&.#{$value} {
					a {
						&:before {
							background-position: -40px * ($number - 1) center;
						}
					}
				}
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {


}

// ##Screen = 767px 이하
@include respond-below(sm) {
	#footer {
		& > .inner {
			padding: 27px m-get-per(30px) 54px;
			text-align: center;
		}
		.footerMenu {
			li {
				float: none;
				display: block;
				margin-top: 12px;
				&:before {
					display: none;
				}
				&:first-child {
					margin-top: 0;
				}
			}
		}
		address {
			text-align: center;
			p {
				&.contect {
					span {
						padding: 0 6px;
					}
				}
			}
		}
		.partnerLink {
			position: relative;
			right: auto;
			top: auto;
			margin: 26px auto 0;
			max-width: 360px;
		}
		.snsLink {
			position: relative;
			right: auto;
			top: auto;
			margin: 20px auto 0;
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {


}