@charset "utf-8";
/* ================================== Header ================================== */

#header {
	// overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	background: #fff;
	@include boxShadow(1px, 1px, 10px, rgba(0,0,0,.1));
	z-index: 996;
	& * {
		@include box-sizing(border-box);
	}
	.headerTop {
		background: #333;
		& > .inner {
			position: relative;
			max-width: $maxWidth;
			width: 100%;
			height: 33px;
			margin: 0 auto;
			padding: 0 30px;
			@include clearfix;
			color: #bfbfbf;
			@include font-size(15);
		}
		.home {
			display: inline-block;
			& > a {
				display: inline-block;
				vertical-align: middle;
				@include lh(33px);
			}
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 14px;
				height: 15px;
				margin-right: 9px;
				background: url("../../../kedi_eng/res/img/common/icon_home.png") no-repeat center center;
			}
		}
		.util {
			position: absolute;
			right: 130px;
			top: 0;
			@include clearfix;
			li {
				position: relative;
				float: left;
				& > a {
					display: block;
					padding: 0 19px;
					@include lh(33px);
				}
				&:before {
					content: '';
					@include posAbsoluteLT(0, 50%, 1px, 11px);
					margin-top: -6px;
					background: rgba(#d3d3d3, .5);
				}
				&:first-child {
					&:before {
						display: none;
					}
				}
			}
		}
		.lang {
			position: absolute;
			right: 30px;
			top: 0;
			& > a {
				display: block;
				width: 100px;
				@include lh(33px);
				text-align: center;
				color: #fff;
				font-weight: 500;
				background: #6cb117;
			}
		}
	}
	& > .inner {
		position: relative;
		max-width: $maxWidth;
		width: 100%;
		min-height: 83px;
		margin: 0 auto;
		padding: 0 30px;
		text-align: right;
		z-index: 997;
	}
	.headerLogo {
		@include posAbsoluteLT(30px, 12px, auto, auto);
		z-index: 82;
		a {
			display: block;
			width: 160px;
			height: 59px;
			background: url("../../../kedi_eng/res/img/common/header_logo.gif") no-repeat center center;
		}
	}
	.menuBtn {
		display: none;
	}
}
.searchWrap {
	@include posAbsoluteLT(0, 116px, auto, auto);
	right: 0;
	background: #fff;
	z-index: 999;
	& > .inner {
		position: relative;
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		.searchFormBtn {
			@include posAbsoluteRT(30px, -71px, 62px, 59px);
			background: #157cb6 url("../../../kedi_eng/res/img/common/icon_search.png") no-repeat center center;
			cursor: pointer;
			z-index: 999;
			&.isOpen {
				background: #157cb6 url("../../../kedi_eng/res/img/common/icon_search_close.png") no-repeat center center;
			}
		}
		.searchBar {
			display: none;
			padding: 30px;
			input[type="text"] {
				@include lh(50px);
				@include font-size(20);
				padding-right: 50px;
				border: solid #157cb6;
				border-width: 0 0 2px 0;
			}
			.searchBtn {
				@include posAbsoluteRT(30px, 30px, 50px, 50px);
				background: url("../../../kedi_eng/res/img/common/btn_search.png") no-repeat center center;
			}
		}
	}
}
#gnb {
	display: inline-block;
	vertical-align: top;
	margin-right: 97px;
	z-index: 100;
	@include transition(margin, .2s, ease);
	a {
		display: block;
		width: 100%;
		text-align: center;
	}
	.depth1 {
		display: table;
		width: 100%;
		& > li {
			position: relative;
			display: table-cell;
			& > a {
				display: inline-block;
				@include lh(83px);
				padding: 0 32px;
				color: #333;
				@include font-size(19);
				font-weight: 700;
				@include transition(padding, .2s, ease);
				& > span {
					position: relative;
					display: inline-block;
  				height: 83px;
  				padding: 0 2px;
					&:after {
						content: '';
						@include posAbsoluteLB(50%, 0, 0, 3px);
						@include translate(-50%, 0);
						background: #157cb6;
						@include transition(all, .2s, ease);
					}
				}
			}
			&:hover,
			&:focus {
				& > a {
					color: #157cb6;
					& > span {
						&:after {
							width: 100%;
						}
					}
				}
			}
			&:nth-child(1) {
				.depth2 {
					width: 170px;
				}
			}
			&:nth-child(2) {
				.depth2 {
					width: 180px;
				}
			}
			&:nth-child(3) {
				.depth2 {
					width: 160px;
				}
			}
		}
	}
	.depth2 {
		@include posAbsoluteLT(50%, 83px, 100%, auto);
		display: none;
		@include translate(-50%, 0);
		padding: 13px 0 17px;
		background: #fff;
		@include boxShadow(1px, 5px, 5px, rgba(0,0,0,.1));
		& > li {
			& > a {
				position: relative;
				padding: 2px 0 3px;
				color: #666;
				@include font-size(15);
				& > span {
					position: relative;
					display: inline-block;
  				padding: 2px 2px;
					&:after {
						content: '';
						@include posAbsoluteLB(50%, 0, 0, 1px);
						@include translate(-50%, 0);
						background: #157cb6;
						@include transition(all, .2s, ease);
					}
				}
				&:hover,
				&:focus {
					color: #157cb6;
					& > span {
						&:after {
							width: 100%;
						}
					}
				}
			}
		}
	}
	.depth3 {
		display: none;
	}
	.mobileUtil {
		display: none;
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {
	#gnb {
		margin-right: 83px;
		.depth1 {
			& > li {
				& > a {
					padding: 0 25px;
				}
			}
		}
	}
}

// ##Screen = 1024px 이하
@include respond-below(md) {
	#header {
		.headerTop {
			display: none;
		}
		& > .inner {
			padding-top: 83px;
			text-align: center;
		}
		.headerLogo {
			left: 50%;
			margin-left: -80px;
		}
		.menuBtn {
			@include posAbsoluteLT(30px, 12px, auto, auto);
			z-index: 99;
			.hamburger {
				cursor: pointer;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 62px;
				height: 59px;
				background: #999;
				& > i {
					background: #fff;
					@include posAbsoluteLT(50%, 50%, 22px, 2px);
					@include translate(-50%, -50%);
					&.line1 {
						margin-top: -9px;
					}
					&.line3 {
						margin-top: 9px;
					}
				}
			}
			&.close {
				.hamburger {
					background: #120c0c;
					& > i {
						margin-left: -3px;
					}
				}
			}
		}
	}
	.searchWrap {
		top: 83px;
	}
	#gnb {
		overflow-y: auto;
		display: none;
		margin: 0 -30px;
		padding: 0 30px;
		border-top: 1px solid #c6c6c6;
		a {
			text-align: left;
		}
		.depth1 {
			display: block;
			& > li {
				display: block;
				border-bottom: 1px solid #c6c6c6;
				& > a {
					position: relative;
					@include lh(59px);
					padding: 0 10px;
					@include font-size(20);
					font-weight: 500;
					&:after {
						content: '';
						@include posAbsoluteRT(21px, 50%, 16px, 9px);
						margin-top: -4px;
						background: transparent url("../../../kedi_eng/res/img/common/icon_gnb_arrow.png") no-repeat center 0;
						background-size: 100% auto;
					}
					& > span {
	  				height: auto;
	  				padding: 0;
						&:after {
							display: none;
						}
					}
				}
				&.isOpen {
					& > a {
						color: #157cb6;
						&:after {
							background-position: center -10px;
						}
					}
				}
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					.depth2 {
						width: auto;
					}
				}
			}
		}
		.depth2 {
			position: relative;
			left: auto;
			top: auto;
			@include translate(0, 0);
			padding: 10px 0;
			border-top:  2px solid #157cb6;
			@include boxShadow-clear;
			& > li {
				padding-left: 30px;
				& > a {
					padding: 4px 0;
					@include font-size(16);
					& > span {
						&:after {
							left: 0;
							@include translate(0, 0);
							background: #333;
						}
					}
					&:hover {
						color: #333;
					}
				}
			}
		}
		.depth3 {
			display: block;
			margin: 1px 0 9px 3px;
			padding: 13px 20px 19px;
			background: #f6f6f6;
			& > li {
				& > a {
					position: relative;
					padding: 2px 0;
					padding-left: 10px;
					color: #666;
					@include font-size(15);
					&:after {
						content: '-';
						@include posAbsoluteLT(0, 2px, auto, auto);
					}
					&:hover {
						color: #157cb6;
					}
				}
			}
		}
		.mobileUtil {
			display: block;
			padding: 20px 0 40px;
			@include clearfix;
			.util {
				float: left;
				@include clearfix;
				li {
					position: relative;
					float: left;
					& > a {
						display: block;
						padding: 0 21px;
						color: #666;
						@include lh(56px);
					}
					&:before {
						content: '';
						@include posAbsoluteLT(0, 50%, 1px, 15px);
						margin-top: -6px;
						background: #ccc;
					}
					&:first-child {
						& > a {
							padding-left: 0;
						}
						&:before {
							display: none;
						}
					}
				}
			}
			.lang {
				float: right;
				width: 28%;
				& > a {
					display: block;
					width: 100%;
					max-width: 170px;
					@include lh(56px);
					margin-left: auto;
					text-align: center;
					color: #fff;
					@include font-size(21);
					font-weight: 500;
					background: #6cb117;
				}
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	#header {
		& > .inner {
			padding-left: m-get-per(30px);
			padding-right: m-get-per(30px);
		}
		.menuBtn {
			left: m-get-per(30px);
		}
	}
	.searchWrap {
		& > .inner {
			.searchFormBtn {
				right: m-get-per(30px);
			}
		}
	}
	#gnb {
		margin: 0 m-get-per(-30px);
		padding: 0 m-get-per(30px);
		.depth2 {
			& > li {
				padding-left: m-get-per(30px);
			}
		}
		.depth3 {
			padding-left: m-get-per(20px);
			padding-right: m-get-per(20px);
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	#header {
		.headerLogo {
			top: 15px;
			margin-left: -72px;
			@include transition(all, .2s, ease);
			a {
				width: 144px;
				height: 53px;
				background-size: 100% 100%;
				@include transition(all, .2s, ease);
			}
		}
		.menuBtn {
			top: 18px;
			@include transition(all, .2s, ease);
			.hamburger {
				width: 50px;
				height: 47px;
				@include transition(all, .2s, ease);
			}
		}
		.mobileUtil {
			.util {
				float: none;
				display: inline-block;
				margin: 0 auto;
			}
			.lang {
				float: none;
				width: 100%;
				& > a {
					max-width: 100%;
				}
			}
		}
	}
	.searchWrap {
		& > .inner {
			.searchFormBtn {
				top: -65px;
				width: 50px;
				height: 47px;
				@include transition(all, .2s, ease);
			}
		}
	}
}