@charset "utf-8";
/* ================================== Layout ================================== */

#wrap {
	position: relative;
}

#container {
	//min-height: 500px;
	margin-top: 116px;
	margin-bottom: 100px;
	-ms-word-break: keep-all;
	word-break: keep-all;
	& > .inner {
		position: relative;
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		padding: 0 30px;
		@include clearfix;
	}
}

.contentVisual {
	display: table;
	width: 100%;
	background-image: url("../../../kedi_eng/res/img/content/bg_visual_basic.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	$subCate: about, kjep, resources, news, partners, sitemap, contect, policy, search, mypage;
	@each $value in $subCate {
		&.#{$value} {
			background-image: url("../../../kedi_eng/res/img/content/bg_visual_#{$value}.jpg");
		}
	}
	& > * {
		display: table-cell;
		height: 180px;
		text-align: center;
		vertical-align: middle;
		color: #fff;
		@include font-size(35);
		font-weight: 700;
		@include transition(all, .2s, ease);
	}
}

#lnb {
	float: left;
	width: 240px;
	padding-top: 42px;
	h2 {
		padding-bottom: 19px;
		color: #333;
		@include font-size(30);
		font-weight: 700;
		line-height: 1.3;
	}
	a {
		position: relative;
		display: block;
		text-align: left;
	}
	& > ul {
		border-top: 1px solid #c6cbd0;
		& > li {
			border-bottom: 1px solid #c6cbd0;
			& > a {
				padding: 12px 40px 14px 20px;
				color: #333;
				background: #fff;
				&:hover,
				&:focus {
					color: #157cb6;
				}
			}
			&.isActive {
				& > a {
					color: #fff;
					background: #157cb6;
					font-weight: 700;
					&:after {
						content: '';
						@include posAbsoluteRT(20px, 50%, 7px, 11px);
						margin-top: -5px;
						background: transparent url("../../../kedi_eng/res/img/common/icon_lnb_arrow.png") no-repeat center center;
						background-size: 100% auto;
					}	
				}
				& > ul {
					display: block;
				}
			}
			& > ul {
				display: none;
				padding: 9px 20px 11px;
				background: #f6f6f6;
				& > li {
					& > a {
						padding: 2px 0;
						padding-left: 10px;
						@include font-size(15);
						&:after {
							content: '-';
							@include posAbsoluteLT(0, 2px, auto, auto);
						}
						&:hover {
							color: #157cb6;
						}
					}
					&.isActive {
						& > a {
							color: #157cb6;
						}
					}
				}
			}
		}
	}
}

.contentWrap {
	float: right;
	width: calc(100% - 280px);
	&.fullWid {
		float: none;
		width: 100%;
	}
}

.titleWrap {
	position: relative;
	padding: 42px 0 19px;
	margin-bottom: 40px;
	border-bottom: 1px solid #c6cbd0;
	h3 {
		color: #333;
		@include font-size(30);
		font-weight: 700;
		line-height: 1.3;
	}
	.breadclumb {
		@include posAbsoluteRT(0, 15px, auto, auto);
		@include clearfix;
		li {
			position: relative;
			float: left;
			padding-left: 24px;
			color: #777;
			@include font-size(14);
			&:before {
				content: '';
				@include posAbsoluteLT(9px, 7px, 6px, 9px);
				background: url("../../../kedi_eng/res/img/common/icon_breadclumb_arrow.png") no-repeat center center;
			}
			&:first-child {
				padding-left: 0;
				&:before {
					display:none;
				}
				a {
					display: block;
					&:before {
						content: '';
						display: inline-block;
						width: 13px;
						height: 12px;
						margin-top: 5px;
						vertical-align: top;
						background: url("../../../kedi_eng/res/img/common/icon_breadclumb_home.png") no-repeat center center;
					}
				}
			}
			strong {
				color: #333;
				font-weight: 600;
			}
		}
	}
}

#quickLink {
	position: absolute;
	left: 50%;
	top: 346px;
	width: 75px;
	margin-left: 640px;
	background: #fff;
	z-index: 99;
	& * {
		text-align: center;
	}
	h3 {
		padding: 8px 0;
		color: #fff;
		@include font-size(15);
		font-weight: 500;
		background: #157cb6;
	}
	.quickList {
		border: solid #dadada;
		border-width: 0 1px;
		li {
			position: relative;
			&:before {
				content: '';
				@include posAbsoluteLT(50%, 0, 60px, 1px);
				@include translate(-50%, 0);
				background: #dadada;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
			a {
				display: block;
				padding: 8px 0;
				color: #666;
				@include font-size(13);
				letter-spacing: -0.04em;
				&:before {
					content: '';
					display: block;
					vertical-align: top;
					width: 41px;
					height: 38px;
					margin: 0 auto -2px;
					background: url("../../../kedi_eng/res/img/common/icon_quick.png") no-repeat 0 0;
				}
				&:hover,
				&:focus {
					color: #157cb6;
					&:before {
						background-position: -50px 0;
					}
				}
			}
			@for $i from 1 through 4 {
				&.item#{$i} {
					a {
						&:before {
							background-position: 0 -50px * ($i - 1);
						}
						&:hover,
						&:focus {
							&:before {
								background-position: -50px -50px * ($i - 1);
							}
						}
					}
				}
			}
		}
	}
	.btnTop {
		display: block;
		width: 100%;
		& > * {
			display: block;
			padding: 3px 0 4px;
			color: #fff;
			@include font-size(13);
			font-weight: 500;
			background: #999;
			&:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin: -2px 0 0 4px;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 5px solid #fff;
			}
		}
	}
}


/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {
	.contentVisual {
		background-size: cover;
	}
}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	#container {
		margin-top: 83px;
	}
	#lnb {
		display: none;
	}
	.contentWrap {
		float: none;
		width: 100%;
	}
	.titleWrap {
		padding: 19px 0;
		.breadclumb {
			display: none;
		}
	}
	#quickLink {
		display: none;
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	#container {
		& > .inner {
			padding-left: m-get-per(30px);
			padding-right: m-get-per(30px);
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	#container {
		margin-bottom: 70px;
	}
	.contentVisual {
		background-size: auto 100%;
		& > * {
			height: 120px;
			@include font-size(26);
		}
	}
	.titleWrap {
		margin-bottom: 30px;
		h3 {
			@include font-size(24);
		}
	}
}