@charset "utf-8";
/* ================================== Footer ================================== */

#footer {
	position: relative;
	color: #fff;
	@include font-size(14);
	font-weight: 300;
	background: #343434;
	// footerLink
	.footerLink {
		background: #464646;
		& > .inner {
			position: relative;
			max-width: $maxWidth;
			width: 100%;
			margin: 0 auto;
			padding: 0 30px;
			text-align: right;
		}
		.btmMenu {
			@include posAbsoluteLT(30px, 0, auto, auto);
			@include clearfix;
			li {
				position: relative;
				float: left;
				@include lh(50px);
				margin-left: 15px;
				padding-left: 16px;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 50%, 1px, 14px);
					@include translate(0, -50%);
					margin-top: 1px;
					background: #9da1aa;
				}
				&:first-child {
					margin-left: 0;
					padding-left: 0;
					&:before {
						display: none;
					}
				}
			}
		}
		.snsLink {
			display: inline-block;
			vertical-align: top;
			margin-right: -4px;
			@include clearfix;
			li {
				float: left;
				margin-left: 1px;
				background: #555;
				&:first-child {
					margin-left: 0;
				}
				a {
					display: block;
					&:before {
						content: '';
						display: block;
						width: 50px;
						height: 50px;
						background: url("../../../energy/res/img/common/icon_sns.png") no-repeat center 0;
					}
				}
				$iconSns: (
					1: facebook,
					2: twitter,
					3: blog,
					4: youtube
				);
				@each $number, $value in $iconSns {
					&.#{$value} {
						a {
							&:before {
								background-position: center -50px * ($number - 1);
							}
						}
					}
				}
			}
		}
		.familySite {
			position: relative;
			display: inline-block;
			width: 205px;
			height: 50px;
			vertical-align: top;
			text-align: left;
			.familyOpen {
				overflow: hidden;
				position: relative;
				display: inline-block;
				width: 100%;
				@include lh(50px);
				padding-left: 15px;
				border: solid #555;
				border-width: 0 1px 0 1px;
				@include box-sizing(border-box);
				&:before {
					content: '';
					@include posAbsoluteRT(14px, 23px, 7px, 5px);
					background: url("../../../energy/res/img/common/icon_familysite_arrow.png") repeat center -10px;
				}
			}
			.familyClose {
				@include posAbsoluteRT(0, 0, auto, auto);
				background: transparent;
				&:before {
					content: '';
					display: block;
					width: 35px;
					height: 34px;
					background: url("../../../energy/res/img/common/icon_familysite_close.png") no-repeat center center;
				}
			}
			.familyList {
				padding: 8px 10px;
				@include posAbsoluteLB(0, 50px, 100%, auto);
				display: none;
				border: 1px solid #555;
				background: #464646;
				li {
					a {
						display: inline-block;
						width: 100%;
						padding: 4px 0;
					}
				}
			}
		}
	}
	// footerCont
	.footerCont {
		padding: 30px 0 40px;
		& > .inner {
			position: relative;
			max-width: $maxWidth;
			width: 100%;
			margin: 0 auto;
			padding: 0 30px;
			@include clearfix;
			& > * {
				float: left;
			}
		}
		.footerLogo {
			margin-right: 50px;
			a {
				display: inline-block;
				width: 174px;
				height: 30px;
				background: url("../../../energy/res/img/common/logo_footer.png") no-repeat center center;
				background-size: cover;
			}
		}
		address {
			font-style: normal;
			.address {
				padding: 2px 0;
			}
			.contectInfo {
				span {
					display: inline-block;
					padding: 2px 0;
					&:before {
						content: '';
						display: inline-block;
						width: 1px;
						height: 14px;
						vertical-align: middle;
						margin: -2px 14px 0;
						background: #9da1aa;
					}
					&:first-child {
						&:before {
							display: none;
						}
					}
				}
			}
			.copyright {
				margin-top: 10px;
				padding: 2px 0;
				color: rgba(#fff, .48);
				text-transform: uppercase;
			}
		}
		.footerMark {
			float: right;
			display: inline-block;
			margin-top: 4px;
			a {
				margin-right: 30px;
			}
		}
	}
}

/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	#footer {
		.footerLink {
			.snsLink {
				li {
					a {
						&:before {
							width: 40px;
						}
					}
					$iconSns: (
						1: facebook,
						2: twitter,
						3: blog,
						4: youtube
					);
					@each $number, $value in $iconSns {
						&.#{$value} {
							a {
								&:before {
									background-position: -5px -50px * ($number - 1);
								}
							}
						}
					}
				}
			}
		}
		.footerCont {
			padding-bottom: 50px;
			text-align: center;
			& > .inner {
				& > * {
					float: none;
					display: block;
				}
			}
			.footerLogo {
				margin-right: auto;
				margin-bottom: 18px;
			}
			.footerMark {
				float: none;
				margin-top: 24px;
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	#footer {
		.footerLink {
			& > .inner {
				padding: 0 m-get-per(30px);
			}
			.btmMenu {
				left: m-get-per(30px);
			}
			.snsLink {
				display: none;
			}
			.familySite {
				width: 175px;
			}
		}
		.footerCont {
			& > .inner {
				padding: 0 m-get-per(30px);
			}
			address {
				.contectInfo {
					span {
						&.dasan {
							display: block;
							&:before {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

// ##Screen = 640px 이하
@include respond-below(custom640) {
	#footer {
		.footerLink {
			& > .inner {
				text-align: center;
			}
			.btmMenu {
				position: relative;
				top: auto;
				left: auto;
				li {
					float: none;
					display: inline-block;
				}
			}
			.familySite {
				width: 100%;
				margin-bottom: 10px;
				.familyOpen {
					border-width: 1px;
				}
				.familyList {
					bottom: 49px;
				}
			}
		}
		.footerCont {
			address {
				.contectInfo {
					span {
						&.department {
							display: block;
							&:before {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {
	#footer {
		.footerLink {
			.btmMenu {
				li {
					margin-left: 11px;
					padding-left: 12px;
				}
			}
		}
	}
}