@charset "utf-8";
/* ================================== Header ================================== */

#header {
	//overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	// height: 161px;
	background: #fff;
	z-index: 9998;
	// headerTop
	.headerTop {
		border-bottom: 1px solid #ddd;
		& > .inner {
			position: relative;
			max-width: $maxWidth;
			width: 100%;
			margin: 0 auto;
			padding: 0 30px;
			text-align: center;
		}
		.headerLogo {
			a {
				display: block;
				width: 140px;
				height: 105px;
				margin: 0 auto;
				background: url("../../../energy/res/img/common/logo_header.png") no-repeat center center;
				background-size: cover;
			}
		}
		.utilMenu {
			@include posAbsoluteRT(30px, 42px, auto, auto);
			@include clearfix;
			color: #666;
			@include font-size(14);
			font-weight: 300;
			li {
				position: relative;
				float: left;
				padding: 0 15px;
				&:before {
					content: '';
					@include posAbsoluteLT(0, 50%, 1px, 13px);
					@include translate(0, -50%);
					background: #e2e2e2;
				}
				&:first-child {
					&:before {
						display: none;
					}
				}
			}
		}

	}
	// headerNav
	.headerNav {
		overflow: hidden;
		position: relative;
		height: 55px;
		border-bottom: 1px solid #ddd;
		&:after {
			content: '';
			@include posAbsoluteLT(0, 54px, 100%, 1px);
			right: 0;
			background: #ddd;
		}
		& > .inner {
			position: relative;
			max-width: $maxWidth;
			width: 100%;
			margin: 0 auto;
			padding: 0 30px + 112px 0 30px;
			text-align: center;
		}
	}
	#gnb {
		width: 100%;
		text-align: center;
		z-index: 100;
		a {
			display: block;
			width: 100%;
		}
		.depth1 {
			display: table;
			width: 100%;
			& > li {
				display: table-cell;
				@include transition(all, .2s, ease);
				& > a {
					position: relative;
					@include lh(55px);
					color: #222;
					@include font-size(20);
					font-weight: 700;
					letter-spacing: -0.06em;
					background: #fff;
					&:after {
						content: '';
						@include posAbsoluteLB(50%, 0, 0, 2px);
						@include translate(-50%, 0);
						background: #f67404;
						@include transition(all, .2s, ease);
						z-index: 2;
					}
					&:hover {
						color: #f67404;
					}
				}
				&:hover,
				&:focus {
					background-color: #f7f7f7;
					& > a {
						color: #f67404;
						&:after {
							width: 100%;
						}
					}
				}
				// &:first-child {
				// 	&:hover {
				// 		background-color: transparent;
				// 	}
				// }
				&:nth-child(3) {
					width: 13.8%;
					.depth2 {
						& > li {
							&:nth-child(2),
							&:nth-child(3),
							&:nth-child(4) {
								& > a {
									max-width: 92px;
									margin: 0 auto;
								}
							}
						}
					}
				}
			}
		}
		.depth2 {
			padding: 10px 0 14px;
			& > li {
				& > a {
					padding: 6px 0;
					color: #666;
					@include font-size(18);
					font-weight: 300;
					line-height: 1.4;
					letter-spacing: -0.06em;
					&:hover,
					&:focus {
						color: #444;
					}
				}
				&:hover,
				&:focus {
					& > a {
						color: #444;
						font-weight: 700;
					}
				}
			}
		}
	}

	// headerBtn
	.headerBtn {
		position: absolute;
		top: 161px;
		left: 0;
		right: 0;
		& > .inner {
			position: relative;
			max-width: $maxWidth;
			width: 100%;
			margin: 0 auto;
			padding: 0 30px;
			text-align: center;
		}
		.menuBtn {
			@include posAbsoluteRT(86px, -56px, 56px, 56px);
			border: 1px solid #ddd;
			z-index: 999;
			.hamburger {
				cursor: pointer;
				//position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				height: 100%;
				background: #fff;
				& > i {
					background: #333;
					@include posAbsoluteLT(50%, 49%, 28px, 3px);
					@include translate(-50%, 0);
					&.line1 {
						margin-top: -10px;
					}
					&.line3 {
						margin-top: 10px;
					}
				}
			}
			// &:focus {
			// 	.hamburger {
			// 		&:after {
			// 			content: '';
			// 			@include posAbsoluteLT(0, 0, auto, auto);
			// 			right: 0;
			// 			bottom: 0;
			// 			border: 1px dashed #808080;
			// 		}
			// 	}
			// }
		}
		.searchBtn {
			@include posAbsoluteRT(30px, -56px, 56px, 56px);
			background: #4c4c4c url("../../../energy/res/img/common/icon_search.png") no-repeat center center;
			cursor: pointer;
			z-index: 997;
			&.isOpen {
				& + .searchBar {
					display: block;
				}
			}
		}
		.searchBar {
			@include posAbsoluteRT(30px, 0, auto, auto);
			left: 30px;
			display: none;
			padding: 30px;
			text-align: center;
			background: #4c4c4c;
			z-index: 997;
			& > .inner {
				position: relative;
				width: 100%;
				max-width: 600px;
				margin: 0 auto;
				input[type="text"] {
					@include lh(44px);
					border: none;
				}
				.searchClose {
					@include posAbsoluteRT(0, 0, 44px, 44px);
					background: #fff url("../../../energy/res/img/common/icon_search_close.png") no-repeat center center;
				}
			}
		}
	}
	.modalOverlay {
		display: none;
		@include posFixedFull;
		opacity: 0;
		background: rgba(0,0,0,1);
		z-index: 99;
	}
}

/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	#header {
		height: 115px;
		.headerTop {
			& > .inner {
				padding-top: 9px;
			}
			.utilMenu {
				display: none;
			}
		}
		.headerNav {
			display: none;
			overflow: visible;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: auto;
			border-bottom: none;
			background: #fff;
			z-index: 998;
			&:after {
				display: none;
			}
			.mNavTitle {
				@include posAbsoluteLT(30px, 0, auto, auto);
				@include lh(114px);
				color: #222;
				@include font-size(28);
				font-weight: 700;
			}
			& > .inner {
				overflow-y: auto;
				max-width: none;
				height: 100%;
				margin: 0;
				margin-top: 114px;
				padding: 0;
				padding-bottom: 114px;
				text-align: left;
			}
		}
		#gnb {
			text-align: left;
			border-top: 1px solid #ddd;
			.depth1 {
				display: block;
				width: auto;
				& > li {
					display: block;
					@include transition(all, 0s, ease);
					border-bottom: 1px solid #ddd;
					& > a {
						@include lh(81px);
						padding: 0 30px;
						@include font-size(24);
						font-weight: 500;
						&:after {
							content: '';
							@include posAbsoluteRT(47px, 50%, 21px, 12px);
							left: auto;
							bottom: auto;
							@include translate(0, 0);
							margin-top: -6px;
							background: transparent url("../../../energy/res/img/common/icon_gnb_arrow.png") no-repeat 0 center;
							background-size: auto 100%;
							@include transition(all, 0s, ease);
						}
						&:hover,
						&:focus {
							color: #222;
						}
					}
					&:hover {
						background-color: transparent;
						& > a {
							color: #222;
							&:after {
								width: 21px;
							}
						}
					}
					&.isOpen {
						& > a {
							color: #f67404;
							font-weight: 700;
							&:after {
								background-position: -30px center;
							}
						}
					}
					&:nth-child(3) {
						width: auto;
						.depth2 {
							& > li {
								&:nth-child(2),
								&:nth-child(3),
								&:nth-child(4) {
									& > a {
										max-width: none;
										margin: auto;
									}
								}
							}
						}
					}

				}
			}
			.depth2 {
				display: none;
				padding: 17px 0;
				border-top: 1px solid #ddd;
				background: #f7f7f7;
				& > li {
					& > a {
						padding: 6px 30px;
						@include font-size(20);
						&:hover {
							color: #666;
						}
						br {
							display: none;
						}
					}
					&:hover,
					&:focus {
						& > a {
							color: #666;
							font-weight: 300;
						}
					}
				}
			}
		}
		&.mGnbOpen {
			.headerNav {
				display: block;
			}
			.headerBtn {
				.menuBtn {
					right: 30px;
					left: auto;
					z-index: 999;
				}
			}
		}
		.headerBtn {
			.menuBtn {
				right: auto;
				left: 30px;
				top: -132px;
			}
			.searchBtn {
				top: -132px;
			}
			.searchBar {
				top: -46px;
				right: 0;
				left: 0;
			}
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	#header {
		.headerTop {
			& > .inner {
				padding-left: m-get-per(30px);
				padding-right: m-get-per(30px);
			}
			.menuBtn {
				left: m-get-per(30px);
			}
			.searchBtn {
				right: m-get-per(30px);
			}
			.searchBar {
				padding-left: m-get-per(30px);
				padding-right: m-get-per(30px);
			}
		}
		&.gnbMobile {
			.headerNav {
				.mNavTitle {
					left: m-get-per(30px);
				}
			}
			#gnb {
				.depth1 {
					& > li {
						& > a {
							padding-left: m-get-per(30px);
							padding-right: m-get-per(30px);
							&:after {
								right: m-get-per(47px);
							}
						}
					}
				}
				.depth2 {
					& > li {
						& > a {
							padding-left: m-get-per(30px);
							padding-right: m-get-per(30px);
						}
					}
				}
			}
		}
		&.mGnbOpen {
			.headerTop {
				.menuBtn {
					right: m-get-per(30px);
				}
			}
		}
	}
}

// ##Screen = 480px 이하
@include respond-below(xs) {


}