@charset "utf-8";
/* ================================== Layout ================================== */

#wrap {
	position: relative;
}

#container {
	width: 100%;
	min-height: 500px;
	margin-top: 161px;
	margin-bottom: 100px;
	-ms-word-break: keep-all;
	word-break: keep-all;
	& > .inner {
		// overflow: hidden;
		position: relative;
		max-width: $maxWidth;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
	}
	& > * {
		& > .inner {
			// overflow: hidden;
			position: relative;
			max-width: $maxWidth;
			margin: 0 auto;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

.titleWrap {
	position: relative;
	padding: 60px 0 24px;
	margin-bottom: 70px;
	border-bottom: 1px solid #ddd;
	@include clearfix;
	& > * {
		vertical-align: bottom;
	}
	h2 {
		color: #222;
		@include font-size(34);
		font-weight: 700;
		letter-spacing: -0.04em;
	}
	.breadclumb {
		@include posAbsoluteRB(0, 30px, auto, auto);
		@include clearfix;
		li {
			position: relative;
			float: left;
			padding-left: 18px;
			color: #999;
			@include font-size(14);
			font-weight: 300;
			&:before {
				content: '';
				@include posAbsoluteLT(6px, 6px, 6px, 9px);
				background: url("../../../energy/res/img/common/icon_breadclumb_arrow.png") no-repeat center center;
			}
			&:first-child {
				padding-left: 0;
				&:before {
					display:none;
				}
				a {
					display: block;
					&:before {
						content: '';
						display: inline-block;
						width: 13px;
						height: 13px;
						margin-top: 4px;
						vertical-align: top;
						@include border-radius(50%);
						background: #999 url("../../../energy/res/img/common/icon_breadclumb_home.png") no-repeat center center;
					}
				}
			}
		}
	}
}

/* ================================== media query ================================== */

// ##Screen = 2000px 이상
@include respond-above(xlg) {


}

// ##Screen = 1280px 이하
@include respond-below(lg) {


}

// ##Screen = 1024px 이하
@include respond-below(md) {
	#container {
		margin-top: 115px;
	}
	.titleWrap {
		.breadclumb {
			display: none;
		}
	}
}

// ##Screen = 767px 이하
@include respond-below(sm) {
	#container {
		& > .inner {
			padding-left: m-get-per(30px);
			padding-right: m-get-per(30px);
		}
		& > * {
			& > .inner {
				padding-left: m-get-per(30px);
				padding-right: m-get-per(30px);
			}
		}
	}
	.titleWrap {
		padding-top: 40px;
	}

}

// ##Screen = 480px 이하
@include respond-below(xs) {


}