@charset "utf-8";
/** ================================== Font ================================== **/

/****** @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap'); ******/

/** open-sans-light - latin **/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('open-sans-light.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('open-sans-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-light.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-light.woff') format('woff'), /* Modern Browsers */
       url('open-sans-light.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-light.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/** open-sans-regular - latin **/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('open-sans-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('open-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */ */
       url('open-sans-regular.woff') format('woff'), /* Modern Browsers */
       url('open-sans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/** open-sans-semi-bold - latin **/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('open-sans-semi-bold.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('open-sans-semi-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-semi-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-semi-bold.woff') format('woff'), /* Modern Browsers */
       url('open-sans-semi-bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-semi-bold.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/** open-sans-bold - latin **/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('open-sans-bold.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('open-sans-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-bold.woff') format('woff'), /* Modern Browsers */
       url('open-sans-bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-bold.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/** open-sans-extre-bold - latin **/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('open-sans-extre-bold.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('open-sans-extre-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-extre-bold.woff2') format('woff2'), /* Super Modern Browsers */ */
       url('open-sans-extre-bold.woff') format('woff'), /* Modern Browsers */
       url('open-sans-extre-bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-extre-bold.svg#OpenSans') format('svg'); /* Legacy iOS */
}